{% extends "JiliBackendBundle::base.html.twig"%}

{% block title %}
Taobao订单数量创建-201501月活动-{{ parent() }}
{% endblock %}

{% block body %}

{% include("JiliBackendBundle::session_notification.html.twig") %}

<form action="{{ path('jili_backend_activitygathering_saveordertotal') }}" method="POST">
<table>
<tr>
    <td>{{ form_label(form.total) }}</td>
    <td>
    {{ form_errors(form.total) }}
    {{ form_widget(form.total) }}
</td>
</tr>

</table>

{{ form_rest(form) }}
<tr><td>&nbsp;</td><td><input type="submit" value="Create" /></td></tr>

</form>
{% endblock %}
