{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}任务体验：{{ parent() }}{% endblock %}
{% block meta %}
<meta name="keywords" content="任务体验，购物返利，商家活动，商家返利，做任务赚钱，做任务返现金" />
<meta name="description" content="任务体验为用户提供了多种赚钱渠道，可以通过任务大厅一和二做任务赢现金，还可以参加商家活动和在商家列表中选择自己喜欢的商家进行购物获得返利。" />
<meta name="title" content="任务体验:91问问调查网" />
{% endblock %}
{% block stylesheet %}
<link href="{{ asset('css/experience.css') }} " rel="stylesheet" type="text/css">
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-con w1000">
	{{ render(controller('JiliApiBundle:Top:market' ) ) }}{# 商家活动 #}
	<div class="main-con-experience">
		{% include 'WenwenFrontendBundle:Advertisement:_hallNavs.html.twig' %} 
		<div class="tabCon offer99">
			<iframe src='#' style='width:1000px;height:1140px;' scrolling='auto' frameborder='no' border='0' allowTransparency='true'></iframe>
			<input type="hidden" value="{{ offer99_com.pid }}" id="pid">
			<input type="hidden" value="{{ app.session.get('uid') }}" id="userid">
			<div class="maintenance">
				<div class="con" style=" margin-left: -38px;">系统正在维护中...<br>非常抱歉给您带来了不便。</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/experience/experience')}}"></script>
{% endblock %}