{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent()  }} Test {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/shopList.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main">
	<div class="main-con-shopList">
		<div class="main-con-left">
			<div class="search shopList-search">
				<form name="shoplist_search" action="/shop/list/search?t=E&amp;q=&amp;wcat=-1&amp;p=1" method="POST" class="shopSearch" _lpchecked="1">
				   <input type="text" id="website_filter_keyword" name="website_filter[keyword]" />
				   <label for="website_filter_keyword">搜索商家名字...</label>
				   <input type="hidden" id="website_filter__token" name="website_filter[_token]" value="2180d93c6542f7b13dd51ad440508959696e6271" />
				   <div class="btn"></div>
				</form>
			</div>
			<ul class="shopList-category">
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%B5%B7%E6%B7%98&amp;p=1">海淘</a></li>
			    <li class="active"><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%BB%BC%E5%90%88%E5%95%86%E5%9F%8E&amp;p=1">综合商城</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%9C%8D%E8%A3%85%E6%9C%8D%E9%A5%B0&amp;p=1">服装服饰</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E9%A3%9F%E5%93%81%2F%E8%8C%B6%E5%8F%B6%2F%E9%85%92%E6%B0%B4&amp;p=1">食品/茶叶/酒水</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%89%8B%E6%9C%BA%2F%E6%95%B0%E7%A0%81%2F%E5%AE%B6%E7%94%B5&amp;p=1">手机/数码/家电</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%A5%A8%E5%8A%A1%E6%97%85%E6%B8%B8&amp;p=1">票务旅游</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%8C%BB%E8%8D%AF%E5%81%A5%E5%BA%B7&amp;p=1">医药健康</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%AE%B1%E5%8C%85%2F%E7%9C%BC%E9%95%9C%2F%E9%9E%8B%E7%B1%BB&amp;p=1">箱包/眼镜/鞋类</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%9B%A2%E8%B4%AD&amp;p=1">团购</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%8F%A0%E5%AE%9D%E9%A6%96%E9%A5%B0&amp;p=1">珠宝首饰</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%BE%8E%E5%AE%B9%E5%8C%96%E5%A6%86&amp;p=1">美容化妆</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E9%87%91%E8%9E%8D%E7%90%86%E8%B4%A2&amp;p=1">金融理财</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%BD%91%E7%BB%9C%E6%9C%8D%E5%8A%A1%2F%E5%85%B6%E4%BB%96&amp;p=1">网络服务/其他</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%AF%8D%E5%A9%B4%2F%E5%84%BF%E7%AB%A5%E7%94%A8%E5%93%81&amp;p=1">母婴/儿童用品</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%BE%8E%E5%AE%B9%E5%8C%96%E5%A6%86+%E5%AE%B6%E5%B1%85%E5%AE%B6%E9%A5%B0&amp;p=1">美容化妆 家居家饰</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%9B%BE%E4%B9%A6%E9%9F%B3%E5%83%8F&amp;p=1">图书音像</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%AE%B6%E5%B1%85%E5%AE%B6%E9%A5%B0&amp;p=1">家居家饰</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E9%B2%9C%E8%8A%B1%E7%A4%BC%E5%93%81&amp;p=1">鲜花礼品</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%95%99%E8%82%B2%E5%9F%B9%E8%AE%AD&amp;p=1">教育培训</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%9C%8D%E8%A3%85%2F%E6%97%B6%E5%B0%9A&amp;p=1">服装/时尚</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%95%86%E5%8A%A1%2F%E5%95%86%E5%BA%97&amp;p=1">商务/商店</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%9C%BA%E7%A5%A8%E9%85%92%E5%BA%97%E6%97%85%E6%B8%B8&amp;p=1">机票酒店旅游</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%88%90%E4%BA%BA%E4%BF%9D%E5%81%A5&amp;p=1">成人保健</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%A5%A2%E4%BE%88%E5%93%81&amp;p=1">奢侈品</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E8%BF%90%E5%8A%A8%E6%88%B7%E5%A4%96&amp;p=1">运动户外</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E9%A3%9F%E5%93%81%2F%E9%A5%AE%E6%96%99&amp;p=1">食品/饮料</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%94%B5%E8%A7%86%E8%B4%AD%E7%89%A9&amp;p=1">电视购物</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%A5%B3%E6%80%A7%2F%E5%86%85%E8%A1%A3&amp;p=1">女性/内衣</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%97%85%E6%B8%B8%2F%E6%97%85%E8%A1%8C%2F%E9%85%92%E5%BA%97&amp;p=1">旅游/旅行/酒店</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%A5%A8%E5%8A%A1&amp;p=1">票务</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E6%B1%BD%E8%BD%A6%E7%94%A8%E5%93%81&amp;p=1">汽车用品</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%94%B5%E5%AD%90%2F%E5%AE%B6%E7%94%B5&amp;p=1">电子/家电</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E4%BF%9D%E9%99%A9&amp;p=1">保险</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E9%87%91%E8%9E%8D%2F%E6%8A%95%E8%B5%84%2F%E8%82%A1%E7%A5%A8&amp;p=1">金融/投资/股票</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%8C%BB%E7%96%97%2F%E5%8C%BB%E8%8D%AF&amp;p=1">医疗/医药</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%81%A5%E8%BA%AB%E7%BE%8E%E5%AE%B9&amp;p=1">健身美容</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%A8%B1%E4%B9%90%E4%BA%A4%E5%8F%8B&amp;p=1">娱乐交友</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%90%8D%E5%93%81%E7%89%B9%E5%8D%96&amp;p=1">名品特卖</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%94%B5%E8%84%91%2F%E4%BA%92%E8%81%94%E7%BD%91%2FIT%2F%E8%BD%AF%E4%BB%B6&amp;p=1">电脑/互联网/IT/软件</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E7%A4%BC%E5%93%81%2F%E9%B2%9C%E8%8A%B1&amp;p=1">礼品/鲜花</a></li>
			    <li><a href="/shop/list?t=&amp;q=&amp;wcat=%E5%85%B6%E4%BB%96&amp;p=1">其他</a></li>
			</ul>
		</div>
		<div class="main-con-right">
			<div class="shopList-con">
				<div class="index">
					<a  href="/shop/list?t=1&amp;q=&amp;wcat=-1&amp;p=1">全部</a>
			    	<a  href="/shop/list?t=2&amp;q=&amp;wcat=-1&amp;p=1">0~9</a>
			        <a  href="/shop/list?t=A&amp;q=&amp;wcat=-1&amp;p=1">A</a>
			        <a  href="/shop/list?t=B&amp;q=&amp;wcat=-1&amp;p=1">B</a>
			        <a  href="/shop/list?t=C&amp;q=&amp;wcat=-1&amp;p=1">C</a>
			        <a  href="/shop/list?t=D&amp;q=&amp;wcat=-1&amp;p=1">D</a>
			        <a  href="/shop/list?t=E&amp;q=&amp;wcat=-1&amp;p=1" class="active">E</a>
			        <a  href="/shop/list?t=F&amp;q=&amp;wcat=-1&amp;p=1">F</a>
			        <a  href="/shop/list?t=G&amp;q=&amp;wcat=-1&amp;p=1">G</a>
			        <a  href="/shop/list?t=H&amp;q=&amp;wcat=-1&amp;p=1">H</a>
			        <a  href="/shop/list?t=I&amp;q=&amp;wcat=-1&amp;p=1">I</a>
			        <a  href="/shop/list?t=J&amp;q=&amp;wcat=-1&amp;p=1">J</a>
			        <a  href="/shop/list?t=K&amp;q=&amp;wcat=-1&amp;p=1">K</a>
			        <a  href="/shop/list?t=L&amp;q=&amp;wcat=-1&amp;p=1">L</a>
			        <a  href="/shop/list?t=M&amp;q=&amp;wcat=-1&amp;p=1">M</a>
			        <a  href="/shop/list?t=N&amp;q=&amp;wcat=-1&amp;p=1">N</a>
			        <a  href="/shop/list?t=O&amp;q=&amp;wcat=-1&amp;p=1">O</a>
			        <a  href="/shop/list?t=P&amp;q=&amp;wcat=-1&amp;p=1">P</a>
			        <a  href="/shop/list?t=Q&amp;q=&amp;wcat=-1&amp;p=1">Q</a>
			        <a  href="/shop/list?t=R&amp;q=&amp;wcat=-1&amp;p=1">R</a>
			        <a  href="/shop/list?t=S&amp;q=&amp;wcat=-1&amp;p=1">S</a>
			        <a  href="/shop/list?t=T&amp;q=&amp;wcat=-1&amp;p=1">T</a>
			        <a  href="/shop/list?t=U&amp;q=&amp;wcat=-1&amp;p=1">U</a>
			        <a  href="/shop/list?t=V&amp;q=&amp;wcat=-1&amp;p=1">V</a>
			        <a  href="/shop/list?t=W&amp;q=&amp;wcat=-1&amp;p=1">W</a>
			        <a  href="/shop/list?t=X&amp;q=&amp;wcat=-1&amp;p=1">X</a>
			        <a  href="/shop/list?t=Y&amp;q=&amp;wcat=-1&amp;p=1">Y</a>
			        <a  href="/shop/list?t=Z&amp;q=&amp;wcat=-1&amp;p=1">Z</a>
				</div>
				<ul class="shops clearfix">
					<li>
						<a href="shopDetail.html"><img src="{{ asset('img/temp/jd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="{{ path('wenwen_frontend_advertisement_shopdetail') }}" class="first">返利详情</a><a href="http://www.jd.com" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/jd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/jd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/jd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/jd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/1hd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/1hd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/1hd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/1hd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/1hd.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yh.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yh.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yh.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yh.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yh.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yl.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yl.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yl.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yl.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
					<li>
						<a href=""><img src="{{ asset('img/temp/yl.jpg') }}" alt=""></a>
						<p>最高返<b>4.5%</b></p>
						<div class="btns"><a href="" class="first">返利详情</a><a href="" target="_blank">直接购物</a></div>
					</li>
				</ul>
				<div class="page-wrapper">
					<p class="page">
						<span class="active">1</span>
						<span>2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
						<span>6</span>
						<span>尾页</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/advertisement/shopList')}}"></script>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
