<div class="survey-item col-xs-5 col-sm-6 col-md-7 col-lg-8">
    <div class="title">
        <a href="{{ path('_fulcrum_project_survey_information', {'fulcrum_research': fulcrum_research}) }}" class="open-link" target="_blank">{{ fulcrum_research.title }}<span></span></a>
    </div>
    <div class="proCon clearfix">
        <div class="proRow">
	        <span class="label label-primary">商业调查</span>
	        <span class="label label-info">约{{ fulcrum_research.loi }}分钟</span>
        </div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-5 col-lg-4 text-right">
    <div class="rewardPoint pull-left"><i>{{ fulcrum_research.extra_info.point.complete }}</i>积分</div>
    <div class="survey-btn"><a href="{{ path('_fulcrum_project_survey_information', {'fulcrum_research': fulcrum_research}) }}" class="open-link" target="_blank">可参与</a></div>
</div>