<div class="survey-item col-xs-5 col-sm-6 col-md-8">
    <div class="title">
        {% if partnerResearch.is_answered == 1 %}
            {% if partnerResearch.title|length > 35 %}
                {{ partnerResearch.title[:35] }}...
            {% else %}
                {{ partnerResearch.title }}
            {% endif %}
        {% else %}
            <a href="{{ path('survey_partner_information', {'surveyPartnerId': partnerResearch.surveyPartnerId}) }}" class="open-link">
                {% if partnerResearch.title|length > 35 %}
                    {{ partnerResearch.title[:35] }}...
                {% else %}
                    {{ partnerResearch.title }}
                {% endif %}
                <span></span>
            </a>
        {% endif %}
    </div>
    <div class="proCon clearfix">
        <div class="proRow">时长：约{{ partnerResearch.loi }}分钟</div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-4 pull-right">
    <div class="rewardPoint pull-left"><i>{{ partnerResearch.complete_point }}</i>积分</div>
    <div class="survey-btn">
        {% if partnerResearch.is_answered == 1 %}
            <span class="disabled">回答完毕</span>
        {% else %}
            <a href="{{ path('survey_partner_information', {'surveyPartnerId': partnerResearch.surveyPartnerId}) }}" class="open-link" target="_blank">可回答</a>
        {% endif %}
    </div>
</div>