<div class="survey-item">
    <div class="title">
        {% if title|length > 35 %}
            {{ title[:35] }}...
        {% else %}
            {{ title }}
        {% endif %}
    </div>
    <ul class="con clearfix">
        <li class="first">
            <span>问卷编号</span>
            <p>r{{ survey_id }}</p>
        </li>
        <li>
            <span>问卷类型</span>
            <p title="高积分问卷，基于您回答的属性问卷发送给您。有名额和日期限制，请尽快回答">商业问卷</p>
        </li>
        <li>
            <span>回答期限</span>
            <p>--</p>
        </li>
        <li class="last">
            <span>积分数</span>
            <p><strong>{{ extra_info.point.complete }}</strong></p>
        </li>
    </ul>
</div>
<div class="survey-btn">
    {% if is_answered == 1 %}
        <span class="disabled">回答完毕</span>
    {% else %}
        <a href="{{ url }}" class="open-link" target="_brank">可回答</a>
    {% endif %}
</div>