<div class="survey-item">
    <div class="title">
        <a href="{{ path('wenwen_frontend_fulcrumprojectsurvey_information', {'fulcrum_research': fulcrum_research}) }}" class="open-link" target="_brank">{{ fulcrum_research.title }}<span></span></a>
    </div>
    <ul class="con clearfix">
        <li class="first">
            调查所需时间：约 {{ fulcrum_research.loi }} 分钟
        </li>
        <li class="last">
            调查难易程度：{{ fulcrum_research.difficulty }}
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ fulcrum_research.extra_info.point.complete }}</i>积分</div>
<div class="survey-btn"><a href="{{ path('wenwen_frontend_fulcrumprojectsurvey_information', {'fulcrum_research': fulcrum_research}) }}" class="open-link" target="_brank">可回答</a></div>