<div class="survey-item ">
    <div class="title">
        {% if research.is_answered == 1 %}
            {% if research.title|length > 35 %}
                {{ research.title[:35] }}...
            {% else %}
                {{ research.title }}
            {% endif %}
        {% else %}
            <a href="{{ path('_project_survey_information', {'research': research}) }}" class="open-link" target="_brank">
                {% if research.title|length > 35 %}
                    {{ research.title[:35] }}...
                {% else %}
                    {{ research.title }}
                {% endif %}
                <span></span>
            </a>
        {% endif %}

        
    </div>
    <ul class="con clearfix">
        <li class="last">
            难度：
            {% if research.loi <= 10 %}
                <span class="difficulty"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
            {% elseif research.loi <= 30 %}
                <span class="difficulty"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
            {% else %}
                <span class="difficulty"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            {% endif %}
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ research.extra_info.point.complete }}</i>积分</div>
<div class="survey-btn">
    {% if research.is_answered == 1 %}
        <span class="disabled">回答完毕</span>
    {% else %}
        <a href="{{ path('_project_survey_information', {'research': research}) }}" class="open-link" target="_brank">可回答</a>
    {% endif %}
</div>