<div class="survey-item col-xs-5 col-sm-6 col-md-8">
    <div class="title">
        {% if research.is_answered == 1 %}
            <span class="text-muted">{% if research.title|length > 35 %}
                {{ research.title[:35] }}...
            {% else %}
                {{ research.title }}
            </span>
            {% endif %}
        {% else %}
            <a href="{{ path('_project_survey_information', {'research': research}) }}" class="open-link" target="_blank">
                {% if research.title|length > 35 %}
                    {{ research.title[:35] }}...
                {% else %}
                    {{ research.title }}
                {% endif %}
                <span></span>
            </a>
        {% endif %}
    </div>
    <div class="proCon clearfix">
        <div class="proRow">
            <span class="label label-primary">商业调查</span>
            <span class="label label-info">约{{ research.loi }}分钟</span>
        </div>
    </div>
</div>
<div class="survey-info col-xs-7 col-sm-6 col-md-4 pull-right">
    <div class="rewardPoint pull-left"><i>{{ research.extra_info.point.complete }}</i>积分</div>
    <div class="survey-btn">
        {% if research.is_answered == 1 %}
            <span class="disabled">已参与</span>
        {% else %}
            <a href="{{ path('_project_survey_information', {'research': research}) }}" class="open-link" target="_blank">可参与</a>
        {% endif %}
    </div>
</div>