<div class="survey-item ">
    <div class="title">
        {% if research.is_answered == 1 %}
            {% if research.title|length > 35 %}
                {{ research.title[:35] }}...
            {% else %}
                {{ research.title }}
            {% endif %}
        {% else %}
            <a href="{{ path('_project_survey_information', {'research': research}) }}" class="open-link" target="_brank">
                {% if research.title|length > 35 %}
                    {{ research.title[:35] }}...
                {% else %}
                    {{ research.title }}
                {% endif %}
                <span></span>
            </a>
        {% endif %}

        
    </div>
    <ul class="con clearfix">
        <li class="first">
            调查所需时间：约 {{ research.loi }} 分钟
        </li>
        <li class="last">
            调查难易程度：{{ research.difficulty }}
        </li>
    </ul>
</div>
<div class="rewardPoint"><i>{{ research.extra_info.point.complete }}</i>积分</div>
<div class="survey-btn">
    {% if research.is_answered == 1 %}
        <span class="disabled">回答完毕</span>
    {% else %}
        <a href="{{ path('_project_survey_information', {'research': research}) }}" class="open-link" target="_brank">可回答</a>
    {% endif %}
</div>