<div class="survey-item">
    <div class="title">
        {% if title|length > 35 %}
            {{ title[:35] }}...
        {% else %}
            {{ title }}
        {% endif %}
    </div>
    <ul class="con clearfix">
        <li class="first">
            <span>问卷编号</span>
            <p>s{{ ssi_surveys[0].ssiProjectId }}</p>
        </li>
        <li>
            <span>问卷类型</span>
            <p title="{{ ssi_project_config.title }}">商业问卷</p>
        </li>
        <li>
            <span>回答期限</span>
            <p>--</p>
        </li>
        <li class="last">
            <span>积分数</span>
            <p><strong>{{ ssi_project_config.point }}</strong></p>
        </li>
    </ul>
</div>
<div class="survey-btn"><a href="{{ path('_ssi_project_survey_cover', {'survey_id': ssi_surveys[0].ssiProjectId}) }}" target="_brank">可回答</a></div>
