{% extends 'WenwenFrontendBundle:Help:base.html.twig' %}
{% block title %}{{ parent() }}业务合作{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="container board-top-spacing">   
  <div class="row main-about-con">
    {% include 'WenwenFrontendBundle:Help:_leftSidebar.html.twig' %}
    <div class="col-xs-9 col-sm-10">
    <div class="aboutR">
        <h2 class="hidden-xs">业务合作</h2><hr class="hidden-xs">
        <div class="row">
          <h3>网上调查报价咨询</h3>
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <div class="inquire-box center-block">
              <h4>想了解我们的报价，请参照以下内容联系我们。</h4>
              <div class="contact-information">联系邮箱：china@d8aspring.cn<br>联系电话：021-52387701</div>
              <div class="requirement">
                <h5>需求的详细内容</h5>
                <p>
                - 研究主题：<strong>洗护用品调查</strong><br>
                - 需求样本的国家或区域：<strong>中国、日本、韩国</strong><br>
                - 目标人群：<strong>20-40岁</strong><br>
                - 项目条件：<strong>某品牌使用者</strong><br>
                - 样本量：<strong>20万</strong><br>
                - 配额：<strong>1000个</strong><br>
                - 问卷时长或问题数量：<strong>15分钟或15题</strong><br>
                - 截止日期：<strong>2017/12/12</strong><br>
                - 通过何种方式得知我们的网站？<strong>通过网上搜索，朋友推荐等方式。</strong>
                </p>
                <h5>详细的联系方式</h5>
                <p>
                - 您的名字：<strong>张先生</strong><br>
                - 贵公司或组织机构名称：<strong>日用品洗护有限公司</strong><br>
                - 您的联系电话：<strong>13423459876</strong><br>
                - 您的联系邮件：<strong>12345@qq.com</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="board-top-spacing">样本覆盖国家及区域</h3>
          <p class="col-xs-12 col-sm-offset-1 col-sm-10 text-info">道道永泉dataSpring，自2009年起一直致力在亚洲为各大研究公司，研究组织机构提供线上样本以及研究工具的支持。我们的自有线上样本库覆盖中国、日本、韩国，以及东南亚各国。我们还为各个机构提供具有竞争力的问卷编程和数据处理工具。</p>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center coverage-area">
            <h4>道道永泉样本覆盖国家及区域</h4>
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-4 item">
                  <img src="{{ asset('assets/img/frontend/help/cn.png') }}" alt="中国国旗">
                  <div class="text"><strong>98</strong>万人</div>
                  <a href="http://www.91wenwen.net/"><u>www.91wenwen.net</u></a>
                </div>
                <div class="col-xs-4 item">
                  <img src="{{ asset('assets/img/frontend/help/jp.png') }}" alt="日本国旗">
                  <div class="text"><strong>124</strong>万人</div>
                  <a href="https://research-panel.jp/"><u>www.research-panel.jp</u></a>
                </div>
                <div class="col-xs-4 item">
                  <img src="{{ asset('assets/img/frontend/help/kr.png') }}" alt="韩国国旗">
                  <div class="text"><strong>17</strong>万人</div>
                  <a href="http://www.panelnow.co.kr/"><u>www.panelnow.co.kr</u></a>
                </div>
              </div>
              <div class="col-xs-12 others">
                <img src="{{ asset('assets/img/frontend/help/others.png') }}" alt="其他国家或地区">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="board-top-spacing">提供的样本服务</h3>
          <p class="col-xs-12 col-sm-offset-1 col-sm-10 text-info">我们的研究工具拥有您的项目所需的所有功能，它轻松导航，而且性价比极高。亚洲线上样本覆盖多种样本群体，并且提供一站式全套服务。使用我们的专有调查工具让您从编程到数据收集，质量控制，以及制表都一路无忧。并且我们提供24小时的项目执行团队，将为您提供每天24小时的卓越运营以及实时项目支持。我们响应迅速，专业专注的项目经理在全球8个办事处，随时随地为您服务。</p>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 text-left service-flow">
            <div class="row">
              <div class="col-xs-4 item">
                <div class="title center-block">招募<br>注册</div>
                <div class="details">
                  - 多种渠道<br>
                  - 双重验证注册流程<br>
                  - IP定位<br>
                  - 真人数据检查<br>
                  - 129项个人属性信息
                </div>
              </div>
              <div class="col-xs-4 item">
                <div class="title center-block">项目<br>执行</div>
                <div class="details">
                  <strong>问卷阶段</strong><br>
                  - 问卷内容逻辑检查<br>
                  - 问卷语言内容翻译<br>
                  - 问卷编程(自主研发编程系统)<br>
                  - 节省成本(免hosting费用)<br>
                  <strong>样本收集阶段</strong><br>
                  - 质量控制<br>
                  - 精准抽样<br>
                  - IP限制<br>
                  - PC限制(独有数字指纹技术)<br>
                  - 链接仅一次有效
                </div>
              </div>
              <div class="col-xs-4 item">
                <div class="title center-block">数据清<br>理提交</div>
                <div class="details">
                  <strong>清理删除</strong><br>
                  - 时间过短/问卷超时<br>
                  - 前后逻辑不符合<br>
                  - 开放题胡乱回答<br>
                  - 触碰陷阱题等<br>
                  <strong>数据提供</strong><br>
                  - EXCEL/SPSS数据格式<br>
                  - 系统直接生成简易图表及交叉表<br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
            <div class="panel panel-default">
              <h4 class="panel-heading">样本覆盖范围</h4>
              <div class="panel-body">
                <div class="range"><span>汽车</span><span class="fill">B2B</span><span>电子产品</span><span class="fill">家庭</span><span>食品/饮品</span><span class="fill">美容</span></div>
                <div class="range"><span class="fill">旅行意向者</span><span>医疗保健</span><span class="fill">爱好/兴趣</span><span>家用</span><span class="fill">互联网</span><span>奢侈品</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
