{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}帮助中心：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/help.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
{% include 'WenwenFrontendBundle:Help:_banner.html.twig' %}
<div class="main-help-con w1000 clearfix">
	<div class="helpL left">
        <ul class="tabNav">
            <li class="active">账号问题</li>
            <li>问卷问题</li>
			<li>购物返利</li>
            <li>体验广告</li>
            <li>积分兑换</li>
        </ul>
        <div class="feedback">
            <a href="{{ path('_default_feedback') }}" title="我要提问"><img src="{{ asset('img/help/feedback.png') }}" alt="我要提问"></a>
        </div>
    </div>
    <div class="helpR tabCon right">
    	<h2 class="first">账号问题</h2>
        <ul class="con">
        	<li>
            	<div class="title"><em>1</em><span>验证码不显示或反复输入错误</span><span class="icons"></span></div>
                <p>如果验证码不显示，请您在登录页面停留稍长时间，这可能是网络原因造成的。请您仔细留意验证码，如果看不清楚的话，您可以尝试刷新或其它方式。</p>
            </li>
            <li>
            	<div class="title"><em>2</em><span>没有收到验证邮件</span><span class="icons"></span></div>
                <p>我们发送的激活验证邮件有可能被归为了垃圾邮件，请您先在垃圾邮件箱中查找来自于91问问调查网的验证激活邮件，并将我们添加为联系人。以便于以后正常收到我们的邮件。
有些时候，邮件的发送可能会有10分钟到20分钟的延迟，请您过一会儿再查看邮箱。
如果还是没有收到邮件，系统会自动在第二个工作日再次给您发送激活邮件。请注意查收。</p>
            </li>
            <li>
            	<div class="title"><em>3</em><span>注销后手机无法解除绑定</span><span class="icons"></span></div>
                <p>注销账户后支付宝绑定和手机绑定都无法解除，不便之处敬请谅解！</p>
            </li>
            <li>
            	<div class="title"><em>4</em><span>注销会员</span><span class="icons"></span></div>
                <p>您可以通过地址 <a href="http://www.91wenwen.net/withdraw/" target="_blank">http://www.91wenwen.net/withdraw/</a> ，注销在91问问调查网的注册及定制</p>
            </li>
            <li>
            	<div class="title"><em>5</em><span>如何注册</span><span class="icons"></span></div>
                <p>您可以通过以下链接完成注册程序。
<a href="http://www.91wenwen.net/signup/" target="_blank">http://www.91wenwen.net/signup/ </a>
请您注意我们发送的激活验证邮件有时可能会被归为垃圾邮件，您可以在垃圾邮件中找找来自于91问问调查网的验证激活邮件,并将我们添加为联系人。<br>
有些时候，邮件的发送可能会有10分钟到20分钟的延迟，请您过一会儿再查看邮箱。<br>
在您完成会员注册，首次登陆91问问调查网后，您的个人主页中会显示 “问卷列表”，您可以分批或一次性回答完属性问卷即可获得相应积分。今后我们将通过邮件向您发送新的调查问卷的邀请，请您留意您的邮件收件箱。</p>
            </li>
            <li>
                <div class="title"><em>6</em><span>生日错误</span><span class="icons"></span></div>
                <p>您输入的生日信息需要与您在注册91问问账户时填写的生日信息相同。<br>
在91问问调查网，生日是一个非常重要的信息，我们以此来判断一个用户的年龄，进而提供给他合适的问卷。<br>
如果您忘记了您的生日信息或者您当初填入了错误的日期，请提供91问问账号并提供所回答问卷编号，以邮件形式提供给我们，这边帮您修改之后，请您再次回答问卷时填写正确生日并牢记。</p>
            </li>
            <li>
                <div class="title"><em>7</em><span>账户被锁定</span><span class="icons"></span></div>
                <p>账户被锁定有以下几个原因：<br>
1.涉嫌3次以上支付宝恶意兑换被锁定<br>
2.涉嫌恶意注册多个账户被锁定
</p>
            </li>
            <li>
                <div class="title"><em>8</em><span>忘记帐号和密码</span><span class="icons"></span></div>
                <p>您在91问问在线调查网的账户名即为您的电子邮件地址！<br>
如果您忘记了密码，您可以通过以下URL找回密码<a href="http://www.91wenwen.net/reminder/" target="_blank">http://www.91wenwen.net/reminder/</a></p>
            </li>
            <li>
                <div class="title"><em>9</em><span>在哪里修改个人信息</span><span class="icons"></span></div>
                <p>登录91问问网站——个人中心（网站右上角）——个人资料——修改完成后点击“保存”的按钮。</p>
            </li>

            <li>
                <div class="title"><em>10</em><span>重复登陆网站/无法登陆</span><span class="icons"></span></div>
                <p>确认下述各项后，请再试一次。<br>
1.输入的邮箱地址、密码是否正确？<br>
如果您忘记了密码，您可以通过以下URL找回密码<a href="https://www.91wenwen.net/reminder/" target="_blank">https://www.91wenwen.net/reminder/</a><br>
※密码区分英文大小写。输入时请注意。<br>
2.浏览器的设置是否处于接收「Cookie」的状态？「Cookie」的设定无效时，无法正常登录本网站。<br>
请确认您使用的浏览器是否设定为接受「Cookie」的状态。<br>
3.您使用的安全软件和Internet Explorer的扩展工具等是否屏蔽了本网站？<br>
确认安全软件和IE扩展工具，当处于屏蔽本网站的状态时，请将其更改为接受状态。设定方法请参照各软件的手册指南或联系软件生产发行商。<br>
4.另外，也有可能是网络繁忙原因导致无法登录。请稍候片刻再登录。
</p>
            </li>
            <li>
                <div class="title"><em>11</em><span>没有看到积分更新</span><span class="icons"></span></div>
                <p>请您回到首页后刷新页面或重新登录，即可以看到累积的积分。</p>
            </li>
            <li>
                <div class="title"><em>12</em><span>积分失效清零</span><span class="icons"></span></div>
                <p>通常情况下，连续超过180天未获得过任何积分，积分就会失效。<br>
您可以提供您的91问问网账号，帮您核查一下，是否有意外情况造成您的积分损失。
</p>
            </li>
            <li>
                <div class="title"><em>13</em><span>有客服电话吗</span><span class="icons"></span></div>
                <p>很抱歉，目前我们的客服系统只支持网络咨询。如果您有任何意见建议，欢迎发送邮件至客服（<a href="mailto:support@91wenwen.com">support@91wenwen.com</a>）。我们会尽快为您解答。</p>
            </li>
        </ul>
        <ul class="con">
        	<li>
            	<div class="title"><em>1</em><span>为什么一直被剔除</span><span class="icons"></span></div>
                <p>请您认真回答属性问卷，确保在属性问卷和高分问卷内回答的个人情况一致，就不会被剔除，我们是根据您回答的属性问卷情况，来匹配他是否符合某些高分问卷的要求的。</p>
            </li>
            <li>
            	<div class="title"><em>2</em><span>为什么不一开始就剔除</span><span class="icons"></span></div>
                <p>这是调查行业的业内规定，在一开始不会把所需要的年龄限制标明出来，这是为了保证问卷的质量，以防有不真实的答案出现。 为了防止用户虚假作答所以才需要答题者按实际情况逐个选填个人信息。</p>
            </li>
            <li>
                <div class="title"><em>3</em><span>问卷已完成，为何不加分</span><span class="icons"></span></div>
                <p>1.请问您是否没有完成最后一个页面跳转就直接关闭了浏览器？由于问卷结束后会进入一个完成页面，转到此页面才能成功完成一份问卷调查，否则系统将无法记录您的答题情况。<br>
2.若成功完成问卷，工作人员在一定审核日期后(一个月左右)，确认您确为成功完成该问卷，可进行积分发放。请您耐心等候。</p>
            </li>
            <li>
                <div class="title"><em>4</em><span>问卷分值不一样</span><span class="icons"></span></div>
                <p>1.每份问卷根据内容和难易度不同，分值不同，这是正常的情况。快速问答为1分一题，即答即得；属性问卷回答为每小题1积分。请您尽快完成所有属性问卷，以便快速累计积分和获得高分问卷的机会。<br>
2.我们会不定期给您发送高分问卷的邀请，您如果经常且及时的回答常规个人信息问卷，今后收到高分问卷的机会就会高。您回答的属性问卷越多，获得高积分商业问卷的几率也越大，因为商业问卷的受访群体是回答了相关属性的用户。 当您完成了所以的属性问卷以后，会重新将所有属性问卷再次发送给您，以便您保持更新您的最新情况。</p>
            </li>
            <li>
                <div class="title"><em>5</em><span>高分问卷额度满</span><span class="icons"></span></div>
                <p>1.如果您收到邀请后没有及时去回答，此问卷超过回答期限将会自动关闭。<br>
2.此类高分值问卷，通常额度有限，可能是由于您收到邀请后没有及时去回答，而且其他用户已经比您更早的完成了问卷，造成额度已满。导致您没有办法回答问卷。 今后，还希望您能经常及时的查看您的邮箱，收到问卷邀请后，第一时间去回答问卷。</p>
            </li>
            <li>
                <div class="title"><em>6</em><span>海外调查</span><span class="icons"></span></div>
                <p>您在刚注册时就会收到海外调查的邀请，如果您点击的是“是”，那么您就已经加入了。您便会在今后收到海外问卷。</p>
            </li>
            <li>
                <div class="title"><em>7</em><span>问卷还出现在问卷列表中</span><span class="icons"></span></div>
                <p>此次问卷调查还没结束的话，在所有的用户问卷列表中都会显示。</p>
            </li>
            <li>
                <div class="title"><em>8</em><span>问卷乱码</span><span class="icons"></span></div>
                <p>在你的浏览器“设置”里把“编码”选为“自动选择”。<br>
如果您是用IE浏览器，直接在页面上点右键，找到“编码”，选择“自动选择”。</p>
            </li>
            <li>
                <div class="title"><em>9</em><span>快速问答审核时间</span><span class="icons"></span></div>
                <p>快速问答的审核一般需要两周的时间，如果您的题目被采用，我们会以邮件的形式通知您。请您注意查收！</p>
            </li>
            <li>
                <div class="title"><em>10</em><span>怎么出快速问答</span><span class="icons"></span></div>
                <p>1.您可以在91问问网站的【快速问答】模块中选择“有奖出题”，发送您的问题。<br>
2.所有出题者必须事先在91问问调查网创建个人主页，并填写昵称。否则问题将无法被选用。</p>
            </li>
            <li>
                <div class="title"><em>11</em><span>快速问答出题须知</span><span class="icons"></span></div>
                <p>1. 请勿提交任何涉及政治、暴力、色情等违法信息；恶意提交不法信息者，将被封号！<br>
2. 如果被采用，91问问保留适当修改您所提供内容的权利；<br>
3. 同一主题请勿重复提交；重复提交并不会提高您的题目被采用的几率，合适的主题才更容易被采用！<br>
4. 所有“快速问答”均为单选题，请注意考虑选项的逻辑性，考虑是否便于回答者理解和做出适当选择；<br>
5. 所有出题者必须事先在91问问调查网创建个人主页，否则问题将无法被选用。<br>
问卷审核一般需要两周的时间，如果您的题目被采用，您会收到邮件提醒。在审核过程中会出现多个用户出同一个问题的现象，请您尽量避免重复的问题。详情可浏览有奖出题“注意事项”。</p>
            </li>
            <li>
                <div class="title"><em>12</em><span>已在其他网站回答同一问卷</span><span class="icons"></span></div>
                <p>如果您已经在其他调查网站上完成了同一份问卷，那么此问卷将无法在91问问调查网上完成，即使完成，该问卷将无法获得积分奖励。</p>
            </li>
            <li>
                <div class="title"><em>13</em><span>无法看到问卷，问卷不显示</span><span class="icons"></span></div>
                <p>建议您使用谷歌或者火狐浏览器，并开启浏览器对JavaScript的支持。请按照以下流程操作：工具——Internet选项——安全——自定义级别——脚本——活动脚本——选择“启用”——确定</p>
            </li>
        </ul>
        <ul class="con">
        	<li>
                <div class="title"><em>1</em><span>如何获得返利</span><span class="icons"></span></div>
                <p>1.登录91问问调查网账户，进入“体验广告”页面，点击“返利商家”模块的右下角“全部>>”，进入商家列表页面，找到您感兴趣的商家，并点击“直接购物”。选择需要购买的商品，下单购买商品。回到91问问调查网，点击页面右上角的下拉菜单，选择“我的任务历史”查看您的购物返利状态。<br>
2.进入“体验广告”页面，点击左上方的促销活动，前往商家活动页面，从列表中找到您感兴趣的商家活动并点击活动图片前往。找到您感兴趣的物品并下订单完成购买。您可以在任务历史页面，查看您的购物返利状态。</p>
            </li>
            <li>
                <div class="title"><em>2</em><span>返利何时到账</span><span class="icons"></span></div>
                <p>一般商城的返利时间在2-3个月，京东商城的返利时间比其他商城久。由于京东商城有他们自己的退换货的期限，过了这个期限他们才会审核数据返利，一旦有结果我们会尽快返利。</p>
            </li>
            <li>
                <div class="title"><em>3</em><span>返利显示为0</span><span class="icons"></span></div>
                <p>购物无返利有三种情况：<br>
1.使用代金券 <br>
2.使用优惠券 <br>
3.该商品在该网站上返利为0<br>
如果有以上情况，是没有返利的。</p>
            </li>
            <li>
                <div class="title"><em>4</em><span>通过91问问调查网搜索收藏的物品，下次购物是否可以返利</span><span class="icons"></span></div>
                <p>通过91问问调查网搜索收藏的物品，跳转至商品的结果页面，若购物之前已经收藏了该宝贝，可能导致您无法获得返利，不建议使用。</p>
            </li>
            <li>
                <div class="title"><em>5</em><span>购物无返利</span><span class="icons"></span></div>
                <p>请确认是否是通过91问问调查网产生的消费。请提交订单号，以便我们核查是否是我们网站的订单。<br>
（1）跳转信息被删除了，没有记录是我们网站购买，您是否有打开过其他的返利网站呢？<br>
（2）购物成功了，我们网站记录了。但是该网站漏单了。</p>
            </li>
        </ul>
        <ul class="con">
        	<li>
                <div class="title"><em>1</em><span>体验广告如何获得返利</span><span class="icons"></span></div>
                <p>点击菜单栏的“体验广告”按钮，前往体验广告页面。选择您感兴趣的体验广告，并点击前往查看详细。请仔细阅读体验广告的流程，并确定自己是否符合要求。如果您符合要求，请点击“领取任务”按钮，将会带您去参加任务。并请您认真一步步完成任务。在任务历史页面，可以查看您的体验广告状态。</p>
            </li>
            <li>
                <div class="title"><em>2</em><span>体验广告没有获得返利</span><span class="icons"></span></div>
                <p>关于体验广告的返利，请联系体验广告的在线客服。</p>
            </li>
            
        </ul>
        <ul class="con">
            <li>
                <div class="title"><em>1</em><span>91问问积分可以兑换什么</span><span class="icons"></span></div>
                <p>可以兑换成手机费，支付宝现金，亚马逊礼品卡和流量包。<br>
手机费兑换和亚马逊兑换是隔天到账；<br>
支付宝兑换是每周一兑换上周一到上周日的申请（周末和节假日延后）。</p>
            </li>
            <li>
                <div class="title"><em>2</em><span>怎样兑换支付宝</span><span class="icons"></span></div>
                <p>您在91问问调查网，通过做问卷、参加活动等，积累了至少2050积分之后，就可以通过支付宝兑换现金。<br>请参考以下链接。<br>
<a href="http://www.91wenwen.net/privilege/" target="_blank">http://www.91wenwen.net/privilege/（支付宝兑换链接）</a> <br>
请注意，您必须拥有经过数字认证的支付宝账号，且您的支付宝帐号状态正常。一个91问问账户仅可以关联一个支付宝账户。<br>
具体有关支付宝账户注册及认证的问题，您可以查询支付宝网站 www.alipay.com 或致电支付宝客服热线：0571-88156688（全天24小时服务）</p>
            </li>
            <li>
                <div class="title"><em>3</em><span>积分兑换没有绑定手机</span><span class="icons"></span></div>
                <p>如果您是第一次兑换，我们需要先输入手机号码，如果您成功收到验证码并且成功再次登录，那么您的手机号码就已被91问问账号绑定了。以后就不需要再输入手机号码了。如果您输入的手机号码不正确或者与绑定账户不符，则兑换窗口呈灰色无法输入兑换数额。请重新确认手机号码。<br>
1.请您完成以下操作绑定您的手机号码：<br>
登录您的个人主页（网站右上角）——会员基础信息——【拉动页面至底部，点击“变更注册信息”的蓝色按钮】（此步骤切勿遗漏）——“手机号码”一栏点击“修改”——输入手机号码，发送验证码——输入手机短信中的验证码——绑定成功 然后您可以进行兑换。<br> 
2.如果上述步骤您无法完成或无法解决您的问题，请告知您使用的是什么浏览器？您电脑的操作系统是什么？请您提供详细截图发送至客服，我们会尽快为您解答！</p>
            </li>
            <li>
                <div class="title"><em>4</em><span>支付宝兑换失败原因</span><span class="icons"></span></div>
                <p>您的提交的支付宝兑换失败，有以下几点原因：<br>
1.无该支付宝账户<br>
2.支付宝账户和姓名不符<br>
支付宝的账户名应该于您的真实姓名一致。<br>
3.恶意兑换</p>
            </li>
            <li>
                <div class="title"><em>5</em><span>帮您核查支付宝兑换情况</span><span class="icons"></span></div>
                <p>如果您需要核查，请将您的支付宝帐号和申请兑换积分日期发送到客服中心。我们将帮您核查！</p>
            </li>
            <li>
                <div class="title"><em>6</em><span>支付宝恶意兑换定义</span><span class="icons"></span></div>
                <p>支付宝恶意兑换的定义为：<br>
1.用户违反《会员协议》的约定，拥有多个91问问账户<br>
2.多个91问问账户申请兑换到一个支付宝账户<br>
请您确认一下，您是否存在以上情况？</p>
            </li>
            <li>
                <div class="title"><em>7</em><span>身份证保证安全(支付宝）</span><span class="icons"></span></div>
                <p>请您提供您身份证复印件/扫描件/照片电子版，以附件的形式发送给我们。我们核查后帮您申请更改支付宝信息。您的身份证明我们只用于为您修改您的个人信息，也是为了保证您的账户安全，绝不会外泄或他用。如果您不放心可以在您的扫描件上加上“仅用于91问问修改个人信息”。</p>
            </li>
            <li>
                <div class="title"><em>8</em><span></span>更改支付宝账户<span class="icons"></span></div>
                <p>1.为了用户账号的安全，请提供您的身份证明（身份证或其他可以证明您身份的证件，请将您的身份证扫描以邮件附件的形式传送给我们），以及提供您原来的支付宝账号和新的支付宝账号，并请您证明该新的支付宝帐号确为您所有，如提供支付宝个人信息页的截图等。<br>
2.请您更改91问问绑定手机号后联系客服，我们会在确认后为您修改支付宝信息。由相关工作人员审查合格后，帮您修改您的支付宝账号。
</p>
            </li>
            <li>
                <div class="title"><em>9</em><span></span>积分未返还<span class="icons"></span></div>
                <p>如果兑换不成功，积分会自动返还（大约10个工作日之内）。请您耐心等待！</p>
            </li>
            <li>
                <div class="title"><em>10</em><span>支付宝账号只能对应一个91问问</span><span class="icons"></span></div>
                <p>一个支付宝只能对应一个91问问帐号。否则系统将会视为恶意兑换。</p>
            </li>
            <li>
                <div class="title"><em>11</em><span>支付宝名义人是什么</span><span class="icons"></span></div>
                <p>支付宝名义人是您在注册支付宝时填写的实名。</p>
            </li>
            <li>
                <div class="title"><em>12</em><span>手机费兑换何时到账</span><span class="icons"></span></div>
                <p>手机费兑换是隔天到账，节假日及周末延后。</p>
            </li>
            <li>
                <div class="title"><em>13</em><span>手机费兑换总是失败</span><span class="icons"></span></div>
                <p>手机费兑换失败原因：<br>
1.有多个账户兑换到同一个手机号码中。系统会自动判定不予兑换。<br>
2.我们是通过移动运营商等兑换您的手机费，由于部分地区对小面额的充值不稳定的关系，导致多次充值失败。建议您多累积一点积分。大面额的充值比较稳定。</p>
            </li>
            <li>
                <div class="title"><em>14</em><span>支付宝兑换何时到账</span><span class="icons"></span></div>
                <p>支付宝的兑换工作一般需要十个工作日左右完成。每周一兑换上周一至周日的兑换申请，如果提交的兑换请求不满2周，敬请耐心等候。</p>
            </li>
            <li>
                <div class="title"><em>15</em><span>支付宝兑换显示成功，但未收到</span><span class="icons"></span></div>
                <p>请联系客服，提供兑换日期、91问问调查网账号，我们将告知您支付宝流水号，进行查询。</p>
            </li>
            <li>
                <div class="title"><em>16</em><span>支付宝有了流水号就是没收到</span><span class="icons"></span></div>
                <p>支付宝的流水号是由支付宝提供给我们的积分兑换成功的凭证，请您联系支付宝客服查询。</p>
            </li>
            <li>
                <div class="title"><em>17</em><span>支付宝兑换不能输入身份证</span><span class="icons"></span></div>
                <p>请确认是否有输入正确的身份证号码。可以提供身份证明（身份证或其他可以证明您身份的证件，请将您的身份证扫描以邮件附件的形式传送给客服中心），以便我们可以帮助您绑定身份证号码。</p>
            </li>
            <li>
                <div class="title"><em>18</em><span>修改绑定的支付宝</span><span class="icons"></span></div>
                <p>更改绑定账户的支付宝账号，您需要提供以下资料，我们核实后会给您修改您的支付宝账号:<br>
 1：您要更改绑定支付宝账号的91问问账户<br>
 2：您的身份证复印件或扫描件<br>
 3：您以前绑定的旧支付宝账号<br>
 4：需要更改的新支付宝账号</p>
            </li>
            <li>
                <div class="title"><em>19</em><span>支付宝如何支付手续费</span><span class="icons"></span></div>
                <p>由于支付宝方面大幅提高积分兑换的手续费，91问问网本着用户利益至上，一直以来承担着替用户支付手续费。现91问问网已经上线积分兑换手机费功能，您依然可以用2010分兑换成20元手机费。今后，我们会上线更多兑换的途径，使您有更多的兑换选择。</p>
            </li>
            <li>
                <div class="title"><em>20</em><span>支付宝兑换与手机兑换积分数量</span><span class="icons"></span></div>
                <p>手机费兑换：20元手机费->2010积分起兑。<br>
2010积分=20元手机费<br>
2995积分=30元手机费<br>
4960积分=50元手机费<br>
<br>
支付宝兑换：20元支付宝现金->2050积分起兑。<br>
2050积分=20元<br>
3030积分=30元<br>
5000积分=50元<br>
其他</p>
            </li>
            <li>
                <div class="title"><em>21</em><span>网络太慢</span><span class="icons"></span></div>
                <p>1.给您带来的不便深感抱歉。由于91问问调查网是一家全球性公司，服务器在海外，造成国内访问速度缓慢。<br>
2.我们的系统团队始终致力于开发和改善此类功能，希望为您提供更好的服务。
</p>
            </li>
        </ul>

    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/help/help')}}"></script>
{% endblock %}