{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}帮助中心{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/about.css') }} " rel="stylesheet" type="text/css">
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-about-con w1000 clearfix">
    {% include 'WenwenFrontendBundle:Help:_leftSidebar.html.twig' %}
    <div class="aboutR tabCon right">
    	<h2>帮助中心</h2>
        <ul class="helpIcons">
        	<li><a href="{{ path('help_issue') }}"><p class="hIco hIco1"></p><p class="hTxt hTxt1">常见问题&nbsp;></p></a></li>
        	<li><a href="{{ path('help_feedback') }}"><p class="hIco hIco2"></p><p class="hTxt hTxt2">联系客服&nbsp;></p></a></li>
        	<li><a href="{{ path('help_newGuide') }}"><p class="hIco hIco3"></p><p class="hTxt hTxt3">新手上路&nbsp;></p></a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/component/tab.js')}}"></script>
{% endblock %}