<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% block header %}
    <meta charset="UTF-8">
    <title>Partner</title>
{% endblock %}

{% block content %}
Add new partner<br>
<form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Add partner"/>
        {{ addResult }}<br>
        {{ errmsg }}<br>
</form>
<a href="{{ path('admin_partner_show') }}">Back</a><br>
{% endblock %}
