<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% block header %}
    <meta charset="UTF-8">
    <title>Admin - Project Lists</title>
{% endblock %}

{% block content %}
Project Lists<br> 
AffiliatePartnerId={{affiliatePartnerId}}<br>
<a href="{{ path('admin_project_add', {'affiliatePartnerId': affiliatePartnerId}) }}">Add a new project</a><br>
<br>
{{ status }}<br>
{{ errmsg }}<br>
<table class='projectList'>
<tr>
  <th>{{ knp_pagination_sortable(pagination, 'ProjectId', 'ap.id') }}</th>
  <th>{{ knp_pagination_sortable(pagination, 'RFQId', 'ap.RFQId') }}</th>
  <th>{{ knp_pagination_sortable(pagination, 'Url', 'ap.url') }}</th>
  <th>{{ knp_pagination_sortable(pagination, 'OriginalFileName', 'ap.originalFileName') }}</th>
  <th>{{ knp_pagination_sortable(pagination, 'InitNum', 'ap.initNum') }}</th>
  {# <th>{{ knp_pagination_sortable(pagination, 'RealFullPath', 'ap.realFullPath') }}</th> #}
  <th>{{ knp_pagination_sortable(pagination, 'Status', 'ap.status') }}</th>
  <th>{{ knp_pagination_sortable(pagination, 'UpdatedAt', 'ap.updatedAt') }}</th>
  <th>{{ knp_pagination_sortable(pagination, 'CreatedAt', 'ap.createdAt') }}</th>
  <th></th>
</tr>
 
{% for affiliateProject in pagination %}
<tr>
  <td>{{ affiliateProject.id }}</td>
  <td>{{ affiliateProject.RFQId }}</td>
  <td>{{ affiliateProject.url }}</td>
  <td>{{ affiliateProject.originalFileName }}</td>
  <td>{{ affiliateProject.initNum }}</td>
  {# <td>{{ affiliateProject.realFullPath }}</td> #}
  <td>{{ affiliateProject.status }}</td>
  <td>{{ affiliateProject.updatedAt |date('Y-m-d H:i:s') }}</td>
  <td>{{ affiliateProject.createdAt |date('Y-m-d H:i:s') }}</td>
  <td><a href="{{ path('admin_project_close', {'affiliatePartnerId': affiliatePartnerId, 'affiliateProjectId': affiliateProject.id}) }}">close</a></td>
</tr>
{% endfor %}
</table>
 
<div class="navigation">
  {{ knp_pagination_render(pagination) }}
</div>

<a href="{{ path('admin_partner_show') }}">Back</a><br>
{% endblock %}


<style type="text/css">
table.projectList { 
  border-collapse: collapse; 
  }
table.projectList td, 
table.projectList th { 
  border: 1px solid yellowgreen;
  padding: 5px; 
  }
</style>


