{% extends '::adminBase.html.twig' %}

{% block title %}Admin - Add a new project{% endblock %}</title>

{% block body %}
Add a new project
<br> AffiliatePartnerId={{affiliatePartnerId}}
<br>
<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
    <br> {{errmsg}}
    <br>
</form>
<a href="{{ path('admin_project_show', {'affiliatePartnerId': affiliatePartnerId}) }}">Back</a>
<br>

{% endblock %}
