{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}{{ parent()  }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/taobao.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/jquery.infinitescroll.js')}}" type="text/javascript"></script>
{% endblock %}
 
{% block body %}
<div class="" style="">
    <div class="taobaoWrap">
        <div class="itemL">
        	<div class="taobaoNotice">
        		<em></em>注意：通过积粒网的淘宝页面购物，每月将有机会参与抽奖，但无返利。
       		</div>
            <div class="taobaoSearch"> {{ render(controller('JiliFrontendBundle:Taobao:searchBox' ) ) }} </div>
            <div id="tabs"> {{ render(controller('JiliFrontendBundle:Taobao:category' ) ) }} </div>
        </div>
        <div class="itemR">
            <div class="rPt"> {{ render(controller('JiliFrontendBundle:Taobao:item' ) ) }} </div>
            <div class="rMall"> {{ render(controller('JiliFrontendBundle:Taobao:shop' ) ) }} </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_bottom %}

{% endblock %}
