{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}{{ parent()  }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/taobao.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('js1408/jquery.cookie.js') }}" type="application/javascript"></script>
<script src="{{ asset('js/jquery.infinitescroll.js')}}" type="text/javascript"></script>
<script src="{{ asset('js1408/jl.ui.treasure.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/jilifrontend/js/taobao.js') }}" language="javascript"></script>
{% endblock %}
 
{% block body %}
<div class="" style="">
    <div class="taobaoWrap">
        <div class="itemL">
            <div class="taobaoNotice">
                <em></em>在此页面购物的会员，即可参加<a href="{{ path('jili_api_monthactivity_gatheringindex', {'l':6}) }}">抱团大作战</a>活动，最高可瓜分<strong>2,888,888</strong>米粒，该页面使用活动原则代替返利原则。
           </div>
            <div class="taobaoSearch"> {{ render(controller('JiliFrontendBundle:Taobao:searchBox' ) ) }} </div>
            <div id="tabs"> 
                <ul class="ltab clearfix">
                    {% for item in categorys %}
                    <li id="{{item.id}}"><a href="javascript:void(0);">{{item.categoryName}}</a></li>
                    {% endfor %}
                </ul>
                <div class="taobaoCon">
                	<div class="taoMainCon"></div>
                </div>
                <div style="display:none" id="loading_bar">
                	<img class="loading" src="{{ asset('images/taobao/progressBar.gif')}}" alt="加载中"/>
                    <img class="closeGif" src="{{ asset('images/taobao/baoxiang.gif')}}" alt="未打开宝箱动画"/>
                    <img class="openGif" src="{{ asset('images/taobao/baoxiang1.gif')}}" alt="宝箱打开动画"/>
                </div>
            </div>
        </div>
        <div class="itemR">
            <div class="rPt"> {{ render(controller('JiliFrontendBundle:Taobao:item' ) ) }} </div>
            <div class="rMall"> {{ render(controller('JiliFrontendBundle:Taobao:shop' ) ) }} </div>
        </div>
    </div>
    <div class="taoNewGuide"><div class="guideGif"></div><span class="guideClose"></span><span class="iKnow"></span></div>
    <div class="taoNewGuideMask"></div>
    <script>
		(function($){
			if(!$.cookie("fistShowFlag")){
				$('.taoNewGuide').show();
				$('.taoNewGuideMask').show();
			}
			$.cookie("fistShowFlag", true,{expires:100});
		})(jQuery);
	</script>
    
    <div class="toTop" id="toTop"><img src="{{ asset('images/taobao/toTop.gif')}}" /></div>
    
{% include "JiliFrontendBundle::alimama.html.twig" with { pid:"mm_49376465_4372428_26502700" } %}

</div>
{% endblock %}

{% block body_bottom %}

{% endblock %}
