<dl class="discover">
    <dt class="pt">发现<span class="corBO">好东西</span></dt>
    <dd class="pl">
        <ul>
            {% for item in items %}
            <li>{{item.content}}</div></li>
            {% endfor %}
            <li><img src="{{ asset('images/taobao/product.png')}}" width="224" height="305"/></li>
            <li><img src="{{ asset('images/taobao/product.png')}}" width="224" height="305"/></li>
            <li><img src="{{ asset('images/taobao/product.png')}}" width="224" height="305"/></li>
            <li><img src="{{ asset('images/taobao/product.png')}}" width="224" height="305"/></li>
        </ul>
        <!--<ul>
            <li><a data-type="0" biz-itemid="41318694671" data-tmpl="230x312" data-tmplid="4" data-rd="2"
                   data-style="2" data-border="0"
                   href="http://item.taobao.com/item.htm?spm=a230r.1.14.1.Mki4nb&id=41318694671&ns=1&_u=g1orq4dt7453#detail"></a>
            </li>
            <li><a data-type="0" biz-itemid="40541468322" data-tmpl="230x312" data-tmplid="4" data-rd="2"
                   data-style="2" data-border="0"
                   href="http://detail.tmall.com/item.htm?spm=a230r.1.14.10.yd8AjG&id=40541468322&_u=g1orq4dtaaf9"></a>
            </li>
            <li><a data-type="0" biz-itemid="41151571757" data-tmpl="230x312" data-tmplid="4" data-rd="2"
                   data-style="2" data-border="0"
                   href="http://item.taobao.com/item.htm?spm=a230r.1.14.19.nMfIV5&id=41151571757&ns=1&_u=g1orq4dt1d5b#detail"></a>
            </li>
            <li><a data-type="0" biz-itemid="17781262396" data-tmpl="230x312" data-tmplid="4" data-rd="2"
                   data-style="2" data-border="0"
                   href="http://detail.tmall.com/item.htm?spm=a230r.1.14.20.5B0m0M&id=17781262396&_u=g1orq4dtdc74"></a>
            </li>
        </ul>-->
    </dd>
</dl>