{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}出错啦{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSurvey.html.twig' %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon qnEnd">
        <div class="qnEndTxt">
            {# ログインしていない場合 #}
            {% if errors.panelist_is_not_authenticated is defined and errors.panelist_is_not_authenticated %}
            <div class="txt"><h2>亲爱的用户！您好！</h2>请您先登录您的账户再访问此页。<a class="backBtn" href="{{ path('_homepage') }}">返回首页</a></div>
            {# 既に回答済み・未配信などで 回答権利をもっていない場合  #}
            {% elseif errors.panelist_has_already_answered is defined and errors.panelist_has_already_answered %}
            <div class="txt"><h2>亲爱的用户！您好！</h2>您已经成功接受了本次调查项目的邀请。<br>请耐心等候1-2日，新的调查即将到来！<a class="backBtn" href="{{ path('_homepage') }}">返回首页</a></div>
            {# その他 #}
            {% elseif errors.custom_message is defined %}
            <div class="txt sad"><h2>亲爱的用户！您好！</h2>{{ errors.custom_message }}<a class="backBtn" href="{{ path('_homepage') }}">返回首页</a></div>
            {% endif %}
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}