{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷开始：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSimpleQ.html.twig' %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon">
        <div class="qnTxt">
           <div class="permissionMain">
              <div class="prmTit">
                <div class="left">
                    <h1><span>SSI问卷</span>调查邀请函</h1>
                    <p>友情提示</p>
                </div>
                <div class="right prmIco">
                </div> 
              </div>
              <div class="prmState">如果您想获得更多的问卷调查的机会，您可以加入SSI市场调查活动。您不仅可以继续保持91问问的会员身份，而且可以获得更多的回答问卷的机会。如果您同意加入SSI市场调查活动，我们需要您提供您的属性信息。(您还是91问问的会员，不需要成为SSI的会员) 
                如果您同意，我们会将您的一部分属性信息分享给SSI，可能会用于匹配对比其他来源信息，而这些属性信息无法识别您本人，仅用于问卷邀请和数据验证目的。
                <a href="http://www.surveysampling.com/" target="_blank" class="SSILink">SSI公司网站（英文版）</a>
              </div>
              <div class="prmPrompt">
                我们将不会泄露以下任何信息，如：您的姓名,您的电子邮件,您的密码,您的住址,您的电话号码。<br>
                注册后，您可以随时和我们的客服联系退出SSI市场调查。<br>
                如果您选择了是，那么您将会被导向SSI属性问卷页面。
              </div>
              <form action="{{ path('_ssi_partner_commit') }}" method="post" style="margin:20px 0 0 0;" id="ssi_permission_form">
                <div style="width:470px; height:30px; margin:0 auto;">
                  <p style="width:240px; float:left; ">
                    <input style="vertical-align: -2px;" type="radio" name="SsiPartnerPermission[permission_flag]" id="permission-ok" value="1" />
                    <label for="permission-ok" style="font-size:86%;"> 是，我同意并愿意完成SSI属性问卷 </label>
                  </p>
                  <p style="float:left; margin:0 0 0 10px;">
                    <input style="vertical-align: -2px;" type="radio" name="SsiPartnerPermission[permission_flag]" id="permission-ng" value="0" />
                    <label for="permission-ng" style="font-size:86%;"> 否，我不愿意加入SSI市场调查活动 </label>
                  </p>
                </div>
                <div class="prmError">{{ form_errors(form.permission_flag) }}</div>
                <div class="prmBtn">
                  <input type="image" alt="发送" src="{{ asset('img/questionnaire/send.jpg') }} "  />
                </div>
                <div style="display: none;">{{ form_widget(form.token) }}</div>
              </form>
          </div>
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Questionnaire:_footer.html.twig' %}
</div>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}