{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}高积分问卷邀请函{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSurvey.html.twig' %}
{% endblock %}

{% block body %}
<div class="qnWrap">
    <div class="qnCon">
        <div class="qnTxt">
           <div class="permissionMain">
              <div class="prmTit">
                <div class="left">
                    <h1><span>高积分问卷</span>调查邀请函</h1>
                    <p>友情提示</p>
                </div>
                <div class="right prmIco">
                </div> 
              </div>
              <div class="prmState">想要获得更多问卷吗，您可以加入高积分市场调查活动，以此获得更多回答问卷的机会。
              </div>
              <ul class="prmPrompt">
                <li>我们将不会泄露以下任何信息，如：您的姓名,您的电子邮件,您的密码,您的住址,您的电话号码。</li>
                <li>您可以随时和我们的客服联系退出该活动。</li>
                <li>如果您选择了是，马上就有一份简单的问卷在等您。</li>
              </ul>
              <form action="{{ path('_ssi_partner_commit') }}" method="post" id="ssi_permission_form">
                <div class="ssi-permission clearfix">
                  <p>
                    <input type="radio" name="SsiPartnerPermission[permission_flag]" id="permission-ok" value="1" />
                    <label for="permission-ok"> 是，我愿意参加 </label>
                  </p>
                  <p>
                    <input type="radio" name="SsiPartnerPermission[permission_flag]" id="permission-ng" value="0" />
                    <label for="permission-ng"> 否，我不愿意 </label>
                  </p>
                </div>
                <div class="prmError">{{ form_errors(form.permission_flag) }}</div>
                <div class="prmBtn">
                  <input type="image" alt="发送" src="{{ asset('img/questionnaire/send.jpg') }} "  />
                </div>
                <div style="display: none;">{{ form_widget(form.token) }}</div>
              </form>
          </div>
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
</div>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}