{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}高积分问卷邀请函{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <div class="main-con">
                <div class="qnWrap">
                    <div class="qnCon">
                        <div class="prmTit row">
                          <div class="col-xs-8 col-sm-8">
                              <h1><span>S市场调查项目</span>邀请函</h1>
                          </div>
                          <div class="col-xs-4 col-sm-4 prmIco"><img class="img-responsive pull-right" src="{{ asset('img/questionnaire/prmIco.png') }}"></div> 
                        </div>
                        <div class="prmState">想要问卷答不停吗，您可以加入S市场调查项目，获得更多回答问卷的机会。
                        </div>
                        <ul class="prmPrompt well">
                          <li>请完成一份非常简单的调查问卷。</li>
                          <li>不需要任何个人联系信息。</li>
                          <li>您可以随时和我们的客服联系退出该活动。</li>
                        </ul>
                        <form action="{{ path('_ssi_partner_commit') }}" method="post" id="ssi_permission_form">
                          <div class="prmBtn">
                            <input type="image" alt="发送" src="{{ asset('img/questionnaire/send.jpg') }} "  />
                          </div>
                          <div style="display: none;">{{ form_widget(form.token) }}</div>
                        </form>
                    </div>
                    {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
                </div>
              </div>
          </div>
      </div>
  </div>      
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}