{% if isChecked defined and isChecked == true %}
<div>
    你已经提交过
</div>
{% else %}

{% if form is defined %}
<form action="{{ path('jili_api_monthactivity_gatheringsavetaobaoorder') }}" method="POST">
    {{ form_label(form.orderIdentity)}}
    {{ form_widget(form.orderIdentity)}}
    {{ form_errors(form.orderIdentity)}}

    {{ form_rest(form)}}
    <input type="submit" value="提交" />
</form>
{% endif %}
{% endif %}

