{% extends 'JiliApiBundle::header.html.twig' %}
{% block title %}积粒网-兑换中心{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personalAside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/exchange.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	// $("div .btnArea a").attr("disabled", "disabled");
	$("#amazonBtn").click(function(){
        return false;
		$('#exchangeForm').attr("action", "{{ path('_exchange_amazonInfo') }}"); 
		$("#exchangeForm").submit();
	});
	$("#alipayBtn").click(function(){
		alipayClick();
	});
	$("#mobileBtn").click(function(){
		$('#exchangeForm').attr("action", "{{ path('_exchange_mobileInfo') }}"); 
		$("#exchangeForm").submit();
	});
});
function alipayClick(){
	$.ajax({
          url: "{{ path('_exchange_issetIdent') }}",
          post: "GET",
          success:function(data){
              if(data==1){
                $('#exchangeForm').attr("action", "{{ path('_exchange_alipayInfo') }}"); 
				$("#exchangeForm").submit();
              }else{
              	$('#exchangeForm').attr("action", "{{ path('_exchange_identityCardComfirm',{'type': 'alipay'}) }}"); 
              	$("#exchangeForm").submit();
              }
          }
        });	
}
</script>
{% endblock %}
{% block body %}
<div class="webArticle exchange">
<form method="post" name="exchangeForm" id="exchangeForm">
	<div class="about">
    	<div class="historyView">
         <p>你可以将“米粒”兑换成<span class="corLightRed">手机费、支付宝现金、亚马逊礼品卡.....</span></p>
            <a class="historyExchange" href="http://www.91jili.com/user/exchange/0/1"><strong>查看我的兑换历史</strong></a>
        </div>
		<div class="exchangeWay">
        	<div class="mobileWay">
            	<h4 class="corLightRed font22">手机充值</h4>
                <p>用积分为手机充值，<strong class="corLightRed">2010</strong>米粒起兑</p>
                <a class="exchangeBtn" id="mobileBtn">立即兑换</a>
            </div>
            <div class="amazonWay">
            	<h4 class="corLightRed font22">兑换亚马逊礼品卡</h4>
                <p>用积分兑换亚马逊礼品卡，<strong class="corLightRed">2000</strong>米粒起兑</p>
                <a class="exchangeBtn amazonBtn" id="amazonBtn">暂时关闭</a>
            </div>
            <div class="alipayWay">
            	<h4 class="corLightRed font22">支付宝兑换现金</h4>
                <p>用积分通过支付宝直接兑换成现金，<br/><strong class="corLightRed">2050</strong>米粒起兑</p>
                <a class="exchangeBtn" id="alipayBtn">立即兑换</a>
            </div>
            <div class="morePrizes">
            	<h4>更多奖品，敬请期待</h4>
                <p>给到的，一定超乎想象……</p>
            </div>
        </div>
	<input type="hidden" value="btn" name="btn">
	<input type="hidden" value="{{ key }}" name="tokenKey" />
	</div>
</form>
</div>
{% endblock %}
