<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-兑换中心</title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personalAside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/exchange.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("div .btnArea a").attr("disabled", "disabled");
});
</script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle exchange">
<div class="about"><img src="{{ asset('images/exchange.jpg')}}" width="875" height="640" usemap="#Map">
      <map name="Map">
        <area shape="rect" coords="661,618,759,637" href="https://www.91wenwen.net/signup/profile" target="_blank">
      </map>
 </div>
    <div class="btnArea"><a href="{{ path('_exchange_info') }}"><img src="{{ asset('images/exchangeBtn.jpg')}}"></a></div>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>

