<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-兑换中心</title>
{% include 'JiliApiBundle::seo.html.twig' %}
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personalAside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/exchange.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("div .btnArea a").attr("disabled", "disabled");
});
</script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle exchange">
	<div class="about">
	<a class="historyExchange" href="{{  asset(path('_user_exchange',{'type': 0,'exchangeType':1}),'cdn1') }}"></a>
	<a class="exchangeBtn wenwen" href="{{ path('_exchange_info') }}">立即兑换</a>
	<!--<a class="await mobiel">即将开放</a>-->
	<a class="exchangeBtn amazonBtn" href="{{ path('_exchange_identityCardComfirm',{'type': 'amazon'}) }}">立即兑换</a>
	<a class="await alipayBtn">即将开放</a>
	<a class="exchangeBtn mobileBtn" href="{{ path('_exchange_identityCardComfirm',{'type': 'mobile'}) }}">立即兑换</a>

	<img src="{{ asset('images/exchangeContent.jpg')}}" width="813" height="270"><img src="{{ asset('images/exchangeFuture.jpg')}}"></div>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>