<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-兑换91问问积分</title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personalAside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/exchange.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#active").hide();
	if($("#over").html()<0){
		$("#active").hide();
		}
	$("#ck").click(function(){
		if($("#ck").attr("checked")){
			if($("#over").html()<0){
				$("#active").hide();
				$("#unactive").show();
				}else{
					$("#unactive").hide();
		    		$("#active").show();
				}
		}else{
			$("#active").hide();
			$("#unactive").show();
	    }
	});
    
});

function change(){
		if($("#over").html()>=0)
			$("#form1").submit();
}
function changePoint(){
	var total = $("#point").val()*500;
	var over = {{ points }} - total;
	$("#rechange").html(total);
	$("#over").html(over);
	if($("#over").html()<0){
		$("#active").hide();
		$("#unactive").show();
	}else{
		if($("#ck").attr("checked")){
			$("#unactive").hide();
    		$("#active").show();
		}
		
	}
}
</script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle exchange">
<form action="{{ path('_exchange_info') }}" method="post" id="form1">
  <h2><span><img src="{{ asset('images/exchangeMessage.gif')}}" alt="兑换信息"></span></h2>
  <aside>
   {% include 'JiliApiBundle:User:rightInfo.html.twig' %}
  </aside>
  <article>
    <div class="wenwen">
      <div class="form">
       {% if user.wenwenUser %}
        <dd>您的91问问账号：</dd>
        <dt>
          {{ user.wenwenUser }}
          <input name="ck" id="ck" type="checkbox" value="1">
                              确定
         </dt>
       {% else %}
       <dd>您的91问问账号：</dd>
        <dt>
          <input name="wenwen" type="text">
          <input name="ck" id="ck" type="checkbox" value="1" >
          确定<br />
          <span class="warn">该账号将在第一次兑换成功后与您的积粒网账号自动绑定</span><br />
          <span class="account">还没有91问问账号？</span><a href="https://www.91wenwen.net/signup/profile" target="_blank">点这里去注册 >></a></dt>
       {% endif %}
       
      </div>
      <div class="form">
        <dd>选择兑换的积分：</dd>
        <dt><img src="{{ asset('images/91wenwenCard.jpg')}}" width="79" height="44"> *
          <select id="point" name="point"  onclick="changePoint();">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          = <span>500</span> 91问问积分</dt>
      </div>
      <div class="changePoint mt50">本次充值所需米粒：<span id="rechange">500</span></div>
      <div class="changePoint">兑换后剩余米粒：<span id="over">{{ points-500 }}</span></div>
      <div><span>
      {% if code==1 %}
     <font color='red'>请输入91问问账号</font>
     {% elseif code==2 %}
     <font color='red'>91问问账号为邮件格式</font>
      {% elseif code==3 %}
     <font color='red'>已成功兑换，等待账号绑定</font>
     {% else %}
     {% endif %}
     </span></div>
      <div class="btnArea mt50"><img id="active" onclick="change();" src="{{ asset('images/changeEnterBtn.jpg')}}" width="175" height="60">
      <img id="unactive" src="{{ asset('images/changeEnterBtn_unactive.jpg')}}" width="175" height="60"></div>
    </div>
  </article>
  </form>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>

