{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-兑换手机费{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personalAside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/exchange.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var existMobile = "{{ existMobile }}";
$(document).ready(function() {
  {% if existMobile %}
    $(".form dd:eq(1)").hide();
    $(".form dd:eq(2)").hide();
    $(".form dt:eq(1)").hide();
  {% else %}
    $(".form dd:eq(0)").hide();
  {% endif %}
  $(".otherUser").click(function (){
    $("#existMobile").val('1');
    $(".form dd:eq(0)").hide();
    $(".form dd:eq(1)").show();
    $(".form dd:eq(2)").show();
    $(".form dt:eq(1)").show();
  })
	if($("#over").html()<0){
		$("#active").hide();
    $("#unactive").show();
		}else{
      $("#active").show();
      $("#unactive").hide();
    }

});
function change(){
		if($("#over").html()>=0){
      var filter = /^1\d{10}$/;
      if(existMobile=='' || $("#existMobile").val()!=''){
        if($("#mobile").val()==''){
            $("#error").html("<font color='red'>请输入您的手机号码</font>");
            return false;
        }
        if(!filter.test($("#mobile").val())){
            $("#error").html("<font color='red'>输入的手机格式不正确</font>");
            return false;
        }
        if($("#mobile").val()!=$("#re_mobile").val()){
          $("#error").html("<font color='red'>2次输入的手机号码不相同</font>");
          return false;
        }
      }
      var exchange_total = $(".rechange").html();
      $('#changes').val(exchange_total);
			$("#form1").submit();
    }
}
function changePoint(){
	var total = $("#point").val();
	var over = {{ points }} - total;
	$(".rechange").html(total);
  $(".rechangeMi").html(total);
	$("#over").html(over);
	if($("#over").html()<0){
		$("#active").hide();
		$("#unactive").show();
	}else{
    $("#active").show();
    $("#unactive").hide();
  }
}
</script>
{% endblock %}
{% block body %}
<div class="webArticle exchange">
<form action="{{ path('_exchange_mobileInfo') }}" method="post" id="form1">
  <h2><span class="font18 corLightRed crumbTit">兑换信息</span></h2>
  <aside>
   {% include 'JiliApiBundle:User:rightInfo.html.twig' %}
  </aside>
  <article>
    <div class="wenwen">
      <dl class="form">
        <dt>手机号码：</dt>
        <dd>{{ existMobile }} <a class="otherUser">使用其他号码</a></dd>
        <dd><input type="text" id="mobile" name="mobile" value="{{ mobile }}" /></dd>
        <dt>再次输入号码：</dt>
        <dd><input type="text" id="re_mobile" name="re_mobile" /></dd>
        <dt>选择兑换金额：</dt>
        <dd><select id="point" name="point"  onchange="changePoint();">
            <option value='2010'>20元</option>
            <option value='2995'>30元</option>
            <option value='4960'>50元</option>
          </select>
         = <span  class="rechange">2010</span> 米粒</dd>
      </dl>
      <input type="hidden" name="existMobile" id="existMobile"/>
      <input type="hidden" name="rechange" id="changes"/>
      <div class="changePoint mt50">本次充值所需米粒：<span class="rechangeMi">2010</span></div>
      <div class="changePoint">兑换后剩余米粒：<span id="over">{{ points-2010 }}</span></div>
      <div><span id='error' style="color:red">{{code}}</span></div>
      <div class="btnArea mt50">
      <a class="fontYH font18" id="active" onclick="change();">提交</a>
      <a class="fontYH font18" id="unactive">提交</a>
    </div>
  </article>
  <input type="hidden" value="{{ tokenKey }}" name="tokenKey" />
  </form>
</div>
{% endblock %}

