{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block body %}
<div class="tips">
    注：不选择时间，默认取今天的数据。<br>
    购物返利场合<br>
    status 1：订单开始&nbsp;&nbsp; 2：确认中&nbsp;&nbsp; 3：成功(已完成)&nbsp;&nbsp; 4：失败(已拒绝)
</div>
<form action="{{ path('_admin_addPointSearch')}}" method="post" id="form1" >
    <div class="text-center search">
        <label for="category_id">任务类型:</label>
        <select id="category_id" name="category_id">
            <option value="0">请选择</option>
            {% for item in categoryList %}
            <option value="{{ item.id }}" {% if item.id==category_id %} selected="selected" {% endif %}>{{ item.id }}-{{ item.categoryName }}{{ item.asp }}{{ item.displayName }}</option>
            {% endfor %}
        </select>
        <label for="user_id">user id:</label>
        <input type="text" id="user_id" name="user_id" value="{% if user_id %}{{ user_id }}{% endif %}" size="10" /> 
        <label for="email">email:</label>
        <input type="text" id="email" name="email" value="{% if email %}{{ email }}{% endif %}" size="30" /><label for="start">开始时间:</label>
        <input id="start" name="start_time" value="{% if start %}{{ start }}{% endif %}" size="18" maxlength="60" readonly="readonly" onClick="WdatePicker()" class="Wdate" style="cursor:pointer" />
        <label for="end">结束时间:</label>
        <input name="end_time" id="end" value="{% if end %}{{ end }}{% endif %}" size="18" maxlength="60" readonly="readonly" onClick="WdatePicker()" class="Wdate" style="cursor:pointer" />
        <input class="btn btn-primary" type="button" id="select" name="select" value="查 询" />
    </div>
</form>
<table class="list">
    <tr>
        <th>user id</th>
        <th>email</th>
        <th>point</th>
        <th>task name</th>
        <th>category type</th>
        <th>task type</th>
        <th>time</th>
        <th>status</th>
    </tr>
    {% if pagination %} {% for item in pagination %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.point }}</td>
        <td>{{ item.task_name }}</td>
        <td>{{ item.category_type }}</td>
        <td>{{ item.task_type }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.status }}</td>
    </tr>
    {% endfor %} {% endif %}
</table>
{{ knp_pagination_render(pagination) }} 
{% endblock %} 

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    $("#select").click(function() {
        window.location.href = "{{ path('_admin_addPointSearch') }}?start=" + $('#start').val() + "&end=" + $('#end').val() + "&category_id=" + $('#category_id').val() + "&email=" + $('#email').val() + "&user_id=" + $('#user_id').val();
    })
});
</script>
{% endblock %}
