<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<LINK href="{{ asset('css/calendar.css')}}" type=text/css rel=stylesheet>
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<SCRIPT src="{{ asset('js/load.js')}}" type=text/javascript></SCRIPT>
<script src="{{ asset('js/My97DatePicker/WdatePicker.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/kindeditor/kindeditor.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#down").click(function (){
		if($('#time').val()!=''){	
			$("#form1").submit();
		}
	})
});
</script>
</HEAD>
<BODY>
<form action="http://192.168.1.235/jili/web/aws.php" method="post" id="form1" >
<table align='center'>
<tr><td></td></tr>
<tr><td>选择时间:<input name="start_time"  id="time" value="" size="26" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/>
&nbsp;<input type="button" id="down" name="down" value="下 载"/></td></tr>
</table>
</form>
</BODY></HTML>
