<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<LINK href="{{ asset('css/calendar.css')}}" type=text/css rel=stylesheet>
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<SCRIPT src="{{ asset('js/load.js')}}" type=text/javascript></SCRIPT>
<script src="{{ asset('js/My97DatePicker/WdatePicker.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/kindeditor/kindeditor.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#button").click(function (){
      var html='';
      $.ajax({
            url: "{{ path('_businessActivity_getAdver') }}?name="+$("#adverName").val(),
            post: "GET",
            success:function(data){
              if(data){
              var obj = eval(data);
              for(var i=0;i<obj.length;i++){ 
                  html += "<option value='"+obj[i]['id']+"' >"+obj[i]['name']+"</option>";                 
              }
              $("#actId").html(html); 
              }    
            }
        });
  })  
    
});
    KE.show({
        id : 'info'
    });
    KE.show({
        id : 'rule'
    });

</script>
</HEAD>
<BODY>
<form action="{{ path('_admin_editBusinessActivity',{'id':business.id}) }}" method="post" id="form1" {{ form_enctype(form) }} >
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>
    {% if code %}
        <font color='red'>{{ code }}</font>
    {% else %}
        {% if codeflag==1 %}
        <font color='red'>都为必填项</font>
        {% else %}
        &nbsp;
        {% endif %}
    {% endif %}
</td></tr>
<tr><td>活动标题:</td><td><input type="text" name="businessname" size='50' value="{{ business.businessName  }}"/></td></tr>
<tr><td>活动商家名:</td><td>
<select name="actId" id="actId">
  {% for item in adver %}
   <option value="{{ item.id }}" {% if business.aid == item.id %} selected = "selected" {% endif %}>{{ item.title }}</option>
  {% endfor %}
</select>&nbsp;关键字搜索<input type="text" name="adverName" id="adverName" /><input id="button" type="button" name="search" value="搜 索" /></td></tr>

<tr><td>活动分类名:</td><td>
{% for item in actCategory %}
<input type="checkbox"  name="category[]" value="{{ item.id }}" {% if newCategory %}{% for i in newCategory %} {% if i ==item.id %} checked = "checked" {% endif %}{% endfor %}{% endif %}>{{ item.category }}
{% endfor %}
</td></tr>
<tr><td>活动链接:</td><td><input type="text" name="url" size='100' value="{{ business.activityUrl  }}"/></td></tr>
<tr><td>活动有效期:</td><td><input name="start_time" value="{{ business.startTime.date | date('Y-m-d') }}" size="26" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/>
&nbsp;到&nbsp;<input name="end_time" value="{{ business.endTime.date | date('Y-m-d') }}" size="26" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/></td></tr>
<tr><td>活动图片:(470X200)</td><td><img src="{{ asset(business.activityImage) }}"/>{{ form_widget(form.actImage) }}(不传为原来的图片)</td></tr>

<tr><td>&nbsp;</td><td><input type="submit" name="add" value="提 交"/></td></tr>
</table>
</form>
</BODY></HTML>


