<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=utf8">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<link href="{{ asset('css/pageNav.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/lib/jquery-1.11.1.min.js')}}" type="text/javascript"></script>
<SCRIPT src="{{ asset('js/plugin/load.js')}}" type=text/javascript></SCRIPT>
<script src="{{ asset('js/plugin/My97DatePicker/WdatePicker.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/kindeditor/kindeditor.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#select").click(function (){
      window.location.href="{{ path('_admin_exchangeCsvWen') }}?start="+$('#start').val()+"&end="+$('#end').val();
  })
});
</script>
</HEAD>
<BODY>
<form action="{{ path('_admin_exchangeCsvWen')}}" method="post" id="form1"}} >
<table align="center" width="1024">
<tr><td colspan="7">&nbsp;</td></tr>
<tr><td colspan="7">&nbsp;</td></tr>
<tr><td colspan="7" align="center">兑换开始时间:<input id="start" name="start_time" value="{% if start %}{{ start }}{% endif %}" size="18" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/>
&nbsp;兑换结束时间:<input name="end_time" id="end" value="{% if end %}{{ end }}{% endif %}" size="18" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/>&nbsp;
<input type="button" id="select" name="select" value="查 询"/>&nbsp;<input type="submit" id="add" name="add" value="导出兑换数据"/></td></tr>
<tr><td colspan="7">&nbsp;</td></tr>
  </table>
<table align="center" width="1024" class="list">
    	<tr>
        	  <th>兑换id</th>
            <th>兑换账号</th>
            <th>Cross Id</th>
            <th>兑换物品</th>
            <th>兑换米粒</th>
            <th>兑换状态</th>
            <th>失败理由</th>
            <th>完成时间</th>
        </tr>
        {% if pagination %}
         {% for item in pagination %}
        <tr>
          <td align="center">{{ item.wenwenExchangeId }}</td>
          <td align="center">{{ item.email }}</td>
          <td align="center">{{ item.userWenwenCrossId }}</td>
           <td align="center">{{ item.paymentPoint/100 }}</td>
          <td align="center">{{ item.paymentPoint }}</td>
          <td align="center">{% if item.status==1 %}ok{% else %}ng{% endif %} </td>
           <td align="center">{{ item.reason }}</td>
            <td align="center">{{ item.createTime.date | date('Y-m-d H:i:s') }}</td>
        </tr>
         {% endfor %}
         {%  endif %}
    </table></form>
    {{ knp_pagination_render(pagination) }}

</BODY></HTML>


