<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<script type="text/javascript">
function quit(){
	if (confirm('确定要退出吗？')){
		parent.window.location="{{ path('_admin_login') }}";
		return true; 
	} 
	else 
		return false;
}
</script>
</HEAD>
<BODY>
<TABLE cellSpacing=0 cellPadding=0 width="100%" background="{{ asset('img/admin/header_bg.jpg')}}" border=0 class="header">
  <TR height=56>
    <TD width=260><IMG height=56 src="{{ asset('img/admin/header_left.jpg')}}" width=260></TD>
    <TD style="FONT-WEIGHT: bold; COLOR: #fff; PADDING-TOP: 20px" 
      align=middle>当前用户：admin &nbsp;&nbsp;  <A style="COLOR: #fff" 
      onclick="quit()";
      href="javascript:void(0);" target=_top>退出系统</A> 
    </TD>
    <TD align=right width=268><IMG height=56 src="{{ asset('img/admin/header_right.jpg')}}" width=268></TD></TR></TABLE>
</BODY></HTML>


