<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<link href="{{ asset('css/pageNav.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/lib/jquery-1.11.1.min.js')}}" type="text/javascript"></script>
</HEAD>
<BODY>
<table align="center" width="1024" class="list">
    	<tr>
            <th>活动分类名</th>
            <!--  <th>公告内容</th>-->
            <th>操作</th>
        </tr>
        {% if pagination %}
         {% for item in pagination %}
        <tr>
          <td align="center">{{ item.category }}</td>
          <td align="center"><a href="{{ path('_admin_editActivityCategory',{'id':item.id}) }}">编辑</a>&nbsp;&nbsp;
          <a href="{{ path('_admin_delActivityCategory',{'id':item.id}) }}" onclick="if (confirm('确定要删除吗？')) return true; else return false;">删除</a>
          </td>
        </tr>
         {% endfor %}
         {%  endif %}
    </table>
    {{ knp_pagination_render(pagination) }}

</BODY></HTML>


