{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block body %}
<p class="tips">注：默认开始时间为昨天</p>
<form action="{{ path('_admin_kpiDailyRR')}}" method="post" id="form1" >
    <div class="text-center search">
        <label for="kpiYMD">开始时间:</label>
        <input id="kpiYMD" name="kpiYMD" value="{% if kpiYMD %}{{ kpiYMD }}{% endif %}" size="18" maxlength="60" readonly="readonly" onClick="WdatePicker()" class="Wdate" style="cursor: pointer" /> &nbsp;&nbsp;
        <input class="btn btn-primary" type="button" id="select" name="select" value="查 询" />
    </div>
</form>
<h3 class="text-center">{{ kpiYMD }}</h3>
<table class="list">
    <tr>
        <th>RR_day</th>
        {% if kpi %} {% for item in kpi.rrday %}
        <td>{{ item }}</td>
        {% endfor %} {% endif %}
    </tr>
    <tr>
        <th>register_YMD</th>
        {% if kpi %} {% for item in kpi.registerYMD %}
        <td>{{ item|date("m/d") }}</td>
        {% endfor %} {% endif %}
    </tr>
    <tr>
        <th>register_user</th>
        {% if kpi %} {% for item in kpi.registerUser %}
        <td>{{ item }}</td>
        {% endfor %} {% endif %}
    </tr>
    <tr>
        <th>active_user</th>
        {% if kpi %} {% for item in kpi.activeUser %}
        <td>{{ item }}</td>
        {% endfor %} {% endif %}
    </tr>
    <tr>
        <th>RR</th>
        {% if kpi %} {% for item in kpi.rr %}
        <td>{{ item }}</td>
        {% endfor %} {% endif %}
    </tr>
</table>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
  $("#select").click(function (){
      window.location.href="{{ path('_admin_kpiDailyRR') }}?kpiYMD="+$('#kpiYMD').val();
  })
});
</script>
{% endblock %}