<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<SCRIPT language=javascript>
	function expand(el)
	{
		childObj = document.getElementById("child" + el);

		if (childObj.style.display == 'none')
		{
			childObj.style.display = 'block';
		}
		else
		{
			childObj.style.display = 'none';
		}
		return;
	}
</SCRIPT>
</HEAD>
<BODY>
<TABLE height="100%" cellSpacing=0 cellPadding=0 width=170 background="{{ asset('images/admin/menu_bg.jpg')}}" border=0>
  <TR>
    <TD vAlign=top align=middle>
      <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
        
        <TR>
          <TD height=10></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background={{ asset('images/admin/menu_bt.jpg')}}><A 
            class=menuParent onclick=expand(1) 
            href="javascript:void(0);">广告管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child1 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addAdver') }}" 
            target=main>添加广告</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoAdver') }}" 
            target=main>编辑广告</A></TD></TR>
        
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(2) 
            href="javascript:void(0);">广告位置管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
          
          
      <TABLE id=child2 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
       <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addPostion') }}" 
            target=main>添加广告位置</A></TD></TR>
            
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoPostion') }}" 
            target=main>广告位置编辑</A></TD></TR>
       
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(3) 
            href="javascript:void(0);">banner管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child3 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoBanner') }}" 
            target=main>banner编辑</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR>

        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addBanner') }}" 
            target=main>banner添加</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR>
          </TABLE>

      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(4) 
            href="javascript:void(0);">公告管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child4 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addCallboard') }}" 
            target=main>添加公告</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoCallboard') }}" 
            target=main>编辑公告</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addCbType') }}" 
            target=main>添加公告分类</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoCbType') }}" 
            target=main>编辑公告分类</A></TD></TR>

        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
          
           <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(5) 
            href="javascript:void(0);">成果网对接管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child5 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_importAdver') }}" 
            target=main>导入cpa数据</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR>

        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_importCpsAdver') }}" 
            target=main>导入cps数据</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR>


          </TABLE>
          
          
           <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(6) 
            href="javascript:void(0);">兑换信息管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child6 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>

        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_exchange_list') }}" 
            target=main>兑换信息导出</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_exchangeIn') }}" 
            target=main>兑换信息导入</A></TD></TR>

             <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_exchangeInWen') }}" 
            target=main>91问问积分列表导入</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_exchangeCsvWen') }}" 
            target=main>91问问积分列表导出</A></TD></TR>


        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>

          <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(7) 
            href="javascript:void(0);">游戏api测试</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child7 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_gameAd') }}" 
            target=main>点击广告测试</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_game') }}" 
            target=main>游戏测试</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>


 <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(8) 
            href="javascript:void(0);">广告api测试</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child8 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_adwAd') }}" 
            target=main>ADW-CPS广告</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('jili_backend_analogchanet_cpa') }}" 
            target=main>ADW-CPA广告</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('jili_backend_analogofferwow_api') }}" 
            target=main>Offer-Wow广告</A></TD></TR>
       </TABLE>

       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(9) 
            href="javascript:void(0);">会员数查询</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child9 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_selectUser') }}" 
            target=main>会员数查询</A></TD></TR>

       </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(10) 
            href="javascript:void(0);">会员返利设置</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child10 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_rewardRate') }}" 
            target=main>会员返利设置</A></TD></TR>

       </TABLE>


       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(11) 
            href="javascript:void(0);">站内信设置</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child11 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_sendCb') }}" 
            target=main>发送公告</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoCb') }}" 
            target=main>公告管理</A></TD></TR>
      
           <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_sendMs') }}" 
            target=main>发送消息</A></TD></TR>

             <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 0}) }}" 
            target=main>消息管理00</A></TD></TR>

         <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 1}) }}" 
            target=main>消息管理01</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 2}) }}" 
            target=main>消息管理02</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 3}) }}" 
            target=main>消息管理03</A></TD></TR>
            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 4}) }}" 
            target=main>消息管理04</A></TD></TR>
            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 5}) }}" 
            target=main>消息管理05</A></TD></TR>
            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 6}) }}" 
            target=main>消息管理06</A></TD></TR>
            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 7}) }}" 
            target=main>消息管理07</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 8}) }}" 
            target=main>消息管理08</A></TD></TR>
             <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoMs',{'id': 9}) }}" 
            target=main>消息管理09</A></TD></TR>

       </TABLE>

       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(12) 
            href="javascript:void(0);">返利活动管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child12 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
           <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('rebate_activity_admin_retrieve') }}" 
            target=main>查看全部活动</A></TD></TR>


           <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('jili_backend_rebateactivity_caculator') }}" 
            target=main>积分计算器</A></TD></TR>

    </TABLE>

       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(13) 
            href="javascript:void(0);">商家活动管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child13 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
      
           <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addActivityCategory') }}" 
            target=main>添加活动分类</A></TD></TR>

             <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoActivityCategory',{'id': 0}) }}" 
            target=main>编辑活动分类</A></TD></TR>

         <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addBusinessActivity',{'id': 1}) }}" 
            target=main>添加活动</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoBusinessActivity',{'id': 2}) }}" 
            target=main>编辑活动</A></TD></TR>  

              <TR height=4>
          <TD colSpan=2></TD></TR>

       </TABLE>


       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(14) 
            href="javascript:void(0);">签到管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child14 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
      
           <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addCheckinShop') }}" 
            target=main>添加商店</A></TD></TR>

             <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoCheckinShop') }}"
            target=main>编辑商店</A></TD></TR>

             <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_addCheckinPointTimes') }}"
            target=main>设置积分倍数</A></TD></TR>

            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_infoCheckinPointTimes') }}"
            target=main>编辑积分倍数</A></TD></TR>

              <TR height=4>
          <TD colSpan=2></TD></TR>

       </TABLE>


       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(15) 
            href="javascript:void(0);">名片录力管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child15 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>

      <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_downCardList') }}" 
            target=main>下载csv文件</A></TD></TR>   
              <TR height=4>
          <TD colSpan=2></TD></TR>

        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_awsCsvList') }}" 
            target=main>csv文件列表</A></TD></TR>   

              <TR height=4>
          <TD colSpan=2></TD></TR>

      
           <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_awsDayCsc') }}" 
            target=main>获取名片列表</A></TD></TR>   

              <TR height=4>
          <TD colSpan=2></TD></TR>

          <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_giveCardPoint') }}" 
            target=main>发放名片积分</A></TD></TR>   

              <TR height=4>
          <TD colSpan=2></TD></TR>

          <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_cardInfo') }}" 
            target=main>查看用户名片积分</A></TD></TR>   

              <TR height=4>
          <TD colSpan=2></TD></TR>


       </TABLE>
       
       <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}"><A 
            class=menuParent onclick=expand(16) 
            href="javascript:void(0);">体验广告检查管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=child16 style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>

      <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
          <TD><A class=menuChild 
            href="{{ path('_admin_advertisermentCheck') }}" 
            target=main>体验广告检查</A></TD></TR>   
              <TR height=4>
          <TD colSpan=2></TD></TR>

       </TABLE>
         
          
      </BODY></HTML>
    


