<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<SCRIPT language=javascript>
	function expand(el)
	{
		childObj = document.getElementById("child" + el);

		if (childObj.style.display == 'none')
		{
			childObj.style.display = 'block';
		}
		else
		{
			childObj.style.display = 'none';
		}
		return;
	}
</SCRIPT>
</HEAD>
<BODY>
<TABLE height="100%" cellSpacing=0 cellPadding=0 width=170 background="{{ asset('img/admin/menu_bg.jpg')}}" border=0 class="menu">
    <TR>
        <TD vAlign=top align=middle>
        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0 class="first">
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background={{asset('img/admin/menu_bt.jpg')}}>
                    <A class=menuParent onclick=expand(1) href="javascript:void(0);">广告管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child1 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addAdver') }}" target=main>添加广告</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_infoAdver') }}" target=main>编辑广告</A></TD>
            </TR>
        </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(2) href="javascript:void(0);">广告位置管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child2 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addPostion') }}" target=main>添加广告位置</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_infoPostion') }}" target=main>广告位置编辑</A></TD>
            </TR>
        </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(3) href="javascript:void(0);">banner管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child3 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_infoBanner') }}" target=main>banner编辑</A></TD>
            </TR>
        </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(4) href="javascript:void(0);">公告管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child4 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addCallboard') }}" target=main>添加公告</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_infoCallboard') }}" target=main>编辑公告</A></TD>
            </TR>
        </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(5) href="javascript:void(0);">成果网对接管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child5 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_importCpsAdver') }}" target=main>导入cps数据</A></TD>
            </TR>
        </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(6) href="javascript:void(0);">兑换信息管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child6 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_exchange_list') }}" target=main>兑换信息导出</A></TD>
            </TR>

            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_exchangeIn') }}" target=main>兑换信息导入</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(9) href="javascript:void(0);">会员管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child9 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_selectUser') }}" target=main>会员数查询</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_member') }}" target=main>会员查询编辑</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(13) href="javascript:void(0);">商家活动管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child13 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addBusinessActivity',{'id': 1}) }}" target=main>添加活动</A></TD>
            </TR>

            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_infoBusinessActivity',{'id': 2}) }}" target=main>编辑活动</A></TD>
            </TR>

        </TABLE>


        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(14) href="javascript:void(0);">签到管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child14 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>

            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addCheckinShop') }}" target=main>添加商店</A></TD>
            </TR>

        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(17) href="javascript:void(0);">紧急公告管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child17 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>

            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_emergencyAnnouncement') }}" target=main>紧急公告内容设定</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background={{asset('images/admin/menu_bt.jpg')}}>
                    <A class=menuParent onclick=expand(18) href="javascript:void(0);">Emar商家管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child18 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('admin_emarwebsitescroned') }}" target=main>同步列表</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('admin_emar_websites') }}" target=main>列表/编辑</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('admin_emar_websites_new') }}" target=main>添加</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background={{asset('img/admin/menu_bt.jpg')}}>
                    <A class=menuParent onclick=expand(19) href="javascript:void(0);">积分管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child19 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addPointManage') }}" target=main>手动增加积分</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_addPointSearch') }}" target=main>任务历史查询</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_pointHistorySearch') }}" target=main>积分历史查询</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background={{asset('img/admin/menu_bt.jpg')}}>
                    <A class=menuParent onclick=expand(20) href="javascript:void(0);">KpiDailyRR</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child20 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_kpiDailyRR') }}" target=main>KpiDailyRR</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background={{asset('img/admin/menu_bt.jpg')}}>
                    <A class=menuParent onclick=expand(21) href="javascript:void(0);">Emar API Cache</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child21 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('jili_emar_admincachepanel_index') }}" target=main>Manager Panel</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background={{asset('img/admin/menu_bt.jpg')}}>
                    <A class=menuParent onclick=expand(22) href="javascript:void(0);">EDM 退订</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child22 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_edm_unsubscribe_list') }}" target=main>EDM退订一览</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_edm_unsubscribe_add_index') }}" target=main>EDM退订添加</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(23) href="javascript:void(0);">体验广告管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child23 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('experience_ad_list') }}" target=main>体验广告编辑</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_bankend_addExperienceAdvertisement') }}" target=main>体验广告添加</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(24) href="javascript:void(0);">淘宝管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child24 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_taobao_component') }}" target=main>淘宝组件管理</A></TD>
            </TR>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('jili_backend_admintaobao_listpromotionselfproduct') }}" target=main>自助推广</A></TD>
            </TR>
        </TABLE>

        {%include "JiliBackendBundle:GameEggsBreaker:backend_menu_partial.html.twig" %}
        {%include "JiliBackendBundle:ActivityGathering:backend_menu_partial.html.twig" %}
        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('img/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(32) href="javascript:void(0);">vote管理</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child32 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('img/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_vote_index') }}" target=main>vote管理</A></TD>
            </TR>
        </TABLE>

        <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=22>
                <TD style="PADDING-LEFT: 30px" background="{{ asset('images/admin/menu_bt.jpg')}}">
                    <A class=menuParent onclick=expand(33) href="javascript:void(0);">Panel Management</A>
                </TD>
            </TR>
        </TABLE>
        <TABLE id=child33 style="DISPLAY: none" cellSpacing=0 cellPadding=0 width=150 border=0>
            <TR height=20>
                <TD align=middle width=30><IMG height=9 src="{{ asset('images/admin/menu_icon.gif')}}" width=9></TD>
                <TD><A class=menuChild href="{{ path('_admin_panelist_index') }}" target=main>Panel Search</A></TD>
            </TR>
            <TR height=4>
                <TD colSpan=2></TD>
            </TR>
        </TABLE>
        </TD>
    </TR>
</TABLE>

</BODY>
</HTML>
