<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">

</HEAD>
<BODY>
<form action="{{ path('_admin_rewardRate') }}" method="post" id="form1" enctype="multipart/form-data" >
<table align='center'>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>用户名精确检索(email):<input type="text" name="email" value="{{ email }}"/></td><td><input type="submit" name="add" value="提 交"/></td></tr>
</table>
{% if search %}
<table align='center'>
	 <tr><td>用户名:{{ search.email }}</td><td>昵称:{{ search.nick }}</td><td>返利倍数:<input type="text" name="multiple" value="{{ search.rewardMultiple }}" size="6"/></td><td><input type="submit" name="edit" value="编 辑"/></td></tr>
</table>
{% endif %}
</form>
</BODY></HTML>	


