<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<LINK href="{{ asset('css/calendar.css')}}" type=text/css rel=stylesheet>
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<SCRIPT src="{{ asset('js/load.js')}}" type=text/javascript></SCRIPT>
<script src="{{ asset('js/My97DatePicker/WdatePicker.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/kindeditor/kindeditor.js')}}" type="text/javascript"></script>
<script type="text/javascript">
  
</script>
</HEAD>
<BODY>
<form action="{{ path('_admin_selectUser') }}" method="post" id="form1"}} >
<table align='center'>
<tr><td>{{ count_user }}</td></tr>
<tr><td>注册开始时间:<input name="start_time" value="{{ start_time }}" size="26" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/>
&nbsp;注册结束时间:<input name="end_time" value="{{ end_time }}" size="26" maxlength="60" readonly="readonly" onClick="WdatePicker()"  class="Wdate" style="cursor:pointer"/>&nbsp;<input type="submit" name="add" value="提 交"/></td></tr>
</table>
</form>
</BODY></HTML>


