<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="积粒,积粒网,91积粒网,返利网,返利,返现,超级返,购物返利,商城返利,淘宝,淘宝返利,京东返利,积分,积分商城,网购返利,91jili.com">
<meta name="description" content="积粒网，轻松积米粒，快乐换奖励！拥有游戏体验，体验广告，购物返利，商家活动几大板块，网站的货币为米粒，在享受众多商城最优惠价格同时还可从积粒网获得不同比率的现金奖励！积粒网让你省得多，赚得也更多！">
<meta property="qc:admins" content="2577654770611214163757" />
<title>{% block title %}积粒网-首页 轻松积米粒，快乐换奖励！{% endblock %}</title>
<link href="{{ asset('css140307/common.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css1408/jl.ui.reset.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css1408/jl.ui.common.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css1408/jl.ui.home.css') }} " rel="stylesheet" type="text/css">

<link href="{{ asset('css/personal.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/amazon.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
{% block stylesheet %}{% endblock %}
<!-- [if lt IE9] --> 
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script> 
<!-- [endif] --> 
<script src="{{ asset('js/jquery-1.7.js') }}" language="javascript"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('js/help.js')}}" type="text/javascript"></script> 
<script src="{{ asset('js140307/common.js') }}" language="javascript"></script>
<script src="{{ asset('js1408/jl.ui.header.js') }}" language="javascript"></script>

<script src="{{ asset('js/analytics.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/bottom.js')}}" type="text/javascript"></script> 
<script src="{{ asset('bundles/jilifrontend/js/base.js')}}" type="text/javascript"></script> 

<script>
var urls = urls || {};
//todo: remove urls , use fosjs.routing instead
urls={
        advertiserment_click: Routing.generate('_advertiserment_click') ,
//        checkin_issetClick:"{{ path('_checkin_issetClick') }}",
        checkin_clickInsert: Routing.generate('_checkin_clickInsert') ,
        checkin_location:Routing.generate('_checkin_location'),
        checkin_clickCount: Routing.generate('_checkin_clickCount'), 
        user_login: Routing.generate('_login') ,
} ;
</script>
<script>
$(document).ready(function(){
  $('.amazon').hide();
  $('.blackBg').hide();
  $("#amazonEmpty").hide();

  {% if app.request.cookies.has('jili_uid') and app.request.cookies.has('jili_nick') %}
      {{  app.session.set('uid',app.request.cookies.get('jili_uid')) }}
      {{  app.session.set('nick',app.request.cookies.get('jili_nick')) }}
  {% endif %}

  {% if app.session.get('uid') %}
      showFlag();
      isVisit();
      isNewMs( {{ app.session.get('uid') }});
      countMs();
      $(".closeBtn").click(function(){
          $('.amazon').hide();
          $('.blackBg').hide();
      });
      $(".close").click(function(){
          $('.amazon').hide();
          $('.blackBg').hide();
      });
      $(".infoFinish").click(function(){
          var  sex =  $("input[name='sex']:checked").val();
          var  year = $("#year").val();
          var  month = $("#month").val();
          var province = $("#province").val();
          var city = $("#city").val();
          var tel = $("#tel").val();
          var income = $("#income").val();
          var hobbys = document.getElementsByName("hobby");
          var chestr="";
          for(var i=0;i<hobbys.length;i++){
             if(hobbys[i].checked==true){
                  chestr += hobbys[i].value+",";
              }
          }
          $.ajax({  
            url: "{{ path('_user_registerReward') }}",
            type: "POST",
            data: "sex="+sex+"&year="+year+"&month="+month+"&province="+province+"&city="+city+"&tel="+tel+"&income="+income+"&hobby="+chestr,
            success:function(data){
                var obj = eval(data);
                if(obj[0]['code']==1){
                   $("#update").hide();
                   $("#amazonEmpty").show();
                }
                if(obj[0]['code']==4){
                    $(".error").html("<font class='codeflag'>除手机外都为必填</font>");

                }
                if(obj[0]['code']==5){
                    $(".error").html("<font class='codeflag'>手机格式错误</font>");

                }
            }
          });
 
      });

  {% if (0 == app.request.get('auto_checkin',0) ) %}
      isExistInfo();
      showInfo();
      getYear_amazon(); 
      getProince_amazon();
      getIncome();
      getHobby();
  {% endif %}
{% endif %}

});

// duplicated to  
//function isNewMs(uid ){
//   {% if app.session.get('uid') %}
//   $.ajax({
//          url: "{{ path('_user_isNewMs',{'id':app.session.get('uid')}) }}",
//          type: "POST",
//          success:function(data){
//              var sid = 1
//              if(data){
//                  sid = 2;
//              }
//              var msg_url = Routing.generate( "_user_message", {"sid": sid});
//                   $('.newms').attr('href',msg_url); 
//                   $('.myMes').attr('href',msg_url); 
//                   $('.message').attr('href',msg_url); 
//          }
//        });
//  {% endif %}
//}

</script>
{% block javascript %}
{% endblock %}

</head>
<body>
<div id="header">
       {% embed "::menu.html.twig" %}
       {% endembed %}
</div>
<div class="pageMain page clearfix">
{% block body %}{% endblock %}
</div>	
{% include 'JiliApiBundle::footer.html.twig' %} 
{# 如果不是自动签到页面 #}
{% if (0 == app.request.get('auto_checkin',0) ) %}
{% include '::userinfo.html.twig' %}
{% endif %}
<div class="blackBg" style="display: none;"></div>
</body>
</html>
