{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}任务大厅三{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/adListNew.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/pageNav.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/adListNew.js')}}" type="text/javascript"></script>
{% endblock %}
{% block body %}
<div class="webArticle adList">
  <article>
    <!--  subnav  -->
    <div class="offwowSubnav">
        <ul class="subnavList">
            <li class="subnavItem first"><a href="{{ asset(path('_advertiserment_list')) }}">任务大厅一</a></li>
            <li class="subnavItem second"><a href="{{ asset(path('_advertiserment_offer99')) }}">任务大厅二</a></li>
            <li class="subnavItem"><a class="now" href="{{ asset(path('_advertiserment_bangwoya')) }}">任务大厅三</a></li>
        </ul>
    </div>
    <!--  subnav  /-->
    {# <iframe src='{{ bangwoya_com.url }}&u={{ app.session.get('uid') }}' style='width:1024px; height:3500px;' scrolling='no' frameborder='no' border='0'></iframe> #}
    <div class="offer99Error"><span>很抱歉，“任务大厅三”系统正在升级中...</span></div>
		<script type="text/javascript" src="/js/iframeResizer.min.js"></script> 
		<script type="text/javascript">
			iFrameResize({enablePublicMethods: true});
		</script>
  </article>
</div>
{% endblock %}
