<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-体验广告列表</title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/adList.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/pageNav.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle adList">
  <article>
    <h2><img src="{{ asset('images/adTitle.jpg')}}" width="149" height="19"></h2>
     {% for item in adverRecommand %}
    <div class="ad top">
    <div class="topIcon"><img src="{{ asset('images/topIcon.png')}}" width="60" height="60"></div>
      <div class="img"><a href="{{ path('_advertiserment_index',{'id':item.id}) }}"><img src="{{ asset(item.listImage) }}" width="202" height="132"/></a></div>
      <div class="txt"><a href="{{ path('_advertiserment_index',{'id':item.id}) }}">{{ item.decription | raw }}</a></div>
      <a href="{{ path('_advertiserment_index',{'id':item.id}) }}" class="advertising">{{ item.title  }}</a>
             {% if item.incentiveType==1 %}
                     <span class="reward"><font>{{ item.incentive }}</font>米粒</span>
             {% elseif item.incentiveType==2 %}
                     <span class="reward">最高获消费额<font>{{ item.incentiveRate/100 }}%</font></span>
             {% else %}
             {% endif %}
    </div>
        {% endfor %}
    
     {% for item in pagination %}
               <div class="ad">
                  <div class="img"><a href="{{ path('_advertiserment_index',{'id':item.id}) }}"><img src="{{ asset(item.listImage) }}" width="149" height="19"/></a></div>
               <div class="txt"><a href="{{ path('_advertiserment_index',{'id':item.id}) }}">{{ item.decription | raw }}</a></div>
               <a href="{{ path('_advertiserment_index',{'id':item.id}) }}" class="advertising">{{ item.title  }}</a>
                      {% if item.incentiveType==1 %}
                         <span class="reward"><font>{{ item.incentive }}</font>米粒</span>
                        {% elseif item.incentiveType==2 %}
                         <span class="reward">最高获消费额<font>{{ item.incentiveRate/100 }}%</font></span>
                         {% else %}
                     {% endif %}
              </div>

     {% endfor %}
     
     <div style="display: inline-block; width: 100%;">
    {# display navigation #}

   {{ knp_pagination_render(pagination) }}
   </div>
  </article>
  
  <aside>
    <section>
      <h4><img src="{{ asset('images/adFlowTitle.jpg')}}" width="118" height="18"></h4>
      <div class="flow"><img src="{{ asset('images/adFlow.jpg')}}" width="187" height="229"></div>
    </section>
  </aside>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>