<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block global_stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css">
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block global_javascript %}
            <script type="text/javascript" src="{{ asset('js/lib/jquery-1.12.4.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/plugin/bootbox.min.js')}}"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
