{% if app.request.attributes.get('_route') != '_homepage' %}
<script type="text/javascript">
    $(function (){   
      $(".dailyQuest h3").click(function(){
      $(this).parent().find("ul.dailyList").slideDown('fast').show();  //drop down on hover
      
      $(this).parent().hover(function(){
      },function(){
      $(this).parent().find("ul.dailyList").slideUp('slow'); //when the mouse hovers out, move it back up
      });
        });
    });
	</script>
{% else %}
<script type="text/javascript">
	$(function (){ $("ul.dailyList").css('display','block');});
</script>	
{% endif %}


{% if app.session.has('uid') %}
<script type="text/javascript">
$(document).ready(function(){
        isNewMessage();

        //91问问快速回答
        $(".vote").click(function(){
            $.ajax({
                url: "{{ path('_default_wenwenVisit') }}",
                post: "GET",
                success:function(data){
                    if(data==1){
                        setTaskNumber();
                        setUndoTaskClass();
                    }
                }
            }); 
        });
});

  function isNewMessage(){
   $.ajax({
          url: "{{ path('_user_isNewMs',{'id':app.session.get('uid') }) }}",
          type: "GET",
          success:function(data){
              if(data){
                   $('.message').attr('href',"{{ path('_user_message',{'sid': 2}) }}"); 
              }else{
                   $('.message').attr('href',"{{ path('_user_message',{'sid': 1}) }}"); 
              }
          }
        });
}

</script>

{% endif %}
{% if app.request.cookies.has('jili_uid') and app.request.cookies.has('jili_nick') %}
    {{  app.session.set('uid',app.request.cookies.get('jili_uid')) }}
    {{  app.session.set('nick',app.request.cookies.get('jili_nick')) }}
{% endif %}
    <div class="topNavs w1000">
    {% if app.session.has('uid') %}
      <ul id="userbar">
{% set count_new_msgs =  render(controller('JiliApiBundle:User:isNewMs', { 'id': app.session.get('uid')} ) ) %}
{% if  count_new_msgs|length > 0 %}
        <li><a class="message">新消息(<span class="corLightRed">+{{ render(controller('JiliApiBundle:User:isNewMs', { 'id': app.session.get('uid')} ) ) }}</span>)</a></li>
{% else %}
        <li><a class="message">新消息</a></li>
{% endif %}
        <li class="division">|</li>
        <li><a class="personal">个人中心</a></li>
        <div id="userFrame">
            <div class="userInfo"><p>{{ app.session.get('nick')[:10] }}</p></div>
            <ul class="menu">
                <li><a href="{{ path('_user_info') }}">个人信息</a></li>
                <li><a href="{{ asset(path('_user_adtaste',{'type':0}),'cdn1') }}">我的任务历史</a></li>
                <li><a href="{{ asset(path('_user_exchange',{'type':0,'exchangeType':1}),'cdn1') }}">我的兑换历史</a></li>
                <li class="logOut"><a href="{{ path('_user_logout') }}">退出</a></li>
            </ul>
        </div>
      </ul>
      {% else %}
    <a href="{{ path('_user_login') }}" title="登录">登录</a><span class="division">|</span><a href="{{ path('_user_reg') }}" title="注册">注册</a>
    {% endif %}  
    </div><div class="headerConWrapper">
        <div class="headerCon w1000">
            <div class="headerConUp clearfix">
                <a href="{{ path('_homepage') }}" title="91积粒logo" class="logo fnLeft"><img src="{{ asset('images1408/logo.png') }}" width="160" height="46" alt="91积粒logo" title="91积粒logo"/></a>
                {% block search_box %}
                {{ render(controller('JiliEmarBundle:Search:form', {'rt' : 1 } )) }}{# 商城检索 #}
                {% endblock %}
            </div>
            <ul class="mainNavs clearfix">
                {% set router_current = app.request.attributes.get('_route') %}
                <li {{ router_current == '_homepage' ? 'class="active"':'' }}><a href="{{ path('_homepage') }}" title="首页">首页</a></li>
                <li {{ router_current == '_game_chick' ? 'class="active"':'' }}><a href="{{ path('_game_chick') }}" title="游戏体验">游戏体验</a></li>
                <li {{ (router_current == '_advertiserment_list' or router_current == '_advertiserment_offer99')  ? 'class="active"':'' }}><a href="{{ asset(path('_advertiserment_list'),'cdn1')  }}" title="体验广告">体验广告</a></li>
                <li {{ router_current == 'jili_emar_websites_shoplist' ? 'class="active"':'' }}><a href="{{ path('jili_emar_websites_shoplist') }}" title="商家列表">商家列表</a></li>
                <li {{ router_current == '_marketActivity_index' ? 'class="active"':'' }}><a href="{{ path('_marketActivity_index') }}" title="商家活动">商家活动</a></li>
                <li {{ router_current == '_exchange_index' ? 'class="active"':'' }}><a href="{{ path('_exchange_index') }}" title="兑换中心">兑换中心</a></li>
            </ul>
            <div class="dailyQuest">
                {{ render(controller('JiliFrontendBundle:Home:task' ) ) }}{# 任务列表 #}
                
            </div>
        </div>
    </div>
    
    <!--<div class="amazon">
  <div class="banner"><img src="{{ asset('images/userInfo.png') }}"></div>
  <a class="closeBtn"><img src="{{ asset('images/closeBtn.jpg') }}"></a>
  <div id="amazonEmpty"><img src="{{ asset('images/finishInfo.jpg') }}">
    <div class="closeDiv"><a class="close"><img src="{{ asset('images/userInfoClose.jpg') }}"></a></div>
  </div>
  <section id= "update">
    <form method="post" id="actForm">
      <div class="content info">
        <ul>
          <li>
            <dd>登录账号：</dd>
            <dt class='login'></dt>
          </li>
          <li style="width:40%;">
            <dd>昵  称：</dd>
            <dt class='nick'></dt>
          </li>
          <li style="width:60%;">
            <dd><font style="color:#EE472C;"> * </font>性  别：</dd>
            <dt>
              <input name="sex" type="radio" value="1" id="man">
              男
              <input name="sex" type="radio" value="2" id="feman">
              女</dt>
          </li>
          <li style="width:40%;">
            <dd><font style="color:#EE472C;"> * </font>出生年月：</dd>
            <dt>
              <select id="year" name="year" onchange="selectYear_amazon()">
              </select>
              &nbsp;
              <select id="month" name="month">
              </select>
            </dt>
          </li>
          <li style="width:60%;">
            <dd><font style="color:#EE472C;"> * </font>地区：</dd>
            <dt>
              <select id="province" name="province" onchange="selectCity_amazon()">
                <option value="0">请选择省</option>
              </select>
              <select id="city" name="city">
                <option value='0'>请选择地区</option>
              </select>
            </dt>
          </li>
          <li>
            <dd>手机号码：</dd>
            <dt>
              <input name="tel" type="text" value="" id="tel">
            </dt>
          </li>
          <li>
            <dd><font style="color:#EE472C;"> * </font>个人月收入：</dd>
            <dt class="income"> </dt>
          </li>
          <li>
            <dd><font style="color:#EE472C;"> * </font>兴趣爱好：</dd>
            <dt class="hobby"> </dt>
          </li>
          <li>
            <dd>&nbsp;</dd>
            <dt class="error"> </dt>
          </li>
          <li>
            <dd>&nbsp;</dd>
            <dt class="submitDt">
              <input name='update' type='button' value='保存' class='infoFinish'>
            </dt>
          </li>
        </ul>
      </div>
    </form>
  </section>
  <div class="bottom"><img src="{{ asset('images/userInfoBottom.png') }}"></div>
</div>-->
    {% if app.session.has('uid') %}
    	{{ render(controller('JiliApiBundle:Top:checkIn' ) ) }}{# 签到 #}
	{% endif %}
