{% if app.request.attributes.get('_route') != '_homepage' %}
<script type="text/javascript">
    $(function (){   
      $(".dailyQuest h3").click(function(){
      $(this).parent().find("ul.dailyList").slideDown('fast').show();  //drop down on hover
      
      $(this).parent().hover(function(){
      },function(){
      $(this).parent().find("ul.dailyList").slideUp('slow'); //when the mouse hovers out, move it back up
      });
        });
    });
	</script>
{% else %}
<script type="text/javascript">
	$(function (){ $("ul.dailyList").css('display','block');});
</script>	
{% endif %}


{% if app.session.has('uid') %}
<script type="text/javascript">
$(document).ready(function(){
       // isNewMessage();

        //91问问快速回答
        $("#wen_vote").click(function(){
            $.ajax({
                url: "{{ path('_default_wenwenVisit') }}",
                post: "GET",
                success:function(data){
                    if(data==1){
                        setTaskNumber();
                        setUndoTaskClass();
                        $("li #task_wen_mark").removeClass("mark");
                        $("li #task_wen_mark").addClass("hasMark");
                    }
                }
            }); 
        });
});

//  function isNewMessage(){
//   $.ajax({
//          url: "{{ path('_user_isNewMs',{'id':app.session.get('uid') }) }}",
//          type: "GET",
//          success:function(data){
//              if(data){
//                   $('.message').attr('href',"{{ path('_user_message',{'sid': 2}) }}"); 
//              }else{
//                   $('.message').attr('href',"{{ path('_user_message',{'sid': 1}) }}"); 
//              }
//          }
//        });
//}

</script>

{% endif %}
{% if app.request.cookies.has('jili_uid') and app.request.cookies.has('jili_nick') %}
    {{  app.session.set('uid',app.request.cookies.get('jili_uid')) }}
    {{  app.session.set('nick',app.request.cookies.get('jili_nick')) }}
{% endif %}
{% if app.request.attributes.get('_route') == '_homepage' %}
	<!--<div class="topNotice">
    	温馨提示：积粒网已经全新改版，为保证您的正常浏览，请使用快捷键<em class="corGlobRed">Ctrl+F5</em>清除缓存。 
    </div>-->
{% endif %}

<!-- 改版通知 开始-->
{% if app.request.attributes.get('_route') == '_homepage' %}
<div class="noticeM">
    <div class="wrap brown fontYH font14">
        <div class="txt">积粒网将于<strong style="color: #ff0000;">4月29日（周五）上午10:00</strong>开始维护，预计至当日晚上20:00之前结束，维护期间您将不能访问网站。给您带来不便，敬请谅解！</div>
        <div class="unfold font12" id="unfold"><span>点击展开</span><em></em></div>
    </div>
    <div class="noticeCont" id="noticeCont">
        <div class="noticeDetail fontYH">
            <div class="wrap">
                  <ul>
                    <li>
                        <img src="/images/notice/scroll.png">
                        <div class="txt font14">
                            <span class="tit">增加问卷和投票的功能</span>
                            <span class="font16 lh28">一份问卷最高可得10000积分，您还可以成为有奖出题者，用您的声音改变世界！</span>
                        </div>
                    </li>
                  </ul>  
               
            </div>
        </div>
        <div class="warn fontYH">
            <div class="cont">
             <table cellpadding="10" cellspacing="10">
               <tbody>
                 <tr><td colspan="2" class="font13" style=" padding-bottom: 1.8%; padding-top: 8px; line-height: 18px;">积粒网即将与91问问调查网合并，新网站地址为91问问地址<a class="font14 bg" href="http://www.91wenwen.net" target="_blank">www.91wenwen.net</a>，关于账号和积分规则的变化，请大家注意：</td></tr>
                 
                 <tr><td>只有<a href="http://www.91jili.com/" target="_blank">积粒网</a>的账号</td><td>账号保持不变</td></tr>
                 <tr><td>只有<a href="http://www.91wenwen.net/" target="_blank">91问问</a>的账号</td><td>账号保持不变</td></tr>
                 <tr>
                     <td rowspan="2" style="width:43%;">既有<a title="积粒网" href="http://www.91jili.com/" target="_blank">积粒网</a>又有<a title="91问问" href="http://www.91wenwen.net/" target="_blank">91问问</a>的账号</td>
                     <td style=" line-height: 19px; padding-top: 2.1%;">两边的账号已经绑定的，只能使用91问问账号，积粒网账号停用，积分自动合并到91问问账号。</td>
                 </tr>
                 <tr>
                     <td style=" line-height: 19px; padding-top: 2.8%;">两边的账号没有绑定的，积分不会合并，两边的账号都可用。如果您想绑定账号合并积分，请到91问问<a title="点击这里查看是否绑定账号" class="bind" href="https://www.91wenwen.net/connect_jili/description" target="_blank">绑定</a></td>
                 </tr>

                 <tr><td colspan="2" style="padding:0; height:12px!important;"></td></tr>
                 <tr><td colspan="2" class="thanks font13">感谢您一直以来对我们的支持，给您造成的不便，敬请谅解！我们正在努力前进的路上，希望有你的一路陪伴，我们才能走的更远~！</td></tr>
                 <tr><td colspan="2" class="sign">积粒网开发团队<br>2015年11月24日</td></tr>
               </tbody>
             </table>
             <a class="contact" title="联系客服" href="{{ path('_default_support') }}" target="_blank"></a>
          </div>
            <div class="fold">点击收起<em></em></div>
            <div class="btm"></div>
        </div>
    </div>
</div>
{% else %}
{% endif %}
<!-- 改版通知 结束-->

    <div class="topNavs w1000">
    {% if app.session.has('uid') %}
      <ul id="userbar">
<li><a class="message">新消息
{% set count_new_msgs =  render(controller('JiliApiBundle:User:isNewMs', { 'id': app.session.get('uid')} ) ) %}
{% if  count_new_msgs|length > 0 %}
    (<span class="corLightRed">+{{ count_new_msgs }}</span>)
{% endif %}
</a></li>
        <li class="division">|</li>
        <li><a class="personal">个人中心</a></li>
        <div id="userFrame">
            <div class="userInfo"><p>{{ app.session.get('nick')[:10] }}</p></div>
            <ul class="menu">
                <li><a href="{{ path('_user_info') }}">个人信息</a></li>
                <li><a href="{{ path('_user_adtaste',{'type':0}) }}">我的任务历史</a></li>
                <li><a href="{{ path('_user_exchange',{'type':0, 'exchangeType':1}) }}">我的兑换历史</a></li>
                <li class="logOut"><a href="{{ path('_user_logout') }}">退出</a></li>
            </ul>
        </div>
      </ul>
      {% else %}
    <a href="{{ path('_user_login') }}" title="登录">登录</a><span class="division">|</span><a href="{{ path('_user_reg') }}" title="注册">注册</a>
    {% endif %}  
    </div>

    <div class="headerConWrapper">
        <div class="headerCon w1000">
            <div class="headerConUp clearfix">
                <a href="{{ path('_homepage') }}" title="91积粒logo" class="logo fnLeft"><img src="{{ asset('images/logo.png') }}" width="160" height="46" alt="91积粒logo" title="91积粒logo"/></a>
                {% if app.request.attributes.get('_route') == '_homepage' %}
                     <form action="#"  id="search_box">
                         <div class="search fnRight">
                             <div class="tbSearch"><a data-type="6" data-tmpl="573x66" data-tmplid="140" data-style="2" data-border="0" biz-s_logo="1" biz-s_hot="1" href="#"></a></div>
                             <a href="{{ path('_default_support') }}" class="hpIco" title="帮助中心"></a>
                         </div>
                         {% include "JiliFrontendBundle::alimama.html.twig" with { pid:"mm_49376465_4372428_28778243" } %}
                     </form> 
                     <script type="text/javascript">
                     var search_form_rt_config = search_form_rt_config || {};
                     search_form_rt_config = {{ rt_of_search_form|json_encode|raw   }};
                     var search = function() {
                          $('#search_box').submit();
                          return false;
                     };
                     </script>

                        {# toabao检索 #}
				{% endif %}
            </div>
            <ul class="mainNavs clearfix">
                {% set router_current = app.request.attributes.get('_route') %}
                <li {{ router_current == '_homepage' ? 'class="active"':'' }}><a href="{{ path('_homepage') }}" title="首页">首页</a></li>
                <li {{ (router_current == '_advertiserment_bangwoya' or router_current == '_advertiserment_list' or router_current == '_advertiserment_offer99')  ? 'class="active"':'' }}><a href="{{path('_advertiserment_list')}}" title="体验广告">体验广告</a></li>
                <li {{ router_current == 'jili_frontend_cpsadvertisement_list' ? 'class="active"':'' }}><a href="{{ path('jili_frontend_cpsadvertisement_list') }}" title="商家列表">商家列表</a></li>
                <li {{ router_current == '_marketActivity_index' ? 'class="active"':'' }}><a href="{{ path('_marketActivity_index') }}" title="商家活动">商家活动</a></li>
                <li {{ router_current == '_exchange_index' ? 'class="active"':'' }}><a href="{{ path('_exchange_index') }}" title="兑换中心">兑换中心</a></li>
                <li {{ router_current == 'jili_frontend_taobao_index' ? 'class="active"':'' }}><a href="{{ path('jili_frontend_taobao_index') }}" title="淘宝购物" class="navTB">淘宝购物<span class="iconTB"></span></a></li>
            </ul>
            {% if app.request.attributes.get('_route') == '_homepage' and app.session.has('uid') %}
            <span class="eggTag"></span>
            {% endif %}
            <div class="dailyQuest">
                {{ render(controller('JiliFrontendBundle:Home:task' ) ) }}{# 任务列表 #}
            </div>
        </div>
    </div>
    <!--start checkin div-->
    {% if app.session.has('uid') %}
        {{ render(controller('JiliApiBundle:Top:checkIn'  ) ) }}{# 签到 #}
	{% endif %}
    <!--end checkin div-->
    