<div class="amazon">
<div class="banner"><img src="{{ asset('images/userInfo.png') }}"></div>
<a class="closeBtn"><img src="{{ asset('images/closeBtn.jpg') }}"></a>
<div id="amazonEmpty"><img src="{{ asset('images/finishInfo.jpg') }}">
<div class="closeDiv"><a class="close"><img src="{{ asset('images/userInfoClose.jpg') }}"></a></div>
</div>
<section id= "update">
<form method="post" id="actForm">
    <div class="content info">
      <ul>
        <li>
          <dd>登录账号：</dd>
          <dt class='login'></dt>
        </li>
        <li style="width:40%;">
          <dd>昵  称：</dd>
          <dt class='nick'></dt>
        </li>
   <li style="width:60%;">
          <dd><font style="color:#EE472C;"> * </font>性  别：</dd>
          <dt>
            <input name="sex" type="radio" value="1" id="man">
            男
            <input name="sex" type="radio" value="2" id="feman">
            女</dt>
        </li>
   <li style="width:40%;"><dd><font style="color:#EE472C;"> * </font>出生年月：</dd>
            <dt><select id="year" name="year" onchange="selectYear_amazon()"></select>      
            &nbsp;<select id="month" name="month"></select>      
          </dt>
  </li>

  <li style="width:60%;"><dd><font style="color:#EE472C;"> * </font>地区：</dd>
            <dt><select id="province" name="province" onchange="selectCity_amazon()">
            <option value="0">请选择省</option>
              
            </select>
            <select id="city" name="city"><option value='0'>请选择地区</option>
              </select>
              </dt></li>

   <li>
          <dd>手机号码：</dd>
          <dt>
        <input name="tel" type="text" value="" id="tel">
          </dt>
        </li>

  <li>
          <dd><font style="color:#EE472C;"> * </font>个人月收入：</dd>
          <dt class="income">
          </dt>
        </li>

  <li>
          <dd><font style="color:#EE472C;"> * </font>兴趣爱好：</dd>
          <dt class="hobby">
         
          </dt>
        </li>

    <li><dd>&nbsp;</dd>
      <dt class="error"> 
      </dt>
    </li>

  <li><dd>&nbsp;</dd>
          <dt class="submitDt"> 
              <input name='update' type='button' value='保存' class='infoFinish'>
          </dt>
        </li>


      </ul>
    </div>
</form>
</section>
  <div class="bottom"><img src="{{ asset('images/userInfoBottom.png') }}"></div>
  </div>