{% extends 'WenwenFrontendBundle:ProjectSurvey:base.html.twig' %}
{% block title %}{{ parent() }}回答完成{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="main-con">
                    <div class="qnWrap">
                        <div class="qnCon qnEnd">
                            <div class="qnEndTxt">
                                <div class="txt">
                                    <img src="{{ asset('assets/img/frontend/questionnaire/normalface.png') }}">
                                    <h2>亲爱的用户！您好！</h2>
                                    <p>积分已经自动累计到您的账户！您可前往个人中心查看积分记录！<a class="backBtn" href="{{ path('_homepage') }}">返回首页</a></p>
                                </div>
                                <a class="luckyNot" href="{{ path('event_prize') }}"><img src="{{ asset('assets/img/frontend/luckyDraw/luckyNotice.jpg') }}" alt="恭喜您获得了一张抽奖券"></a>
                            </div>
                        </div>
                        {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}