<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}91问问 - {% endblock %}</title>
    {# <meta name="viewport" content="width=1000"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block meta %}{% endblock %}
    <meta name="baidu_union_verify" content="464e52f63986636f61f6710be25148b2" />
    <meta name="mobile-web-app-capable" content="yes">
    <link href="{{ asset('img/common/favicon.ico') }} " rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('img/common/apple-touch-icon-precomposed-57x57.png') }}" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('img/common/apple-touch-icon-precomposed-72x72.png') }}" type="image/png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('img/common/apple-touch-icon-precomposed-114x114.png') }}" type="image/png" sizes="114x114" />
    {% block stylesheet %}{% endblock %}
    {% block global_css %}
        <link href="{{ asset('css/responsive/rpLayout.css') }} " rel="stylesheet" type="text/css">
    {% endblock %}
    <script type="text/javascript" src="{{ asset('js/lib/adhoc.min.js')}}"></script>
    <script>
        function initABTesting()
        {
        adhoc.setFlagDef({'IsNew91wenwen':'true'})//设置试验变量默认值（网络异常或获取试验变量失败时使用）
        adhoc.init('ADHOC_0f2cb6b2-3772-4ee3-a06e-7248f4efdbdc')//初始化
        }
    </script>
</head>
<body>
    {% block header %}{% endblock %}
    <div {% if app.session.has('uid') %} class="main" {% else %}  class="main unlogin" {% endif %}>
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>
    {% block global_js %}
        <script type="text/javascript" src="{{ asset('js/lib/jquery-1.11.1.min.js')}}" defer></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js')}}" defer></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}" defer></script>
        <script type="text/javascript" src="{{ asset('js/component/common.js')}}" defer></script>
        <!--[if lte IE 9]>
            <script type="text/javascript" src="{{ asset('js/lib/html5shiv.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/lib/respond.min.js')}}"></script>
        <![endif]-->
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</body>
</html>