<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}91问问调查网 - {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes,email=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta %}{% endblock %}
        <meta name="baidu_union_verify" content="464e52f63986636f61f6710be25148b2" />
        <link href="{{ asset('img/common/favicon.ico') }} " rel="shortcut icon" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('img/common/apple-touch-icon-precomposed-57x57.png') }}" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('img/common/apple-touch-icon-precomposed-72x72.png') }}" type="image/png" sizes="72x72">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('img/common/apple-touch-icon-precomposed-114x114.png') }}" type="image/png" sizes="114x114" />
        {% block global_css %}
             <!-- global css -->
            {% stylesheets filter="cssrewrite, scssphp, ?uglifycss" output="dist/css/frontend/common.css"
                "assets/sass/frontend/layout/*"
                "assets/sass/frontend/component/*"
                "assets/sass/frontend/responsive/*"
            %}
                <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
             <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css">
        {% endblock %}
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        <div class="mainWrap container-full">
            {% block body %}{% endblock %}
        </div>
        <div class="footer top30">
            {% block footer %}{% endblock %}
        </div>
        {% block global_js %}
            <!-- global js -->
            {% javascripts filter="?uglifyjs2" output="dist/js/frontend/common.js"
                "assets/js/common/lib/jquery-1.12.4.min.js"
                "assets/js/common/lib/bootstrap.min.js"
                "assets/js/frontend/component/*"
                "assets/js/common/plugin/jquery.cookie.js"
                "assets/js/common/plugin/client.min.js"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <!--[if lte IE 9]>
                <script type="text/javascript" src="{{ asset('assets/js/common/lib/html5shiv.js')}}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/common/lib/respond.min.js')}}"></script>
            <![endif]-->
        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>
