<div class="header-nav">
    <div class="header-nav-con w1000 clearfix">
        <div class="logo left">
            <a href="{{ path('wenwen_frontend_home_home') }}" title="91问问调查网logo">
            <img src="{{ asset('img/common/logo.png') }}" alt="91问问调查网logo"></a>
            <span><img src="{{ asset('img/common/slogan.png') }}" alt="每个人都是社会的决策者！"></span>
        </div>
        <div class="nav left">
            <a href="{{ path('wenwen_frontend_home_home') }}" title="首页" class="first active">首页</a>
            <a href="{{ path('wenwen_frontend_survey_index') }}" title="问卷列表">问卷列表</a>
            <a href="{{ path('wenwen_frontend_vote_index') }}" title="快速问答">快速问答</a>
            <a href="{{ path('wenwen_frontend_exchange_index') }}" title="兑换中心">兑换中心</a>
            <div class="border"></div>
        </div>
        <div class="login-btn right">
            <a href="{{ path('wenwen_frontend_user_register') }}" title="注册">注册</a>
            <a href="{{ path('wenwen_frontend_home_home') }}" title="登录">登录</a>
        </div>
    </div>
</div>