{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}首页：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/home.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-slider">
	<div class="w1000">
		<img src="{{ asset('img/home/sliderImg0.jpg') }}" alt="">
	</div>
</div>
{{ render(controller('JiliFrontendBundle:Home:adExperience' ) ) }}
<div class="main-con w1000 clearfix">
	<div class="main-con-left left">
		{# 1. 首页问卷默认显示两条 #}
		{# 2. 如果这里的问卷没有内容，整个div都隐藏 #}
		<div class="survey" id="surveyHome">
			<h1><em></em>问卷列表<a class="more" href="{{ path('_survey_index') }}">更多>></a></h1>
			{{ render(controller('WenwenFrontendBundle:Survey:top' ) ) }}
			<ul id="surveyList">
				{# SSI permission #}
				<!-- <li class="ssiPermission">
				    <div class="survey-item">
				        <div class="title">ssi同意问卷</div>
				        <ul class="con clearfix">
				            <li class="first">
				                <span>问卷编号</span>
				                <p>--</p>
				            </li>
				            <li>
				                <span>问卷类型</span>
				                <p title="商业问卷">商业问卷</p>
				            </li>
				            <li>
				                <span>回答期限</span>
				                <p>--</p>
				            </li>
				            <li class="last">
				                <span>积分数</span>
				                <p><strong>1</strong></p>
				            </li>
				        </ul>
				    </div>
				    <div class="survey-btn">
				        <a href="javascript: void(0)" target="_brank" onClick="pop_survey_window(this);return false;" >可回答</a>
				    </div>
				</li> -->
				{# SSI survey #}
				<li class="ssiSurvey">
				    <div class="survey-item">
				        <div class="title">ssi</div>
				        <ul class="con clearfix">
				            <li class="first">
				                <span>问卷编号</span>
				                <p>s001</p>
				            </li>
				            <li>
				                <span>问卷类型</span>
				                <p title="商业问卷">商业问卷</p>
				            </li>
				            <li>
				                <span>回答期限</span>
				                <p>2018-01-02</p>
				            </li>
				            <li class="last">
				                <span>积分数</span>
				                <p><strong>15630</strong></p>
				            </li>
				        </ul>
				    </div>
				    <div class="survey-btn">
				        <a href="javascript: void(0)" target="_brank" onClick="pop_survey_window(this);return false;" >可回答</a>
				    </div>
				</li>
				<li class="ssiSurvey">
				    <div class="survey-item">
				        <div class="title">ssi</div>
				        <ul class="con clearfix">
				            <li class="first">
				                <span>问卷编号</span>
				                <p>s001</p>
				            </li>
				            <li>
				                <span>问卷类型</span>
				                <p title="商业问卷">商业问卷</p>
				            </li>
				            <li>
				                <span>回答期限</span>
				                <p>2018-01-02</p>
				            </li>
				            <li class="last">
				                <span>积分数</span>
				                <p><strong>15630</strong></p>
				            </li>
				        </ul>
				    </div>
				    <div class="survey-btn">
				        <a href="javascript: void(0)" target="_brank" onClick="pop_survey_window(this);return false;" >可回答</a>
				    </div>
				</li>
				<li class="ssiSurvey">
				    <div class="survey-item">
				        <div class="title">ssi</div>
				        <ul class="con clearfix">
				            <li class="first">
				                <span>问卷编号</span>
				                <p>s001</p>
				            </li>
				            <li>
				                <span>问卷类型</span>
				                <p title="商业问卷">商业问卷</p>
				            </li>
				            <li>
				                <span>回答期限</span>
				                <p>2018-01-02</p>
				            </li>
				            <li class="last">
				                <span>积分数</span>
				                <p><strong>15630</strong></p>
				            </li>
				        </ul>
				    </div>
				    <div class="survey-btn">
				        <a href="javascript: void(0)" target="_brank" onClick="pop_survey_window(this);return false;" >可回答</a>
				    </div>
				</li>	
			</ul>
		</div>
		{# 这里的快速问答显示目前91问问快速问答页面的那5条 #}
		<div class="vote">
			<h1><em></em>快速问答<a href="{{ path('jili_frontend_vote_index') }}" class="more">更多>></a></h1>
			{{ render(controller('JiliFrontendBundle:Vote:top' ) ) }}
		</div>
	</div>
	<div class="main-con-right right">
		{{ render(controller('JiliApiBundle:Top:callboard' ) ) }}
		<div class="weibo"><iframe width="230" height="580" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=580&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=0&isWeibo=1&isFans=0&uid=1752291082&verifier=37e3a3a3&dpc=1"></iframe></div>
	</div>
</div>
{# 新手引导开始 #}
<div id="mask"></div>
<div id="newguideWrap">
	<div class="newguide1">
		<div>
			<a class="ngbtn ngbtn1"></a>
			<a class="ngclose ngclose1"></a>
		</div>
	</div>
	<div class="newguide2">
		<div>
			<a class="ngbtn ngbtn2"></a>
			<a class="ngclose ngclose2"></a>
		</div>
	</div>
	<div class="newguide3">
		<div>
			<a class="ngbtn ngbtn3"></a>
		</div>
	</div>
</div>
{# 新手引导结束 #}
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/home')}}"></script>
{% endblock %}