{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}问卷调查{% endblock %}
{% block meta %}
<meta name="keywords" content="调查,调研,问卷,赚钱,在线样本服务,消费者调查" />
<meta name="description" content="欢迎访问91问问调查网，隶属于一家专业的全球在线调研服务公司，提供网络调查、市场调查、问卷调查、市场调研等服务。如有任何需求请访问www.d8aspring.com与我们取得联系。" />
<meta name="title" content="首页:91问问调查网" />
{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/home.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{{ render(controller("WenwenFrontendBundle:Component:homeBar")) }}
{% endblock %}

{% block body %}

{# 新手引导开始 #}
<div id="mask" class="hidden-xs hidden-sm"></div>
<div id="newguideWrap" class="hidden-xs hidden-sm">
	<div class="newguide1">
		<div class="guideTxt">
			回答属性问卷帮助您收到更多的高积分问卷（每份问卷100积分-1000积分不等）
			<p class="point">100积分=1元</p>
			<a class="ngbtn ngbtn1">继续</a>
		</div>
	</div>
	<div class="newguide2">
		<div class="guideTxt">
			回答当日快速问答，积分翻倍。您也可以参加快速问答的有奖出题，一旦选中即可获得<em>200积分</em>。
			<a class="ngbtn ngbtn2">继续</a>
		</div>
	</div>
	<div class="newguide3">
		<div class="guideTxt">
			在这里进行积分兑换，可以手机充值、兑换支付宝现金哟...
			<a class="ngbtn ngbtn3">关闭</a>
		</div>
	</div>
</div>
{# 新手引导结束 #}

<div class="container clearfix">
	<div class="row">
		<div class="main-con-left col-xs-12 col-sm-9">
			<div id="survey_list">
				{{ render(controller('WenwenFrontendBundle:Survey:top')) }}
			</div>
			{{ render(controller('JiliFrontendBundle:Vote:top')) }}
		</div>
		<div class="main-con-right col-xs-6 col-sm-3 hidden-xs">
			{% include 'WenwenFrontendBundle:Home:_voteRight.html.twig' %}
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{ asset('js/plugin/jquery.cookie.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/component/textScroll.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/component/countdown.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/pages/home.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			setInterval(requestSurveyList, 14 * 60 * 1000); //soptoken15分钟过期，我14分钟刷新一次

			function requestSurveyList() {
				$.get("{{ path('_survey_top') }}", function(data){
					console.log(data);
					$('#survey_list').html(data);
				});
			}
		});
	</script>
{% endblock %}