{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}首页：{{ parent() }} {% endblock %}
{% block meta %}
<meta name="keywords" content="问卷网，调查网，调查赚钱，在线调查，调查问卷，问卷调查，91问问" />
<meta name="description" content="每个人都是社会的决策者！欢迎来到91问问调查网。现在注册会员，在线参加全球市场调查，轻轻松松赢取现金,并用您的意见改变世界。另有任务体验让您乐赚不停；购物返利让你省得多，赚得也更多" />
<meta name="title" content="首页:91问问调查网" />
{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/home.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}

{{ render(controller("WenwenFrontendBundle:Component:homeBar")) }}

{# 新手引导开始 #}
<div id="mask" class="hiddenPhone hiddenTablet"></div>
<div id="newguideWrap" class="hiddenPhone hiddenTablet">
	<div class="newguide1">
		<div>
			<a class="ngbtn ngbtn1"></a>
			<a class="ngclose ngclose1"></a>
		</div>
	</div>
	<div class="newguide2">
		<div>
			<a class="ngbtn ngbtn2"></a>
			<a class="ngclose ngclose2"></a>
		</div>
	</div>
	<div class="newguide3">
		<div>
			<a class="ngbtn ngbtn3"></a>
		</div>
	</div>
</div>
{# 新手引导结束 #}

<div class="main-con w1000 clearfix">
	<div class="main-con-left col-m-12 col-t-12 left">
		{# 1. 首页问卷默认显示两条 #}
		{# 2. 如果这里的问卷没有内容，整个div都隐藏 #}
		{{ render(controller('WenwenFrontendBundle:Survey:top' ) ) }}
		{# 这里的快速问答显示目前91问问快速问答页面的那5条 #}
		<div class="vote">
			<h1 class="visibleDesktop hiddenPhone hiddenTablet">快速问答<a href="{{ path('jili_frontend_vote_index') }}" class="more">更多>></a></h1>
			{{ render(controller('JiliFrontendBundle:Vote:top' ) ) }}
		</div>
	</div>
	{% include 'WenwenFrontendBundle:Home:_voteRight.html.twig' %}
</div>
	{#{{ render(controller('JiliFrontendBundle:Home:adExperience' ) ) }}#}
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/plugin/jquery.cookie.js')}}" defer></script>
<script type="text/javascript" src="{{ asset('js/component/textScroll.js')}}" defer></script>
<script type="text/javascript" src="{{ asset('js/component/countdown.js')}}" defer></script>
<script type="text/javascript" src="{{ asset('js/pages/home.js')}}" defer></script>
{% endblock %}