{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}问卷调查{% endblock %}
{% block meta %}
<meta name="keywords" content="调查,调研,问卷,赚钱,在线样本服务,消费者调查" />
<meta name="description" content="欢迎访问91问问调查网，隶属于一家专业的全球在线调研服务公司，提供网络调查、市场调查、问卷调查、市场调研等服务。如有任何需求请访问www.d8aspring.com与我们取得联系。" />
<meta name="title" content="首页:91问问调查网" />
{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/home.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}

{{ render(controller("WenwenFrontendBundle:Component:homeBar")) }}

{# 新手引导开始 #}
<div id="mask" class="hiddenPhone hiddenTablet"></div>
<div id="newguideWrap" class="hiddenPhone hiddenTablet">
	<div class="newguide1">
		<div>
			<a class="ngbtn ngbtn1"></a>
			<a class="ngclose ngclose1"></a>
		</div>
	</div>
	<div class="newguide2">
		<div>
			<a class="ngbtn ngbtn2"></a>
			<a class="ngclose ngclose2"></a>
		</div>
	</div>
	<div class="newguide3">
		<div>
			<a class="ngbtn ngbtn3"></a>
		</div>
	</div>
</div>
{# 新手引导结束 #}

<div class="main-con w1000 clearfix">
	<div class="main-con-left col-m-12 col-t-12 left">
		{# 1. 首页问卷默认显示两条 #}
		{# 2. 如果这里的问卷没有内容，整个div都隐藏 #}
		{{ render(controller('WenwenFrontendBundle:Survey:top' ) ) }}
		{# 这里的快速问答显示目前91问问快速问答页面的那5条 #}
		<div class="vote">
			<h1 class="visibleDesktop hiddenPhone hiddenTablet">快速问答<a href="{{ path('jili_frontend_vote_index') }}" class="more">更多>></a></h1>
			{{ render(controller('JiliFrontendBundle:Vote:top' ) ) }}
		</div>
	</div>
	{% include 'WenwenFrontendBundle:Home:_voteRight.html.twig' %}
</div>

<script>
	function applyFlags(flags) {
	  if (flags.hasOwnProperty('IsNew91wenwen') && flags.IsNew91wenwen == 'true') {
	    // new version
	    $('.proCon .proNew').css('display','inline-block');  
	  } else {
	    // old version
	    var surveyList = $('#surveyList');
	    var prop = $.cookie('prop');
	    var proCon = $('.proSurPop');
	    function shouldShow(){
	       var pp  = $.cookie('prop');
	       if (pp == undefined || pp == 1) {
	           return true;
	       } else {
	           return false;
	       }
	    }
	    surveyList.delegate('.proClose','click', function(){
	       $.cookie('prop', 0, { expires: 10000, path: '/' }); 
	       surveyList.find(proCon).hide();    
	    });
	    if(shouldShow()){
	       surveyList.find(proCon).show();
	    }else{
	       surveyList.find(proCon).hide();
	    }
	    //show important tag
	    $('.survey .survey-item .proTag').css('display','inline-block');
	  }
	}
</script>

{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/plugin/jquery.cookie.js')}}" defer></script>
<script type="text/javascript" src="{{ asset('js/component/textScroll.js')}}" defer></script>
<script type="text/javascript" src="{{ asset('js/component/countdown.js')}}" defer></script>
<script type="text/javascript" src="{{ asset('js/pages/home.js')}}" defer></script>
{% endblock %}