{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}_资深问卷调查网，在线调查，商业调查，免费，市场调查，调查问卷{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/index.css') }} " rel="stylesheet" type="text/css">
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-ad">
	<div class="main-ad-con w1000">
		<div class="main-ad-con-text">
			<h1><img src="{{ asset('img/home/adTitle.png') }}" alt="问卷调查_动动手指就能赚钱" title="问卷调查_动动手指就能赚钱"></h1>
			<p class="digits"><img src="{{ asset('img/home/pointsText.png') }}" alt="91问问调查网当前已发放人民币" title="91问问调查网当前已发放人民币"><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span></p>
			<div class="more-btn"><a href="{{ path('_default_support') }}" title="了解更多">了解更多？</a></div>
		</div>
		<div class="login-wrapper">
			<div class="login">
				<h2>用户登录</h2>
				<div class="login-con">
					<form action="">
					<ul>
						<li><label for="email">邮箱</label><input id="email" type="text"><span id="email_succeed"></span><span id="email_error"></span></li>
						<li><label for="pwd">密码</label><input id="pwd" type="password"><span id="pwd_succeed"></span><span id="pwd_error"></span></li>
						<li><label for="authcode">验证码</label><img src="{{ asset('img/home/identify.jpg') }}" alt="验证码"><span class="authcodeInput"><input id="authcode" type="text"><div class="change">换一张</div></span><span id="authcode_succeed"></span><span id="authcode_error"></span></li>
					</ul>
					<div class="login-btn" id="submit_button"><!-- <a href="home.html"> -->登录<!-- </a> --></div>
					</form>
					<p><a href="{{ path('_user_reset') }}" class="spec right">忘记密码？</a>还没账号，<a href="{{ path('_user_reg') }}">马上注册</a></p>
					<div class="login-btn-others">
						<span><a href="{{ path('_user_login') }}">微博登录</a><a href="{{ path('_user_login') }}" class="qq-login">QQ登录</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-con main-con-rewardprocess">
	<div class="w1000">
		<h2><img src="{{ asset('img/home/rewardProcess.png') }}" alt="做问卷积分流程" title="做问卷积分流程"></h2>
		<div class="main-con-detail">
			<div class="img"><img src="{{ asset('img/home/rewardProcessImg.png') }}" alt="做问卷积分流程示意图" title="做问卷积分流程示意图"></div>
			<div class="text">
				<ul class="clearfix">
					<li class="step1">
						<div class="title">免费注册会员</div>
						<p>只需两步就可以免费注册为91问问的会员，开启您的赚钱之旅</p>
					</li>
					<li class="step2">
						<div class="title">做任务，赚积分</div>
						<p>回答问卷，快速问答投票，做任务，购物都可以赚取积分</p>
					</li>
					<li class="step3">
						<div class="title">兑换奖品</div>
						<p>奖品有支付宝现金，亚马逊礼品卡，手机话费，上网流量包等</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-con main-con-wall">
	<div class="w1000">
		<h2><img src="{{ asset('img/home/wall.png') }}" alt="91问问标签墙" title="91问问标签墙"></h2>
		<div class="main-con-detail">
			<div id="parkParty" class="party" data-timeout="500">
       			<em class="party-item party01 js-item"></em>
                <em class="party-item party02 js-item"></em>
                <em class="party-item party03 js-item"></em>
                <em class="party-item party04 js-item"></em>
                <em class="party-item party05 js-item"></em>
                <em class="party-item party06 js-item"></em>
			</div>
		</div>
	</div>
</div>
<div class="main-con main-con-action">
	<div class="w1000">
		<h1>马上开启91问问之旅，加入小伙伴们赚钱的队伍中来吧！</h1>
		<p>点击以下按钮完成5秒注册</p>
		<a href="#" class="button">现在注册</a>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/index')}}"></script>
{% endblock %}