{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}_资深问卷调查网，在线调查，商业调查，免费，市场调查，调查问卷{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/index.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-ad">
	<div class="main-ad-con w1000">
		<div class="main-ad-con-text">
			<h1><img src="{{ asset('img/home/adTitle.png') }}" alt="问卷调查_动动手指就能赚钱" title="问卷调查_动动手指就能赚钱"></h1>
			<p class="digits"><img src="{{ asset('img/home/pointsText.png') }}" alt="91问问调查网当前已发放人民币" title="91问问调查网当前已发放人民币"><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span><span><b></b></span></p>
			<div class="more-btn"><a href="{{ path('_default_support') }}" title="了解更多">了解更多？</a></div>
		</div>
		<div class="login-wrapper">
			<div class="login">
				<h2>用户登录</h2>
				<div class="login-con">
					<form action="{{ path('_user_login') }}" method="post" name="form1" id="form1">
					<ul>
						<li><label for="email">邮箱</label><input id="email" name="email" type="text"><span id="email_succeed"></span><span id="email_error"></span></li>
						<li><label for="pwd">密码</label><input id="pwd" name="pwd" type="password"><span id="pwd_succeed"></span><span id="pwd_error"></span></li>
						<li class="remember"><input id="remember_me" name="remember_me" type="checkbox" value="1" checked>记住我</li>
					</ul>
					{% if app.session.has('goToUrl') and app.session.get('goToUrl')|length > 0  %}
					<input name="referer" type="hidden" value="{{ app.session.get('goToUrl') }}">
					{% endif %}
					{% if code %}
            		<input type="hidden" id="error_code" class="error" value="{{ code }}">
       				{% endif %}
					<div class="login-btn" id="submit_button">登录</div>
					</form>
					<p><a href="{{ path('_user_resetPwd') }}" class="spec right">忘记密码？</a>还没账号，<a href="{{ path('_user_reg') }}">马上注册</a></p>
					<div class="login-btn-others">
						<span><a href="{{ path('weibo_api_login') }}">微博登录</a><a href="{{ path('qq_api_login') }}" class="qq-login">QQ登录</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-con main-con-process">
	<img src="{{ asset('img/home/adProcess.png') }}" alt="做问卷积分流程示意图" title="做问卷积分流程示意图">
	<a class="sLog" href="{{ path('_user_reg') }}"><img src="{{ asset('img/home/adBtn.png') }}" alt="注册赚现金" title="注册赚现金"></a>
</div>
<div class="main-con main-con-reward">
	<img src="{{ asset('img/home/adAward.png') }}" alt="奖品展示" title="奖品展示">
</div>
<div class="main-con main-con-detail">
	<div class="party" data-timeout="500">
		<em class="party-item party01 js-item"></em>
        <em class="party-item party02 js-item"></em>
        <em class="party-item party03 js-item"></em>
        <em class="party-item party04 js-item"></em>
        <em class="party-item party05 js-item"></em>
        <em class="party-item party06 js-item"></em>
	</div>
</div>
<div class="main-con main-con-action">
	<div class="w1000">
		<h1>马上开启91问问之旅，加入小伙伴们赚钱的队伍中来吧！</h1>
		<p>点击以下按钮完成5秒注册</p>
		<a href="{{ path('_user_reg') }}" class="button">现在注册</a>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/index')}}"></script>
{% endblock %}