{% extends "JiliBackendBundle::base.html.twig"%}

{% block title %}
Taobao订单审核-12月活动-{{ parent() }}
{% endblock %}

{% block body %}


<form action="{{ path( 'jili_backend_decemberactivity_audit', {'id': id})  }}" method="POST">
<table align="center">

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
    <td>{{ form_label(form.orderId) }}</td>
    <td>
    {{ form_errors(form.orderId) }}
    {{ form_widget(form.orderId) }}
</td>
</tr>


<tr>
    <td>{{ form_label(form.orderAt) }}</td>
    <td>
    {{ form_errors(form.orderAt) }}
    {{ form_widget(form.orderAt) }}
</td>
</tr>

<tr>
    <td>{{ form_label(form.orderPaid) }}</td>
    <td>
    {{ form_errors(form.orderPaid) }}
    {{ form_widget(form.orderPaid) }}
</td>
</tr>

<tr>
    <td>{{ form_label(form.isValid) }}</td>
    <td>
    {{ form_errors(form.isValid) }}
    {{ form_widget(form.isValid) }}
</td>
</tr>

<tr>
    <td>{{ form_label(form.auditBy) }}</td>
    <td>
    {{ form_errors(form.auditBy) }}
    {{ form_widget(form.auditBy) }}
</td>
</tr>


{{ form_rest(form) }}

<tr><td>&nbsp;</td><td><input type="submit" value="提交" /></td></tr>

</table>
</form>
{% endblock %}
