{% extends "JiliBackendBundle::base.html.twig"%}

{% block body%}

{% include("JiliBackendBundle:GameEggsBreaker/TaobaoOrder:filter_menu.html.twig") %}

<div align="center">

{% include("JiliBackendBundle::session_notification.html.twig") %}

<form action="{{ path('jili_backend_decemberactivity_orderidfilter') }}" method="POST">

<div>
{{ form_label(form.orderId)  }}
{{ form_widget(form.orderId)  }}
{{ form_errors(form.orderId)  }}
</div>


{{ form_rest(form) }}

<input type="submit" value="submit" />

</form>
</div>
{% endblock %}
