{% extends "JiliBackendBundle::base.html.twig"%}

{% block title %}
Taobao订单列表-12月活动-{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/pageNav.css')}}" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}

<h4>Taobao订单</h4>

{% set flashbag = app.session.flashbag.all %}
{% if flashbag is not empty %}
    <div class="messages-container">
    {% for type, messages in flashbag %}
        {% for message in messages %}
             <div class="alert alert-{{ type }}">
                 {{ message }}
             </div>
        {% endfor %}
    {% endfor %}
    </div>
{% endif %}

<table align="center" width="300">
<tr>
<th>订单号</th>
<th>订单日期</th>
<th>订单金额</th>
<th>审核进度:审核结果\操作</th>
</tr>
{% for entity in entities %}
    <tr>
        <td>{{ entity.orderId }}</td>
        <td>{{ entity.orderAt|date('Y-m-d') }}</td>
        <td>{{ entity.orderPaid|number_format(2,'.',',' )}}</td>
        <td>
{% if entity.isAuditCompleted or  entity.isAuditPending %}
    {% if entity.isAuditCompleted %}
    结束
    {% elseif entity.isAuditPending %}
    等待
    {% endif %}
            {% if entity.isValid %}
            :有效
            {% elseif entity.isInvalid %}
            :无效
            {% elseif entity.isUncertain%}
            :不确定
            {% endif %}

{% else %}
<a href="{{ path( 'jili_backend_decemberactivity_audit', {'id': entity.id })  }}">审核</a>

{% endif %}
        </td>
    </tr>

{% endfor %}
</table>

<!--
    {% set total_  = total %}
    {% set cur = p %}
    <p>cur: {{ cur }}</p>
    {% set first = 1 %} 
    {% set last =  ( total/ page_size) |round(0,'ceil') %} 
    <p>last: {{ last }}</p>
    {% set prev = ( cur > first ) ? cur - 1: first  %}
    <p>prev: {{ prev }}</p>
    {% set next = ( cur < last  ) ? cur + 1: last  %}
-->
<div style="display: inline-block; width: 100%;">
{% include "JiliEmarBundle::page_nav.html.twig" %}

</div>
{% endblock %}
