<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
    loadKeyword({{categoryId}});

    $("#categoryId").change(function(){
        var categoryId = $("#categoryId").val();
        if(categoryId == -1){
            alert("请选择分类");
            return false;
        }
        loadKeyword(categoryId);
    });

    $("#searchBtn").click(function(){
        var componentId = $("#componentId").val();
        var categoryId = $("#categoryId").val();
        var keywordId = $("#keywordId").val();
        if(componentId == -1){
            alert("请选择组件");
            return false;
        }
        if(componentId == {{category_product}} && categoryId == -1){
            alert("请选择分类");
            return false;
        }
        $("#componentForm").submit();
    });

    $("#addComponentBtn").click(function(){
        window.location.href="{{ path('_admin_taobao_saveComponent') }}";
    });

    $("#sortComponentBtn").click(function(){
        $("#sortForm").submit();
    });
});
function loadKeyword(categoryId){
    var html='<option value="-1">全部</option>';
    var selected = '';
    $.ajax({
          url: "{{ path('_admin_taobao_keywords') }}?categoryId="+categoryId,
          post: "GET",
          success:function(data){
            if(data){
                var obj = eval(data);
                for(var i=0;i<obj.length;i++){
                    if(obj[i]['id'] == {{keywordId}}){
                        selected = 'selected="selected"';
                    }else{
                        selected = '';
                    }
                    html += '<option value="'+obj[i]['id']+'" '+selected+' >'+obj[i]['keyword']+'</option>';
                }
                $("#keywordId").html(html);
            }
          }
    });
}
</script>

<form method="get" name="componentForm" id="componentForm" action="{{ path('_admin_taobao_component') }}">
组件类别:
<select name="componentId" id="componentId">
    <option value="-1">&nbsp;</option>
    {% for key, value in component_category %}
    <option value="{{ key }}" {% if componentId == key %} selected="selected" {% endif %} >{{ value }}</option>
    {% endfor %}
</select>
分类:
<select name="categoryId" id="categoryId" >
    <option value="-1">&nbsp;</option>
    {% for item in categorys %}
    <option value="{{ item.id }}" {% if categoryId == item.id %} selected="selected" {% endif %} >{{ item.categoryName }}</option>
    {% endfor %}
</select>
关键字：
<select name="keywordId" id="keywordId">
</select>
<input type="button" value="搜索" name="searchBtn" id="searchBtn">
&nbsp;&nbsp;
<input type="button" value="追加组件" name="addComponentBtn" id="addComponentBtn">
&nbsp;&nbsp;
<input type="button" value="保存排序" name="sortComponentBtn" id="sortComponentBtn">
</form>
<form method=post name="sortForm" id="sortForm" action="{{ path('_admin_taobao_sortComponent') }}">
<table>
    <tr>
        <th width="3%">id</th>
        <th width="7%">keyword</th>
        <th width="70%">content</th>
        <th width="10%">sort</th>
        <th width="10%" >operation</th>
    </tr>
    {% for item in components %}
    <tr>
      <td align="left" >{{ item.id }}</td>
      <td align="left">{{ item.keyword | raw }}</td>
      <td align="left">{{ item.content }} </td>
      <td align="center"><input type="text" size="8" name="sort_{{item.id}}" value="{{ item.sort|raw }}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></td>
      <td align="center"><a href="{{ path('_admin_taobao_saveComponent',{'id':item.id}) }}">编辑</a>
      <a href="{{ path('_admin_taobao_deleteComponent',{'id':item.id}) }}" onclick="if (confirm('确定要删除吗？')) return true; else return false;">删除</a></td>
   </tr>
   {% endfor %}
</table>
</form>
