{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}任务历史{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/point.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    {% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="main-personal w1000 clearfix">
        {% include 'WenwenFrontendBundle:Personal:_leftSideBar.html.twig' %}
        <div class="main-personal-right right rp-main-personal-right">
            <h2>任务历史</h2>
            <div class="main-personal-points">
                <table>
                    <thead>
                    <tr>
                        <th class="title">任务名称</th>
                        <th>奖励积分</th>
                        <th>获得时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pagination.getTotalItemCount > 0 %}
                        {% for task in pagination %}
                            <tr>
                                <td>{{ task.taskName }}</td>
                                <td>{{ task.point }}</td>
                                <td>{{ task.date | date('Y-m-d H:i') }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td align="center" colspan="4">没有任务记录</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}
