<ul>
    {% if pagination is defined %}
    {% for item in pagination %}
        <li {% if item.timelimit is defined %} class="vote-new" {% endif %}>
            <span class="vote-img">
                {% if (item.sqPath) %}
                <a href="{{ path('jili_frontend_vote_show',{'id':item.id}) }}"><img src="{{ asset(item.sqPath)}}" alt="{{item.title}}"></a>
                {% else %}
                <img src="{{ asset('img/vote/no_image.jpg') }}" height="90" width="90">
                {% endif %}
            </span>
            <span class="vote-txt">
                <div class="title"><a href="{{ path('jili_frontend_vote_show',{'id':item.id}) }}">{{ item.title }}</a></div>
                <div class="con">{% autoescape false %}{{ item.description }}{% endautoescape %}</div>
                <div class="relate">
                    <span>参与人气：<strong>{{ item.answerCount }}</strong></span><span class="vline"></span>
                    <span>截止日期：{{ item.endTime|date("Y-m-d") }}</span>
                </div>
            </span>
            {% if item.timelimit is defined %}
            <div><input type="hidden" name="timelimit_ut" value="{{item.timelimit}}" /><div id="countdown" class="countdown"></div></div>
            <div class="tips expand-btn">
                <span></span>
                <div class="tips-con expand-con"><p>倒计时内回答此份快速回答，将额外获得1积分。</p><b class="arrow"></b></div>
            </div>
            {% else %}
                {% if (item.endTime|date("Ymd") < "now"|date('Ymd')) %}
                    <div class="survey-btn"><a href="{{ path('jili_frontend_vote_result',{'id':item.id}) }}" class="disabled">去看看</a></div>
                {% else %}
                    {% if app.session.has('uid') and item.userAnswerCount > 0 %}
                    <div class="survey-btn"><a href="{{ path('jili_frontend_vote_result',{'id':item.id}) }}" class="disabled">去看看</a></div>
                    {% else %}
                    <div class="survey-btn"><a href="{{ path('jili_frontend_vote_show',{'id':item.id}) }}">去投票</a></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
{% endif %}
</ul>