{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent()  }} Test {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/voteDetail.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/component/crumbs.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main">
	<div class="main-con w1000 clearfix">
			<div class="main-con-left left">
				<div class="vote vote-sub">
					<div class="crumbs">
					     <a href="{{ path('wenwen_frontend_home_home') }}" class="home"></a>&nbsp;&nbsp;<em>&gt;</em>&nbsp;&nbsp;<a href="{{ path('wenwen_frontend_vote_index') }}">快速问答一览</a>&nbsp;&nbsp;<em>&gt;</em>&nbsp;&nbsp;快速问答详情
					</div>
					<h1>【生活】错误急救可能造成二次伤害你知道哪点？</h1>
					<div class="relate">
						<img src="{{ asset('img/temp/qsurveyImg.jpg') }}" alt="">
						<div class="relate-text">
							<div>时间：08/04 ~ 08/08</div>
							<div class="description">
								<b class="btn"></b>
								<p class="">该题由热心用户：<b>新神</b> 提供，恭喜他获得了<b>200</b>积分！随着网络的普及，视频播放器已成为每个人的手机或电脑的必备软件，那么您平时最喜欢使用视频播放器已成为每个人的手机或电脑的必备软件，那么您平时最喜欢使用</p>
							</div>
						</div>
					</div>
					<div class="options">
						<ul>
							<li><input type="radio"><span>发烧不能捂，散热才是根本，可以用温水擦浴</span></li>
							<li><input type="radio"><span>脚部扭伤要冷敷，24小时后才能热敷</span></li>
							<li><input type="radio"><span>卡鱼刺喝醋没用，应该用手或镊子取出</span></li>
							<li><input type="radio"><span>烫伤涂牙膏，会污染创面，应该大量冲冷水</span></li>
							<li><input type="radio"><span>被狗咬伤后应及时用清水和肥皂水清洗伤口，消毒注射疫苗，而不是用嘴吸血</span></li>
							<li><input type="radio"><span>异物入眼忌用手揉搓，可尝试眨眼用眼泪排除异物</span></li>
							<li><input type="radio"><span>昏迷掐人中，只对患者的意识有判断作用，掐不对反而会害人</span></li>
							<li><input type="radio"><span>流鼻血仰头并不能止血，大量出血反而容易吸入气管及肺内</span></li>
							<li><input type="radio"><span>以上基本上知道</span></li>
							<li><input type="radio"><span>其他</span></li>
						</ul>
						<div class="btn"><a href="{{ path('wenwen_frontend_vote_result') }}">仅查看结果>></a><span>投票</span></div>
					</div>
			    </div>
			</div>
			<div class="main-con-right right">
				<div><a href="{{ path('wenwen_frontend_vote_suggest') }}"><img src="{{ asset('img/vote/prize.jpg') }}" alt=""></a></div>
				<div class="exchange-dynamics">
					<h2>最新动态</h2>
					<div class="mask">
						<ul>
							<li>
								<p>lyx**  回答调查问卷获得10积分</p>
							</li>
							<li>
								<p>秋水无**  快速问答投票获得1积分</p>
							</li>
							<li>
								<p>程显**  体验广告获得300积分</p>
							</li>
							<li>
								<p>连童**  兑换了手机充值2010积分</p>
							</li>
							<li>
								<p>niuniu**  兑换了上网流量包1850积分</p>
							</li>
							<li>
								<p>妞**  兑换了支付宝现金3221积分</p>
							</li>
							<li>
								<p>xyj**  兑换了上网流量包1850积分</p>
							</li>
							<li>
								<p>永辉**  兑换了手机充值2010积分</p>
							</li>
							<li>
								<p>仙霞**  兑换了支付宝现金3221积分</p>
							</li>
							<li>
								<p>xyj**  兑换了上网流量包1850积分</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
	</div>
</div>
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/vote/voteDetail')}}"></script>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
