<p>* User : {{email}}</p>
<p>* Time : {{ "now" | date("Y-m-d H:i:s") }}</p>
<p>* Topic : {{values.title}}</p>
<p>* Description : {{values.description}}</p>
<p>* Options
    <br>option1 : {{values.option1}}
    <br>option2 : {{values.option2}}
    <br>option3 : {{values.option3}}
    <br>option4 : {{values.option4}}
    <br>option5 : {{values.option5}}
    <br>option6 : {{values.option6}}
    <br>option7 : {{values.option7}}
    <br>option8 : {{values.option8}}
    <br>option9 : {{values.option9}}
    <br>option10: {{values.option10}}
</p>