{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}快速问答详情：{{ parent() }} {% endblock %}
{% block meta %}
<meta name="keywords" content="快速问答，热点问答，快速问答详情，热门问题，热门回答，快速问答投票" />
<meta name="description" content="快速问答详情页面为用户展示了热门问题及常见回答，供用户进行投票，表达自己的观点。" />
<meta name="title" content="快速问答详情:91问问调查网" />
{% endblock %}
{% block stylesheet %}
<link href="{{ asset('css/voteDetail.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/component/crumbs.css') }} " rel="stylesheet" type="text/css">
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-con w1000 clearfix">
    <div class="main-con-left left">
        <div class="vote vote-sub">
            <div class="relate">
                {% if vote_image_path %}
                <img src="{{ asset(vote_image_path)}}" alt="{{vote.title}}" width="90">
                {% else %}
                <img src="{{ asset('img/vote/no_image.jpg') }}" height="90" width="90">
                {% endif %}
                <div class="relateText">
                    <h1>{{vote.title}}</h1>
                    <div class="description">
                        <div class="fst"><span class="cor9">时间：</span>{{vote.startTime|date("m/d")}} ~ {{vote.endTime|date("m/d")}}</div>
                        <div><span class="cor9">详情：</span>{% autoescape false %}{{ vote.description }}{% endautoescape %}</div>
                    </div>
                </div>
            </div>
            <form action="{{ path('jili_frontend_vote_vote') }}" method="post" name="form1" id="show_form" >
            <input type="hidden" value="{{ csrf_token }}" name="csrf_token" />
            <input type="hidden" value="{{ vote.id }}" name="id" />
            <div class="options">
                <ul>
                {% for key, voteChoice in voteChoices %}
                    <li>{% if user_answer_count==0 %}<input type="radio" name="answer_number" id="answer_number_{{key}}" value="{{key}}" />{% endif %}<label for="answer_number_{{key}}">{{key}}.{{voteChoice}}</label></li>
                {% endfor %}
                </ul>
                <div class="btn"><a href="{{ path('jili_frontend_vote_result',{'id':vote.id}) }}" class="result">仅查看结果>></a>
                {% if app.session.get('uid') %}
                    {% if user_answer_count==0 %}
                    <input type="submit" value="投  票" class="submit" />
                    {% endif %}
                {% else %}
                    <div class="loginTips"><a href="{{ path('_user_login') }}">请登录后</a>参加投票。</div>
                {% endif %}
                </div>
                <a class="backLink" href="{{ path('jili_frontend_vote_index') }}">返回快速问答一览>></a>
            </div>
            </form>
        </div>
    </div>
    {% include 'WenwenFrontendBundle:Vote:_voteRight.html.twig' %}
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/vote/voteDetail')}}"></script>
{% endblock %}
