{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}出错啦：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/404.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-error-con clearfix">
	<div class="errorCon">
		<div class="errorText">
			{% if errorMessage is defined and errorMessage is not empty %}
				<p class="txt">{{ errorMessage|nl2br }}</p>
			{% else %}
				<p class="txt">对不起，出错啦！请确认您所输入的网址是否正确。</p>
			{% endif %}
				<p class="btn"><a href="{{ path('_homepage') }}">返回首页</a><a href="{{ path('_default_feedback') }}">联系客服</a></p>
		</div>
	</div>
</div>
<div class="errorBot"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/header')}}"></script>
{% endblock %}