{% extends '::base.html.twig' %}

{% block body -%}
    <h1>非商业调查问卷设置</h1>

    <a class="btn btn-primary btn-sm" href="{{ path('gmo_new') }}">新增</a>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="active">
                <th>Id</th>
                <th>ResearchId</th>
                <th>Title</th>
                <th>Type</th>
                <th>CompletePoint</th>
                <th>ScreenoutPoint</th>
                <th>QuotafullPoint</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.researchId }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.completePoint }}</td>
                <td>{{ entity.screenoutPoint }}</td>
                <td>{{ entity.quotafullPoint }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-primary btn-sm" href="{{ path('gmo_edit', { 'id': entity.id }) }}">编辑</a>
                        </li>
                        <li>
                            <form id="deleteForm" action="{{ path('gmo_delete') }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="id" value="{{ entity.id }}">
                                <button id="confirm-delete" class="btn btn-danger btn-sm" type="button">删除</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts -%}
    <script>
        $('#confirm-delete').on('click', function(){
            bootbox.confirm({
                size: "small",
                message: "旁友，侬确定要乃伊组特？",
                buttons: {
                    confirm: {
                        label: '删除',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                callback: function(result){
                    if (true === result) {
                        $('#deleteForm').submit();
                    }
                }
            });
        });
    </script>
{% endblock %}