{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SurveyGmoNonBusiness</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Researchid</th>
                <td>{{ entity.researchId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Completepoint</th>
                <td>{{ entity.completePoint }}</td>
            </tr>
            <tr>
                <th>Screenoutpoint</th>
                <td>{{ entity.screenoutPoint }}</td>
            </tr>
            <tr>
                <th>Quotafullpoint</th>
                <td>{{ entity.quotafullPoint }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gmo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gmo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('gmo_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
