{% extends 'JiliEmarBundle::base140307.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('css140307/shopMore.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/commodity.css') }} " rel="stylesheet" type="text/css">
{% endblock %}


{% block javascript %}
{{  parent() }}
{% endblock %}

{% block search_box %}
     {# include 'JiliEmarBundle:Websites:searchForm.html.twig' with {'form': search_form, 'router': 'jili_emar_websites_shopsearch' } #}
{% endblock %}


{% block page_main %}

  <div class="main w834 fl">
      <div class="shop-info module clearfix">

        {% if website is defined %}
                {% if app.session.get('uid') is defined %}
                  {% set href_ = website.web_url|replace( { 'APImemberId': app.session.get('uid') } ) %}
                {% else %}
                  {% set href_ = "#" %}
                {% endif %}
        {% endif %}

        <div class="shop-info-l">
          <div class="shop_img"> <a href="{{ href_ }}" target="_blank" rel="nofollow"><img src="{{ website.logo_url }}" width="120" height="60" /></a>
            <p class="shop-rebate">最高返利<em>4.2%</em></p>
          </div>
          <a href="{{ href_ }}" class="goBtn" target="_blank" rel="nofollow" >去购物,赚米粒</a> 
        </div>
        <div class="shop-info-r">
          <h2>{{ website.web_name }}</h2>
          <p class="intro">{{ website.information }}</p>
          <p class="rebate">返利比率：<em>正常商品：7%  团购商品：2%  优惠券、礼品卡商品：4%</em></p>
        </div>
     </div><!-- eof shop-info -->

      <div class="explain module">
      <h3>返利流程</h3>
      <img src="{{ asset('images140307/rebateExplain.jpg') }}" /> </div>

    <div class="shopRecommend">
      {{  render( controller("JiliEmarBundle:Product:recommendByWeb",  {'wid': website.web_id } ) )  }}
    </div>

<!--
<p>wid: {{ website.web_id }}</p>
<p>name: <a href="{{ href_ }}" target="_blank" rel="nofollow">{{ website.web_name }}</a></p>

<p> From {{ website.begin_date|date('Y年m月d日') }}  to {{ website.end_date|date('Y年m月d日') }}</p>
<p> Commission: {{ website.commission  }}</p>
<p>Introduce: {{  website.information }}</p>
<img src="{{ website.logo_url }}" alt="logo" />
-->

  </div><!-- eof main  -->

  <div class="sidebar w300 fr">
    {{  include( "JiliEmarBundle:Product:suggestionHot.html.twig") }}
  </div>

{% endblock %}

{#
\EmarBundle\Controller\WebsitesController:array (
 34   'web_id' => '1301',
 35   'web_name' => '易迅',
 36   'web_catid' => '3',
 37   'logo_url' => 'http://image.yiqifa.com/ad_images/reguser/24/53/11/1315978406469.jpg',
 38   'web_url' => 'http://p.yiqifa.com/n?k=2mLErnDe1ngH2mquUZgL18H_UmUmfcyAkZPdf96_YQLErI6H6nWlWZLFWEjS1QLLrJqwkBMsKQq_rI6H6NWe3NDmMJBH2L--&e=APImembe    rId&spm=139216929186018017.1.1.1',
 39   'information' => '易迅网是依托著名的IT产品通路商上海易迅电子商务发展有限公司而创立的新一代专业电子商务消费服务网站。易迅网利用强大的全球化集约采>    购优势、丰富的电子商务管理服务经验和最先进的互联网技术为您提供最新最好的电脑配件类、游戏外设类、多媒体设备类、数码设备类、时尚用品类等等多种时尚精>    品。',
 40   'begin_date' => '2009-12-07 00:00:00',
 41   'end_date' => '2013-12-31 00:00:00',
 42   'commission' => '佣金为:1-60元',
 43 ) [] []

#}
