{% extends 'JiliEmarBundle::base140307.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('css140307/pageNumber.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/recommend.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/shopMore.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/commodity834.css') }} " rel="stylesheet" type="text/css">
{% endblock %}


{% block javascript %}
{{  parent() }}
<script src="{{ asset('js140307/recommend.js') }}" language="javascript"></script>
{% endblock %}


{% block header %}
  {% embed "::header.html.twig" %}
    {% block search_box %}
        {{ render( controller('JiliEmarBundle:Search:form', {  'rt' : 1 } )) }}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block page_main %}

  <div class="main w834 fl">
      <div class="shop-info module clearfix borderGlob">
        {% set href_ = path('jili_emar_default_redirect') ~ '?m=' ~ website.web_url|url_encode %}
        <div class="shop-info-l">
          <div class="shop_img"> <a href="{{ href_ }}" target="_blank" rel="nofollow"><img src="{{ website.logo_url }}" width="120" height="60" /></a>

{% if web_commission is defined and web_commission > 0 %}
            <p class="shop-rebate corLightGray">最高返利<em>{{ web_commission }}%</em></p>
{% endif %}


          </div>
          <a href="{{ href_ }}" class="goBtn" target="_blank" rel="nofollow" >去购物,赚米粒</a> 
        </div>
        <div class="shop-info-r">
          <h2 class="corBlack">{{ website.web_name }}</h2>
          <p class="intro">{{ website.information|raw }}</p>
          <p class="rebate">返利比率：<em>正常商品：7%  团购商品：2%  优惠券、礼品卡商品：4%</em></p>
        </div>
     </div><!-- eof shop-info -->

      <div class="explain module borderGlob">
      <h3>返利流程</h3>
      <img src="{{ asset('images140307/rebateExplain.jpg') }}" /> </div>

    <div class="shopRecommend">
      {{  render( controller("JiliEmarBundle:Product:recommendByWeb",  {'wid': website.web_id } ) )  }}
    </div>

  </div><!-- eof main  -->

  <div class="sidebar w300 fr">
  	<div>
        {# 300*250，纯文字 #} 
        {% include "JiliApiBundle:Ads:cpro_baidu.html.twig" with { cpro_id:"u1522260" } %}
	</div>
    <div class="marginT15">	
        {# 300*250，纯图片 #} 
        {% include "JiliApiBundle:Ads:cpro_baidu.html.twig" with { cpro_id:"u1519420" } %}
    </div>
    </div>
  </div>

{% endblock %}

