      <h3>返利商城</h3>
      <div class="menu">{#<a href="#" class="hover">热门商城</a> | <a href="#">服装饰品</a> | <a href="#">手机数码家电</a>#}<a class="more" href="{{ path('jili_emar_websites_shoplist',{wcat:1,p:1}) }}">更多&gt;&gt;</a></div>
      <ul class="clearfix">
    {% for row in websites %}
        
        <li><a href="{{ path('jili_emar_default_redirect') ~ '?m=' ~ row.webUrl|url_encode  }}" title="{{ row.webName }}" target="_blank"><img width="80" height="40" src="{{ row.logoUrl }}" alt="{{ row.webName }}">

        {% if row.commission > 0 %}
          <p>最高返<em class="corGlobRed">{{ row.commission }}%</em></p>
        {% endif %}
           </a>
        </li>
    {% endfor %}
      </ul>
