<ul class="clearfix" style="display:block;">
    {% for wid,row in websites%}
    {% set href_ = path('jili_emar_default_redirect') ~ '?m=' ~ row.url|url_encode %}
    <li>
        <a class="logoImg" target="_blank" title="{{ row.name }}" href="{{ href_ }}"><img src="{{ row.logo }}" alt="{{ row.name }}" width="120" height="60"></a>
        {% if row.commission > 0 %}<div class="logoWord lightGray">最高返{{ row.commission }}%</div>{% endif %}
        <div class="logoMore">
            <a target="_blank" href="{{ href_ }}" class="toBuy"><i class="shopIcon"></i>去购物</a>
            <a target="_blank" href="{{  path('jili_emar_websites_detail', {'wid': wid }) }}" class="toMore"><i class="detailIcon"></i>看详情</a>
        </div>
    </li>
    {% else %}
    <em>很抱歉，没有找到相关的商家。</em> 
    {% endfor %}
</ul>
