{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css140307/pageNumber.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/recommend.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/searchShop.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/screen.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %} 
<script src="{{ asset('js140307/recommend.js') }}" language="javascript"></script> 
<script src="{{ asset('js140307/shopList.js') }}" language="javascript"></script> 
<script src="{{ asset('js140307/screen.js') }}" language="javascript"></script> 
<script type="text/javascript">
	  $(document).ready(function() {
		for(i=3; i<9; i+=4){
		  $(".searchRecommend li").eq(i).css("margin-right", "0");
		  }
	  });
</script> 
{% endblock %}

{% block body %}
<div class="main w834 fl"> {# include( "JiliEmarBundle:Websites:shopSearch_category.html.twig") #}
  
  {{ include( "JiliEmarBundle:Websites:shopSearch_page.html.twig") }} 
    <div class="l834Taobao">
        <a data-type="3" data-tmpl="800x90" data-tmplid="195" data-rd="2" data-style="2" data-border="0" href="#"></a>
    </div>
    {% include "JiliFrontendBundle::alimama.html.twig" with { pid:"mm_49376465_4372428_25660341" } %}
</div>
<!-- eof main-->

<div class="sidebar fr" style=" width: 155px; height:210px;">
<!-- 商城检索结果页右侧 (改) -->
{% include "JiliApiBundle:Ads:cpro_baidu.html.twig" with { cpro_id:"u1653801" } %}
</div>
<!-- eof sidebar --> 

{% endblock %} 