<ul class="searchShopUl">
{% for row in websites %}
        <li class="clearfix">
          <div class="dt">
            <p class="img"><img src="{{ row.logo_url }}" width="120" height="60" /></p>
            <p class="shop">{{ row.web_name }}</p>
          </div>
          <div class="dd">
        {% if websites_infos[row.web_id] is defined %}
            <p class="title">{{  websites_infos[row.web_id] }} </p>
        {% else %}
            <p class="title">{{  row.web_name }} </p>
        {% endif %}
            <p class="shopMore"><a href="{{ path( 'jili_emar_websites_detail', {'wid' : row.web_id })  }}">查看返利详情>></a></p>
          </div>
          <div class="dc">
            <p class="rebate">返利{{ row.commission }}</p>
            <p class="btn">
                {% if app.session.has('uid') %}
                    <a class="buy" href="{{ row.web_o_url|replace({"APIMemberId" : app.session.get('uid') })  }}" target="_blank" rel="nofollow">去购物，赚米粒</a>
                {% else %}
                    <a class="buy" href="{{ path('_user_login')   }}" target="_blank" rel="nofollow">去购物，赚米粒</a>
                {% endif %}

            </p>
          </div>
        </li> 
{% else %}
<em class="noResult borderGlob"><span class="icon"></span><span class="text">很抱歉，没有找到相关的商家。<span></em>
{% endfor %}
</ul>
