
{% set wcatid_q = app.request.query.get('wcat','') %}

      <h1>搜索关键字：{{ search_keyword }}<span>共{{ total }}个结果</span></h1>
      <div class="screen clearfix">
        <dd class="fl w794 h56">
        {% if wcatid_q is not defined or wcatid_q|length == 0 %}
            <li><a class="hover" href="#" onclick="javascript:return false;">热门商家</a> </li>
        {% else %}
            <li><a  href="#" onclick="javascript:return false;">热门商家</a> </li>
        {% endif %}


{% for wcatid,cat in categories %}

{% if wcatid_q is defined and wcatid_q == wcatid  %}
        <li><a class="hover" href="#" onclick="javascript:return false;" >{{ cat.name}}</a></li>
{% else %}
        <li><a  href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'wcat':wcatid, "p":1 })) }}">{{ cat.name}}</a></li>
{% endif  %}
{% endfor  %}

      </div>

