
{% if rt is not defined %}
{% set rt = app.request.attributes.get('_route') %}
{% endif %}

<!-- {{ rt  }} -->

{% if qs is not defined %}
{% set qs = app.request.query.all %}
{% endif %}

<ul>
{% for ind,item in menu_config %}
    {% if  item.cat_name  is defined %}
            <li>{{ item.cat_name }}</li>
                {% for scid,scat   in sub_cats[ item.cat_id] %} 
                    <p><a href="{{ path( rt, qs |merge({'q': '', 'cat':scid, "p":1, "pr":"" })) }}">{{ scat }}</a></p>
                {% endfor %}

    {% else %}
        {% for key1,item1 in item %}

            {% if key1.cat_name is defined %}
                <li>{{ key1.cat_name }}</li>
                {% for scid,scat   in sub_cats[ key1.cat_id] %} 
                    <p><a href="{{ path( rt, qs |merge({'q': '', 'cat':scid, "p":1, "pr":"" })) }}">{{ scat }}</a></p>
                {% endfor %}
            {% else %}
              <li>{{ key1 }}</li>
            {% endif %}
              
           {% for ind2,item2 in item1 %}  
                {% if item2.cat_name is defined %}
                  <h5>{{ item2.cat_name }}</h5>
                {% for scid,scat   in sub_cats[ item2.cat_id] %} 
                    <p><a href="{{ path( rt, qs |merge({'q': '', 'cat':scid, "p":1, "pr":"" })) }}">{{ scat }}</a></p>
                {% endfor %}
                {% else %}
                <!-- ==! -->
                {% endif %}
           {% endfor %}
        {% endfor %}
    {% endif %}

{% endfor %}
</ul>

<!--
      <ul>

    {% for cid, cat in cats %}


        <li>{{ cat }}

          <div class="second">
        {% for scid, scat in sub_cats[cid] %}
            <dd>

               <a href="{{ path( rt, qs |merge({'q': '', 'cat':scid, "p":1, "pr":"" })) }}">{{ scat }}</a></dd>
        {% endfor %}
          </div>
         </li>
    {% endfor %}
    </ul>

-->
