{% for row in products %}
        <li>
        <dt class="image curPt">
	       {% if app.session.has('uid')  %}
		   <a href="{{ row.p_o_url|replace( { 'APIMemberId': app.session.get('uid') } ) }}" target="_blank"  rel="nofollow" >
		   {% else %}
		   <a href="{{ path('_user_login') }}">
		   {% endif %}
	        <img src="{{ row.pic_url }}" width="200" height="200" alt="pic url" />
	        </a>
        </dt>
          <dd class="clearfix">
            <div class="title">
			   {% if app.session.has('uid')  %}
			   <a href="{{ row.p_o_url|replace( { 'APIMemberId': app.session.get('uid') } ) }}" target="_blank"  rel="nofollow" >
			   {% else %}
			   <a href="{{ path('_user_login') }}">{% endif %}{{ row.p_name }}</a>
		   </div>
           <div class="detail">
            <span class="fl price">￥<strong>{{ row.cur_price }}</strong></span>
            <span class="tr fr fontNormal rebate"><a class="shop corGlobRed" >{{ row.web_name }}</a><br/>
          {% if web_commissions[row.web_id] > 0 %}
            <p class="corLightGray">返利最高：<em class="corGlobRed">{{ web_commissions[row.web_id] }}%</em></p>
          {% endif %}
            </span>
           </div>
		 </dd>
        </li>
{% else %}
<em class="noResult borderGlob"><span class="icon"></span><span class="text">很抱歉，没有找到相关的商品。<span></em>
{% endfor %}
