
{% extends 'JiliEmarBundle::base140307.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('css140307/pageNumber.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/recommend.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/categorysFilter.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/screen.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/commodity930.css') }} " rel="stylesheet" type="text/css">
{% endblock %}


{% block javascript %}
<script src="{{ asset('js140307/recommend.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/categorysFilter.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/screen.js') }}" language="javascript"></script>
{% endblock %}


{% block header %}
  {% embed "::header.html.twig" %}
    {% block search_box %}
        {{ render( controller('JiliEmarBundle:Search:form', { 'qs': app.request.query.all } )) }}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block page_main %}

  <div class="sidebar w204 fl">
    <div class="module categorysFilter">
      {% include('JiliEmarBundle:Product:search_category.html.twig') %}
    </div>

{#
#}
    <!-- --> 
    <div class="module miniRecommend">
      <div class="shade">
        <ul class="clearfix">
          <li>
            <div class="img"><a href="#"><img src="other140307/image100.jpg" width="150" height="150" /></a>
              <p class="title">BERLA 2013新品夏装女童装花童礼服韩版气质甜美网纱公主裙</p>
            </div>
            <div class="price clearfix">
              <dt>京东商城</dt>
              <dd>¥128.20</dd>
            </div>
            <p class="rebate">返利最高：<em>10%</em></p>
          </li>
          <li>
            <div class="img"><a href="#"><img src="other140307/image100.jpg" width="150" height="150" /></a>
              <p class="title">BERLA 2013新品夏装女童装花童礼服韩版气质甜美网纱公主裙</p>
            </div>
            <div class="price clearfix">
              <dt>京东商城</dt>
              <dd>¥128.20</dd>
            </div>
            <p class="rebate">返利最高：<em>10%</em></p>
          </li>
          <li>
            <div class="img"><a href="#"><img src="other140307/image100.jpg" width="150" height="150" /></a>
              <p class="title">BERLA 2013新品夏装女童装花童礼服韩版气质甜美网纱公主裙</p>
            </div>
            <div class="price clearfix">
              <dt>京东商城</dt>
              <dd>¥128.20</dd>
            </div>
            <p class="rebate">返利最高：<em>10%</em></p>
          </li>
        </ul>
      </div>
      <a class="prevBtn">prev</a><a class="nextBtn">next</a> </div>
  </div>
  <div>
<!-- a -->
{% set w_q = app.request.query.getInt('w')  %}{# website in  request url #}

  <div class="main w930 fr">
      <h1>{{ crumbs_local }}{{  crumbs_local|length > 0 ? '-' : '' }} 搜索关键字：{{ app.request.query.get('q')  }}<span>共{{  total }}件宝贝</span></h1>
      <div class="screen clearfix">
        <dt class="fl">商城筛选：</dt>
        <dd class="fl w820 h28">
            {% if w_q is not defined or w_q == 0 %}
            <a  class="hover" onclick="javascript: return false;" href ="#" >全部</a> 
            {% else %}
            <a  href ="{{ path( app.request.attributes.get('_route'),  app.request.query.all|merge({'w': 0, "p":1, "pr":""})) }}">全部</a> 
            {% endif %}

            {% for webid,row in webs_filter.webs %}

            {% if w_q is defined and w_q == webid %}
                <a href="#" class="hover" onclick="javascript:return false;" >{{ row.webName|e }}</a> 
                {% else %}
                <a href="{{ path( app.request.attributes.get('_route'), app.request.query.all|merge({'w': webid, "p":1, "pr":"" })) }}">{{ row.webName|e }}</a> 
                {% endif %}
            {% endfor  %}

            <a class="unfoldBtn">展开</a> </dd>
        <dt class="fl">排序：</dt>
        <dd class="fl w820 h28"> 
            {{ include('JiliEmarBundle:Product:search_orderby.html.twig' ) }}
            {{ include('JiliEmarBundle:Product:search_price_range.html.twig' ) }}
        </dd>
      </div>

      <ul class="module commodityUl clearfix">
        {{ include('JiliEmarBundle:Product:search_pagination.html.twig', {'products': products , 'total': total } ) }}
      </ul>

      <div style="display: inline-block; width: 100%;">
      {% include "JiliEmarBundle:Product:retrieve_page_nav.html.twig"  %}
      </div>

  </div> <!--eof screen -->

  </div>
{% endblock %}


