        <div class="seacherMenu"> <span>商品</span>
          <ul style="display: none;">
            <li lang="commodity">商品</li>
            <li lang="shop">商城</li>
          </ul>
        </div>
        <div class="form">

{% if all is defined %}
    <form action="{{ path('jili_emar_product_searchform' , all   ) }}" method="POST" >
{%  else %}
    {% if router is defined %}
        <form action="{{ path( router , app.request.query.all   ) }}" method="POST" >
    {% endif %}
        <form action="{{ path('jili_emar_product_searchform' , app.request.query.all   ) }}" method="POST" >
{% endif %}

<!-- 
<input type="text" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s" class="text">
-->
          {{ form_widget(form.q, {'attr': { 'type': 'text', 'onkeydown': "javascript:if(event.keyCode==13) search('key');", 'autocomplete':"off", 'id':"key", 'accesskey':"s", 'class':"text"  }} )  }}
          <input type="submit" clstag="homepage|keycount|home2013|03a" onclick="search('key');return false;" class="button" value="搜索">
          {{ form_rest(form)  }}
</form>
        </div>
