{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}fulcrum dev demo{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/gadget.css') }} " rel="stylesheet" type="text/css">
{% endblock %}
 
{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}

  <div class="box">
    <div class="top"> <span>问卷列表</span> </div>
    <!-- /#top -->
    <div class="box_content">
      <table border="0" cellspacing="0" cellpadding="0" summary="回答问卷"  class="quick_table" id="survey-list">
        <thead>
        <tr class="bgOn">
          <th class="first" scope="col">问卷类型</th>
          <th class="period" scope="col">回答期限</th>
          <th class="num" scope="col">问卷编号</th>
          <th scope="col" class="tlleft">问卷标题</th>
          <th class="answerOn" scope="col">回答状态</th>
          <th class="point" scope="col">积分数</th>
        </tr>
      </thead>
        <tbody>

          <tr>
            <td class="first"><span class="other" title="">桌面调查助手</span></td>
            <td class="period"> -- </td>
            <td class="num"> -- </td>
            <td>下载91问问调查助手</td>
            <td class="answerOn"><a href="<?php echo url_for('gadget/#pc'); ?>">查看</a></td>
            <td class="point"><span class="num_l">ss</span></td>
          </tr>

        </tbody>
    </table>
<div class="clear"></div>
   </div>
</div><!-- eof box -->


{{ include("WenwenFrontendBundle:FulcrumProjectSurvey:_fulcrumSurveyList.html.twig", { "sop_params": sop_params } ) }}

{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/survey/fulcrum')}}"></script>

{% endblock %}
