<header>
  <section>
    <div id="logo"><a href="{{ path('_default_index') }}"><img src="{{ asset('images/logo.gif')}}" width="109" height="37"></a></div>
    <nav id="menu">
      <ul>
        <li><a href="{{ path('_default_index') }}">首页</a></li>
        <li><a href="{{ path('_advertiserment_list')}}">体验广告</a></li>
        <li><a href="{{ path('_exchange_index')}}">兑换中心</a></li>
        <li><a href="{{ path('_default_about')}}">关于我们</a></li>
        <li class="last"><a href="{{ path('_default_help')}}">帮助中心</a></li>
      </ul>
    </nav>
  
    {% include 'JiliApiBundle:Default:info.html.twig' %}

  </section>
</header>