<link href="{{ asset('css/game_prompt.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('css/personal.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/amazon.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/bottom.js')}}" type="text/javascript"></script>
<script>
$(document).ready(function(){
  $('.amazon').hide();
  $('.blackBg').hide();
  $("#amazonEmpty").hide();
  {% if app.session.get('uid') %}
      isVisit();
      isNewMs();
      countMs();
      $(".closeBtn").click(function(){
          $('.amazon').hide();
          $('.blackBg').hide();
      });
      $(".close").click(function(){
          $('.amazon').hide();
          $('.blackBg').hide();
      });
      $(".infoFinish").click(function(){
          var  sex =  $("input[name='sex']:checked").val();
          var  year = $("#year").val();
          var  month = $("#month").val();
          var province = $("#province").val();
          var city = $("#city").val();
          var tel = $("#tel").val();
          var income = $("input[name='income']:checked").val();
          var hobbys = document.getElementsByName("hobby");
          var chestr="";
          for(var i=0;i<hobbys.length;i++){
             if(hobbys[i].checked==true){
                  chestr += hobbys[i].value+",";
              }
          }
          $.ajax({  
            url: "{{ path('_user_registerReward') }}",
            type: "POST",
            data: "sex="+sex+"&year="+year+"&month="+month+"&province="+province+"&city="+city+"&tel="+tel+"&income="+income+"&hobby="+chestr,
            success:function(data){
                var obj = eval(data);
                if(obj[0]['code']==1){
                   $("#update").hide();
                   $("#amazonEmpty").show();
                }
                if(obj[0]['code']==4){
                    $(".error").html("<font class='codeflag'>除手机外都为必填</font>");

                }
                if(obj[0]['code']==5){
                    $(".error").html("<font class='codeflag'>手机格式错误</font>");

                }
            }
          });
 
      });
      isExistInfo();
      showInfo();
      getYear_amazon(); 
      getProince_amazon();
      getIncome();
      getHobby();
  {% endif %}
});

function showInfo(){
     $.ajax({
          url: "{{ path('_user_userInfo') }}",
          type: "GET",
          success:function(data){
             var obj = eval(data);
             $('.login').html(obj[0]['email']);
             $('.nick').html(obj[0]['nick']);
             if(obj[0]['sex']==1){
                document.getElementById("man").checked=true;
             }
             if(obj[0]['sex']==2){
                document.getElementById("feman").checked=true;
             }
             if(obj[0]['mobile']){
                $("#tel").val(obj[0]['mobile']);
             }
   
          }
      });
}

function isNewMs(){
   {% if app.session.get('uid') %}
   $.ajax({
          url: "{{ path('_user_isNewMs',{'id':app.session.get('uid')}) }}",
          type: "GET",
          success:function(data){
              if(data){
                   $('.newms').attr('href',"{{ path('_user_message',{'sid': 2}) }}"); 
              }else{
                  $('.newms').attr('href',"{{ path('_user_message',{'sid': 1}) }}"); 
              }
          }
        });
  {% endif %}
}
function countMs(){
    $.ajax({
          url: "{{ path('_user_countMs') }}",
          type: "GET",
          success:function(data){
              $("#countMessage").html(data);
          }
        });
}

function isVisit(){
   $.ajax({
          url: "{{ path('_default_isExistVist') }}",
          type: "GET",
          success:function(data){
              if(data==1){
                $("#playGame").addClass("gameset");
              }
          }
        });
}

function amazonReward(){
   $('.blackBg').show();
   $('.amazon').show();
   $("#update").show();
   $('.amazon').css("left",($('body').width()-$('.amazon').width())/2);
   if($('body').height() < $('.amazon').height() + 240){
      $('.blackBg').height($('.amazon').height() + 400)
   }else{
      $('.blackBg').height($('body').height())
   }
}

function isExistInfo(){
  $.ajax({
            url: "{{ path('_user_isExistInfo') }}",
            type: "GET",
            success:function(data){
                if(data==1){
                  $.ajax({
                        url: "{{ path('_default_infoVisit') }}",
                        type: "GET",
                        success:function(data){
                            if(data==1){
                                 amazonReward();
                            }
                        }
                  });    
                }
            }
          });
}

function getIncome(){
  $.ajax({
      url: "{{ path('_user_income') }}",
      type: "GET",
      success:function(data){
        var obj = eval(data);
        var html = '';
        for(var i=0;i<obj.length;i++){ 
      html += "<input name='income' type='radio' value='"+obj[i]['id']+"' >"+obj[i]['income'];  
        }
        $(".income").html(html); 
      }
        });
}
function getHobby(){
  $.ajax({
      url: "{{ path('_user_hobby') }}",
      type: "GET",
      success:function(data){
        var obj = eval(data);
        var html = '';
        for(var i=0;i<obj.length;i++){ 
      html += "<input name='hobby' type='checkbox' value='"+obj[i]['id']+"' >"+obj[i]['hobby'];  
        }
        $(".hobby").html(html); 
      }
        });
}

function getProince_amazon(){
  $.ajax({
      url: "{{ path('_user_province') }}",
      type: "GET",
      success:function(data){
        var obj = eval(data);
        var html = "<option value='0'>请选择省</option>";
        for(var i=0;i<obj.length;i++){ 
      html += "<option value='"+obj[i]['id']+"' >"+obj[i]['provinceName']+"</option>";  
        }
        $("#province").html(html); 
      }
        });
}

function getYear_amazon(){
      var year = $("#year");  
      var month = $("#month");  
    
      var yearhtml = '';
      var monthhtml = '';
      var date = new Date();  
      var y = date.getFullYear();  
      yearhtml += "<option value='0'>请选择年</option>";   
      for (var i = 1940; i <= y ; i++) {  
 
         yearhtml += "<option value='"+i+ "' >"+i+"</option>";
      } 
      year.html(yearhtml);
      monthhtml += "<option value='0'>请选择月</option>";   
      for (var i = 1; i < 13; i++) {  
    
          monthhtml += "<option value='"+i+ "' >"+i+"</option>"; 
      }
      month.html(monthhtml);
}
function selectYear_amazon(){
  var month = $("#month"); 
  if($("#year").val()=='0'){
    month.get(0).options.length = 0; 
    month.get(0).options.add(new Option("请选择月", "0"));  
  }else{
    month.get(0).options.length = 0; 
    month.get(0).options.add(new Option("请选择月", "0"));  
    for (var i = 1; i < 13; i++) {  
            month.get(0).options.add(new Option(i, i));  
    }
  }
}

function selectCity_amazon(){
  var html = ''; 
  if($("#province").val()!=0){
     $.ajax({
              url: "{{ path('_user_getCity') }}?cid="+$('#province').val(),
              type: "GET",
              success:function(data){
                var obj = eval(data);
                for(var i=0;i<obj.length;i++){ 
                    html += "<option value='"+obj[i]['id']+"'>"+obj[i]['cityName']+"</option>";                 
                }
                $("#city").html(html); 
              }
          });
  }else{
      html += "<option value='0'>请选择地区</option>";   
      $("#city").html(html);
  }
}

</script>
<header>
  <section>
    <div id="logo"><a href="{{ path('_default_index') }}"><img src="{{ asset('images/logo.gif')}}"></a></div>
    <nav id="menu">
      <ul>
        <li><a href="{{ path('_default_index') }}">首页</a></li>
        <li><a href="{{ asset(path('_game_index'),'cdn1')  }}">游戏体验</a><span id="playGame"></span></li>
        <li><a href="{{ asset(path('_advertiserment_list'),'cdn1')  }}">体验广告</a></li>
        <li><a href="{{ asset(path('_shopping_list'),'cdn1') }}">购物返利</a></li>
        <li><a href="{{ asset(path('_exchange_index'),'cdn1')  }}">兑换中心</a></li>
        <li class="last"><a href="{{ asset(path('_default_about'),'cdn1')  }}">关于我们</a></li>
        <!--<li class="last"><a href="{{ asset(path('_default_help'),'cdn1')  }}">帮助中心</a></li>-->
      </ul>
    </nav>
  
    {% include 'JiliApiBundle:Default:info.html.twig' %}

  </section>
</header>

<div class="blackBg"></div>
<div class="amazon">
<div class="banner"><img src="{{ asset('images/userInfo.png') }}"></div>
<a class="closeBtn"><img src="{{ asset('images/closeBtn.jpg') }}"></a>
<div id="amazonEmpty"><img src="{{ asset('images/finishInfo.jpg') }}">
<div class="closeDiv"><a class="close"><img src="{{ asset('images/userInfoClose.jpg') }}"></a></div>
</div>
<section id= "update">
<form method="post" id="actForm">
    <div class="content info">
      <ul>
        <li>
          <dd>登录账号：</dd>
          <dt class='login'></dt>
        </li>
        <li style="width:40%;">
          <dd>昵  称：</dd>
          <dt class='nick'></dt>
        </li>
   <li style="width:60%;">
          <dd><font style="color:#EE472C;"> * </font>性  别：</dd>
          <dt>
            <input name="sex" type="radio" value="1" id="man">
            男
            <input name="sex" type="radio" value="2" id="feman">
            女</dt>
        </li>
   <li style="width:40%;"><dd><font style="color:#EE472C;"> * </font>出生年月：</dd>
            <dt><select id="year" name="year" onchange="selectYear_amazon()"></select>      
            &nbsp;<select id="month" name="month"></select>      
          </dt>
  </li>

  <li style="width:60%;"><dd><font style="color:#EE472C;"> * </font>地区：</dd>
            <dt><select id="province" name="province" onchange="selectCity_amazon()">
            <option value="0">请选择省</option>
              
            </select>
            <select id="city" name="city"><option value='0'>请选择地区</option>
              </select>
              </dt></li>

   <li>
          <dd>手机号码：</dd>
          <dt>
        <input name="tel" type="text" value="" id="tel">
          </dt>
        </li>

  <li>
          <dd><font style="color:#EE472C;"> * </font>个人月收入：</dd>
          <dt class="income">
          </dt>
        </li>

  <li>
          <dd><font style="color:#EE472C;"> * </font>兴趣爱好：</dd>
          <dt class="hobby">
         
          </dt>
        </li>

    <li><dd>&nbsp;</dd>
      <dt class="error"> 
      </dt>
    </li>

  <li><dd>&nbsp;</dd>
          <dt class="submitDt"> 
              <input name='update' type='button' value='保存' class='infoFinish'>
          </dt>
        </li>


      </ul>
    </div>
</form>
</section>
  <div class="bottom"><img src="{{ asset('images/userInfoBottom.png') }}"></div>
  </div>