{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
 <ul class="pageNav">
    {% if first is defined and current != first %}
        <li class="prevPage">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><span class="arrowleftOrange"></span></a> 
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a> 
            </li>
        {% else %}
            <li class="currPage">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a> 
            </li>
        {% endif %}

    {% endfor %}

   {% if last is defined and current != last %}
        <li class="nextPage">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><span class="arrowRightOrange"></span></a>
        </li>
    {% endif %}
 
    <li><span>共{{ pageCount }}页</span></li>
    <li><span>到第<input type="text" maxlengh="4" id="page" size="2" onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">页</span></li>
    <li><input type="button" value="确定" id="goto"></li>

</ul>
{% endif %}
<input type="hidden" value="{{ first }}" id="first">
<input type="hidden" value="{{ pageCount }}" id="pageCount">
