{% extends '::base.html.twig' %}

{% block body -%}
    <h1>GameSeekerPointsPool list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Points</th>
                <th>Sendfrequency</th>
                <th>Ispublished</th>
                <th>Publishedat</th>
                <th>Isvalid</th>
                <th>Updatedat</th>
                <th>Createdat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_game-seeker_points-pool_show', { 'id': entity.id }) }}">{{ entity.points }}</a></td>
                <td>{{ entity.sendFrequency }}</td>
                <td>{{ entity.isPublished }}</td>
                <td>{% if entity.publishedAt %}{{ entity.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.isValid }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_game-seeker_points-pool_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_game-seeker_points-pool_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_game-seeker_points-pool_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
