{% extends '::base.html.twig' %}

{% block body -%}
    <h1>GameSeekerPointsPool</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Points</th>
                <td>{{ entity.points }}</td>
            </tr>
            <tr>
                <th>Sendfrequency</th>
                <td>{{ entity.sendFrequency }}</td>
            </tr>
            <tr>
                <th>Ispublished</th>
                <td>{{ entity.isPublished }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{{ entity.publishedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isvalid</th>
                <td>{{ entity.isValid }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_game-seeker_points-pool') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_game-seeker_points-pool_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_game-seeker_points-pool_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
