
{% extends 'JiliEmarBundle::base140307.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('css140307/categorys.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/cps.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/screen.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/commodity834.css') }} " rel="stylesheet" type="text/css">
{% endblock %}


{% block javascript %}
<script src="{{ asset('js140307/categorys.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/screen.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/cps.js') }}" language="javascript"></script>
{% endblock %}

{% block search_box %}
    {{ parent() }}
{% endblock %}

{% block page_main %}

  <div class="w204 h340 fl">
    <div class="module categorys">
      <h3>所有商品分类</h3>
      {% include('JiliEmarBundle:Product:category.html.twig') %}
     </div>
  </div><!-- eof w204 -->

  <div class="w615 h340 fl">
     <ul class="cpsBanner">
      <div class="moveDiv" style="width: 2460px; left: -1230px;">
          <li><img width="615" height="320" src="{{ asset('other140307/image100.jpg') }}"></li>
          <li><img width="615" height="320" src="{{ asset('other140307/image100.jpg') }}"></li>
          <li><img width="615" height="320" src="{{ asset('other140307/image100.jpg') }}"></li>
          <li><img width="615" height="320" src="{{ asset('other140307/image100.jpg') }}"></li>
      </div>
      <a class="prevBtn">prev</a><a class="nextBtn">next</a>
    </ul>
  </div><!-- eof w615  -->

  <div class="w300 h340 fr">
  {% render(controller('JiliEmarBundle:Websites:hotOnCps') ) %}
  </div><!-- eof w300 -->

  <div class="main w834 fl">
      {{ render(controller('JiliEmarBundle:Hotactivity:partialOnCps', {'catids':app.request.query.get('c_h')} ))  }}
  </div><!-- main w834 -->

  <div class="sidebar w300 fr">
  {% include "JiliEmarBundle:Product:suggestionHot.html.twig" %}
  </div><!-- sidebar -->
{% endblock %}
