{% extends 'JiliEmarBundle::base140307.html.twig' %}

{% block stylesheet %}
<link href="{{ asset('css140307/recommend.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/categorys.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/cps.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/screen.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/commodity834.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
<script src="{{ asset('js140307/recommend.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/categorys.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/screen.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/cps.js') }}" language="javascript"></script>

{% endblock %}

{% block page_main %}
  <div class="w204 h340 fl">
    <div class="module categorys">
      <h3>所有商品分类</h3>
      {{ render(controller('JiliEmarBundle:Product:category', { 'qs': app.request.query.all, 'rt': 'jili_emar_product_retrieve'  })) }}
     </div>
  </div><!-- eof w204 -->

  <div class="w615 h340 fl">
     <ul class="cpsBanner">
      <div class="moveDiv" style="width: 2460px; left: -1230px;">         

        {% set ads= [ { 'href': 'http://p.yiqifa.com/n?k=2mLErntOWZLErJb7UZjvfSomUmRdC9Dd3OoVfmLErJyI1NKlYmLS6NgH1n2LWEyHWZLErJoH2mLSMJDe6949MQLE&e=1057639&spm=139216929186018017.1.1.1' ,'img': 'images140307/cpsBanner/cpsBanner1.jpg'}, { 'href': 'http://p.yiqifa.com/n?k=2mLErnDe1ngH2mquUZgL18H_UmUmfcyAkZPdf96_YQLErI6H6nWlWZLFWEjS1QLLrZDqRwVw6Zq_rI6H6NWe3NDmMJBH2L--&e=APIMemberId&spm=139216929186018017.1.1.1', 'img': 'images140307/cpsBanner/cpsBanner2.jpg'}, {'href': 'http://p.yiqifa.com/n?k=2mLErnzLWcLErJb7UZjvfSomUmRdk5bwf96_YpoH2mLErntl1QLFWEjS1QLLrI6HYmLErJ2eM5ts1N4brB6ykQBvRmL-&e=APIMemberId&spm=139216929186018017.1.1.1', 'img': 'images140307/cpsBanner/cpsBanner3.jpg'}, {'href': 'http://p.yiqifa.com/n?k=2mLErnzLWcLErJb7UZjvfSomUmRdk5bwf96_YpoH2mLErntl1QLFWEjS1QLLrI6HYmLErJ2eM5ts1N4brB6ykQBvRmL-&e=APIMemberId&spm=139216929186018017.1.1.1', 'img': 'images140307/cpsBanner/cpsBanner4.jpg'}  ] %}
	 
        {% for row in ads %}
          <li><a href="{{ path('jili_emar_default_redirect') ~ '?m=' ~ row.href|url_encode }}" target="_blank" ><img width="615" height="320" src="{{ asset(row.img) }}"></a></li>
        {% endfor %}

	  </div>
      <a class="prevBtn">prev</a><a class="nextBtn">next</a>
    </ul>
  </div><!-- eof w615  -->

  <div class="w300 h340 fr">
      {{ render(controller('JiliEmarBundle:Websites:hot', { 'tmpl': 'cps', 'max': 9 } ) ) }}
  </div><!-- eof w300 -->

  <div class="w204 h340 fl" style=" margin-top:140px;">
    <script type="text/javascript">
	/*200*200，创建于2014-4-11*/
	var cpro_id = "u1519095";
	</script>
	<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
  </div>
  
  <div class="main w930 fr">
      {{ render(controller('JiliEmarBundle:Ghs:partial', {'tmpl':'cps', 'catids': app.request.query.get('c_h') } ))  }}
  </div><!-- main w834 -->
  
  <!--<div class="sidebar w300 fr">
      {# include("JiliEmarBundle:Product:suggestionHot.html.twig") #}
  </div>--><!-- sidebar -->
{% endblock %}

