{% extends 'JiliEmarBundle::base140307.html.twig' %}
{% block title %}{{ parent()  }} top页面{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css140307/categorys.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/index.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
<script src="{{ asset('js140307/categorys.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/index.js') }}" language="javascript"></script>
{% endblock %}

{% block page_main %}
  <div class="w204 fl">
    <div class="module categorys">
        {{ render(controller('JiliEmarBundle:Product:category') ) }}
    </div><!-- eof module categorys -->

    <div id="vote">
      <h3>快速问答</h3>
      <div class="voteMain clearfix">
        <dt><img width="90" height="90" src="other140307/image100.jpg"></dt>
        <dd>
          <p>【生活】你对大部分女性选择从事工作怎</p>
          <p><a href="#" class="goVote">去投票</a></p>
        </dd>
      </div>
    </div><!-- eof vote -->
    <div id="timeline">
      <h3>最新动态</h3>
      <ul class="clearfix">
        <li>
          <p><span>14896630</span>支付宝兑换<em>5000</em>积分 </p>
        </li>
        <li>
          <p><span>14896630</span>支付宝兑换<em>5000</em>积分 </p>
        </li>
        <li>
          <p><span>14896630</span>支付宝兑换<em>5000</em>积分 </p>
        </li>
        <li>
          <p><span>14896630</span>支付宝兑换<em>5000</em>积分 </p>
        </li>
        <li>
          <p><span>14896630</span>支付宝兑换<em>5000</em>积分 </p>
        </li>
      </ul>
    </div><!-- eof timeline -->
  </div><!-- w204 side -->

  <div class="w615 fl">
    {% if not app.session.has('uid') %}
    <div id="indexBanner"> <a style="opacity: 1;" class="game" href="http://www.91jili.com/game/index">游戏体验</a> <a style="opacity: 1;" class="marketActivity" href="http://www.91jili.com/marketActivity/index">商家活动</a> <a style="opacity: 1;" class="vote" href="http://www.91wenwen.net/vote/#active" target="_blank">快速问答</a> <a style="opacity: 1;" class="advertiserment" href="http://www.91jili.com/advertiserment/list">体验广告<em>3/27更新</em></a> <a style="opacity: 1;" class="shopping" href="http://www.91jili.com/shopping/list">购物返利</a> </div>
    <!-- eof indexBanner -->
    {% else %}
    <div id="task">
      <h3>我的任务列表</h3>
      <div class="menu"><a class="hover">为您推荐的</a><a>确认中</a><a>已完成</a><a>已拒绝</a></div>
      <ul class="taskList clearfix">
        <li><a href="#">
          <dt>小鸡找米</dt>
          <dd>最高<em>5888</em>米粒</dd>
          </a></li>
        <li class="brn"><a href="#">
          <dt>广告任务墙</dt>
          <dd><em>3/27</em>更新</dd>
          </a></li>
        <li><a href="#">
          <dt>各校自主招生网络
            
          </dt></a><dt><a href="#"><em>800</em>米粒
            
          </a></dt></li>
        <li class="brn"><a href="#">
          <dt>去购物</dt>
          </a></li>
        <li class="bbn"><a href="#">
          <dt>91问问快速问答</dt>
          <dd><em>1</em>米粒</dd>
          </a></li>
        <li class="bbn brn"><a href="#">
          <dt>每日签到</dt>
          <dd><em>1</em>米粒</dd>
          </a></li>
      </ul>
    </div><!-- eof task -->
    {% endif %}

    <div id="getMallList">
      <h3>返利商城</h3>
      <div class="menu"><a href="#" class="hover">热门商城</a> | <a href="#">服装饰品</a> | <a href="#">手机数码家电</a><a class="more" href="#">更多&gt;&gt;</a></div>
      <ul class="clearfix">
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
        <li><a href="tot.html?mid=717&amp;z=2" title="京东商城" target="_blank"><img width="90" height="45" src="http://img01.fanli.com/mall/20131121/1ef7c76726b0bd1be0a3f68e69e194de.gif" alt="京东商城">
          <p>最高返 <em>5.6%</em></p>
          </a></li>
      </ul>
    </div><!-- eof getMallList -->
    
    <div id="indexRecommend">
      <h3>超值低价</h3>
      <ul class="clearfix">
        <li>
          <p class="image"><a href="#"><img width="200" height="130" src="{{ asset('other140307/image100.jpg') }}"></a></p>
          <p class="price">￥9.90<em>2.1折</em></p>
          <p><del>原价￥19.90</del> 销量223344件</p>
        </li>
        <li>
          <p class="image"><a href="#"><img width="200" height="130" src="{{ asset('other140307/image100.jpg') }}"></a></p>
          <p class="price">￥9.90<em>2.1折</em></p>
          <p><del>原价￥19.90</del> 销量223344件</p>
        </li>
        <li class="mr0">
          <p class="image"><a href="#"><img width="200" height="130" src="{{ asset('other140307/image100.jpg') }}"></a></p>
          <p class="price">￥9.90<em>2.1折</em></p>
          <p><del>原价￥19.90</del> 销量223344件</p>
        </li>
        <li>
          <p class="image"><a href="#"><img width="200" height="130" src="{{ asset('other140307/image100.jpg') }}"></a></p>
          <p class="price">￥9.90<em>2.1折</em></p>
          <p><del>原价￥19.90</del> 销量223344件</p>
        </li>
        <li>
          <p class="image"><a href="#"><img width="200" height="130" src="{{ asset('other140307/image100.jpg') }}"></a></p>
          <p class="price">￥9.90<em>2.1折</em></p>
          <p><del>原价￥19.90</del> 销量223344件</p>
        </li>
        <li class="mr0">
          <p class="image"><a href="#"><img width="200" height="130" src="{{ asset('other140307/image100.jpg') }}"></a></p>
          <p class="price">￥9.90<em>2.1折</em></p>
          <p><del>原价￥19.90</del> 销量223344件</p>
        </li>
      </ul>
    </div><!-- eof indexRecommend -->

    <div id="marketActivity">
      <h3>品牌热卖</h3>
      <ul class="clearfix">
        <div class="mask">
          <div class="moveDiv">
            <li>
              <dt><a href="#"><img width="494" height="121" src="{{ asset('other140307/image100.jpg') }}"></a></dt>
              <dd>
                <p class="title">娇韵的风景的风景特卖4折起</p>
                <p class="discount">2.1折起</p>
                <p class="btn"><a href="#" class="goActivity">去看看</a></p>
              </dd>
            </li>
          </div>
        </div>
        <a class="prevBtn">prev</a><a class="nextBtn">next</a>
      </ul>
    </div><!-- eof marketActivity -->
  </div><!-- w615 side -->
 
  <div class="w300 fr">
    {% if not app.session.has('uid') %}
    <div style="display:block;" class="loginFrame">
      <div id="userLogin">
        <form action="/" method="post" name="form1" id="form1">
          <p>
            <input type="text" name="email" class="text" id="email" value="">
          </p>
          <p>
            <input type="password" name="pwd" class="password" id="password">
          </p>
          <p>
            <input type="image" src="images140307/logBtn.jpg" class="image" id="login" value="登录" name="登录" title="登录">
            <label>
              <input type="checkbox" id="rem" value="1" name="remember_me">
              记住我</label>
            | <a href="http://www.91jili.com/user/resetPwd" class="forget">忘记密码?</a></p>
          <p><a href="/user/reg" class="reg">免费注册</a></p>
        </form>
      </div>
      <div id="aboutJili">
        <h3><img src="images140307/aboutJili.jpg" alt="在积粒网能做什么？"></h3>
        <ul class="clearfix">
          <li>100米粒=￥1.00元</li>
          <li>玩游戏，拿返利，答问卷赚积分</li>
          <li>兑换支付宝，手机费，礼品卡...</li>
        </ul>
      </div>
    </div> <!-- eof login Frame -->
    {% else %}
    <div class="userFrame">
      <div id="userInfo">
        <div class="basic clearfix">
          <div class="photo"><img width="90" height="90" src="other140307/image100.jpg"></div>
          <p class="name">您好，clauzu</p>
          <p><a class="goUserInfo" href="#">进入个人中心</a></p>
        </div>
        <div class="point clearfix">
          <dt>当前米粒数</dt>
          <dt class="right">确认中米粒数</dt>
          <dd>1355</dd>
          <dd class="right">4287</dd>
        </div>
      </div>
    </div>    <!-- eof user Frame -->
    {% endif %}

    <div id="banner">
      <ul class="bannerImg" style="top: -183px;">
        <li><a href="http://www.91jili.com/advertiserment/info/88"><img src="other140307/image100.jpg"></a></li>
        <li><a href="http://www.91jili.com/shopping/list"><img src="other140307/image100.jpg"></a></li>
        <li><a href="http://www.91jili.com/game/index"><img src="other140307/image100.jpg"></a></li>
      </ul>
      <div class="bannerNumber"><a class="">1</a><a class="hover">2</a><a class="">3</a><a>1</a><a>2</a><a>3</a></div>
    </div>   <!-- eof banner -->
    <div id="news">
      <h3>最新公告</h3>
      <div class="mask">
        <div class="all">
          <ul class="clearfix">
            <li><a target="_blank" href="http://www.91jili.com/callboard/info/20"><span>【系统】</span>3/10 游戏维护</a></li>
            <li><a target="_blank" href="http://www.91jili.com/callboard/info/19"><span>【系统】</span>2/10 网站服务器更新</a></li>
            <li><a target="_blank" href="http://www.91jili.com/callboard/info/18"><span>【系统】</span>手机费兑换公告</a></li>
          </ul>
          <ul class="clearfix">
            <li><a target="_blank" href="http://www.91jili.com/callboard/info/16"><span>【系统】</span>春节放假通知</a></li>
            <li><a target="_blank" href="http://www.91jili.com/callboard/info/17"><span>【系统】</span>1/26 网站服务器更新</a></li>
            <li><a target="_blank" href="http://www.91jili.com/callboard/info/15"><span>【系统】</span>1/7 网站维护</a></li>
          </ul>
        </div>
      </div>
      <div class="pageNumber"><a class="prev"></a><span>1/2</span><a class="next"></a></div>
    </div>    <!-- eof news -->
    <div id="ranking">
      <h3>排行榜</h3>
      <div class="mask">
        <div style="left: 0px;" class="all">
          <ul class="month clearfix">
            <li class="rank1">
              <dd>雨过天晴76</dd>
              <dt><span>17001</span>累计米粒</dt>
            </li>
            <li class="rank2">
              <dd>minda41</dd>
              <dt><span>14001</span>累计米粒</dt>
            </li>
            <li class="rank3">
              <dd>1890869</dd>
              <dt><span>13011</span>累计米粒</dt>
            </li>
            <li class="rank4">
              <dd>小红帽</dd>
              <dt><span>13003</span>累计米粒</dt>
            </li>
            <li class="rank5">
              <dd>5826</dd>
              <dt><span>13000</span>累计米粒</dt>
            </li>
          </ul>
          <ul class="year clearfix">
            <li class="rank1">
              <dd>jine</dd>
              <dt><span>45086</span>累计米粒</dt>
            </li>
            <li class="rank2">
              <dd>越积越多</dd>
              <dt><span>42570</span>累计米粒</dt>
            </li>
            <li class="rank3">
              <dd>oooppp</dd>
              <dt><span>36873</span>累计米粒</dt>
            </li>
            <li class="rank4">
              <dd>ving</dd>
              <dt><span>30265</span>累计米粒</dt>
            </li>
            <li class="rank5">
              <dd>fenglei</dd>
              <dt><span>28386</span>累计米粒</dt>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu"><a class="month hover">月度</a><a class="year">年度</a></div>
    </div>    <!-- eof ranking   -->
  </div><!-- w300 side -->

{% endblock %}
