{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-公告列表{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/newsList.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/pageNav.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div class="webArticle newsList">
  <article>
    <h2><span>公告列表</span></h2>
    <ul class="news">
     {% for item in pagination %}
              <li>
                <div class="title"><a href="{{ path('_callboard_info',{'id':item.id}) }}"><span>【{{ item.categoryName }}】</span>{{ item.title }}</a></div>
                <div class="artInfo">
                  <time>{{ item.startTime.date | date("Y-m-d") }}</time>
                 </div>
              </li>
    {% endfor %}
    </ul>
{{ knp_pagination_render(pagination) }}

  </article>
  <aside>
  </aside>
</div>
{% endblock %}