{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-公告{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/newsMore.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
<div class="webArticle newsMore">
  <article>
    <h1>{{ callboard.title }}</h1>
    <div class="artInfo"><time>{{ callboard.startTime.date | date("Y-m-d")  }}</time>&nbsp;&nbsp;作者：<span class="media_name">{{ callboard.author  }}</span></div>
    <div class="content">
    {{ callboard.content | raw }}
    </div>
  </article>
  <aside style="width:215x; height:300px; float:right; margin-top: 0;">
  	<!-- 公告右侧一（纯文字）（改）-->  
    {% include "JiliApiBundle:Ads:cpro_baidu.html.twig" with { cpro_id:"u1645392" } %}
  </aside>
  
</div>
{% endblock %}
