{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}问卷开始{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/questionnaire.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-con w1000 clearfix">    
    <div class="qnWrap">
        <div class="qnCon">
            <div class="qnTxt">
                <h2 id="title"></h2>
                <div class="subtit">
                    <strong id="title">问卷标题： {{ cint_research.title }}<br></strong>
                    <strong id="point">积分数：<span class="point" id="point">{{ cint_research.extra_info.point.complete }}分</span><br></strong>
                    <strong id="loi">时长：<span class="loi" id="loi">约 {{ cint_research.loi }} 分钟</span><br></strong>
                    <strong id="difficulty">难度：
                        {% if cint_research.difficulty == '普通' %}
                            <span class="difficulty"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
                        {% elseif cint_research.difficulty == '困难' %}
                            <span class="difficulty"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
                        {% elseif cint_research.difficulty == '简单' %}
                            <span class="difficulty"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
                        {% endif %}
                    </strong>
                </div>
                {% set note = '※ 在回答问卷过程中，请不要中断，避免失去获得积分的机会。<br>* 积分将在本次调查结束后统一发放。' %}
                {% if cint_research.extra_info.content is defined and cint_research.extra_info.content != '' %}
                    {% set note = "#{note}<br>※ #{cint_research.extra_info.content}" %}
                {% endif %}
                <div class="prompt" id="note">{{ note|raw }}</div>
                <div class="notice">
                    <strong>注意事项：</strong>
                    <p>回答中请不要点击浏览器的返回按钮。<br>
                        推荐浏览器6.0版本以上的Internet Explorer。<br>
                        根据用户会员协议，请不要向第三者泄露，复制，销售，公开问卷的内容。<br>
                        保护用户的个人隐私信息是我们最大的任务之一，本问卷取得的信息将只用于无法特定到个人用户的数据统计。</p>
                </div>
                <div class="qnBtn">
                    <a id="survey-link" href="{{ cint_research.url }}">开始回答问卷</a>
                </div>
                <div class="tips">请确认内容之后点击&lt;开始回答问卷&gt;<br /> （之后无法返回现在的页面）</div>
            </div>
        </div>
        {% include 'WenwenFrontendBundle:Components:_footerSurvey.html.twig' %}
    </div>
<div class="main-con w1000 clearfix">
{% endblock %}