{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}商家列表{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/pageNumber.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/recommend.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/shopList.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/screen.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/recommend.js') }}" language="javascript"></script>
<script src="{{ asset('js/shopList.js') }}" language="javascript"></script>
<script src="{{ asset('js/screen.js') }}" language="javascript"></script>
{% endblock %}


{% block body %}
<div class="main w1000 clearfix">
	<div class="shopL fl w192">
        {% include 'JiliFrontendBundle:CpsAdvertisement:list_search_form.html.twig' with {'form': filter_form } %}
        {{ include( "JiliFrontendBundle:CpsAdvertisement:list_category.html.twig") }}
    </div>
    <div class="shopR globBorder fr">
        {% include 'JiliEmarBundle:Websites:shoplist_search_by_the_first_letter.html.twig' %}
        <div class="center">
        {% include "JiliFrontendBundle:CpsAdvertisement:list_page.html.twig" %}
            <script type="text/javascript">
            	$(function(){
					$('.shopL .tabnav li').switchBg({switchMethod: 'click', switchClass: 'active'});
				});
            </script>
        </div>
        <div style="display: inline-block; width: 100%;">
          {% include "JiliEmarBundle:Websites:shopList_page_nav.html.twig"   %}
        </div>
    </div>
</div>
{% endblock %}


