{% extends "JiliBackendBundle::base.html.twig"%}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/pageNav.css')}}" type="text/css" rel="stylesheet">

<style type="text/css">
input.text{text-align:center;padding:10px 20px;width:300px;} 
</style>

{% endblock %}

{% block title %}
Taobao self promotion Edit-{{ parent() }}
{% endblock %}

{% block body %}

{% include("JiliBackendBundle:Taobao/PromotionSelfProduct:menu.html.twig") %}

<form action="{{ path('jili_backend_admintaobao_updatepromotionselfproduct', {'id': entity.id} )  }}" method="POST" {{ form_enctype(edit_form) }} >
<input type="hidden" name="_method" value="PUT" />
<table align="center">
<tr>
    <td>{{ form_label(edit_form.taobaoCategory) }}</td>
    <td>
    {{ form_errors(edit_form.taobaoCategory) }}
    {{ form_widget(edit_form.taobaoCategory) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.title) }}</td>
    <td>
    {{ form_errors(edit_form.title) }}
    {{ form_widget(edit_form.title) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.price) }}</td>
    <td>
    {{ form_errors(edit_form.price) }}
    {{ form_widget(edit_form.price) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.pricePromotion) }}</td>
    <td>
    {{ form_errors(edit_form.pricePromotion) }}
    {{ form_widget(edit_form.pricePromotion) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.itemUrl) }}</td>
    <td>
    {{ form_errors(edit_form.itemUrl) }}
    {{ form_widget(edit_form.itemUrl) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.clickUrl) }}</td>
    <td>
    {{ form_errors(edit_form.clickUrl) }}
    {{ form_widget(edit_form.clickUrl) }}
    <a target="_blank" href="{{ entity.clickUrl }}">goto</a>
</td>
</tr>


<tr>
    <td>{# form_label(edit_form.pictureName) #}</td>
    <td>
    {{ form_errors(edit_form.pictureName) }}
    {{ form_widget(edit_form.pictureName) }}
    </td>
</tr>

<tr>
    <td>&nbsp;</td>
    <td><img src="{{ asset(tb_self_promot_pic_path ~ entity.pictureName) }}" alt="" /></td>
</tr>
{# todo: render current image #}
<tr>
    <td>{{ form_label(edit_form.picture) }}</td>
    <td>
    {{ form_errors(edit_form.picture) }}
    {{ form_widget(edit_form.picture) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.commentDescription) }}</td>
    <td>
    {{ form_errors(edit_form.commentDescription) }}
    {{ form_widget(edit_form.commentDescription) }}
</td>
</tr>

<tr>
    <td>{{ form_label(edit_form.promotionRate) }}</td>
    <td>
    {{ form_errors(edit_form.promotionRate) }}
    {{ form_widget(edit_form.promotionRate) }}
</td>
</tr>

{{ form_rest(edit_form) }}

<tr><td>&nbsp;</td><td><input type="submit" value="提交" /></td></tr>

</table>
</form>

        <form action="{{ path('jili_backend_admintaobao_deletepromotionselfproduct', { 'id': entity.id }) }}" method="post">
<table align="center">

            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
<tr>
    <td>&nbsp;</td>
    <td>
            <button type="submit" value="delete">删除</button>

    </td>
</tr>
</table>
        </form>
{% endblock %}
