{% extends "JiliBackendBundle::base.html.twig"%}

{% block title %}
Taobao自助推广列表-{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/pageNav.css')}}" type="text/css" rel="stylesheet">
{% endblock %}


{% block body %}

{% include("JiliBackendBundle:Taobao/PromotionSelfProduct:menu.html.twig") %}


<h3 align="center">Taobao自助推广单品</h3>

{% include("JiliBackendBundle::session_notification.html.twig") %}

<table class="list">
    <tr>
        <th>商品title</th>
        <th>操作</th>
    </tr>

{% for entity in entities %}
    <tr>
        <td>{{ entity.title}}</td>
        <td> 
        <a href="{{ path('jili_backend_admintaobao_editpromotionselfproduct', { 'id': entity.id}) }}">编辑</a>
        &nbsp; </td>
     </tr>
{% endfor %}
</table>
<!--
    {% set total_  = total %}
    {% set cur = p %}
    <p>cur: {{ cur }}</p>
    {% set first = 1 %} 
    {% set last =  ( total/ page_size) |round(0,'ceil') %} 
    <p>last: {{ last }}</p>
    {% set prev = ( cur > first ) ? cur - 1: first  %}
    <p>prev: {{ prev }}</p>
    {% set next = ( cur < last  ) ? cur + 1: last  %}
-->
<div style="display: inline-block; width: 100%;">
{% include "JiliEmarBundle::page_nav.html.twig" %}

</div>
{% endblock %}
