{# todo: duplicated to the form JiliEmarBundle:Products:searchForm #}

        <div class="searchMenu"> <span class="curPt">{% if rt == 1  %}商城{% else %}商品{% endif %}</span>
          <ul class="dropWrap" style="display: none;">
{% for key,value in rt_of_search_form %}
            <li class="curPt" lang="{{ key }}">{{ value.label }}</li>
{% endfor %}

          </ul>
        </div>
        <div class="form">

{% if qs is defined %}
    <form action="{{ path('jili_emar_search_form' , qs   ) }}" method="POST" id="search_box">
{% else %}
    <form action="{{ path('jili_emar_search_form' , app.request.query.all ) }}" method="POST" id="search_box">
{% endif %}


          {{ form_widget( form.q , {'attr': { 'type': 'text', 'onkeydown': "javascript:if(event.keyCode==13){ search();}", 'autocomplete':"off", 'id':"key", 'accesskey':"s", 'class':"text"  }} )  }}

          {{ form_widget( form.rt ) }}
          <input type="submit" clstag="homepage|keycount|home2013|03a" onclick="search();return false;" class="button curPt" value="搜索">
          {{ form_rest(form)  }}
</form>
</div>
<script type="text/javascript">
var search_form_rt_config = search_form_rt_config || {};
search_form_rt_config = {{ rt_of_search_form|json_encode|raw   }};

var search = function() {
     $('#search_box').submit();
     return false;
};
</script>
