{% if qs is defined %}
    <form action="{{ path('jili_emar_search_form' , qs   ) }}" method="POST" id="search_box">
{% else %}
    <form action="{{ path('jili_emar_search_form' , app.request.query.all ) }}" method="POST" id="search_box">
{% endif %}

    <div class="search fnRight">
        <div class="tbSearch"><a data-type="6" data-tmpl="573x66" data-tmplid="140" data-style="2" data-border="0" biz-s_logo="1" biz-s_hot="1" href="#"></a>
            <div class="tbTipsWrap">
                <a class="tbTipsIco"></a>
                <div class="tbTipsCon">
                    <em></em>通过这里去爱淘宝购物，可参加<a style="text-decoration:underline;" href="{{ path('jili_api_monthactivity_gatheringindex',{'l':7}) }}" target="_blank">抱团大作战</a>活动，拼满1000单即可瓜分<a>888,888</a>米粒
                </div>
            </div>
        </div>
        <a href="{{ path('_default_support') }}" class="hpIco" title="帮助中心"></a>
    </div>
    {% include "JiliFrontendBundle::alimama.html.twig" with { pid:"mm_49376465_4372428_28778243" } %}
</form> 
<script type="text/javascript">
var search_form_rt_config = search_form_rt_config || {};
search_form_rt_config = {{ rt_of_search_form|json_encode|raw   }};

var search = function() {
     $('#search_box').submit();
     return false;
};
//taobaoTips
var tbTipsCon = $(".tbTipsCon");
$(".tbTipsWrap").hover(function(){
		tbTipsCon.show();
	}, function(){
		tbTipsCon.hide();
});
</script>


