
    <div class="screen clearfix">
      <dt class="fl w90 em">热门商品</dt>
      <dd style="height: auto; width:840px; padding-right:0;" class="fl w748 h28">

{% for wcatid,cat in cats %}

    {% if wcatid in catids_request %}
        <a href="{{  path(router_ ) }}" class="hover" onclick="javascript:return false;" >{{ cat }}</a>
    {% else %}

        {% if wcatid == '000000' %}
            <a href="{{ path( router_) }}" > {{ cat }}  </a>
        {% else %}
            <a href="{{ path( router_ ,  { 'c_h': wcatid })}}" > {{ cat }}  </a>
        {% endif %}
    {% endif %}
{% endfor %}
        <!--<a class="unfoldBtn already">展开</a>--> </dd>
    </div>
<script type="text/javascript">
  $(function (){
	$("ul.commodityUl li").hover(function(){
			$(this).find(".buyBtn").fadeIn(100);
		},function(){
			$(this).find(".buyBtn").fadeOut(100);
		}
	 );
   });
</script>
    <ul class="commodityUl btbn clearfix">
{% for row in ghs_pdts %}
      <li>
        <dt><a href="{{ path('jili_emar_default_redirect') ~ '?m=' ~ row.ghs_o_url|url_encode }}" target="_blank" ><img src="{{ row.pic_url }}" height="auto" width="269"></a></dt>
        <dd>
         <span class="fl corGlobGray">{{ row.p_name }}</span>
		 <span class="fl dispalyBlock fontNormal corLightGray">{{ row.web_name }}</span>
         <span class="price fl">¥{{ row.ghs_price }}<em class="fontNormal corLightGray">¥{{ row.ori_price }}</em></span>
         <span class="fl fontNormal corLightGray">总销量：<em class="corLightRed">{{ row.bought }}件</em></span>
         <div class="buyBtn" style="display: none;">
       	    <a href="{{ path('jili_emar_default_redirect')  ~ '?m=' ~ row.ghs_o_url|url_encode  }}" target="_blank">立即抢购</a>
         </div>
        </dd>
      </li>

{% endfor %}

    </ul>
