
    <div class="screen clearfix">
      <dt class="fl w90 em">热门商品</dt>
      <dd style="height: auto;" class="fl w748 h28">

{% for wcatid,cat in cats %}

    {% if wcatid in catids_request %}
        <a href="{{  path(router_ ) }}" class="hover" onclick="javascript:return false;" >{{ cat }}</a>
    {% else %}
            <a href="{{ path( router_ ,  { 'c_h': wcatid })}}" > {{ cat }}  </a>
    {% endif %}
{% endfor %}
        <a class="unfoldBtn already">展开</a> </dd>
    </div>

    <ul class="commodityUl btbn clearfix">
{% for row in ghs_pdts %}
      <li>
        <dt><a href="{{ row.ghs_o_url|replace({ 'APIMemberId':app.session.get('uid') }) }}" target="_blank" rel="nofollow"><img src="{{ row.pic_url }}" height="150" width="150"></a></dt>
        <dd>
         <p class="price">¥{{ row.ghs_price }}</p> 
          <p class="shop">{{ row.web_name }}</p>
          <p class="rebate">返利最高：<em>{{ row.discount }}%</em></p>
        </dd>
      </li>

{% endfor %}

    </ul>
{#
      array (
        'pid' => 'ghs-000100-19653',
        'web_name' => '正品SOSO',
        'p_name' => '富安娜天然护芦荟棉四件套',
        'ghs_o_url' => 'http://m.gouwuke.com/gwJuHeMonitor.do?UCId=17497&type=ghs:open:450039&pid=ghs-000100-19653&mid=450039&e=APIMemberId&t=http://www.zpsoso.com/team.php?id=54453',
        'ghs_catid' => '000100',
        'ghs_cname' => '家居日用',
        'weight' => '1998',
        'ori_price' => '1980',
        'ghs_price' => '89',
        'discount' => '0.4',
        'bought' => '95776',
        'pic_url' => 'http://image.yiqifa.com/gwk_images/ghs/ghs_20140227152050_1176.jpg',
        'post' => '不包邮',
        'begin_time' => '2013-08-18 00:00:00',
        'end_time' => '2014-04-30 00:00:01',
      ),


#}
