
      <ul class="searchRecommend clearfix">
    {% for row in ghs_pdts %}
        <li class="curPt">
          {% spaceless %}
          <dt>
            {% if app.session.has('uid')  %}
                    <a href="{{ row.ghs_o_url|replace({ 'APIMemberId': app.session.get('uid') }) }}" target="_blank" rel="nofollow">
                {% else %}
                    <a href="{{ path('_user_login')  }}" target="_blank" rel="nofollow">
                 {% endif %}
            <img src="{{ row.pic_url }}" width="150" height="150" />
			</a>
            </dt>
          {% endspaceless %}

          <dd>
           <p class="price">¥{{ row.ghs_price }}</p> 
           <p class="shop">{{ row.web_name }}</p>
        {% if 0 < row.discount  %}
           <p class="rebate">返利最高：<em>{{ row.discount * emar_cps_default_rebate / 100 |round(2)  }}%</em></p>
        {% endif %}

          </dd>
        </li>
    {% endfor %}
      </ul> <!-- websites recommend on search page-->

