
      <ul class="searchRecommend clearfix">
    {% for row in ghs_pdts %}
        <li class="curPt">
          {% spaceless %}
          <dt>
            {% if app.session.has('uid')  %}
                    <a href="{{ row.ghs_o_url|replace({ 'APIMemberId': app.session.get('uid') }) }}" target="_blank" rel="nofollow">
                {% else %}
                    <a href="{{ path('_user_login')  }}" target="_blank" rel="nofollow">
                 {% endif %}
                 </a>
            <img src="{{ row.pic_url }}" width="150" height="150" />
            </dt>
          {% endspaceless %}

          <dd>
           <p class="price">¥{{ row.ghs_price }}</p> 
           <p class="shop">{{ row.web_name }}</p>
           <p class="rebate">返利最高：<em>{{ row.discount }}%</em></p>
          </dd>
        </li>
    {% endfor %}
      </ul> <!-- websites recommend on search page-->

{#
      <ul class="searchRecommend clearfix">
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li>
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
        <li class="end">
          <dt><img src="other140307/image100.jpg" width="150" height="150" /></dt>
          <dd>
            <p class="price">¥128.20</p>
            <p class="shop">京东商城</p>
            <p class="rebate">返利最高：<em>10%</em></p>
          </dd>
        </li>
      </ul> <!-- websites recommend on search page-->
#}
