<script type="text/javascript">

    var next = function() {
    var i = 2;
    return function(){
    return i++;
    }
    }();
$(document).ready(function(){
    $(".loading").hide();

    //刷新
    $(".more").click(function(){
        $.ajax({
            url: "{{ path('jili_emar_ghs_promotion') }}/top/6/"+next(),
            post: "GET",
            beforeSend:function(){$(".loading").show();},
            success:function(data){
                if(data.prds != null && data.prds.length > 0) {
                    var msg = "";
                    for(var i = 0; i < data.prds.length; i++) {
                       var  data2 = data.prds[i];
                        if (0 == (i+1) % 3 ){
                            msg += '<li class="mr0">';
                        }else{
                            msg += "<li>";
                        }
                        msg += '<p class="image"><a href="'+data2.href+'" target="_blank" rel="nofollow"><img src="'+data2.pic+'" height="130" width="200"></a></p>'+
                              '<p class="price">¥'+data2.pri1+'<em>'+data2.dis+'%折</em></p> '+
                              '<p><del>原价￥'+data2.pri0+'</del> 销量'+data2.buy+'件</p>'+
                          '</li>';
                    }

                    $("#prds1").html(msg);
                }
                $(".loading").hide();
                return false;
            }
        });
    });
});
var promote_counter = function(){

    var i = 1;

    return {
next: function(){


      }
    }
};
</script>
      <h3>超值低价</h3>
      <div class="menu"><a class="more" href="javascript:void(0);">换一批</a></div>
      <div class="loading"><img src="{{ asset('other/loading.gif') }}" width="48" height="48"></div>
      <ul class="clearfix">
        <span id="prds1">
         {% for row in ghs_pdts %}
             {% if 0 == loop.index % 3 %}
             <li class="mr0">
             {% else %}
             <li >
             {% endif %}
                 <p class="image"><a href="{{ row.ghs_o_url|replace({ 'APIMemberId':app.session.get('uid') }) }}" target="_blank" rel="nofollow"><img src="{{ row.pic_url }}" height="130" width="200"></a></p>
                 <p class="price">¥{{ row.ghs_price }}<em>{{ row.discount }}%折</em></p> 
                 <p><del>原价￥{{ row.ori_price }}</del> 销量{{ row.bought }}件</p>
             </li>
         {% endfor %}
         </span>
    </ul>

{#
[2014-04-01 16:27:56] app.DEBUG: {jarod}34,Jili\EmarBundle\Controller\GhsController,array (
  0 => 
  array (
    'pid' => 'ghs-000100-10354',
    'web_name' => '阿窝团购划算专用',
    'p_name' => '春笑炮弹钢厨房套刀',
    'ghs_o_url' => 'http://www.gouwuke.com/gwJuHeMonitor.do?UCId=17290&type=ghs:open:452294&pid=ghs-000100-10354&mid=452294&e=APIMemberId&t=http://www.awotuan.com/team.php?id=36446',
    'ghs_catid' => '000100',
    'ghs_cname' => '家居日用',
    'weight' => '1712',
    'ori_price' => '199',
    'ghs_price' => '49.9',
    'discount' => '2.5',
    'bought' => '98725',
    'pic_url' => 'http://image.yiqifa.com/gwk_images/ghs/ghs_20130905155600_2537.jpg',
    'post' => '不包邮',
    'begin_time' => '2013-08-18 00:00:00',
    'end_time' => '2014-04-30 00:00:01',
  ),

#}

