<script type="text/javascript">
    var ghs_list = {
        last_page: {{ last_page }},
        current_page: {{ page }}
    };

var next = function() {
	var last_page;
	var fetched;
	return {
		init: function(params) {
			last_page = params.last_page;
			fetched = [params.current_page];
		},
		getLastPage: function() {
			return last_page;
		},
		getFetched: function() {
			return fetched;
		},
		getNext: function() {
			var pool = [];
			if (fetched.length > 0 && fetched.length < last_page) {

				for (var i = 1; i <= last_page; i++) {
					if ( - 1 === fetched.indexOf(i)) {
						pool.push(i);
					}
				}
			} else {
				fetched = [];
				for (var i = 1; i <= last_page; i++) {
					pool.push(i);
				}
			}
			var ind = Math.floor(Math.random() * (pool.length - 1));
			var next = pool[ind];
			fetched.push(next);
			return next;
		},
	}
} ();

$(document).ready(function(){
    $(".loading").hide();

    next.init(ghs_list);
    //刷新
    $(".more").click(function(){
        $.ajax({
            url: "{{ path('jili_emar_ghs_promotion') }}/top/9/"+next.getNext(),
            post: "POST",
            beforeSend:function(){$(".loading").show();},
            success:function(data){

			if(data.prds != null && data.prds.length > 0) {
                    var msg = "";
                    for(var i = 0; i < data.prds.length; i++) {
                       var  data2 = data.prds[i];
                        msg += "<li>";
						if ( data2.href == "{{ path('_user_login')  }}" ){
						msg += '<div class="prds1-item">';	
                        msg += '<p class="image"><a href="'+data2.href+'" ><img src="'+data2.pic+'" height="auto" width="200"></a></p>';
						msg += '<p class="itemBgMask"></p>';
                 		msg += '<p class="name">'+data2.name+'</p>';
						msg += '</div>';
						msg += '<p class="price"><span class="price2">'+data2.pri1+'</span><del class="corLightGray">¥'+data2.pri0+'</del>';
						} else {
							msg += '<div class="prds1-item">';	
							msg += '<p class="image"><a href="'+data2.href+'" target="_blank" rel="nofollow"><img src="'+data2.pic+'" height="auto" width="200"></a></p>';
							msg += '<p class="itemBgMask"></p>';
							msg += '<p class="name">'+data2.name+'</p>';
							msg += '</div>';
							msg += '<p class="price"><span class="price2">'+data2.pri1+'</span><del class="corLightGray">¥'+data2.pri0+'</del>';
 						}					
						 msg += '</div></li>';
           			  }
					  
                    $("#prds1").html(msg);
					slideUp();
    			 }
                $(".loading").hide();
                return false;
            }
        });
    });
});
</script>
<script type="text/javascript">
  $(document).ready(function() {
	slideUp();
  })
  
  function slideUp(){
	var imgBox = $('.prds1-item');
	var itemBgMask = $('.itemBgMask');
	var text = $('.name');
	imgBox.hover(function(){
				var index = imgBox.index(this);
				itemBgMask.eq(index).slideDown(200);
				text.eq(index).slideDown(200);
			},
			function(){
				var index = imgBox.index(this);
				itemBgMask.eq(index).slideUp(200);
				text.eq(index).slideUp(200);
			});
  }
</script>

{% spaceless %}
<div class="iRhWrap marginBM5"> <strong class="font18 corGlobRed">超值低价</strong>
  <div class="menu"><a class="more" href="javascript:void(0);">换一组</a></div>
</div>
<div class="iRcWrap borderGlob">
  <div class="loading"><img src="{{ asset('other/loading.gif') }}" width="32" height="32"></div>
  <ul class="clearfix">
    <span id="prds1"> 
    {% for row in ghs_pdts %} 
    <li>
        <div class="prds1-item">
          <p class="image"> <a href="{{ path('jili_emar_default_redirect') ~ '?m=' ~ row.ghs_o_url|url_encode }}" target="_blank" rel="nofollow"> <img src="{{ row.pic_url }}" height="auto" width="200"></a></p>
          <p class="itemBgMask"></p>
          <p class="name">{{ row.p_name }}</p>
        </div>
        <p class="price"><span class="price2">{{ row.ghs_price }}</span><del class="font14 fontOrig">¥{{ row.ori_price }}</del></p>
    </li>
    {% endfor %} </span>
  </ul>
</div>
{% endspaceless %} 