{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block title %} {{ parent() }} - Panel Search {% endblock %} 

{% block body%}
<div class="panelist">
    <h1>Panelist Point History</h1> {% if user is null %}
    <h2>No such panelist_id</h2> {% else %}
    <h2 class="text-center">Panelist Info</h2>   
    <table class="stripe">
        <tr>
            <th>PID</th>
            <td>{{ user.id }}</td>
            <th>Nick Name</th>
            <td>{{ user.nick }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Register Date</th>
            <td>{{ user.registerDate|date("Y-m-d H:i:s") }}</td>
            <th>Last Login Date</th>
            <td>{{ user.lastLoginDate|date("Y-m-d H:i:s") }}</td>
        </tr>
        <tr>
            <th>Current Point</th>
            <td>{{ user.points }}</td>
            <th></th>
            <td></td>
        </tr>
    </table>
    <!-- /.panelist_info -->
    <h2 class="text-center">Panelist Point History</h2>
    <table class="list">
        <thead>
            <tr>
                <th>Time</th>
                <th>Total Point(s)</th>
                <th>Added Point(s)</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% if total > 0 %} {% for item in pointHistoryList %}
            <tr>
                <td>{{item.createTime|date("Y-m-d H:i:s")}}</td>
                <td>{{item.total_point}}</td>
                <td>{{item.pointChangeNum}}</td>
                <td>{{item.reason}}</td>
            </tr>
            {% endfor %} {% else %}
            <tr class="odd">
                <td colspan="4" class="center">No history</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div style="display: inline-block; width: 100%;">
        {% include '::pagination.html.twig' %}
    </div>
    <!-- /.panelist_point_history -->
    {% endif %} {# if $user #}
</div>
{% endblock %}
