    <!-- 
    {# set total = ( total > emar_max_of_total ) ? emar_max_of_total : total  #}
    {% set total_  = total %}

    <p>total: {{ total }}; total:{{ total }}</p>
    {# set page_size = emar_page_size_shoplist #}
    <p>page_size: {{ page_size }}</p>

    {% set page_req = app.request.query.get('page',1) %}

    {% set cur = ( page_req == 0 ) ? 1 : page_req %}

    <p>cur: {{ cur }}</p>

    {% set first = 1 %} 
    {% set last =  ( total / page_size) |round(0,'ceil') %} 

    <p>last: {{ last }}</p>
    {% set prev = ( cur > first ) ? cur - 1: first  %}
    <p>prev: {{ prev }}</p>
    {% set next = ( cur < last  ) ? cur + 1: last  %}
    <p>next: {{ next }}</p>

    -->
{% include "JiliEmarBundle::page_nav.html.twig" %}

