<div class="footer-con w1000 clearfix">
    <div class="footer-con-left left clearfix">
        <div class="footer-nav-group">
            <span>关于我们</span>
            <ul>
                <li><a href="{{ path('_default_about') }}" title="公司介绍">公司介绍</a></li>
                <li><a href="{{ path('_default_about_ww') }}" title="网站介绍">网站介绍</a></li>
                <li><a href="{{ path('_default_about_map') }}" title="网站地图">网站地图</a></li>
            </ul>
        </div>
        <div class="footer-nav-group">
            <span>集团网站</span>
            <ul>
                <li><a href="http://www.d8aspring.com/" target="_blank" title="dataSpring, Inc.(日本) ">dataSpring</a></li>
                <li><a href="http://research-panel.jp/" target="_blank" title="Japan Panel">Japan Panel</a></li>
                <li><a href="http://www.panelnow.co.kr/" target="_blank" title="South Korea Panel">South Korea Panel</a></li>
            </ul>
        </div>
        <div class="footer-nav-group">
            <span>联系我们</span>
            <ul>
                <li><a href="{{ path('_default_support') }}" title="帮助中心">帮助中心</a></li>
                <li><a href="http://www.d8aspring.com/contact-us/" title="合作咨询" target="_blank">合作咨询</a></li>
                <li><a href="{{ path('_default_about_regulations') }}" title="会员协议">会员协议</a></li>
            </ul>
        </div>
        <div class="footer-nav-group special">
            <span></span>
            <ul>
                <li><a href="{{ path('_default_about_links') }}" title="友情链接">友情链接</a></li>
                <li><span>关注我们</span>
                <a href="http://weibo.com/91wenwen" target="_blank" title="新浪微博" class="img-link">
                    <img src="{{ asset('img/common/sina_ico.png') }}" alt="新浪微博">
                </a>
                <a href="http://t.qq.com/RPA_91wenwen?preview" target="_blank" title="腾讯微博" class="img-link">
                    <img src="{{ asset('img/common/tencent_ico.png') }}" alt="腾讯微博">
                </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-con-right right">
        <a href="#" class="goTop">返回<br>顶部</a>
    </div>
</div>
{% include 'WenwenFrontendBundle:Components:_footerCopyright.html.twig' %} 