<div class="footer-con w1000 clearfix hiddenPhone hiddenTablet">
    <div class="footer-con-left left clearfix col-m-11">
        <div class="footer-nav-group col-m-3">
            <span>关于我们</span>
            <ul>
                <li><a href="{{ path('_default_help_company') }}" title="公司介绍">公司介绍</a></li>
                <li><a href="{{ path('_default_help_ww') }}" title="网站介绍">网站介绍</a></li>
                <li><a href="{{ path('_default_help_map') }}" title="网站地图">网站地图</a></li>
            </ul>
        </div>
        <div class="footer-nav-group col-m-3" style="width: 178px;">
            <span>集团网站</span>
            <ul>
                <li><a href="http://www.d8aspring.com/" target="_blank" title="dataSpring, Inc.(日本) ">dataSpring</a></li>
                <li><a href="http://research-panel.jp/" target="_blank" title="Japan Panel">Japan Panel</a></li>
                <li><a href="http://www.panelnow.co.kr/" target="_blank" title="South Korea Panel">South Korea Panel</a></li>
            </ul>
        </div>
        <div class="footer-nav-group col-m-3">
            <span>帮助中心</span>
            <ul>
                <li><a href="{{ path('_default_help_issue') }}" title="常见问题">常见问题</a></li>
                <li><a href="{{ path('_default_help_feedback') }}" title="客服咨询">客服咨询</a></li>
                <li><a href="{{ path('_default_help_newGuide') }}" title="新手上路">新手上路</a></li>
                
            </ul>
        </div>
        <div class="footer-nav-group col-m-3">
            <span>其它</span>
            <ul>
                <li><a href="{{ path('_default_help_regulations') }}" title="会员协议">会员协议</a></li>
                <li><a href="{{ path('_default_help_cooperation') }}" title="业务合作">业务合作</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-con-right right hiddenPhone hiddenTablet">
        <a class="goTop">返回<br>顶部</a>
        <div class="QRcode right">
            <span class="wb"><img src="{{ asset('img/common/weiboQRcode.jpg') }}" alt="weibo">官方微博</span>
            <span class="wx"><img src="{{ asset('img/common/weixinQRcode.jpg') }}" alt="weixin">官方微信</span>
        </div>
    </div>
</div>
<div class="footerMini visiblePhone visibleTablet hiddenDesktop">
    <a href="{{ path('_default_help_feedback') }}" title="问题反馈">问题反馈</a>
    <a class="goTop">返回顶部</a>
</div>
{% include 'WenwenFrontendBundle:Components:_footerCopyright.html.twig' %} 