<nav id="top-header" {% if app.session.has('uid') %} class="navbar-default header" {% else %}  class="navbar-default header unlogin" {% endif %} role="navigation">
    {% include "WenwenFrontendBundle:Components:_headerNav.html.twig" %}
</nav>
{# <div class="navLayerBg hiddenDesktop hiddenTablet navbarUn"></div>
<div class="navLayer hiddenDesktop hiddenTablet navbarUn">
    {% if app.session.has('uid') %}
    <div class="navs">
        <a href="{{ path('_homepage') }}"><i class="fa fa-sticky-note" aria-hidden="true"></i>问卷列表<span></span></a>
        <a href="{{ path('jili_frontend_vote_index') }}"><i class="fa fa-file-text-o" aria-hidden="true"></i>快速问答<span></span></a>
        <a href="{{ path('_exchange_index') }}"><i class="fa fa-gift" aria-hidden="true"></i>兑换中心<span></span></a>
        <a href="{{ path('event') }}"><i class="fa fa-users" aria-hidden="true"></i>活动中心<span></span></a>
        <a href="{{ path('_profile_edit') }}"><i class="fa fa-user" aria-hidden="true"></i>个人中心<span></span></a>
        <a href="{{ path('help_feedback') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>联系客服<span></span></a>
    </div>
    <div class="logout"><a href="{{ path('_user_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>退出登录</a></div>
    {% else %}
    <div class="shortcutButtons">
        <a href="{{ path('_user_reg') }}" class="regBtn">
            <div class="regBg"><img src="{{ asset('img/common/regIcon.png') }}" alt="注册"></div><div>注册</div>
        </a><a href="{{ path('_user_login') }}">
            <div class="loginBg"><img src="{{ asset('img/common/loginIcon.png') }}" alt="登录"></div><div>登录</div>
        </a>
    </div>
    <div class="navs">
        <a href="{{ path('_homepage') }}"><em class="icons1"></em>首页<span></span></a>
        <a href="{{ path('jili_frontend_vote_index') }}"><em class="icons2"></em>快速问答<span></span></a>
        <a href="{{ path('_exchange_index') }}"><em class="icons4"></em>兑换中心<span></span></a>
        <a href="{{ path('help_feedback') }}"><em class="icons5"></em>联系客服<span></span></a>
    </div>
    {% endif %}
 </div> #}
 