<div id="top-header" {% if app.session.has('uid') %} class="header" {% else %}  class="header unlogin" {% endif %} >
    {% if app.session.has('uid') %}
        {{ render(controller('WenwenFrontendBundle:Component:headerNav') ) }}
    {% endif %}
</div>
<div class="navLayerBg hiddenDesktop hiddenTablet navbarUn"></div>
<div class="navLayer hiddenDesktop hiddenTablet navbarUn">
    {% if app.session.has('uid') %}
    <div class="navs">
        <a href="{{ path('_homepage') }}"><em class="icons1"></em>问卷列表<span></span></a>
        <a href="{{ path('jili_frontend_vote_index') }}"><em class="icons2"></em>快速问答<span></span></a>
        <a href="{{ path('_exchange_index') }}"><em class="icons4"></em>兑换中心<span></span></a>
        <a href="{{ path('_profile_edit') }}"><em class="icons3"></em>个人中心<span></span></a>
        <a href="{{ path('_default_feedback') }}"><em class="icons5"></em>问题反馈<span></span></a>
    </div>
    <div class="logout"><a href="{{ path('_user_logout') }}"><em class="icons6"></em>退出登录</a></div>
    {% else %}
    <div class="shortcutButtons">
        <a href="{{ path('_user_reg') }}" class="regBtn">
            <div class="regBg"><img src="{{ asset('img/common/regIcon.png') }}" alt="注册"></div><div>注册</div>
        </a><a href="{{ path('_user_login') }}">
            <div class="loginBg"><img src="{{ asset('img/common/loginIcon.png') }}" alt="登录"></div><div>登录</div>
        </a>
    </div>
    <div class="navs">
        <a href="{{ path('_homepage') }}"><em class="icons1"></em>首页<span></span></a>
        <a href="{{ path('jili_frontend_vote_index') }}"><em class="icons2"></em>快速问答<span></span></a>
        <a href="{{ path('_exchange_index') }}"><em class="icons4"></em>兑换中心<span></span></a>
        <a href="{{ path('_default_feedback') }}"><em class="icons5"></em>问题反馈<span></span></a>
    </div>
    {% endif %}
 </div>
 