<div class="container header-nav-con clearfix">
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('_homepage') }}" title="91问问调查网logo">
                <!--[if !IE]><!-->
                    <img class="logo img-responsive" src="{{ asset('img/common/logo.svg') }}" alt="91问问调查网logo">
                <!--<![endif]-->
                <!--[if IE]>
                    <img src="{{ asset('img/common/logo.png') }}" alt="91问问"></a>
                <![endif]-->
            </a><i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                    {% set router_current = app.request.attributes.get('_route') %}
                        <li class="nav-item"><a href="{{ path('_homepage') }}" title="首页" {{ router_current == '_homepage' ? 'class="nav-link active"':'class="nav-link"' }}>首页</a></li>
                    {% if app.request.attributes.get('_route') == '_user_login' %}
                        <li class="nav-item"><a title="问卷列表">问卷列表</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('_survey_index') }}" title="问卷列表" {{ router_current == '_survey_index' ? 'class="nav-link active"':'class="nav-link"' }}>问卷列表</a></li>
                    {% endif %}
                        <li class="nav-item"><a href="{{ path('jili_frontend_vote_index') }}" title="快速问答" {{ router_current == 'jili_frontend_vote_index' ? 'class="nav-link active"':'class="nav-link"' }}>快速问答</a></li>
                    {% if app.session.has('uid') %}
                        <li class="nav-item"><a href="{{ path('_advertiserment_list') }}" title="任务体验" {{ router_current == '_advertiserment_list' ? 'class="nav-link active hidden-xs hidden-sm"':'class="hidden-xs hidden-sm"' }}>任务体验</a></li>
                    {% endif %}
                        <li class="nav-item exchangeIt">
                            <a href="{{ path('_exchange_index') }}" title="兑换中心" {{ router_current == '_exchange_index' ? 'class="nav-link active"':'class="nav-link"' }}>兑换中心</a>
                            <div class="popover bottom hidden-xs hidden-sm">
                                <div class="arrow"></div>
                                <div class="popover-content">100积分=1元</div>
                            </div>
                        </li>
                        <li class="nav-item"><a href="{{ path('event') }}" title="活动中心" {{ router_current == 'event' ? 'class="nav-link active"':'class="nav-link"' }}>活动中心</a></li>
                        <li class="nav-item"><a href="{{ path('help_help') }}" title="帮助中心" {{ router_current == 'help_help' ? 'class="nav-link active"':'class="nav-link"' }}>帮助中心</a></li>
                    {# {% if app.session.has('uid') %}  #}
                        {#{% set count_new_msgs =  render(controller('WenwenFrontendBundle:User:isNewMs', { 'id': app.session.get('uid')} ) ) %}#}
                        {# <a class="mailWrap"  href="{{ path('_user_message',{'sid': 1}) }}" > #}
                            {#<em class="mail">{% if  count_new_msgs|length > 0 %}<div class="mark"></div>{% endif %}</em>#}
                        {# </a> #}
                        {% if app.request.attributes.get('_route') == '_user_login' %}
                        {% else %}
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o" aria-hidden="true"></i>个人中心 <span class="caret hidden-xs hidden-sm"></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ path('_profile_edit') }}">个人资料</a></li>
                                      <li><a href="{{ path('_profile_index') }}">账户设置</a></li>
                                      <li><a href="{{ path('_user_adtaste',{'type':0}) }}">任务历史</a></li>
                                      <li><a href="{{ path('_user_exchange',{'type':0, 'exchangeType':1}) }}">兑换历史</a></li>
                                      <li><a href="{{ path('_user_logout') }}" class="exit">退出</a></li>
                                    </ul>
                                </li>
                        {% endif %}
                    {# {% endif %} #}
                    {% if app.session.has('uid') %}
                    {% else %}
                        <li class="nav-item toLog">
                            <a href="{{ path('_user_reg') }}" title="注册" class="sign">注册</a>
                            {% if app.request.attributes.get('_route') == '_user_login' %}
                            <a href="javascript: void(0)" title="登录">登录</a>
                            {% else %}
                            <a href="{{ path('_user_login') }}" title="登录">登录</a>
                            {% endif %}
                        </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</div>
