<div class="header-nav">
    <div class="header-nav-con w1000 clearfix">
        <div class="logo left">
            <a href="{{ path('_homepage') }}" title="91问问调查网logo">
            <img src="{{ asset('img/common/logo.svg') }}" alt="91问问调查网logo"></a>
            <span><img src="{{ asset('img/common/slogan.png') }}" alt="每个人都是社会的决策者！"></span>
        </div>
        <div class="nav left">
            {% set router_current = app.request.attributes.get('_route') %}
            <a href="{{ path('_homepage') }}" title="首页" {{ router_current == '_homepage' ? 'class="first active"':'class="first"' }}>首页</a>
            {% if app.request.attributes.get('_route') == '_user_login' %}
                <a class="surUnlog" title="问卷列表">问卷列表</a>
            {% else %}
                <a href="{{ path('_survey_index') }}" title="问卷列表" {{ router_current == '_survey_index' ? 'class="active"':'' }}>问卷列表</a>
            {% endif %}
            <a href="{{ path('jili_frontend_vote_index') }}" title="快速问答" {{ router_current == 'jili_frontend_vote_index' ? 'class="active"':'' }}>快速问答</a>
            {% if app.session.has('uid') %}
            <a href="{{ path('_advertiserment_list') }}" title="任务体验" {{ router_current == '_advertiserment_list' ? 'class="active hiddenTablet"':'class="hiddenPhone hiddenTablet"' }}>任务体验</a>
            {% endif %}
            <a href="{{ path('_exchange_index') }}" title="兑换中心" {{ router_current == '_exchange_index' ? 'class="active"':'' }}>兑换中心</a>
            <div class="border"></div>
            <span class="logFirst"><em></em>您需要先登录，才能查看<br>专属您的问卷哦！</span>
        </div>
        <button type="button" class="navCollapsed hiddenDesktop hiddenTablet visiblePhone">
            <span class="iconBar"></span>
            <span class="iconBar"></span>
            <span class="iconBar"></span>
        </button>
        {# <div class="headDropdown hiddenDesktop hiddenTablet visiblePhone"> #}
            {# <div class="unlog">
                <div class="reg">
                    <img src="{{ asset('img/responsive/regIcon.png') }}" alt="">
                    <span>注册</span>
                </div>
                <div class="log">
                    <img src="{{ asset('img/responsive/logIcon.png') }}" alt="">
                    <span>登录</span>
                </div>

            </div>
            <ul class="">
                <li>
                    <a href="#"><i class="ph_hp"></i><span>我的主页</span></a>
                </li>
                <li>
                    <a href="#"><i class="ph_tc"></i><span>任务中心</span></a>
                </li>
                <li>
                    <a href="#"><i class="ph_pl"></i><span>奖品兑换</span></a>
            </ul> #}
            <div class="navLayer hiddenDesktop hiddenTablet hiddenPhone">
                <div class="shortcutButtons">
                    <a href="{{ path('_homepage') }}">
                        <div class="regBg"><img src="{{ asset('mobile/img/common/regIcon.png') }}" alt="注册"></div>注册
                    </a><a href="{{ path('_homepage') }}">
                        <div class="loginBg"><img src="{{ asset('mobile/img/common/loginIcon.png') }}" alt="登录"></div>登录
                    </a>
                </div>
                <div class="navs">
                    <a href="{{ path('_homepage') }}"><em class="icons1"></em>首页<span></span></a>
                    <a href="{{ path('jili_frontend_vote_index') }}" title="快速问答"><em class="icons2"></em>快速问答<span></span></a>
                    <a href="{{ path('_exchange_index') }}"><em class="icons4"></em>兑换中心<span></span></a>
                    <a href="{{ path('_default_support') }}"><em class="icons5"></em>问题反馈<span></span></a>
                </div>
            </div>
        {# </div> #}
        {% if app.session.has('uid') %}
        {% else %}
        <div class="login-btn right">
            <a href="{{ path('_user_reg') }}" title="注册" class="sign">注册</a>
            {% if app.request.attributes.get('_route') == '_user_login' %}
            <a href="javascript: void(0)" title="登录">登录</a>
            {% else %}
            <a href="{{ path('_user_login') }}" title="登录">登录</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>