<div class="homeBr">
    <div class="container">
        <div class="row">
            <div class="faceWapper col-sm-9 col-xs-12 top20">
                {% if user.iconPath %}
                    <img class="img-circle img-responsive" src="{{ asset(user.iconPath) }}" alt="头像" width="52" height="52">
                {% else %}
                    <!--[if !IE]><!-->
                        <img class="img-responsive" src="{{ asset('img/home/homeAvr.svg') }}" alt="头像" width="52" height="52">
                    <!--<![endif]-->
                    <!--[if IE]>
                        <img class="img-responsive" src="{{ asset('img/home/homeAvr.png') }}" alt="头像" width="52" height="52">
                    <![endif]-->
                {% endif %}
                <span class="infoText">
                    Hi，<span class="hidden-xs"><span class="nk">{{ user.nick[:35] }}</span>，</span>您的当前积分为<strong class="point"><i></i>{{ user.points }}</strong>
            </div>
            <div class="right hidden-xs">
                <a href="{{ path('_user_adtaste',{'type':0}) }}" class="taskHis">任务历史</a>
                <a href="{{ path('_user_exchange',{'type':0, 'exchangeType':1}) }}" class="exchangeHis">兑换历史</a>
            </div>
        </div>
    </div>
</div>
