
{% set items = { 'apple': 'fruit', 'orange': 'fruit', 'peugeot': 'unknown' } %}

{% set items = items|merge({ 'peugeot': 'car', 'renault': 'car' }) %}

{% set currentPath = path(app.request.attributes.get('_route')) %}
{{ app.request.uri }} <br />
{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'a': '4'})) }} <br />
{{  items | url_encode }}

<form action="{{ path('jili_emar_hotactivity_index') }}" method="get">

    <div>
    <p>分类:</p>     {{ form_widget(form.category) }} <br />
    <p>商家:</p>    {{ form_widget(form.website ) }}<br />
    </div>
    
    {{ form_rest(form) }}
    <input type="submit" value="Filter" />
</form>

{#
分页
05   0 =>
3506   array (
3507     'hot_id' => '166278',
3508     'web_id' => '1401',
3509     'web_name' => '识尚会',
3510     'hot_name' => '高丝雪肌精特卖专场2折起',
3511     'pic_url' => 'http://www.fashionls.com/www/image/campaign/C000391/C000391-BANNER.jpg',
3512     'hot_o_url' => 'http://p.yiqifa.com/n?k=5EbPPl64rI6HWE2LWEgH2mquUZgL18H_UmUmf9MbRObAYOexRSeEYO7_R9PwCQ4y3mDdCc6L!mg_!poE35sL35ycY8Hl1NtdCZgVYIeuUJsx49BEUtesYNscYmPmU5Vy4cP7YPolYmPS3     OKoMOosUmPiMQLErI6H6E3SWmLFWEjS1QLLrI6HYmLErn6w6lDqWnDOrIW-&e=APImemberId&spm=139216929186018017.1.1.1',
3513     'discount' => '2.1',
3514     'brand_name' => '',
3515     'hot_catid' => '07',
3516     'begin_date' => '2013-10-23',
3517     'end_date' => '2013-11-10',
3518     'modified_time' => '2014-02-24 10:10:28',
3519   ),

#}


{% for row in hotactivity %}
<div>
<p>品名: {{  row.hot_name }}</p>
<p>商家:{{ row.web_name }}, 分类: {{ row.hot_catid|replace(cats ) }}</p>

<p>discount:  {{ row.discount}}%</p>
<p>from  {{ row.begin_date}} to  {{ row.end_date }}</p>

<div><img src="{{row.pic_url}}" alt="pic url" /></div>
<div><a href="{{ row.hot_o_url }}" target="_blank" rel="nofollow" >详细</a></div>
</div>

{% endfor %}


{# todo: pagination navigator #}
