
    <div class="screen clearfix">
      <dt class="fl w90 em">热门商品</dt>
      <dd style="height: auto;" class="fl w704 h28">

{% for wcatid,cat in cats %}

    {% if wcatid in catids_request %}
        <a href="{{  path(router_ ) }}" class="hover" onclick="javascript:return false;" >{{ cat }}</a>
    {% else %}
            <a href="{{ path( router_ ,  { 'c_h': wcatid })}}" > {{ cat }}  </a>
    {% endif %}
{% endfor %}

        <a class="unfoldBtn already">展开</a> </dd>
    </div>

    <ul class="commodityUl btbn clearfix">
{% for row in hotactivity %}
      <li>
        <dt><img src="{{ row.pic_url }}" height="150" width="150"></dt>
        <dd>
        {# <p class="price">¥128.20</p> #}
          <p class="shop">{{ row.web_name }}</p>
          <p class="rebate">返利最高：<em>{{ row.discount }}</em></p>
        </dd>
      </li>

{% endfor %}

    </ul>
  
