{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}欢迎来到91问问{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/bind.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{{ include( 'WenwenFrontendBundle:Components:_headerSimple.html.twig', {'theme': '账户绑定'} ) }}
{% endblock %}

{% block body %}
<div class="main-con w1000">
	<div class="form main-resetPwd clearfix">
		<div class="bindCon">
			<form action="{{ path(bind_route, {'openId': openId}) }}" method="POST" novalidate="novalidate">
				<div class="error errorBack">{{ form_errors(loginForm) }}</div>
				<ul class="bindForm">
					<li class="liner">
						<div class="bindInput">
							{{ form_widget(loginForm.email, {'attr': {'placeholder': '请输入邮箱'}}) }}
							<div class="error">{{ form_errors(loginForm.email) }}</div>
						</div>
					</li>
					<li>
						<div class="bindInput">
							{{ form_widget(loginForm.password, {'attr': {'placeholder': '请输入密码'}}) }}
							<div class="error">{{ form_errors(loginForm.password) }}</div>
						</div>
					</li>
				</ul>
				{{ form_row(loginForm._token) }}
				<input class="bindBtn" type="submit" value="绑定已有账户" />
			</form>

			<form action="{{ path(unbind_route, {'openId': openId}) }}" method="POST" novalidate="novalidate">
				<ul class="unbindForm">
					<li class="liner">
						<div class="bindInput">
							<div class="regSex">{{ form_widget(userForm.sex) }}</div>
							<div class="error">{{ form_errors(userForm.sex) }}</div>
						</div>
					</li>
					<li class="liner">
						<div class="bindInput">
							{{ form_widget(userForm.birthday, {'attr': {'placeholder': '生日'}}) }}
							<div class="error">{{ form_errors(userForm.birthday) }}</div>
						</div>
					</li>
					<li class="liner">
						<div class="bindInput">
							<select id="province" name="{{ userForm.province.vars.full_name }}">
								<option value="">省、市</option>
								{% for province in provinces %}
									<option value="{{ province.id}}">{{ province.provinceName }}</option>
								{% endfor %}
							</select>

							<select id="city" name="{{ userForm.city.vars.full_name }}" disabled="disabled">
								<option data-province="" value="">地区</option>
								{% for city in cities %}
									<option data-province="{{ city.provinceId }}" value="{{ city.cityId }}">{{ city.cityName }}</option>
								{% endfor %}
							</select>

							{{ form_errors(userForm.city) }}

							<span id="tmp" style="visibility: hidden; position:absolute;"></span>
						</div>
					</li>
				</ul>
				{{ form_row(userForm._token) }}
				<input class="skipBtn" type="submit" value="提交" />
			</form>

			<div class="bindPrompt">
				<span class="prompt"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>注意：跳过绑定的话已有账户的积分不会被导入到当前账户。</span>
			</div>
		</div>

		<div class="bindAvtWrap">
			<div class="bindAvtInner">
				<p>亲爱的{{ nickname }}，欢迎来到91问问！</p>
				<p class="avtWrap"><img src="{{ asset(photo|default('img/common/default_tx.png')) }}" width="100" height="100" alt="头像" title="头像"></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footerCopyright.html.twig' %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{ asset('js/plugin/layDate/layDate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/pages/user/province_city_cascade.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/plugin/jquery.html5-placeholder-shim.js')}}"></script>
	<script type="text/javascript">
		$(function() {
			{% if not loginForm.vars.valid %}
				$('.bindForm').slideDown(500);
			{% else %}
				$('.bindForm').slideUp(500);
			{% endif %}

			{% if not userForm.vars.valid %}
				$('.unbindForm').slideDown(500);
			{% else %}
				$('.unbindForm').slideUp(500);
			{% endif %}
		});

		$('.bindBtn').on('click', function(e) {
			if ($('.bindForm').is(':hidden')) {
				$('.bindForm').slideDown(500);
				e.preventDefault();
			}
		});
		$('.skipBtn').on('click', function(e) {
			if ($('.unbindForm').is(':hidden')) {
				$('.unbindForm').slideDown(500);
				e.preventDefault();
			}
		});
		//生日下拉框
		$("input[name*='birthday']").on('click', function(){
			laydate();
		});
	</script>
{% endblock %}