{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}欢迎来到91问问{% endblock %}

{% block stylesheet %}
    <!-- pages css -->
    {% stylesheets filter="cssrewrite, scssphp, ?uglifycss" output="dist/css/frontend/bind.css"
        "assets/scss/frontend/layout/simple/*"
        "assets/scss/frontend/component/form.scss"
        "assets/scss/frontend/pages/user/bind.scss"
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block header %}
{{ include( 'WenwenFrontendBundle:Components:_headerSimple.html.twig', {'theme': '账户绑定'} ) }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel">
            	<div class="panel-body">
            		<div class="row">
            			<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            				<div class="form main-resetPwd top30">
            					<div class="col-xs-12 col-sm-6">
            						<div class="bindCon">
            							<form  action="{{ path(bind_route, {'openId': openId}) }}" method="POST" novalidate="novalidate">
            								<div class="bkError errorBack">{{ form_errors(loginForm) }}</div>
            								<ul class="bindForm">
            									<li class="liner">
            										<div class="bindInput">
            											<div class="regSex">{{ form_widget(loginForm.email, {'attr': {'placeholder': '请输入邮箱'}}) }}</div>
            											<div class="bkError">{{ form_errors(loginForm.email) }}</div>
            										</div>
            									</li>
            									<li>
            										<div class="bindInput">
            											<div class="regSex">{{ form_widget(loginForm.password, {'attr': {'placeholder': '请输入密码'}}) }}</div>
            											<div class="bkError">{{ form_errors(loginForm.password) }}</div>
            										</div>
            									</li>
            								</ul>
            								{{ form_row(loginForm._token) }}
            								<input class="bindBtn" type="submit" value="我是老用户" />
            							</form>

            							<form  id="bindPro" action="{{ path(unbind_route, {'openId': openId}) }}" method="POST" novalidate="novalidate">
            								<ul class="unbindForm">
            									<li class="liner">
            										<div class="bindInput">
            											<div class="regSexL">{{ form_label(userForm.sex) }}</div>
            											<div class="regSexS">{{ form_widget(userForm.sex) }}</div>
            											<div class="error">{{ form_errors(userForm.sex) }}</div>
            										</div>
            									</li>
            									<li class="liner">
            										<div class="bindInput">
            											<div class="birthLab">{{ form_label(userForm.birthday) }}</div>
            											<div class="birthSel regSex">{{ form_widget(userForm.birthday) }}</div>
            											<div class="error">{{ form_errors(userForm.birthday) }}</div>
            										</div>
            									</li>
            									<li class="liner">
            										<div class="bindInput">
            											<div class="addrLab"><label class="required" aria-required="true">居住地：</label></div>
            											<div class="regSex">
            												<select id="province" name="{{ userForm.province.vars.full_name }}">
            													<option value="">省</option>
            													{% for province in provinces %}
            														<option value="{{ province.id}}" {% if currentProvinceId is defined and province.id == currentProvinceId %}  selected="selected"{% endif %}>{{ province.provinceName }}</option>
            													{% endfor %}
            												</select>

            												<select id="city" name="{{ userForm.city.vars.full_name }}" disabled="disabled">
            													<option data-province="" value="">市</option>
            													{% for city in cities %}
            														<option data-province="{{ city.provinceId }}" value="{{ city.cityId }}"{% if currentCityId is defined and city.cityId == currentCityId %} selected="selected"{% endif %}>{{ city.cityName }}</option>
            													{% endfor %}
            												</select>
            											</div>

            											<div class="error">{{ form_errors(userForm.city) }}</div>

            											<span id="tmp" style="display: none; position:absolute;"></span>
            										</div>
            									</li>
            								</ul>
            								{{ form_row(userForm._token) }}
            								<input class="skipBtn" type="submit" value="我是新用户" />
            							</form>

            							<div class="bindPrompt">
            								<span class="prompt"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>请填写您的真实信息，因为这会影响到您将来会收到什么样的问卷。</span>
            							</div>
            						</div>
            					</div>
            					<div class="col-sm-6 hidden-xs">
            						<div class="bindAvtWrap">
            							<div class="bindAvtInner">
            								<p>亲爱的{{ nickname }}，欢迎来到91问问！</p>
            								<p class="avtWrap"><img src="{{ asset(photo|default('img/common/default_tx.png')) }}" width="100" height="100" alt="头像" title="头像"></p>
            							</div>
            						</div>
            					</div>
            					
            				</div>
            			</div>
            		</div><br><br><br>
            	</div>
			</div>
		</div>
	</div>
</div>	

{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footerCopyright.html.twig' %}
{% endblock %}

{% block javascript %}
	<!-- pages js -->
    {% javascripts filter="?uglifyjs2" output="dist/js/frontend/bind.js"
        "assets/js/common/plugin/jquery.html5-placeholder-shim.js"
        "assets/js/common/plugin/client.min.js"
        "assets/js/frontend/plugin/jquery.validate.min.js"
        "assets/js/frontend/pages/user/province_city_cascade.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	<script type="text/javascript">
	        var duration = 300;
	        $(function() {
	            {% if not loginForm.vars.valid %}
	                $('.bindForm').slideDown(duration);
	                $('.bindBtn').val('绑定');
	            {% else %}
	                $('.bindForm').slideUp(duration);
	            {% endif %}
	            {% if not userForm.vars.valid %}
	                $('.unbindForm').slideDown(duration);
	                $('.skipBtn').val('注册');
	            {% else %}
	                $('.unbindForm').slideUp(duration);
	            {% endif %}
	        });
	        $('.bindBtn').on('click', function(e) {
	            if ($('.bindForm').is(':hidden')) {
	                $('.bindForm').slideDown(duration);
	                $('.unbindForm').slideUp(duration);
	                $(this).val('绑定');
	                $('.skipBtn').val('我是新用户');
	                e.preventDefault();
	            }
	        });
	        $('.skipBtn').on('click', function(e) {
	            if ($('.unbindForm').is(':hidden')) {
	                $('.unbindForm').slideDown(duration);
	                $('.bindForm').slideUp(duration);
	                $(this).val('注册');
	                $('.bindBtn').val('我是老用户');
	                e.preventDefault();
	            }
	        });
	        //前端验证form
	        $("#bindPro").validate(
	            {
	                rules: {
	                    'front_user_profile[sex]':{
	                        required: true
	                    },
	                    'front_user_profile[birthday]':{
	                        required: true
	                    },
	                    'front_user_profile[province]':{
	                        required: true
	                    },
	                    'front_user_profile[city]':{
	                        required: true
	                    },
	                    'front_user_profile[birthday][year]':{
	                        required: true
	                    },
	                    'front_user_profile[birthday][month]':{
	                        required: true
	                    },
	                    'front_user_profile[birthday][day]':{
	                        required: true
	                    }
	                },
	                messages: {
	                    'front_user_profile[sex]':{
	                        required: "请选择性别"
	                    },
	                    'front_user_profile[birthday]':{
	                        required: "请选择生日"
	                    },
	                    'front_user_profile[province]':{
	                        required: "请选择居住地"
	                    },
	                    'front_user_profile[city]':{
	                        required: "请选择居住地"
	                    },
	                    'front_user_profile[birthday][year]':{
	                        required: "请选择生日"
	                    },
	                    'front_user_profile[birthday][month]':{
	                        required: "请选择生日"
	                    },
	                    'front_user_profile[birthday][day]':{
	                        required: "请选择生日"
	                    }
	                }
	            }
	        );
	</script>
	<script type="text/javascript">
		var client = new ClientJS(); // Create A New Client Object
		var fingerprint = client.getFingerprint(); // Calculate Device/Browser Fingerprint
		$('#{{ userForm.fingerprint.vars.id }}').val(fingerprint);
	</script>
{% endblock %}