{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}_资深问卷调查网，在线调查，商业调查，免费，市场调查，调查问卷{% endblock %}
{% block meta %}
<meta name="keywords" content="问卷网，调查网，调查赚钱，在线调查，调查问卷，问卷调查，91问问" />
<meta name="description" content="每个人都是社会的决策者！欢迎来到91问问调查网。现在注册会员，在线参加全球市场调查，轻轻松松赢取现金,并用您的意见改变世界。另有任务体验让您乐赚不停；购物返利让你省得多，赚得也更多" />
<meta name="title" content="首页:91问问调查网" />
{% endblock %}

{% block stylesheet %}
	<link href="{{ asset('css/index.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
	<div id="container">
		<div class="section" id="section0">
			<h1><a href="{{ path('_homepage') }}" title="首页"><img src="{{ asset('img/common/logo.png') }}" alt="91问问"></a></h1>
			<a href="{{ path('_user_reg') }}" class="btn">注册</a>
			<div class="sectionCon">
				<h2><img src="{{ asset('img/landingpage/slogan.png') }}" alt="每个人都是社会的决策者！"></h2>
			    <div class="login">
			        <div class="login-con">
			            <form action="" method="post" name="form1" id="form1">
			            <ul>
			                <li class="liner"><label for="email">电子邮件</label><input id="email" name="email" type="text" value="{{ email }}"><span id="email_succeed"></span><span id="email_error"></span></li>
			                <li><label for="pwd">密码</label><input id="pwd" name="pwd" type="password"><span id="pwd_succeed"></span><span id="pwd_error"></span></li>
			            </ul>
			            {% if app.session.has('goToUrl') and app.session.get('goToUrl')|length > 0  %}
			            <input name="referer" type="hidden" value="{{ app.session.get('goToUrl') }}">
			            {% endif %}
			            {% if code %}
			            <input type="hidden" id="error_code" class="error" value="{{ code }}">
			            {% endif %}
			            <!-- <div class="tips">
				            <div></div>
				            <div></div>
			            </div> -->
			            <input type="hidden" value="1" name="remember_me">
			            <input type="submit" class="login-btn" id="submit_button" tabindex="0" value="登录"/>
			            </form>
			            <p><a href="{{ path('_user_resetPwd') }}" class="spec right">忘记密码？</a></p>
			            <div class="login-btn-others">
			                <span><a class="weibo-login">微博登录</a><a class="qq-login">QQ登录</a></span>
			            </div>
			        </div>
			    </div>
			    <div class="arrow">
			    	<a class="arrow-down trans" href="javascript:void(0)" onclick="return false;" hidefocus=""></a>
					<a class="arrow-down arrow-1 trans" href="javascript:void(0)" onclick="return false;" hidefocus=""></a>
			    </div>
			</div>
		</div>
		<div class="section" id="section1">
			<div class="sectionCon">
				<h2><img src="{{ asset('img/landingpage/text01.png') }}" alt="我们是国内最活跃的调查社区之一"></h2>
				<p class="briefIntro">隶属于亚洲调查样本库，拥有150多万会员</p>
			</div>
			<div class="refNum">
				<div class="num"><b id="userNum"></b><em class="chinese">年</em><div class="tit">服务调研行业</div></div>
				<div class="num"><b id="pointNum"></b><em>+</em><div class="tit">累计发放任务</div></div>
				<div class="num"><b id="surveyNum"></b><em>+</em><div class="tit">累计发放奖励</div></div>
			</div>
		</div>
		<div class="section" id="section2">
			<div class="sectionCon">
				<h2><img src="{{ asset('img/landingpage/text02.png') }}" alt="怎样赚积分"></h2>
				<div class="scoredPoints">
					<div class="scoredPointsItem">
						<div class="icon icon1"></div>
						<div class="liner"></div>
						<div class="con con1">
							<h3>免费注册会员</h3>
							<p>只需两步就可以完成注册，注册即送10积分哦！</p>
						</div>
					</div>
					<div class="scoredPointsItem">
						<div class="icon icon2"></div>
						<div class="liner liner2"></div>
						<div class="con con2">
							<h3>回答问卷赚积分</h3>
							<p>回答问卷，快速问答投票，做任务都可以赚取积分。</p>
						</div>
					</div>
					<div class="scoredPointsItem">
						<div class="icon icon3"></div>
						<div class="con con3">
							<h3>兑换奖品</h3>
							<p>奖品有支付宝现金，亚马逊礼品卡，手机话费，上网流量包等。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section3">
			<div class="sectionCon">
				<h2><img src="{{ asset('img/landingpage/text03.png') }}" alt="看看他们都说了什么"></h2>
				<div class="item item1">
					<div class="talkCon">我是91问问的忠实粉，为了减轻家庭的压力，经常利用课余时间在91问问回答问卷赚积分，每个月用积分兑换手机费，很开心的是，我已经有2年没有找家里要零花钱了，我会继续坚持的！</div>
					<div class="personal"><img src="{{ asset('img/landingpage/tx1.png') }}" alt="头像"><span>小珍<br>大二学生</span></div>
				</div>
				<div class="item item2">
					<div class="talkCon">我刚开始工作才1年，常常感觉自己的世界观与外界有些脱轨，无意中发现91问问这个网站，在这里，我不仅可以赚点零花钱，快速问答这个栏目让我了解了大家对不同事物的观点，增长了我的见识。</div>
					<div class="personal"><img src="{{ asset('img/landingpage/tx2.png') }}" alt="头像"><span>小夏<br>上班族</span></div>
				</div>
				<div class="item item3">
					<div class="talkCon">我是一位孕妈妈，辞职在家专心等待宝宝的出生，天天闲着太无聊了，于是，我没事就打开91问问做做问卷和投票，通过它，我获取到了很多生活常识和一些社会上最新的热点消息，真的很棒！</div>
					<div class="personal"><img src="{{ asset('img/landingpage/tx3.png') }}" alt="头像"><span>Vivian<br>孕妈</span></div>
				</div>
				<div class="item item4">
					<div class="talkCon">我退休在家好些年了，平时又不爱出门，唯一的兴趣爱好就是打开91问问，做做问卷和投票，打发打发时间，重点是既可以赚钱还可以学到平时没听到过的知识。</div>
					<div class="personal"><img src="{{ asset('img/landingpage/tx4.png') }}" alt="头像"><span>老顾<br>退休老人</span></div>
				</div>
			</div>
		</div>
		<div class="section" id="section4">
			<div class="sectionCon">
				<h2><img src="{{ asset('img/landingpage/text04.png') }}" alt="您还在等什么"></h2>
				<p class="briefIntro">一分钟注册，您就可以回答问卷，做任务，开始赚钱咯~</p>
				<div class="btns"><a href="{{ path('_user_reg') }}" title="注册" class="active">注册</a><br><a href="{{ path('_user_login') }}" title="登录" class="gray">登录</a></div>
			</div>
		</div>
		<div class="mask"></div>
	    <div class="quickLogPop" id="wbLogCon" style="display: none;">
		    <div class="quickLCon">
		        <div class="wbTit"><span class="wbIco"></span>微博登录提示<span class="closeBtn"></span></div>
		        <div class="wbText">
		            <p class="l1">微博登录现在仅<strong>对老用户开放</strong>，如果您是第一次在我站使用微博快捷登录，您将无法正常登录哟！</p>
		            <p class="l2">如果您没有账号，请到注册页面进行正常的注册流程。我们的开发人员正在抓紧对此功能进行修复，感谢您的配合！</p>
		        </div>
		        <div class="wbBtnArea"><a class="cancelBtn">取消</a><a href="{{ path('weibo_api_login') }}" class="continueBtn">继续</a></div>
		    </div>
		</div>
		<div class="quickLogPop" id="qqLogCon" style="display: none;">
		    <div class="quickLCon">
		        <div class="wbTit"><span class="qqIco"></span>QQ登录提示<span class="closeBtn"></span></div>
		        <div class="wbText">
					<p class="l1">很抱歉，QQ快捷登录功能因维护<strong>暂时关闭</strong>！</p>
					<p class="l2">如果您没有账号，请到注册页面进行正常的注册流程。我们的开发人员正在抓紧对此功能进行修复，感谢您的配合！</p>
					<p class="wbBtnArea"><a class="cancelBtn">我知道了</a></p>
				</div>
		    </div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/index.js')}}"></script>
{% endblock %}