{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}登录{% endblock %}
{% block meta %}
<meta name="keywords" content="调查,调研,问卷,赚钱,在线样本服务,消费者调查" />
<meta name="description" content="每个人都是社会的决策者！欢迎来到91问问调查网。现在注册会员，在线参加全球市场调查，轻轻松松赢取现金,并用您的意见改变世界。另有任务体验让您乐赚不停；购物返利让你省得多，赚得也更多" />
<meta name="title" content="登录" />
{% endblock %}

{% block stylesheet %}
	<link href="{{ asset('css/component/pagepiling.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('css/login.css') }} " rel="stylesheet" type="text/css">
	<style type="text/css">
		html,body{
			height: 100%;
			overflow: hidden;
			background: #262424;
		}
		@media only screen and (max-width: 667px) {
			html, body{
				overflow: auto!important;
				background: #3d5267!important;
			}
		}
	</style>
{% endblock %}

{% block body %}
	<div id="pagepiling">
		<nav class="navbar navbar-fixed-top">
	        <div class="container">
	        	<div class="row">
        			<div class="col-xs-12">
			        	<div class="navbar-header pull-left">
							<a class="navbar-brand" href="{{ path('_homepage') }}" title="91问问调查网">
								<img class="logo" src="{{ asset('img/common/logo.svg') }}" alt="91问问">
								<!--[if lt IE 9]>
									<img src="{{ asset('img/common/logo.png') }}" alt="91问问">
								<![endif]-->
			        		</a>
			        	</div>
						<a href="{{ path('_user_reg') }}" class="btn pull-right top17" type="button">注册</a>
					</div>
	        	</div>
			</div>
		</nav>
		<div class="section" id="section0">
			<div class="sectionCon">
				<div class="logIxWrap">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
							    <div class="login loginUq">
							        <div class="login-con logWrap">
										<form action="{{ path('_user_login') }}" method="post" name="form1" id="form1" novalidate="novalidate">
											<div class="error errorLogBack">{{ form_errors(form) }}</div>
											<ul>
												<li class="liner">
													{{ form_widget(form.email, {'attr': {'placeholder': '邮箱'}}) }}
													<div class="error">{{ form_errors(form.email) }}</div>
												</li>
												<li>
													{{ form_widget(form.password, {'attr': {'placeholder': '密码'}}) }}
													<div class="error">{{ form_errors(form.password) }}</div>
												</li>
											</ul>
											{{ form_row(form.fingerprint) }}
											{{ form_row(form._token) }}
											<input type="submit" class="login-btn" value="登录"/>
							            </form>
							            <p class="subCon"><a href="{{ path('_user_resetPwd') }}" class="spec">忘记密码？</a></p>
							            <div class="login-btn-others">
							            	<p class="othersLine">快捷登录</p>
							                <p class="othersItem row">
												<span class="col-md-4 hidden-xs hidden-sm"><a class="weixin-login" href="{{ path('weixin_login') }}" title="使用微信账号登录"><i class="fa fa-weixin" aria-hidden="true"></i></a></span>
												<span class="col-md-4"><a class="qq-login" href="{{ path('qq_login') }}" title="使用QQ账号登录"><i class="fa fa-qq" aria-hidden="true"></i></a></span>
												<span class="col-md-4"><a class="weibo-login" href="{{ path('weibo_login') }}" title="使用新浪微博账号登录"><i class="fa fa-weibo" aria-hidden="true"></i></a></span>
											</p>
							            </div>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section hidden-xs" id="section1">
			<div class="sectionCon">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2>
								<img class="img-responsive center-block" src="{{ asset('img/landingpage/text01.png') }}" alt="我们是国内最活跃的调查社区之一">
							</h2>
							<p class="sec1Intro">隶属于亚洲调查样本库，拥有150多万会员</p>
						</div>
					</div>
				</div>
			</div>
			<div class="refNum">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 num"><b id="userNum" class="count">8</b><em class="chinese">年</em><div class="tit">在线调研</div></div>
						<div class="col-sm-4 num"><b id="pointNum" class="count">41500</b><em>+</em><div class="tit">累计发放任务</div></div>
						<div class="col-sm-4 num"><b id="surveyNum" class="count">5000000</b><em>+</em><div class="tit">累计发放奖励</div></div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="section hidden-xs" id="section2">
			<div class="sectionCon">
				<div class="container">
					<div class="row">
						<div class="process col-sm-6">
							<img class="img-responsive center-block" src="{{ asset('img/landingpage/process.png') }}" alt="怎样赚积分">
						</div>
						<div class="pcImg col-sm-6">
							<img class="img-responsive center-block" src="{{ asset('img/landingpage/pc.png') }}" alt="pc">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section hidden-xs" id="section3">
			<div class="sectionCon">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2>
								<img class="visibleDesktop visibleTablet visiblePhoneLan hiddenPhonePor" src="{{ asset('img/landingpage/text03.png') }}" alt="看看他们都说了什么">
							</h2>
						</div>
					</div>
					<div class="voices row">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="contain-fluid">
								<div class="row">
									<div class="col-md-6">
										<img class="item1 img-responsive center-block" src="{{ asset('img/landingpage/sec3Item1.png') }}" alt="会员心声">
									</div>
									<div class="col-md-6">
										<img class="item2 img-responsive center-block" src="{{ asset('img/landingpage/sec3Item2.png') }}" alt="会员心声">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 hidden-sm">
										<img class="item3 img-responsive center-block" src="{{ asset('img/landingpage/sec3Item3.png') }}" alt="会员心声">
									</div>
									<div class="col-md-6 hidden-sm">
										<img class="item4 img-responsive center-block" src="{{ asset('img/landingpage/sec3Item4.png') }}" alt="会员心声">
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
		<div class="section hidden-xs" id="section4">
			<div class="sectionCon">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2><img src="{{ asset('img/landingpage/text04.png') }}" alt="您还在等什么"></h2>
							<p class="briefIntro">一分钟注册，您就可以回答问卷，做任务，开始赚钱咯~</p>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<div class="btns center-block"><a href="{{ path('_user_reg') }}" title="注册" class="active">注册</a><br><a href="{{ path('_user_login') }}" title="登录" class="gray">登录</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact">
		<a href="{{ path('help_cooperation') }}"><em></em>业务合作<b></b></a>
	</div>
	<div class="arrow hidden-xs">
    	<a class="arrow-down trans" href="javascript:void(0)" onclick="return false;" hidefocus=""></a>
		<a class="arrow-down arrow-1 trans" href="javascript:void(0)" onclick="return false;" hidefocus=""></a>
    </div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{ asset('js/plugin/jquery.pagepiling.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugin/jquery.html5-placeholder-shim.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/component/landing.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugin/client.min.js')}}"></script>
	<script type="text/javascript">
		var client = new ClientJS(); // Create A New Client Object
		var fingerprint = client.getFingerprint(); // Calculate Device/Browser Fingerprint
		$('#login_fingerprint').val(fingerprint);
	</script>
{% endblock %}