{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}幸运抽奖券{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/luckyDraw.css') }} " type="text/css">
    <!--[if lt IE 8]>
    <link href="{{ asset('css/bootstrap-ie7.css') }}" rel="stylesheet">
    <![endif]-->
{% endblock %}

{% block header %}
    {% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
	<div class="bannerWrap">
		    <div class="flowBg">
		        <div class="container">
		            <div class="bannerCon center-block row">
		                <div class="col-sm-12">
		                    <img class="img-responsive center-block" src="/img/luckyDraw/bannerImg.png?v000022">
		                    <div class="PointNum counter4 center-block">
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	</div>
	<div class="contWrap">
    	<div class="container">
    		<div class="cont row">
    			<div class="conWrap col-sm-12">
    				<div class="prize row">
	    				<div class="prizeCon col-sm-12 col-xs-12">
	    					<img class="img-responsive center-block" src="/img/luckyDraw/prize.png?v000022" alt="奖项">
	    					<i class="hidden-xs"></i>
	    				</div>
    				</div>
    				<div class="draw row">
    					<div class="col-sm-12 col-xs-12">
    						<div class="cbOuter row">
		    					<div class="col-sm-12">
		    						<h3>您有<b class="text-warning">4张</b>抽奖券，快来试试运气！</h3>
									<div class="drawBox">
										<div class="button"><div class="outer"><div class="height"><div class="inner">点击抽奖</div></div></div></div>
										<div class="drawResult center-block" style="display: none;">
											恭喜您，获得500积分！
										</div>
									</div>
									<div class="drawNext">
										<button type="button" class="btn btn-default pull-right">点击抽下一张>></button>
									</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="state row">
		    			<div class="col-sm-12 col-xs-12">
		    				<div class="row">
		    					<div class="col-sm-6 col-xs-12">
			    					<div class="stateTit">奖券获得途径</div>
			    					<div class="stateText">
			    						— 每完成回答一份商业问卷，都会获得一枚抽奖券。<br>
										— 每完成一题属性问卷，都有机会获得一枚抽奖券。<br>
										— 每成功邀请一个好友完成注册，都会获得一枚抽奖券。
			    					</div>
		    					</div>
		    					<div class="tmWrap col-sm-6 col-xs-12">
		    						<div class="tmTit">中奖用户</div>
		    						<div class="luckyTimeline">
		    							<div class="mask">
			    						    <ul style="top: -28.3528px;">
							                    <li>蓝** 恭喜成为幸运用户，抽中获得<b>500积分</b></li>
							                    <li>海绵** 恭喜成为幸运用户，抽中获得<b>100积分</b></li>
							                    <li>蓝** 恭喜成为幸运用户，抽中获得<b>500积分</b></li>
							                    <li>海绵** 恭喜成为幸运用户，抽中获得<b>100积分</b></li>
							                    <li>蓝** 恭喜成为幸运用户，抽中获得<b>500积分</b></li>
							                    <li>海绵** 恭喜成为幸运用户，抽中获得<b>100积分</b></li>
							                    <li>海绵** 恭喜成为幸运用户，抽中获得<b>100积分</b></li>
							                    <li>蓝** 恭喜成为幸运用户，抽中获得<b>500积分</b></li>
							                    <li>海绵** 恭喜成为幸运用户，抽中获得<b>100积分</b></li>
									         </ul>
									    </div>
		    						</div>
		    					</div>
		    				</div>
    					</div>
    				</div>
    				<div class="status row">
    					<div class="col-sm-12 col-xs-12">
    						<img class="img-responsive center-block" src="/img/luckyDraw/survey.png?v000022" alt="回答问卷">
    						<button type="button" class="btn btn-default center-block">回答问卷</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/component/textScroll.js')}}"></script>
    <script type="text/javascript" src="/js/plugin/jquery.jodometer.min.js?v000022"></script>
	<script type="text/javascript">
		$('.counter4').jOdometer({increment: 1, counterStart:'1254455555',numbersImage:'/img/luckyDraw/jodometer-numbers.png?v000022', formatNumber: true, spaceNumbers: 2, widthDot: 8});
		$('.drawBox .button').click(function(){
			$(this).css('display','none');
			$('.drawResult').css('display','block');
		});
		// var totalWidth = 0;
		// var numItem = $(".PointNum img");
		// numItem.each(function(index){
		// 	totalWidth += parseInt($(this).width(), 10);
		// });
		// alert(totalWidth);
		// $('.PointNum').css('width', totalWidth);

		// function GetWidths(id){
		// 	var i = 0;
		// 	$(id).each(function(index){
		// 		i += parseInt($(this).width(), 10);
		// 	})
		// 	return i;
		// }
		// var w = GetWidths('.PointNum img');
		// $('.PointNum').css('width', w);

	</script> 
{% endblock %}