{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}注册完成{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/regSuccess.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-con w1000">
	<div class="main-register-active">
		<div class="con finish">
			<div class="text">
				{% for flashMessage in app.session.flashbag.get('notice') %}
				    <h2 class="title">{{ flashMessage }}</h2>
				{% else %}
				    <h2 class="title">恭喜您！可以开始您的问卷之旅啦！</h2>
				{% endfor %}
			</div>
		</div>
		<div class="profileWrap">
			<p class="row1">接下来，推荐您做一份属性问卷，用来帮助您收到更多的<em>高积分问卷</em>。</p>
			<ul class="row2">
				<li>每小题1积分，最多可得<b>135积分</b>。</li>
				<li>回答过程中，您感到疲倦、不想回答的时候，可以随时暂停关闭，不会影响您下次继续回答该问卷。</li>
			</ul>
			<p class="prBtn">
				<a href="{{ profiling.url }}" class="goto hvr-icon-wobble-horizontal" target="_blank">
					<span>获取更多积分</span>
					<span class="triangle"></span>
				</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/pages/user/regSuccess.js')}}" defer></script>
{% endblock %}