{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}激活完成：{{ parent() }}  {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/regSuccess.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-con w1000">
	<div class="main-register-active">
		<div class="con finish">
			<div class="text">
				{% for flashMessage in app.session.flashbag.get('notice') %}
				    <h2 class="title">{{ flashMessage }}</h2>
				{% else %}
				    <h2 class="title">恭喜！您已成功激活了您的账户，并获得了<b>10</b>积分！</h2>
				{% endfor %}
			</div>
		</div>
		<div class="tips">
			<dl>
				<dt>回答完属性问卷，将会帮助您收到更多的高积分问卷哦！</dt>
				<dd><b>10s</b>后将为您自动跳转……</dd>
			</dl>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/finish')}}"></script>
{% endblock %}