{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}激活完成：{{ parent() }}  {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/regSuccess.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-con w1000">
	<div class="main-register-active">
		<div class="con finish">
			<div class="text">
				{% for flashMessage in app.session.flashbag.get('notice') %}
				    <h2 class="title">{{ flashMessage }}</h2>
				{% else %}
				    <h2 class="title">恭喜！您已成功激活了您的账户，并获得了<b>10积分</b>！</h2>
				{% endfor %}
			</div>
		</div>
		<div class="profileWrap">
			<p class="row1">接下来，推荐您做一份属性问卷，用来帮助您收到更多的<em>高积分问卷</em>。</p>
			<ul class="row2">
				<li>每小题1积分，最多可得<b>135积分</b>。</li>
				<li>中途关闭不会影响下次继续回答该问卷。</li>
			</ul>
			<p class="prBtn">
				<a href="{{ profiling.url }}" class="goto" target="_blank">
					<span>马上回答<br><em>将会收到更多高积分问卷</em></span>
					<span class="triangle"></span>
				</a>
				<div class="tips">
	    			<p><b>10s</b>后将为您自动跳转……</p>
	    		</div>
			</p>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/user/regSuccess.js')}}"></script>
{% endblock %}