{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}注册完成{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/regSuccess.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<div class="panel">
				<div class="panel-body">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<div class="main-register-active">
							<div class="con finish">
								<div class="text">
									<br><br>
									{% for flashMessage in app.session.flashbag.get('notice') %}
										<i class="fa fa-check-circle" aria-hidden="true"></i>
									    <h2 class="title">{{ flashMessage }}</h2>
									{% else %}
										<i class="fa fa-check-circle" aria-hidden="true"></i>
									    <h2 class="title">恭喜您！可以开始您的问卷之旅啦！</h2>
									{% endfor %}
								</div>
							</div>
							{#<div class="profileWrap well well-lg">#}
								{#<div class="row">#}
									{#<div class="col-xs-12 col-sm-10 col-sm-offset-1">#}
										{#<br>#}
										{#<p class="row1">接下来，推荐您做一份属性问卷，用来帮助您收到更多的<mark>高积分问卷</mark>。</p>#}
										{#<ul class="row2">#}
											{#<li>每小题1积分，最多可得<b>135积分</b>。</li>#}
											{#<li>回答过程中，您感到疲倦、不想回答的时候，可以随时暂停关闭，不会影响您下次继续回答该问卷。</li>#}
										{#</ul>#}
										{#<br><br>#}
										{#<p class="prBtn">#}
											{#<a href="{{ path('_user_profile_survey') }}" class="goto hvr-icon-wobble-horizontal btn btn-lg" target="_blank">#}
												{#<span>获取更多积分</span>#}
												{#<span class="triangle"></span>#}
											{#</a>#}
										{#</p><br><br>	#}
									{#</div>#}
								{#</div>#}
							{#</div>#}
							{#<div class="profileWrap well well-lg">#}
								{#<div class="row">#}
									{#<div style="text-align: center">#}
										{#<br>#}
										{#<p class="row1">点<a href="{{ path('_homepage') }}" style="color: blue;">这里</a>领取<b style="color: red;">300积分</b>的新手红包。</p>#}
										{#<br>#}
										{#<p class="prBtn">#}
											{#<a href="{{ path('_homepage') }}" class="goto hvr-icon-wobble-horizontal btn btn-lg">#}
												{#<span>获取更多积分</span>#}
												{#<span class="triangle"></span>#}
											{#</a>#}
										{#</p><br><br>#}
									{#</div>#}
								{#</div>#}
							{#</div>#}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
		//baidu统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?878d6a1fecf76315390d7c5db8779bef";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

		setTimeout(refer, 1000);
		function refer(){
			location = "{{ path("_homepage") }}"; //#设定跳转的链接地址
		}
    </script>
{% endblock %}