{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}微博注册：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/weiboQQ.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSimple.html.twig' %} 
{% endblock %}

{% block body %}
<div class="main-con w1000">
	<div class="form main-register weibo">
    	<p class="welcome">尊敬的新浪微博会员，欢迎来到91问问网站！</p>
    	<div class="basicInfo">
    		<h4>您的基本信息</h4>
    		<div class="con"><div class="tx"><label>头像：</label><img src="{{ asset('img/temp/qsurveyImg.jpg') }}" alt="微博头像" height="55"></div>昵称：老师看见耽搁了</div>
    	</div>
    	<div class="otherRegForm tabCon">
    		<div class="tabs tabNav"><span class="active">没有91问问账号</span><span>已有91问问账号</span></div>
    		<div class="con">
    			<form action="{{ path('qq_registe') }}" method="post" name="form1" id="form1" >
    			<ul class="addAccount">
    				<li>为保障您的账户安全，请设置一个邮箱和91问问网站密码。</li>
	                <li><label for="weiboEmail">邮箱地址</label><br><input name="weiboEmail" type="text" value=""/></li>
	                <li><label for="setPwd">设置密码</label><br><input name="pwd" type="password" value=""/></li>
	                <li>
	                    <strong class="errorMsg" id="regist_emailError">
	                        {% if regcode is  defined %}
	                            {{ regcode }}
	                        {% endif %}
	                    </strong>
	                </li>
	                <li><span class="submitBtn" id='reg' >立即注册</span></li>
	            </ul>
    			</form>
    		</div>
    		<div class="con">
    			<form action="{{ path('qq_bind') }}" method="post" name="form2" id="form2" >
                <ul class="bindAccount">
                    <li>将已有的91问问账号与新浪微博账号绑定。</li>
                    <li><label for="kxUser">91问问账号</label><br><input name="jili_email" type="text" value=""/></li>
                    <li><label for="kxPwd">登录密码</label><br><input id="pwd" name="jili_pwd" type="password" value=""/></li>
                    <li><strong class="errorMsg" id="bind_emailError">
                            {% if bindcode is  defined %}
                                {{ bindcode }}
                            {% endif %}
                        </strong>
                    </li>
                    <li><span id='bind' class="submitBtn">立即绑定</span><a class="corGlobBlue" href="{{ path('_user_resetPwd') }}">忘记密码</a></li>
                </ul>
                <button style="display:none">binding</button>
            	</form>
    		</div>
    		<div class="bdingImg"><img src="{{ asset('img/user/weiboLogin.png') }}" alt="微博绑定图片"></div>
    	</div>
    	<div class="icon"></div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footerCopyright.html.twig' %} 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/user/weiboQQ')}}"></script>
{% endblock %}