{% extends '::base.html.twig' %}

{% block body -%}

    <h1>地区分布</h1>

    <canvas id="myChart" width="400" height="400"></canvas>
    <canvas id="myChart2" width="400" height="400"></canvas>    
    
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/lib/Chart.bundle.js') }}"></script>
    <script src="{{ asset('js/lib/utils.js') }}"></script>
    <!--[if lte IE 8]>
        <script src="{{ asset('js/lib/excanvas.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('js/pages/barGraph.js') }}"></script>
    <script>
        window.onload = function() {
            load({{ data|raw }});
        }
    </script>
{% endblock %}