<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>积粒网-会员注册</title>
    <meta content="积粒,积粒网,91积粒网,返利网,返利,返现,超级返,购物返利,商城返利,淘宝,淘宝返利,京东返利,积分,积分商城,网购返利,91jili.com" name="keywords"/>
    <meta content="积粒网，轻松积米粒，快乐换奖励！拥有游戏体验，体验广告，购物返利，商家活动几大板块，网站的货币为米粒，在享受众多商城最优惠价格同时还可从积粒网获得不同比率的现金奖励！积粒网让你省得多，赚得也更多！" name="description"/>
    <link href="{{ asset('bundles/jilifrontend/css/jl.ui.base.css') }} " rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/jilifrontend/css/jl.ui.login.css') }} " rel="stylesheet" type="text/css">
    <script src="{{ asset('js/html5.js') }}" type="text/javascript"></script> 
    <script src="{{ asset('js/jquery-1.7.js') }}" language="javascript"></script>
    <script src="{{ asset('bundles/jilifrontend/js/jl.ui.login.js') }}" language="javascript"></script>
</head>
<body>
    <header>
        <a href="http://www.91jili.com/"><img src="{{ asset('bundles/jilifrontend/images/logo.png') }}" width="160" height="46" alt="91积粒网" title="91积粒网"/></a>
        <span class="tips">已有积粒网账号，<a href="{{ path('_user_reg') }}">直接登录</a></span>
    </header>
    <div class="loginNewBox">
        <div class="loginMask"></div>
        <div class="slider">
            <div class="sliderMask">
            <img class="img1" src="{{ asset('bundles/jilifrontend/images/pic01.png') }}" width="388" height="249"/>
            <img class="img2" src="{{ asset('bundles/jilifrontend/images/pic02.png') }}" width="466" height="249"/>
            <img class="img3" src="{{ asset('bundles/jilifrontend/images/pic03.png') }}" width="567" height="249"/></div>
            <div class="menus"><span><b class="active"></b><b></b><b></b></span></div>
        </div>
        <div class="loginArea">
            <div class="loginBox">
                <form action="/user/login" method="post" name="form1" id="form1">
                    <div class="msgShow">
                        <span>***当前已积累米粒</span>
                        <div class="digits">
                            <div class="digit"><span></span></div>
                            <div class="digit"><span></span></div>
                            <div class="digit"><span></span></div>
                            <div class="digit"><span></span></div>
                            <div class="digit"><span></span></div>
                        </div>
                    </div>
                    <div class="registerBtn"><a href="">免费注册</a></div>
                    <ul class="loginForm">
                        <!--<li class="error">您输入的密码或用户名有误</li>-->
                        <li><span class="defaultTxt">邮箱</span>
                            <input name="email" id="email" type="text" class="text clearTxt" onFocus="$('.error').html('&nbsp;');" value="">
                        </li>
                        <li><span class="defaultTxt">密码</span>
                            <input name="pwd" id="pwd" type="password" class="password clearTxt"  onFocus="clear();">
                        </li>
                        <li class="clearfix">
                            <input id="loginSubmit" name="login" type="submit" class="submit" value="登录" autocomplete="off"/>
                            <input id="remember_me" name="remember_me" class="loginTips" type="checkbox" value="1" checked/>
                            <label>&nbsp;记住我&nbsp;|&nbsp;</label><a class="forget" href="{{ path('_user_resetPwd')}}" target="_blank">忘记密码？</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="recentNews">
        <span>最新动态</span>
        <div class="newsList">
            <ul class="clearfix">
                <li>start***将2000积分兑换为亚马逊礼品卡</li>
                <li>***将2000积分兑换为亚马逊礼品卡</li>
                <li>***将2000积分兑换为亚马逊礼品卡</li>
                <li>***将2000积分兑换为亚马逊礼品卡</li>
                <li>***将2000积分兑换为亚马逊礼品卡</li>
                <li>***将2000积分兑换为亚马逊礼品卡</li>
                <li>end***将2000积分兑换为亚马逊礼品卡</li>
            </ul>
        </div>
    </div>
{% include 'JiliApiBundle::footer.html.twig' %} 
</body>
</html>
