<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
{% include 'JiliApiBundle::seo.html.twig' %}
<title>积粒网-首页 一站式积分媒体！</title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/index.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/indexNew.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/signIn.js')}}" type="text/javascript"></script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<script type="text/javascript">
$(document).ready(function(){
	getCenter();
	$(".signInExplain").hide();
	$("#signInFrame").hide();
	$.ajax({
        url: "{{ path('_checkin_clickCount') }}",
        post: "GET",
        success:function(data){
            if(data<3){
              var times = parseInt(3-parseInt(data));
              $("#remain").text(times);
              $("#m_remain").text(times);
            }else{
              $("#remain").text(0);
              $("#m_remain").text(times);
              aremove();
            } 
        }
	});

	$("#login").click(function(){
	       $("#form1").submit();
    })
	
	$(".close").click(function(){
	    $(".signInExplain").hide();
	    $(".blackBg").hide();
	    $("#signInFrame").hide();
	 });

});

function getCenter(){
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var popupHeight = $("#signInFrame").height();
    var popupWidth = $("#signInFrame").width();
    $("#signInFrame").css({
        "position": "absolute",
        "top": windowHeight/2-popupHeight/2,
        "left": windowWidth/2-popupWidth/2
    });
}
function popIn(){
   $(".signInExplain").show();
}
function popOut(){
   $(".signInExplain").hide();
}
function signs(){
  $(".signInExplain").show();
  $("#signInFrame").show();
  $(".blackBg").show();
}
function aremove(){
  $("#sign").removeClass('signIn');
  $("#sign").addClass('signIn close');
  $("#sign").removeAttr("onclick");
  $("#sign").attr('onMouseOver',null);
}
function goto(cid,aid,points){
    var w = window.open("","_blank");
    $.ajax({
          url: "{{ path('_advertiserment_click') }}?id="+aid,
          post: "GET",
          success:function(data){
              if(data==1){
                 $.ajax({
                    url: "{{ path('_checkin_issetClick') }}?cid="+cid,
                    post: "GET",
                    success:function(data){
                      if(data == 1){
                          var nowTimes = parseInt(parseInt($("#remain").text())-1);
                          if(nowTimes<=0){
                              $("#signInFrame h5").html("恭喜您签到成功，已获得<font color='#E94C1B'>"+points+"</font>米粒！");
                              $("#m_remain").text(nowTimes);
                          }else{
                              $("#remain").text(nowTimes);
                              $("#m_remain").text(nowTimes);
                          }

                      }
                      $(".image"+cid).removeAttr("onclick");
                      $(".goTo "+cid).removeAttr("onclick");
                      $.ajax({
                            url: "{{ path('_checkin_clickInsert') }}?cid="+cid+"&aid="+aid,
                            post: "GET",
                            success:function(data){ 
                              var points = $("#points").text();
                              var obj = JSON.parse(data);
                              // w.location.href = obj.url;
                              w.location.href = "{{ path('_checkin_checkinInfo') }}?aid="+aid;
                              // w.focus();
                              // window.open(obj.url, "s", "resizable=yes, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, copyhistory=no").blur();
                              // window.focus();
                              if(obj.code==1){  
                                  $(".signInExplain").hide();
                                  aremove();
                                  $("#points").text(parseInt(obj.point)+parseInt(points));
                              }
                            }
                      });
                    }
                 });
              }else if(data==0){
                  window.location.href="{{ path('_user_login') }}";
                  w.close();
              }else{
                  w.close();
              }
          },
          error:function(){
             w.close();
          }
      });
}
</script>
<div class="webArticle index">
    <section>
        <div class="frame">
            <div id="indexBanner">
                <a class="indexBanner1" href="{{ asset(path('_game_index'),'cdn1')}}"><img src="{{ asset('images/indexBanner1.jpg') }}"></a>
                <a class="indexBanner2" href="{{ asset(path('_advertiserment_list'),'cdn1')}}"><img src="{{ asset('images/indexBanner2.jpg') }}"></a>
                <a class="indexBanner3" href="{{ asset(path('_marketActivity_index'),'cdn1')}}"><img src="{{ asset('images/indexBanner3.jpg') }}"></a>
                <a class="indexBanner4" href="{{ asset(path('_shopping_list'),'cdn1')}}"><img src="{{ asset('images/indexBanner4.jpg') }}"></a>
            </div>
        </div>
        <div class="frame">
            <div id="marketActivity">
                <div class="mask">
                <ul>
                   {% for item in market %}
                    <li>
                        <a href="{{ path('_marketActivity_info',{'id': item.id }) }}"><img src="{{ asset(item.activityImage) }}" ></a>
                        <div class="more"><h4>{{ item.businessName }}</h4><a target="_blank" href="{{ path('_marketActivity_info',{'id': item.id }) }}" class="moreBtn">查看详情&gt;&gt;</a></div>
                    </li>
                    {% endfor %}
                </ul>
                </div>
                <a class="move prev"></a><a class="move next"></a>
            </div>
        </div>
        <div class="frame">
            <div id="timeLine">
                <h3><img src="{{ asset('images/timeLineH3.jpg') }}" /></h3>
                <div class="mask">
                <ul>
                     {% for item in recentPoint %}
                    <li>
                        <dd>
				          {% if item.1 %}
				              <img src='{{ asset(item.1) }}' height='30'/>
				          {% else %}
				              <img src='{{ asset("other/photo30.jpg") }}' />
				          {% endif %}
                        </dd>
                        <dt>
                            <p><h4>{{ item.0 }}</h4></p>
                            <p>{{ item.3 }}{% if item.2 > 0 %}获得{% else %}兑换{% endif %}{{ item.2|abs }}积分
                            </p>
                        </dt>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
        <div class="frame">
            <div id="mainHotMarket">
                <ul>
                    {% for item in adverRecommand %}
                    <li>
                        <a href="{{ path('_advertiserment_index',{'id':item.id}) }}"><img src="{{ asset(item.listImage) }}"></a>
                        <p>
                         {% if item.incentiveType==1 %}
                             <span class="rebate">{{ item.incentive }}米粒</span>
                         {% elseif item.incentiveType==2 %}
                             <span class="rebate">最高返{{ item.reward_rate }}%</span>
                         {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <aside>
        {% if user %}
        <div id="banner">
                <ul class="bannerImg">
                     {% for item in advertise_banner %}
	                 <li><a href="{{ item.adUrl }}"><img src="{{ asset(item.iconImage) }}"/></a></li>
	                 {% endfor %}
                </ul>
                <div class="bannerNumber"><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a></div>
        </div>
         <div id="task">
            <h3>您今天可做任务<span>{{ task.count }}</span></h3>
            <div class="mask">
            <div class="all">
            <ul>
                {% if task.checkin==1 %}
                <li class="signs"><a id="sign" onclick="signs();" onMouseOver="popIn();" onMouseOut="popOut();"><dd>签到</dd><dt><span>{{task.checkinPoint}}</span>米粒</dt></a></li>
                {% endif %}
                <li class="vote"><a href="http://www.91wenwen.net/vote/#active"><dd>91问问快速问答</dd></a></li>
                {% if task.game==1 %}
                <li class="game"><a href="{{ asset(path('_game_index'),'cdn1')  }}"><dd>小鸡找米</dd><dt>最高<span>5888</span>米粒</dt></a></li>
                {% endif %}
                <li class="cps"><a href="{{ asset(path('_shopping_list'),'cdn1') }}"><dd>去购物</dd></a></li>
                {% for item in task.cpa %}
                <li><a href="{{ path('_advertiserment_index',{'id':item.id}) }}"><dd>{{ item.title[:8] }}</dd><dt><span>{{ item.incentive }}</span>米粒</dt></a></li>
                {% endfor %}
            </ul>
            </div>
            </div>
            <div class="signInExplain">打开<span id="m_remain">3</span>个商城就可获得<span>{{ checkinPoint }}</span>个积分！</div>
            <!-- <div class="pageNumber"><a class="prev"></a><a class="next"></a></div> -->
            <div class="bottom"></div>
        </div>
         {% else %}
        <div class="frame">
            <div id="userInformation">
                <form action="{{ path('_default_index') }}" method="post" name="form1" id="form1">
                    <p><input name="email" type="text" class="text" id="email" value="{{ email }}"></p>
                    <p><input name="pwd" type="password" class="password" id="password"></p>
                    <p><input type="image" src="{{ asset('images/logBtn.jpg') }}" class="image" id="login" name=""><label>
                    <input type="checkbox" id="rem" value="1" name="remember_me">记住我</label> | <a href="{{ asset(path('_user_resetPwd'),'cdn1') }}" class="forget">忘记密码?</a></p> 
                    <p><a href="{{ path('_user_reg') }}" class="reg">免费注册</a></p>
                </form>
            </div>
            <div id="aboutJili">
                <h3><img src="{{ asset('images/aboutJili.jpg') }}" /></h3>
                <ul>
                    <li>100米粒=￥1.00元</li>
                    <li>玩游戏，拿返利，答问卷赚积分</li>
                    <li>兑换支付宝，手机费，礼品卡...</li>
                </ul>
            </div>
        </div>
        {% endif %} 
        <div class="frame">
            <div id="news">
                <h3><img src="{{ asset('images/newsH3.jpg') }}" /></h3>
                <div class="mask">
                <div class="all">
                <ul>
                    {% for item in callboard %}
                    <li>{{ item.title }}</li>
                    {% if loop.length > 3 and loop.index % 3 == 0 %}
                    </ul>
                    <ul>
                    {% endif %}
                    {% endfor %}
                </ul>
                </div>
                </div>
                <div class="pageNumber"><a class="prev"></a><span></span><a class="next"></a></div>
            </div>
        </div>
        <div class="frame">
            <div id="ranking">
                <h3><img src="{{ asset('images/rankingH3.jpg') }}"/></h3>
                <div class="mask">
                <div class="all">
                    <ul class="month">
                        {% for item in rankingMonth %}
                        <li class="rank{{loop.index}}"><dd>{{ item.0[:7] }}</dd><dt><span>{{ item.1 }}</span>累计米粒</dt></li>
                        {% endfor %}
                    </ul>
                    <ul class="year">
                        {% for item in rankingYear %}
                        <li class="rank{{loop.index}}"><dd>{{ item.0[:7] }}</dd><dt><span>{{ item.1 }}</span>累计米粒</dt></li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
                <div class="menu"><a class="month">月度</a><a class="year">年度</a></div>
            </div>
        </div>
    </aside>  
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
<div class="signBlackBg"></div>
<div id="signInFrame">
  <h5>再打开<span id="remain">3</span>个商城就可以得到<span>{{ checkinPoint }}</span>个米粒</h5>
    <a class="close">关闭</a>
    <ul>
    {% for item in arrList %}
      <li><a onclick="goto({{ item.cid }},{{ item.id }},{{ checkinPoint }});" class="image{{ item.cid }}"><img src="{{ asset(item.list_image) }}" width="200" height="130"><p>最高返利{{ item.reward_rate }}%</p>
      <div class="gray"></div>
      <div class="goTo {{ item.cid }}">点击前往</div>
      <div class="finish">已打开</div>
      </a></li>
    {% endfor %}
    </ul>
</div>
</body>
</html>
