<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-首页 一站式积分媒体！</title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/index.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
</head>
<script type="text/javascript">
$(function(){
	{% if code==1 %}
       $("#email").focus();
	   alert('用户名或密码错误');
	{% elseif code==2 %}
	   $("#password").focus();
       alert('用户名或密码错误');
	{% else %}
	
	{%  endif %}
	
	 $("#login").click(function(){
	       $("#form1").submit();
		})
	})
</script>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle index">
	<section class="one">
        <div id="banner">
        	<ul class="bannerImg">
        	{% for item in advertise_banner %}
        	<li><a href="{{ item.adUrl }}" target="_blank"><img src="{{ asset(item.iconImage) }}"/></a></li>
        	{% endfor %}
            	
            </ul>
            <div class="bannerNumber"><a href="#" class="hover">1</a><a href="#">2</a><a href="#">3</a></div>
        </div>

        <div id="userInformation">
        {% if user %}
    	<div class="after">
        	<div class="user">
        	    {% if user.iconPath %}
            	    <div class="photo"><a href="{{ path('_user_info')}}" ><img src="{{ asset(user.iconPath) }}" width="90" height="90"></a></div>
            	{% else %}
            	   <div class="photo"> <a href="{{ path('_user_info')}}" ><img src="{{ asset('images/default_face.jpg') }}" width="90" height="90"/></a></div>
            	 {% endif %}
                <p>您好，<a href="{{ path('_user_info')}}">{{ user.nick }}</a><br/><br/><a class="personal" href="{{ path('_user_info')}}"><img src="{{ asset('images/myCenterBtn.png') }}"/></a></p>
                <div class="clear"></div>
                <p class="point">当前米粒数：<span>{{ user.points }}</span></p>
            </div>
            <ul>
            	<li><a href="{{ asset(path('_user_adtaste',{'type':1}),'cdn1') }}" >我的任务历史</a></li>
                <li><a href="{{ asset(path('_user_exchange',{'type':1}),'cdn1') }}" >我的兑换历史</a></li>
            </ul>
        </div> 
        {% else %}
       <form action="{{ path('_default_index') }}" method="post" name="form1" id="form1">
        <div class="before">
            <p><input name="email" type="text" class="text" id="email" value="{{ email }}"></p>
            <p><input name="pwd" type="password" class="password" id="password"></p>
            <p><input name="" id='login' type="image" class="image" src="{{ asset('images/indexLoginBtn.jpg') }}"><label>
            <input name="remember_me" type="checkbox" value="1" id="rem">记住我</label> | <a class="forget" href="{{ asset(path('_user_resetPwd'),'cdn1') }}">忘记密码?</a></span></p> 
            <p><a class="reg" href="{{ path('_user_reg') }}">免费注册</a></p>
        </div>
        </form>
        {% endif %}    
</div>
        </section>
    <section class="process"><img src="{{ asset('images/process.jpg')}}" width="960" height="85"></section>
  <section class="main">
    	<article>
        	<h2><img src="{{ asset('images/hotTask.jpg')}}" width="209" height="19" alt="热门任务"><a class="more" href="{{ asset(path('_advertiserment_list'),'cdn1') }}">更多>></a></h2>
        	
        	{% for item in advertise %}
               <div class="task">
               <a href="{{ asset(path('_advertiserment_index',{'id':item.id}),'cdn1') }}"><img src='{{ asset(item.listImage) }}' /></a>
                <h3><a href="{{ asset(path('_advertiserment_index',{'id':item.id}),'cdn1') }}">{{ item.title }}</a></h3>
                <p>任务奖励：
                {% if item.incentiveType==1 %}
                     <span>{{ item.incentive }}</span>米粒
                     {% elseif item.incentiveType==2 %}
                                                                 最高获消费额<span>{{ item.incentiveRate/100 }}%</span>
                     {% else %}
                     {% endif %}
                  </p>
                     
            </div>
            {% endfor %}
        	
    </article>
    	<aside>
        	<section style="height:200px;">
            	<h4>公告<a class="more" href="{{ asset(path('_callboard_index'),'cdn1') }}">更多>></a></h4>
              <ul class="news">
              {% for item in callboard %}
                	<li><a href="{{ asset(path('_callboard_info',{'id':item.id}),'cdn1') }}"><span>【系统】</span>{{ item.title }}</a></li>
                   
                {% endfor %}
                   <!--   <li class="last"><a href="#"><span>【活动】</span>“游戏冲冲冲”第4弹开始啦！</a></li>-->
                </ul>
            </section>
            
            
             <section style="height:400px;">
            	<h4>最新兑换</h4>
              <ul class="timeline">
                	<li>暂无兑换信息</li>
                    
                </ul>
            </section>
           
        </aside>
  </section>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>