{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}签到领奖券{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/checkInEvent.css') }} " type="text/css">
    <!--[if lt IE 8]>
    <link href="{{ asset('css/bootstrap-ie7.css') }}" rel="stylesheet">
    <![endif]-->
{% endblock %}

{% block header %}
    {% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="bannerWrap">
        <div class="container">
            <div class="bannerCon row">
                <div class="col-sm-12">
                    <img class="img-responsive center-block" src="{{ asset('img/checkin/titleImage.png') }}">
                </div>
            </div>
        </div>
    </div>
    <div class="contWrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="contBox col-sm-8">
                    <h2 class="tit"><img class="bug pull-left img-responsive" src="{{ asset('img/checkin/ladybugIco.png') }}">签到进度</h2>
                    <div class="row">
                        <div class="proBar col-sm-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
                                    第{{ signedDays }}天
                                </div>
                            </div>
                            <div class="step well">
                                <div class="checkSuc center-block">
                                    {% if alreadySigned == false %}
                                        <h2 class="res">今日还未签到！</h2>
                                        <p>还需连续签到{{ unsignedDays }}天即可获得抽奖券。</p>
                                    {% else %}
                                        {% if signedDays == 5 %}
                                            <h2 class="res">签到成功！恭喜您！</h2>
                                            <p>获得一张抽奖券！前去抽奖吧！</p>
                                        {% else %}
                                            <h2 class="res">签到成功！继续努力！</h2>
                                            <p>还需连续签到{{ unsignedDays }}天即可获得抽奖券。</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if alreadySigned == false  %}
                                <a href="{{ path('event_checkin_update') }}" class="action next checkBtn center-block btn btn-default btn-lg" role="button">点击签到</a>
                            {% endif %}
                            {% if alreadySigned == true and signedDays == 5 %}
                                <a href="{{ path('event_prize') }}" class="action submit checkBtn center-block btn btn-default btn-lg" role="button">去抽奖</a>
                            {% endif %}
                        </div>
                    </div>
                    <h2 class="tit"><img class="bug pull-left img-responsive" src="{{ asset('img/checkin/ladybugIco.png') }}">签到规则</h2>
                    <div class="rule">
                        <p>1. 连续签到5天，自动获得1张抽奖券。</p>
                        <p>2. 抽奖券的使用规则请前往抽奖活动页面。</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}