{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}活动中心{% endblock %}

{% block stylesheet %}
    <!-- pages css -->
    {% stylesheets filter="cssrewrite, scssphp, ?uglifycss" output="dist/css/frontend/eventCenter.css"
        "assets/scss/frontend/pages/event/eventCenter.scss"
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block header %}
    {% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('event_prize') }}">
        <div class="row eventItem">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 eventImg"><img src="/assets/img/frontend/event/luckyDrawBr.jpg" alt="幸运抽奖券" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-4 eventText">
                <h3>幸运抽奖券</h3>
                <p>完成一些任务就有机会参加抽奖哦！</p>
            </div>
            <span class="status"><i class="fa fa-clock-o" aria-hidden="true"></i>活动进行中</span>
        </div>
    </a>
    <a href="{{ path('event_invite') }}">
        <div class="row eventItem">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 eventImg"><img src="/assets/img/frontend/event/inviteBr.jpg" alt="邀请好友" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-4 eventText">
                <h3>邀请好友</h3>
                <p>通过邀请好友，让您的好友帮您赚钱啦！</p>
            </div>
            <span class="status"><i class="fa fa-clock-o" aria-hidden="true"></i>活动进行中</span>
        </div>
    </a>
    <a href="{{ path('event_checkin') }}">
        <div class="row eventItem">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 eventImg"><img src="/assets/img/frontend/event/checkInBr.jpg" alt="签到领奖券" class="img-responsive"></div>
            <div class="col-xs-12 col-sm-4 eventText">
                <h3>签到领奖券</h3>
                <p>每天都来签到哦！</p>
            </div>
            <span class="status"><i class="fa fa-clock-o" aria-hidden="true"></i>活动进行中</span>
        </div>
    </a>
</div>

{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
