{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}邀请好友，让好友帮你赚钱啦，10%积分奖励{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="{{ asset('css/invitation.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_headerSimple.html.twig' %}
{% endblock %}

{% block body %}
	<div class="bannerWrap">
		<div class="flowBg">
			<div class="container">
				<div class="bannerCon center-block row">
					<div class="col-sm-12">
						<img class="img-responsive" src="{{ asset('img/invitation/banner.png') }}">
					</div>
					
				</div>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="bannerRule col-sm-10">
						<div class="con">
							<p>赚钱引导流程</p>
							<div class="rulePic">
								<img class="img-responsive" src="{{ asset('img/invitation/rulePic.jpg') }}">
							</div>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			
			
		</div>
	</div>
	<div class="contWrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
							<div class="btns">
								<div class="row center-block">
						                <a class="ibtn pull-left col-sm-4" href="#">
						                	<div class="row">
						                		<div class="ibtnItem col-sm-12"><i class="fa fa-weixin" aria-hidden="true"></i>通过微信邀请好友</div>
						                	</div>
						                    	
						            	</a>
						            	<a class="ibtn pull-left col-sm-4" href="#">
						            		<div class="row">
						            			<div class="ibtnItem col-sm-12"><i class="fa fa-qq" aria-hidden="true"></i>通过QQ邀请好友</div>
						            		</div>
							                    
							            </a>
						                <a class="ibtn pull-left col-sm-4" href="#">
						                	<div class="row">
						                		<div class="ibtnItem col-sm-12"><i class="fa fa-weibo" aria-hidden="true"></i>通过微博邀请好友</div>
						                	</div>
							                    
							            </a>
								</div>
								<div class="row center-block">
									<div class="others center-block col-sm-12">
										<div class="note pull-left">或者粘贴以下地址发送给好友</div>
										<input type="text" class="form-control pull-left" value="www.voyagechinagroup.com">
										<a href="#" class="copy btn btn-default btn-lg  pull-left" role="button"><i class="fa fa-files-o" aria-hidden="true"></i>复制</a>
							        </div>
								</div>
							</div>
							<div class="ruleTit row">
								{# <div class="col-sm-1"></div> #}
								<div class="rtCon col-sm-12 text-left">
									<h2><i class="fa fa-paper-plane" aria-hidden="true"></i>活动规则</h2>
								</div>
								{# <div class="col-sm-1"></div> #}
							</div>
							<div class="ruleCon row">
								<div class="rcText col-sm-12">
									<div class="row">
										<div class="col-sm-1"></div>
										<div class="col-sm-10">
											<p>— 活动期间内邀请的好友注册成功后，邀请人可获得100积分奖励。</p>
											<p>— 被邀请人在活动期内，回答商业问卷所获得的积分，邀请人将额外获得该积分的10%。</p>
											<p>— 邀请人确认此查看自己的邀请历史。</p>
											<p>— 同一用户多次邀请1个人仅算1次成功邀请。</p>
											<p>— 每天最多邀请10位好友。</p>
										</div>
										<div class="col-sm-1"></div>
									</div>
								</div>
							</div>
							<div class="friendsTit row">
								<div class="ftCon col-sm-12 text-left">
									<h2><i class="fa fa-paper-plane" aria-hidden="true"></i>我成功邀请的好友</h2>
								</div>
							</div>
							<div class="friendsCon row">
								<div class="col-sm-1"></div>
								<div class="col-sm-10">
									<div class="row">
										<div class="fdList clearfix col-sm-12">
											<div class="col-sm-2 col-xs-3">
												<img class="img-responsive" src="{{ asset('img/common/default_tx.png') }}">
												<p class="text-center">alizeee</p>
											</div>
											<div class="col-sm-2 col-xs-3">
												<img class="img-responsive" src="{{ asset('img/common/default_tx.png') }}">
												<p class="text-center">alizeee</p>
											</div>
											<div class="col-sm-2 col-xs-3">
												<img class="img-responsive" src="{{ asset('img/common/default_tx.png') }}">
												<p class="text-center">alizeee</p>
											</div>
											<div class="col-sm-2 col-xs-3">
												<img class="img-responsive" src="{{ asset('img/common/default_tx.png') }}">
												<p class="text-center">alizeee</p>
											</div>
											<div class="col-sm-2 col-xs-3">
												<img class="img-responsive" src="{{ asset('img/common/default_tx.png') }}">
												<p class="text-center">alizeee</p>
											</div>
											<div class="col-sm-2 col-xs-3">
												<img class="img-responsive" src="{{ asset('img/common/default_tx.png') }}">
												<p class="text-center">alizeee</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-1"></div>
							</div>
				</div>
				<div class="col-sm-1"></div>
			</div>
			
		</div>
	</div>
{% endblock %}

{% block footer %}
        <div class="container text-center">
            <p>Copyright © 网曦信息科技（上海）有限公司</p>
            <p>沪ICP备10212377号-1</p>
        </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/pages/user/emailActive.js')}}"></script>
{% endblock %}