{% extends 'WenwenFrontendBundle:admin:adminReportBase.html.twig' %}
{% block title %}SOP问卷详情{% endblock %}
{% block body %}
    <div class='table-responsive'>
        <table class="table table-striped table-condensed">
            <caption>SOP问卷详情</caption>
            <thead>
            <tr class="active text-nowrap">
                <th>survey_id</th>
                <th>targeted</th>
                <th>init</th>
                <th>forward</th>
                <th>complete</th>
                <th>screenout</th>
                <th>quotafull</th>
                <th>error</th>
                <th>real_ir</th>
                <th>init -> forward</th>
                <th>forward -> csqe</th>
                <th>targeted -> csqe</th>
                <th>avg_c_loi</th>
                <th>avg_s_loi</th>
                <th>avg_q_loi</th>
                <th>avg_e_loi</th>
            </tr>
            </thead>
            <tbody>
            {% for survey in pagination %}
                <tr class="text-nowrap" data-toggle="collapse" data-target="#accordion{{ loop.index }}">
                    <td>{{ survey.survey_id }}</td>
                    <td>{{ survey.targeted_count }}</td>
                    <td>{{ survey.init_count }}</td>
                    <td>{{ survey.forward_count }}</td>
                    <td>{{ survey.complete_count }}</td>
                    <td>{{ survey.screenout_count }}</td>
                    {% if survey.is_closed == 0 and survey.quotafull_count > 0 %}
                    <td><font color="red">{{ survey.quotafull_count }}</font></td>
                    {% else %}
                    <td>{{ survey.quotafull_count }}</td>
                    {% endif %}
                    <td>{{ survey.error_count }}</td>
                    <td>{{ survey.real_ir }} %</td>
                    <td>{{ survey.cvr1 }} %</td>
                    <td>{{ survey.cvr2 }} %</td>
                    <td>{{ survey.cvr3 }} %</td>
                    {% if survey.avg_complete_loi > survey.loi*2 %}
                    <td><font color="red">{{ survey.avg_complete_loi }}</font> min</td>
                    {% else %}
                    <td>{{ survey.avg_complete_loi }} min</td>
                    {% endif %}
                    {% if survey.avg_screenout_loi > survey.loi*0.5 %}
                    <td><font color="red">{{ survey.avg_screenout_loi }}</font> min</td>
                    {% else %}
                    <td>{{ survey.avg_screenout_loi }} min</td>
                    {% endif %}
                    {% if survey.avg_quotafull_loi > survey.loi*0.5 %}
                    <td><font color="red">{{ survey.avg_quotafull_loi }}</font> min</td>
                    {% else %}
                    <td>{{ survey.avg_quotafull_loi }} min</td>
                    {% endif %}
                    {% if survey.avg_error_loi > survey.loi*0.5 %}
                    <td><font color="red">{{ survey.avg_error_loi }}</font> min</td>
                    {% else %}
                    <td>{{ survey.avg_error_loi }} min</td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan="99">
                        <div id="accordion{{ loop.index }}" class="collapse">
                            {% include 'WenwenFrontendBundle:admin:_adminReportSurveyDetail.html.twig' %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("table").floatThead({
                responsiveContainer: function($table){
                    return $table.closest('.table-responsive');
                }
            });
        });
    </script>
{% endblock %}