{% extends 'WenwenFrontendBundle:admin:adminReportBase.html.twig' %}
{% block title %}Fulcrum每日汇总{% endblock %}
{% block content %}
    <div class='table-responsive'>
        <table class="table table-striped table-condensed">
            <caption>Fulcrum每日汇总</caption>
            <thead>
            <tr class="active text-nowrap">
                <th>日期</th>
                <th>targeted</th>
                <th>init</th>
                <th>forward</th>
                <th>complete</th>
                <th>screenout</th>
                <th>quotafull</th>
                <th>error</th>
                <th>total of c/s/q/e</th>
                <th>real_ir(%)</th>
                <th>CVR(init -> forward)(%)</th>
                <th>CVR(forward -> csqe)(%)</th>
                <th>CVR(targeted -> csqe)(%)</th>
            </tr>
            </thead>
            <tbody>
            {% for data in result %}
                <tr class="text-nowrap">
                    <td>{{ data.created_date }}</td>
                    <td>{{ data.targeted_count }}</td>
                    <td>{{ data.init_count }}</td>
                    <td>{{ data.forward_count }}</td>
                    <td>{{ data.complete_count }}</td>
                    <td>{{ data.screenout_count }}</td>
                    <td>{{ data.quotafull_count }}</td>
                    <td>{{ data.error_count }}</td>
                    <td>{{ data.csqe_count }}</td>
                    <td>{{ data.real_ir }}</td>
                    <td>{{ data.cvr1 }}</td>
                    <td>{{ data.cvr2 }}</td>
                    <td>{{ data.cvr3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}