{% extends 'WenwenFrontendBundle:admin:adminReportBase.html.twig' %}
{% block title %}SOP问卷详情{% endblock %}
{% block content %}
    <div class='table-responsive'>
        <table class="table table-striped table-condensed">
            <caption>SOP问卷详情</caption>
            <thead>
            <tr class="active text-nowrap">
                <th>survey_id</th>
                <th>targeted</th>
                <th>init</th>
                <th>forward</th>
                <th>complete</th>
                <th>screenout</th>
                <th>quotafull</th>
                <th>error</th>
                <th>CVR(init -> forward)(%)</th>
                <th>CVR(forward -> csqe)(%)</th>
                <th>avg_complete_loi(sec)</th>
                <th>avg_screenout_loi(sec)</th>
                {#<th>quota_id</th>#}
                {#<th>loi</th>#}
                {#<th>ir</th>#}
                {#<th>cpi</th>#}
                {#<th>complete_point</th>#}
                {#<th>screenout_point</th>#}
                {#<th>quotafull_point</th>#}
                {#<th>start_date</th>#}
                {#<th>end_date</th>#}
                {#<th>is_closed</th>#}
                {#<th>is_fixed_loi</th>#}
                {#<th>is_notifiable</th>#}
                {#<th>created_at</th>#}
                {#<th>updated_at</th>#}
            </tr>
            </thead>
            <tbody>
            {% for survey in pagination %}
                <tr class="text-nowrap" data-toggle="collapse" data-target="#accordion{{ loop.index }}">
                    <td>{{ survey.survey_id }}</td>
                    <td>{{ survey.targeted_count }}</td>
                    <td>{{ survey.init_count }}</td>
                    <td>{{ survey.forward_count }}</td>
                    <td>{{ survey.complete_count }}</td>
                    <td>{{ survey.screenout_count }}</td>
                    <td>{{ survey.quotafull_count }}</td>
                    <td>{{ survey.error_count }}</td>
                    <td>{{ survey.cvr1 }}</td>
                    <td>{{ survey.cvr2 }}</td>
                    <td>{{ survey.avg_complete_loi }}</td>
                    <td>{{ survey.avg_screenout_loi }}</td>
                    {#<td>{{ survey.quota_id }}</td>#}
                    {#<td>{{ survey.loi }}</td>#}
                    {#<td>{{ survey.ir }}</td>#}
                    {#<td>{{ survey.cpi }}</td>#}
                    {#<td>{{ survey.complete_point }}</td>#}
                    {#<td>{{ survey.screenout_point }}</td>#}
                    {#<td>{{ survey.quotafull_point }}</td>#}
                    {#<td>{{ survey.start_date|date('Y-m-d') }}</td>#}
                    {#<td>{{ survey.end_date|date('Y-m-d') }}</td>#}
                    {#<td>{{ survey.is_closed }}</td>#}
                    {#<td>{{ survey.is_fixed_loi }}</td>#}
                    {#<td>{{ survey.is_notifiable }}</td>#}
                    {#<td>{{ survey.created_at|date('Y-m-d H:i:s') }}</td>#}
                    {#<td>{{ survey.updated_at|date('Y-m-d H:i:s') }}</td>#}
                </tr>
                <tr>
                    <td colspan="13">
                        <div id="accordion{{ loop.index }}" class="collapse">
                            {% include 'WenwenFrontendBundle:admin:_adminReportSurveyDetail.html.twig' %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("table").floatThead({
                responsiveContainer: function($table){
                    return $table.closest('.table-responsive');
                }
            });
        });
    </script>
{% endblock %}