<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% block header %}
    <meta charset="UTF-8">
    <title>Admin - Recruit Report</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
{% endblock %}

{% block content %}
  <div class="container-full">
    <div class="row">
      <h3>过去30天的注册情况</h3>
      <table class='participationDailyReport table table-striped table-hover table-header-rotated'>
        <thead>
          <tr>
            <th class="rotate"><div><span>日期</span></div></th>
            {% for title, value in return.titles %}
            <th class="rotate"><div><span>{{title}}</span></div></th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for date, report in return.reports %}
            <tr>
              <td>{{date}}</td>
              {% for route, count in report %}
              <td>{{count.activeCount}}/{{count.registerCount}} <br>
              {% if count.rawRetentionRate > 20 %}<font color="blue">({{count.retentionRate}}%)</font>{% else %}({{count.retentionRate}}%){% endif %}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>

      </table>

      <br>
    
    </div>
  </div>

{% endblock %}

<style type="text/css">
  .container-full .row{
    margin: 0 17px;
  }
  .table-header-rotated{
    border-collapse: collapse;
  }
  .table-header-rotated td{
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
  }
  .table-header-rotated th.rotate{
    height: 110px;
    white-space: nowrap;
  }
  .table-header-rotated th.rotate div{
    transform: translate(25px, 51px);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    width: 30px;
  }
  .table-header-rotated th.rotate div span{
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }
  .table-header-rotated th.row-header{
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
  }

</style>