{% extends '::adminBase.html.twig' %}

{% block title %} {{ parent() }} - Partner Lists {% endblock %}

{% block stylesheet %}
<style type="text/css">
    .container-full{
        padding: 20px 40px;
    }
    .showWrap .form-group{
      margin-bottom: 15px;
      display: -webkit-box;
    }
    .showBtn{
      margin-top: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-full">
    <div class="row">
        <p>
            <a class="showBtn btn btn-default btn-sm" href="{{ path('admin_surveypartner_list') }}">返回问卷项目列表</a>
        </p>
        <h3 class="showTit">
            问卷项目详细信息
        </h3>
        <form name="surveyPartnerForm" id="surveyPartnerForm">
            <div class="showWrap row well">
                <div class="error errorLogBack">{{ form_errors(surveyPartnerForm) }}</div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.partnerName) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.partnerName) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.type) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.type) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.surveyId) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.surveyId) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.url) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.url) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.title) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.title) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.content) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.content) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.reentry) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.reentry) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.loi) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.loi) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.ir) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.ir) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.completePoint) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.completePoint) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.screenoutPoint) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.screenoutPoint) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.quotafullPoint) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.quotafullPoint) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">
                        <h4>问卷项目的参与条件</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.registeredAtFrom) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.registeredAtFrom) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.registeredAtTo) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.registeredAtTo) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.minAge) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.minAge) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.maxAge) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.maxAge) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.gender) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.gender) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.province) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.province) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.city) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.city) }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-right">{{ form_label(surveyPartnerForm.status) }}</div>
                    <div class="col-sm-10">{{ form_widget(surveyPartnerForm.status) }}</div>
                </div>
                {{ form_row(surveyPartnerForm._token) }}
            </div>
        </form>
        <div class="row">
            {% if surveyPartnerStatus == 'open' %}
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-info" type="button" href="{{ path('admin_surveypartner_close', {'surveyPartnerId': surveyPartnerId}) }}">
                            停止
                        </a>
                    <a class="btn btn-info" type="button" disabled="disabled" href="{{ path('admin_surveypartner_edit', {'surveyPartnerId': surveyPartnerId}) }}">
                            编辑
                        </a>
                </div>
            </div>
            {% else %}
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-info" type="button" href="{{ path('admin_surveypartner_open', {'surveyPartnerId': surveyPartnerId}) }}">
                            开启
                        </a>
                    <a class="btn btn-info" type="button" href="{{ path('admin_surveypartner_edit', {'surveyPartnerId': surveyPartnerId}) }}">
                            编辑
                        </a>
                    <a class="btn btn-info" type="button" href="{{ path('admin_surveypartner_close', {'surveyPartnerId': surveyPartnerId}) }}">
                            终止
                        </a>
                </div>
            </div>
            {% endif %}
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <table class='surveyPartnerParticipationHistorys table'>
                    <caption>项目完成数量统计</caption>
                    <thead>
                        <tr>
                            <th>initCount</th>
                            <th>init -> forward</th>
                            <th>forwardCount</th>
                            <th>forward -> csqe</th>
                            <th>c/s/q/e</th>
                            <th>estimateIR</th>
                            <th>realIR</th>
                            <th>complete</th>
                            <th>estimateLOI</th>
                            <th>avgTime</th>
                            <th>screenout</th>
                            <th>avgTime</th>
                            <th>quotafull</th>
                            <th>avgTime</th>
                            <th>error</th>
                            <th>avgTime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{summary.initCount}}</td>
                            <td>{{summary.cvrInitToForward}}</td>
                            <td>{{summary.forwardCount}}</td>
                            <td>{{summary.cvrForwardToCSQE}}</td>
                            <td>{{summary.CSQE}}</td>
                            <td>{{ surveyPartnerForm.ir.vars.value }}%</td>
                            <td>{{summary.realIR}}</td>
                            <td>{{summary.completeCount}}</td>
                            <td>{{ surveyPartnerForm.loi.vars.value }} mins</td>
                            {% if summary.avgCompleteTime > surveyPartnerForm.loi.vars.value * 2 %}
                            <td>
                                <font color="red">{{summary.avgCompleteTime}} mins</font>
                            </td>
                            {% else %}
                            <td>{{summary.avgCompleteTime}} mins</td>
                            {% endif %}
                            <td>{{summary.screenoutCount}}</td>
                            <td>{{summary.avgScreenoutTime}} mins</td>
                            <td>{{summary.quotafullCount}}</td>
                            <td>{{summary.avgQuotafullTime}} mins</td>
                            <td>{{summary.errorCount}}</td>
                            <td>{{summary.avgErrorTime}} mins</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class='surveyPartnerParticipationHistorys table'>
                    <caption>详细参与信息</caption>
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'UserId', 'spph.user.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Status', 'spph.status') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'CreatedAt', 'spph.createdAt') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'UKey', 'spph.uKey') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Comment', 'spph.comment') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'ClientIp', 'spph.clientIp') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for surveyPartnerParticipationHistory in pagination %}
                        <tr>
                            <td>{{ surveyPartnerParticipationHistory.user.id }}</td>
                            <td>{{ surveyPartnerParticipationHistory.status }}</td>
                            <td>{{ surveyPartnerParticipationHistory.createdAt |date('Y-m-d H:i:s') }}</td>
                            <td>{{ surveyPartnerParticipationHistory.uKey }}</td>
                            <td>{{ surveyPartnerParticipationHistory.comment }}</td>
                            <td>{{ surveyPartnerParticipationHistory.clientIp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
