{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block body %}
<form action="{{ path('admin_user')}}" method="post" id="form1">
    <div class="search">
        <label for="user_id">user id:</label>
        <input type="text" id="user_id" name="user_id" value="{% if user_id %}{{ user_id }}{% endif %}" size="15" />
        <label for="email">email:</label>
        <input type="text" id="email" name="email" value="{% if email %}{{ email }}{% endif %}" size="40" />
        <label for="nick">nick:</label>
        <input type="text" id="nick" name="nick" value="{% if nick %}{{ nick }}{% endif %}" size="20" />
        <input class="btn btn-primary" type="button" id="select" name="select" value="查 询" />
    </div>
</form>
{% if user is defined %}
<table border="1px" cellspacing="0px" class="member_table list">
    <tr>
        <th>user id</th>
        <td width="350px;">{{ user.id }}
            <input type="hidden" id="id" name="user_id" value="{{ user.id }}">
        </td>
    </tr>
    <tr>
        <th>email</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th>nick</th>
        <td>{{ user.nick }}</td>
    </tr>
    <tr>
        <th>tel</th>
        <td>{{ user.tel }}</td>
    </tr>
    <tr>
        <th>开始注册时间</th>
        <td>{{ user.registerDate is empty ? "": user.registerDate|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <th>完成注册时间</th>
        <td>{{ user.registerCompleteDate is empty ? "": user.registerCompleteDate|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <th>最后登录时间</th>
        <td>{{ user.lastLoginDate is empty ? "": user.lastLoginDate|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <th>最后获得积分时间</th>
        <td>{{ user.lastLoginDate is empty ? "": user.lastLoginDate|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <th>目前持有积分</th>
        <td>{{ user.points }}</td>
    </tr>
    <tr>
        <th>性别</th>
        <td>{{ userProfile.gender }}</td>
    </tr>
    <tr>
        <th>生日</th>
        <td>{{ userProfile.birthday }}</td>
    </tr>
    <tr>
        <th>省份</th>
        <td>{{ userProfile.provinceName }}</td>
    </tr>
    <tr>
        <th>城市</th>
        <td>{{ userProfile.cityName }}</td>
    </tr>
    <tr>
        <th>delete flag</th>
        <td>{{ user.deleteFlag }}</td>
    </tr>
    <tr>
        <th>delete_date</th>
        <td>{{ user.deleteDate is empty ? "": user.deleteDate|date("Y-m-d H:i:s") }}</td>
    </tr>
</table>
<input type="button" id="edit" name="edit" value="编辑" style="margin-left: 5%;" /> {% else %}
<div class="tips">
    <em class="tips-error">指定的用户信息没有找到</em>
</div>
{% endif %} 

{% if taskHistories is defined %}
<div class="row">
    <div class="col-sm-12">
        <table class='surveySopParticipationHistories table'>
            <caption>
                <h4> 用户积分记录</h4></caption>
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(taskHistories, 'OrderId', 'th.orderId') }}</th>
                    <th>{{ knp_pagination_sortable(taskHistories, 'TaskType', 'th.taskType') }}</th>
                    <th>{{ knp_pagination_sortable(taskHistories, 'CategoryType', 'th.categoryType') }}</th>
                    <th>{{ knp_pagination_sortable(taskHistories, 'TaskName', 'th.taskName') }}</th>
                    <th>{{ knp_pagination_sortable(taskHistories, 'Point', 'th.point') }}</th>
                    <th>{{ knp_pagination_sortable(taskHistories, 'OcdCreatedDate', 'th.ocdCreatedDate') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for taskHistory in taskHistories %}
                <tr>
                    <td>{{ taskHistory.orderId }}</td>
                    <td>{{ taskHistory.taskType }}</td>
                    <td>{{ taskHistory.categoryType }}</td>
                    <td>{{ taskHistory.taskName }}</td>
                    <td>{{ taskHistory.point }}</td>
                    <td>{{ taskHistory.ocdCreatedDate |date('Y-m-d H:i:s') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="navigation">
            {{ knp_pagination_render(taskHistories) }}
        </div>
    </div>
</div>
{% else %}
<div class="tips">
    <em class="tips-error">No taskHistories found.</em>
</div>
{% endif %} 

{% if surveySopParticipationHistories is defined %}
<div class="row">
    <div class="col-sm-12">
        <table class='surveySopParticipationHistories table'>
            <caption>
                <h4> SOP问卷项目参与记录</h4></caption>
            <thead>
                <tr>
                    <th>SurveyId</th>
                    <th>TargetedAt</th>
                    <th>TorwardAt</th>
                    <th>CompleteAt</th>
                    <th>ScreenoutAt</th>
                    <th>QuotafullAt</th>
                    <th>ErrorAt</th>
                    <th>ClientIp</th>
                    <th>Ukey</th>
                </tr>
            </thead>
            <tbody>
                {% for surveySopParticipationHistory in surveySopParticipationHistories %}
                <tr>
                    <td>{{ surveySopParticipationHistory.survey_id }}</td>
                    <td>{{ surveySopParticipationHistory.targeted_at is empty ? "N/A" : surveySopParticipationHistory.targeted_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveySopParticipationHistory.forward_at is empty ? "N/A" : surveySopParticipationHistory.forward_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveySopParticipationHistory.complete_at is empty ? "N/A" : surveySopParticipationHistory.complete_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveySopParticipationHistory.screenout_at is empty ? "N/A" : surveySopParticipationHistory.screenout_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveySopParticipationHistory.quotafull_at is empty ? "N/A" : surveySopParticipationHistory.quotafull_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveySopParticipationHistory.error_at is empty ? "N/A" : surveySopParticipationHistory.error_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveySopParticipationHistory.client_ip }}</td>
                    <td>N/A</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="tips">
    <em class="tips-error">No surveySopParticipationHistories found.</em>
</div>
{% endif %} 

{% if surveyPartnerParticipationHistorys is defined %}
<div class="row">
    <div class="col-sm-12">
        <table class='surveyPartnerParticipationHistorys table'>
            <caption>
                <h4> 外接问卷项目参与记录</h4></caption>
            <thead>
                <tr>
                    <th>SurveyPartnerId</th>
                    <th>TargetedAt</th>
                    <th>ForwardAt</th>
                    <th>CompleteAt</th>
                    <th>ScreenoutAt</th>
                    <th>QuotafullAt</th>
                    <th>ErrorAt</th>
                    <th>ClientIp</th>
                    <th>Ukey</th>
                </tr>
            </thead>
            <tbody>
                {% for surveyPartnerParticipationHistory in surveyPartnerParticipationHistorys %}
                <tr>
                    <td><a href="{{ path('admin_surveypartner_show', {'surveyPartnerId': surveyPartnerParticipationHistory.survey_partner_id}) }}">{{ surveyPartnerParticipationHistory.survey_partner_id }}</a></td>
                    <td>N/A</td>
                    <td>{{ surveyPartnerParticipationHistory.forward_at is empty ? "N/A" : surveyPartnerParticipationHistory.forward_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveyPartnerParticipationHistory.complete_at is empty ? "N/A" : surveyPartnerParticipationHistory.complete_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveyPartnerParticipationHistory.screenout_at is empty ? "N/A" : surveyPartnerParticipationHistory.screenout_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveyPartnerParticipationHistory.quotafull_at is empty ? "N/A" : surveyPartnerParticipationHistory.quotafull_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveyPartnerParticipationHistory.error_at is empty ? "N/A" : surveyPartnerParticipationHistory.error_at |date('Y-m-d H:i:s') }}</td>
                    <td>{{ surveyPartnerParticipationHistory.client_ip }}</td>
                    <td>{{ surveyPartnerParticipationHistory.u_key }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="tips">
    <em class="tips-error">No surveyPartnerParticipationHistory found.</em>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#select").click(function (){
        window.location.href="{{ path('admin_user') }}?user_id="+$('#user_id').val()+"&email="+$('#email').val()+"&nick="+$('#nick').val();
    });
    $("#edit").click(function (){
        window.location.href="{{ path('_admin_member_edit') }}?user_id="+$('#id').val();
    })
  });
</script>
{% endblock %}