{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-首页 轻松积米粒，快乐换奖励！{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/index.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %} 
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script> 
<script>
var uid = {{ uid }};
$(document).ready(function(){
      $('.amazonHref').attr('href',"http://count.chanet.com.cn/click.cgi?a=480534&d=338264&u="+uid+"&e=45"); 
 });
</script> 
{% endblock %}

{% block body %}
<div class="amazonAct">
  <div class="banner" align="center"><img src="{{ asset('images/amazonBanner.jpg') }}"></div>
  {% if couponOd and couponElec %}
  <div id="reward">
    <p><img src="{{ asset('images/amazonReward.jpg') }}"><a class="amazonHref" target="_blank"><img src="{{ asset('images/amazonHref.jpg') }}"></a></p>
    <div class="cardDiv"> <img src="{{ asset('images/amazonCard1.jpg') }}"> 礼品卡号:<font class='codeReward'>{{ couponOd }}</font>
      <p><b>使用说明</b><br />
        1.单张订单购买亚马逊运动户外类商品（仅限同亚马逊直接销售和发货，同时鞋靴产品除外）。<br />
        2.在支付页面“礼品卡或促销优惠券”处将优惠码输入，结算时商品均可享受满299元减20元的优惠。（在8月26日至9月28日期间，该优惠券可与运动户外商品满299元减50元的礼券同时使用。）<br />
        3.每个用户ID只能使用优惠码一次，不可重复享受优惠。<br />
        4.活动时间：2013年8月26日——2013年10月20日。</p>
    </div>
    <div class="cardDiv"> <img src="{{ asset('images/amazonCard2.jpg') }}"> 礼品卡号:<font class='codeReward blue'>{{ couponElec }}</font>
      <p><b>使用说明</b><br />
        1.单张订单购买亚马逊自营小家电产品（飞利浦品牌商品和第三方卖家商品除外）。<br />
        2.本活动优惠不可与其他活动同时使用。<br />
        3.每个用户ID只能使用优惠码一次，不可重复享受优惠。<br />
        4.活动时间：2013年9月5日——2013年10月15日。</p>
    </div>
  </div>
  {% else %}
  <div id="amazonEmpty" align="center"><img src="{{ asset('images/amazonEmpty.jpg') }}"></div>
  {% endif %} 
</div>
{% endblock %}