{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-修改密码{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/password.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
<script type="text/javascript">
function check(){
	$("#form1").submit();
}
</script>
{% endblock %}

{% block body %}
<div class="webArticle password">
  <article>
    <form action="{{ path('_user_changePwd') }}" method="post" name="form1" id="form1" >
    <div class="form">
      <h2>修改密码</h2>
      {% if codeflag == 1 %}
      <div class="message"><img src="{{ asset('images/succeed.jpg')}}" width="39" height="44">{{ code }}</div>
      {% endif %}
      <ul class="activate">
        <li>
          <dd>请输入旧密码：</dd>
          {% if codeflag == 2 %}
                  <dt id="oldPwdError" class="pwdError">
                    <input name="oldPwd" id="oldPwd" type="password" class="password"><font>&nbsp;</font>
                     <br />
                    <span>{{ code }}</span></dt>
            {% elseif codeflag == 6  %}
                    <dt id="oldPwdError" class="pwdError">
                    <input name="oldPwd" id="oldPwd" type="password" class="password"><font>&nbsp;</font>
                    <br />
                    <span>{{ code }}</span></dt>
            {% else %}
                    <dt id="oldPwdError">
                    <input name="oldPwd" id="oldPwd" type="password" class="password"><font>&nbsp;</font>
            {% endif %}
        </li>
        <li>
          <dd>请输入新密码：</dd>
          {% if codeflag == 3 %}
          <dt id="pwdError" class="pwdError">
            <input name="pwd" id="pwd" type="password" class="password"><font>&nbsp;</font>
            <br />
            <span>{{ code }}</span></dt>
            {% elseif codeflag == 5 %}
             <dt id="pwdError" class="pwdError">
            <input name="pwd" id="pwd" type="password" class="password"><font>&nbsp;</font>
            <br />
            <span>{{ code }}</span></dt>
            {% else %}
             <dt id="pwdError">
            <input name="pwd" id="pwd" type="password" class="password"><font>&nbsp;</font>
           </dt>
            {% endif %}
        </li>
        <li>
          <dd>请再次输入新密码：</dd>
           {% if codeflag == 4 %}
          <dt id="newPwdError" class="pwdError">
            <input name="newPwd" id="newPwd" type="password" class="password">
             <br />
            <span>{{ code }}</span></dt>
            {% else %}
             <dt id="newPwdError">
            <input name="newPwd" id="newPwd" type="password" class="password">
           </dt>
           {% endif %}
        </li>
        <li>
          <dd></dd>
          <dt><a class="saveBtn" href="javascript:void(0);" onClick="check();">保存设置</a> 
          </dt>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    </form>
  </article>
</div>
{% endblock %}