<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/regStep.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#but").attr("disabled", "disabled");
	$("#ck").click(function() {
		  if ($("#ck").attr("checked")) 
			  $("#but").attr("disabled",false);
          else
        	  $("#but").attr("disabled", "disabled");
	});	
});
function check(){
	var pwd_filter = /^[0-9A-Za-z_]{6,20}$/;
	if($("#pwd").val()==''){
		$("#pwdError").html('<font color="red">密码不为空</font>');
        $("#pwd").focus();
        return false;
	}else{
		  if(!pwd_filter.test($("#pwd").val())){
        	  $("#pwdError").html('<font color="red">密码为6-20位英文数字下划线 </font>');
        	  $("#pwd").focus();
              return false;
          }else{
        	  $("#pwdError").html('电子邮件就是您今后登录积粒网的账号');
	          if($("#que_pwd").val() != $("#pwd").val()){
	        	  $("#newError").html('<font color="red">密码不相同 </font>');
	        	  $("#que_pwd").focus();
	              return false;
		      }else{
		    	  $("#newError").html('6-20个字符');
			      $("#form1").submit();
			  }
	          
          }
	}
}
</script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle regStep">
  <article>
  	<div class="step"><img src="{{ asset('images/step3.jpg')}}" width="960" height="86"></div>
    <div class="regForm">
    <div class="message"><img src="{{ asset('images/succeed.jpg')}}" width="39" height="44">邮箱验证成功！你的邮箱是：<span>{{ user.email }}</span></div>
    <div class="remind">HI,{{ user.nick }},欢迎来到积粒网。请完善一下信息创建您的积粒账号</div>
    <form action="{{ path('_user_forgetPass',{'code':pwdcode.code,'id':user.id }) }}" method="post" name="form1" id="form1" >
    <ul class="form activate">
    	<li><dd>密码：</dd><dt><input id="pwd" name="pwd" type="password" onblur="return check();"><br /><span id="pwdError">电子邮件就是您今后登录积粒网的账号</span></dt></li>
        <li><dd>确认密码：</dd><dt><input id="que_pwd" name="que_pwd" type="password"><br /><span id="newError">6-20个字符</span></dt></li>
        <li><dd></dd><dt><input name="ck" type="checkbox" value="1" id="ck">我已认真阅读并同意接受<a href="{{ path('_user_agreement') }}" target="blank" class="provision">《积粒网会员协议》</a></dt></li>
        <li><dd></dd><dt><input type='button' name='but' id='but' value='创建账号' onclick="return check();"/></dt></li>
    </ul>
    </form>
    </div>
  </article>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>

