<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-优惠券</title>
{% include 'JiliApiBundle::seo.html.twig' %}
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/personal.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
{% if code ==1 %}
	你已经领过优惠券 {{ coupon }}
{% elseif code ==2 %}
	优惠券已经领完
{% else %}
	你的优惠券为 {{ coupon }} <a href="http://www.amazon.cn/" target="_blank">领取优惠券</a>
{% endif %}
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>