{% extends 'JiliFrontendBundle::base.html.twig' %}
{% block title %}积粒网-登录{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/default.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/aside.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/login.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/html5.js') }}" language="javascript"></script>
<script src="{{ asset('js/jquery-1.7.js') }}" language="javascript"></script>
<script src="{{ asset('js/banner.js') }}" language="javascript"></script>
<script type="text/javascript">
	function clear(){
		$(".error").html('&nbsp;');
	}
</script>
<script src="{{ asset('js/bottom.js') }}" language="javascript"></script>
{% endblock %}

{% block body %}
<div class="webArticle login">
  <div class="img"><img src="{{ asset('images/loginImage.png') }}" width="436" height="423"></div>
  <form action="{{ path('_user_login') }}" method="post" name="form1" id="form1">
  <article>
    <ul class="loginForm">
      <h2><img src='{{ asset('images/logTitle.gif') }}'/></h2>
      {% if code %}
           <li class="error">{{ code }}</li>
       {% endif %}
      <li>
          <input name="email" id="email" type="text" class="text" onFocus="$('.error').html('&nbsp;');" value="{{ email }}">
      </li>
      <li>
          <input name="pwd" id="pwd" type="password" class="password"  onFocus="clear();">
      </li>
      <li>
      <input id="remember_me" name="remember_me" type="checkbox" value="1">记住我
      </li>
      {% if app.session.has('goToUrl') and app.session.get('goToUrl')|length > 0  %}
      <input name="referer" type="hidden" value="{{ app.session.get('goToUrl') }}">
      {% endif %}
      <li class="loginBtn"><input id="loginSubmit" name="login" type="submit" class="submit" value="&nbsp;"><a class="forget" href="{{ asset(path('_user_resetPwd'),'cdn1') }}" target="_blank">忘记密码</a></li>
      <li class="otherLogin">使用合作网站登录：<a href="{{ path('qq_api_login') }}" class="qq" title="用QQ账号快速登录"></a><a href="{{ path('weibo_api_login') }}" class="weibo" title="用微博账号快速登录"></a></li>
    </ul>
    <div class="regArea"><a href="{{ path('_user_reg') }}" target="_blank" class="reg"></a></div>
  </article></form>
</div>
{% endblock %}



