<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/regStep.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
<div class="webArticle regStep">
  <article>
  	<div class="step"><img src="{{ asset('images/step1.jpg')}}" width="960" height="86"></div>
    <div class="regForm" style="padding-top:100px;">
    <h2>快速注册<span>通过邮箱注册，快速加入积粒网，轻轻松松拿积分、换现金！</span></h2>
      <form action="{{ path('_user_reg') }}" method="post" name="form1" id="form1">
    <ul class="form">
    	<li><dd>邮件地址：</dd><dt><input name="email" type="text"><br /><span>电子邮件就是您今后登录积粒网的账号</span></dt></li>
        <li><dd>昵称：</dd><dt><input name="nick" type="text"><br /><span>2-12个字符，不能含特殊符号</span></dt></li>
        <li><dd>验证码：</dd><dt><input name="captcha" type="text" class="verification"></dt>
        <img name="captcha" onclick="this.src='{{  path('_user_captcha',{'r': random(999999) } )}}'" src="{{ path('_user_captcha') }}" />
         </li>
        <li><dd></dd><dt><!--  <a class="regBtn" href="#">发送验证邮件</a>-->
        <input type='submit' name='submit' class='regBtn' value='发送验证邮件'/>
        </dt></li>
    </ul></form>
    <div class="loginArea">我已经注册，现在就<a class="login" href="{{ path('_user_reg') }}">注册</a></div>
    <div class="clear"></div>
    </div>
  </article>
</div>
{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>

