<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>积粒网-快速注册</title>
{% include 'JiliApiBundle::seo.html.twig' %}
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/aside.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/regStep.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/banner.js')}}" type="text/javascript"></script>
</head>
<body>
{% include 'JiliApiBundle::userHead.html.twig' %}
<div class="webArticle regStep">
  <article>
    <div class="regForm" style="padding-top:100px;">
    <h2><img src="{{ asset('images/quickLogin.gif')}}" alt="快速注册"><span>通过邮箱注册，快速加入积粒网，轻轻松松拿米粒、换现金！</span></h2>
    <ul class="form">
    <form action="{{ path('_user_reg') }}" method="post" name="form1" id="form1" >
    	<li><dd>邮件地址：</dd><dt><input name="email" type="text" class="text" id="email" value="{{ email }}"><br />
    	    <span id="emailError">
            {% if code_email %}
                {% if code_re %}
                    <font color='red'>{{ code_email }}<a href="{{ path('_user_activeEmail',{'email':email}) }}">激活</a></font>
                {% else %}
                    <font color='red'>{{ code_email }}</font>
                {% endif %}
            {% else %}
    	       电子邮件就是您今后登录积粒网的账号
    	    {% endif %}
    	    </span>
    	</dt></li>
        <li><dd>昵称：</dd><dt><input name="nick" type="text" class="text" id="nick" value="{{ nick }}"><br />
        <span id="nickError">
            {% if code_nick %}
    	    <font color='red'>{{ code_nick }}</font>
    	    {% else %}2-20个字符
    	    {% endif %}
        </span>
        </dt></li>
        <li><dd>验证码：</dd><dt><input id="captcha" name="captcha" type="text" class="text verification">
        <img id="verificationImg" class="verificationImg" name="captcha" onclick="this.src='{{  path('_user_captcha') }}?r='+100000*Math.random()" src="{{ path('_user_captcha') }}" />
        <img class="refreshImg" src="{{ asset('images/refresh.png') }}" onclick="refresh()" />
        <br />
        <span id="captchaError">
    	    {% if code_cha %}<font color='red'>{{ code_cha }}</font>
    	    {% endif %}
        </span>
        </dt>
         </li>
        <li><dd></dd><dt><!--  <a class="regBtn" href="#">发送验证邮件</a>-->
        <input type='button' id='reg' class='regBtn' value='快速注册'/>
        <div class="regPrompt">注册当天签到即送<em>{{checkInPoint}}</em>积分</div>
        </dt></li></form>
    </ul>
    <div class="loginArea">我已经注册，现在就<a class="login" href="{{ path('_user_login') }}">登录</a></div>
    <div class="clear"></div>
    </div>
  </article>
</div>
{% include 'JiliApiBundle::userFoot.html.twig' %}
</body>
<script type="text/javascript">
function refresh(){
	document.getElementById("verificationImg").src='{{  path('_user_captcha') }}?r='+100000*Math.random();
}
$(document).ready(function(){
	$("#reg").click(function(){
		$("#form1").submit();
	});
});

</script>
</html>

