{% block stylesheet %}
<link href="{{ asset('css140307/checkin.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
<script src="{{ asset('js1408/checkin.js') }}" language="javascript"></script>
<script src="{{ asset('js/signIn.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/jilifrontend/js/auto_checkin.js')}}" type="text/javascript"></script>

{# 当请求参数中有 auto_checkin = 1时, ajax取当前的 user_config #}
{% if app.request.get('auto_checkin', 0 ) ==  1 %}
<script src="{{ asset('bundles/jilifrontend/js/auto_checkin_process.js')}}" type="text/javascript"></script>
{% endif %}

{% endblock %}
<!-- set-autocheckin create"  id='set_autocheckin -->
<div id="signInFrame" style="display:none;">
    <a class="close_checkin">关闭</a>
    <div class="signInCon">
        <div class="signInOptions"><span class="active" id="set_manualcheckin">手动签到</span><span id="set_autocheckin" class="autoSignIn" >我想以后自动签到<a href="javascript:void(0)">详情</a></span><p><strong>自动签到</strong>：选择‘自动签到’以后，点击‘签到’按钮，系统将自动随机选择3-6个商家完成签到</p></div>
        <div class="signInManual">
            <p>打开以下<strong>3</strong>个商城就可以得到<strong>1</strong>个米粒！</p>
            <ul class="clearfix">
            {% for item in arrList %}
              <li><a onclick="goto({{ item.cid }},{{ item.id }},{{ checkinPoint }});" class="image{{ item.cid }}"><img src="{{ asset(item.list_image) }}" width="200" height="80" alt="{{ item.title }}"><p>最高返利{{ item.reward_rate }}%</p>
              <div class="gray"></div>
              <div class="goTo {{ item.cid }}">点击前往</div>
              <div class="finish">已打开</div>
              </a></li>
            {% endfor %}
            </ul>
            <p class="signInAuto">系统帮您自动签到中……，请稍后</p>
        </div>
    </div>
    <div class="mask"></div>
    <div class="signInConfirmFrame signInManualFrame">
       	<p>确认换回手动签到？</p>
        <div class="btns"><a href="javascript: void(0)" class="confirm">确定</a><a href="javascript: void(0)">放弃</a></div>
    </div>
    <div class="signInConfirmFrame signInAutoFrame">
       	<p>我想以后点击‘签到’按钮自动完成签到？</p>
        <div class="btns"><a href="javascript: void(0)" class="confirm">确定</a><a href="javascript: void(0)">放弃</a></div>
    </div>
    <div class="setSuccess">设置成功！</div>
</div>

<div id="confirmAutoFrame" style="display: none;">
	<div class="signInConfirmFrame confirmAutoFrame">
       	<p>是否在新窗口开始自动签到？</p>
        <div class="btns"><a href="javascript: void(0)" class="confirm dd">确定</a><a href="javascript: void(0)">放弃</a></div>
    </div>
</div>

<script type="text/javascript">
var jili_autocheckin = jili_autocheckin || {};
jili_autocheckin.advertiserments = {{ arrList|json_encode()|raw  }};
jili_autocheckin.checkin_point = {{ checkinPoint|raw  }};
jili_autocheckin.is_request = {{   app.request.get('auto_checkin', 0 )  ? 1 : 0  }};
// jili_autocheckin.is_config = {{ is_autocheckin_config|default(0) }};

// var jili_urls = jili_urls || {};
// jili_urls.autocheckinconfig =  {
// "create": "{{ path('autocheckinconfig_create') }}",
// "update": "{{ path('autocheckinconfig_update') }}",
// "delete": "{{ path('autocheckinconfig_delete') }}",
// };

//$("a.set-autocheckin").onclick = function() {
//    console.log( "Just For Fun");
//    return false;
//}

// {% if is_auto_checkin is defined and is_auto_checkin == true %}
// jili_autocheckin.is_set = true;
// {% else  %}
// jili_autocheckin.is_set = false;
// {% endif %}

</script>
