{% extends 'JiliEmarBundle::base140307.html.twig' %}
{% block title %}{{ parent()  }} top页面{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css140307/index.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css140307/categorys.css') }} " rel="stylesheet" type="text/css">
<link href="{{ asset('css/newbie.css')  }}" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js140307/index.js') }}" language="javascript"></script>
<script src="{{ asset('js140307/categorys.js') }}" language="javascript"></script>
<script src="{{ asset('js/jl.ui.layer-v4.js') }}" language="javascript"></script>
{% endblock %}
 
{% block page_main %}
  <div class="w204 fl">
    <div class="module categorys">
		<h3>所有商品分类</h3>
      {{ render(controller('JiliEmarBundle:Product:category', { 'qs': app.request.query.all, 'rt': 'jili_emar_product_retrieve' })) }}
    </div><!-- eof module categorys -->

    <div id="timeline">
      <h3>最新动态</h3>
      <div class="mask">
        {{ render(controller('JiliApiBundle:Top:event') ) }}
      </div><!-- eof mask -->
    </div><!-- eof timeline -->


	<div class="w204 fl" style="margin-top:15px;">
    	<div>
        	<script type="text/javascript">
			/*200*90，纯文字*/
			var cpro_id = "u1522251";
			</script>
			<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
			
			<script type="text/javascript">
			/*200*90，纯文字*/
			var cpro_id = "u1522251";
			</script>
			<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
        </div>
	    <div class="marginT15">
        	<script type="text/javascript">
			/*200*200，纯图片*/
			var cpro_id = "u1522038";
			</script>
			<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
        </div>
	</div>
	<!-- eof ads -->

  </div><!-- w204 side -->

  <div class="w615 fl">
    {% if not app.session.has('uid') %}
    <div id="indexBanner"> <a style="opacity: 1;" class="game" href="{{ asset(path('_game_index'),'cdn1')}}">游戏体验</a> 
    <a style="opacity: 1;" class="marketActivity" href="{{ asset(path('_marketActivity_index'),'cdn1')}}">商家活动</a> 
    <a style="opacity: 1;" class="vote" href="http://www.91wenwen.net/vote/#active" target="_blank">快速问答</a> 
    <a style="opacity: 1;" class="advertiserment" href="{{ asset(path('_advertiserment_list'),'cdn1')}}">体验广告<em>{{ render(controller('JiliApiBundle:Top:adCheck'))}}更新</em></a> 
    <a style="opacity: 1;" class="shopping" href="{{ asset(path('jili_emar_top_cps'),'cdn1') }}">购物返利</a> </div>
    <!-- eof indexBanner -->
    {% else %}
    <div id="task">
      <h3><strong>我的任务列表</strong></h3>
      <div class="menu"><a class="recommend hover">为您推荐的</a><a class="affirm">确认中</a><a class="finish">已完成</a></div>
      <div class="mask taskWrap">
        {{ render(controller('JiliApiBundle:Top:myTask' ) ) }}
      </div><!-- eof .mask -->
    </div><!-- eof #task -->
    {% endif %}

    <div id="getMallList">
        {{ render(controller('JiliEmarBundle:Websites:hot' , { 'max': 12, 'tmpl': 'top' } ) ) }}
    </div><!-- eof getMallList -->
    
    <div id="indexRecommend">
        {{ render(controller('JiliEmarBundle:Ghs:promotion', {'max': 6, 'tmpl': 'top', 'p': 1 }) ) }} 
    </div><!-- eof indexRecommend -->

    <div id="marketActivity">
        {# render(controller('JiliEmarBundle:Hotactivity:hot', {'max': 3, 'tmpl': 'top' } )) #}
        {{ render(controller('JiliApiBundle:Top:market' ) ) }}
    </div><!-- eof marketActivity -->
  </div><!-- w615 side -->
 
  <div class="w300 fr">
    {% if not app.session.has('uid') %}
    
    <div class="loginFrame">
      <div id="userLogin"><a class="reg" href="{{ path('_user_reg') }}">免费注册</a></div>
      <div class="logontxtbg"></div>
      <div class="f12 c_999 logontxt">
        已有账号，<a class="corBrightBlue font16" href="{{ path('_user_login') }}">直接登录</a>
      </div>
      <div id="aboutJili">
        <ul class="clearfix">
          <li>100米粒=￥1.00元</li>
          <li>玩游戏，拿返利，答问卷赚积分</li>
          <li>兑换支付宝，手机费，礼品卡...</li>
        </ul>
      </div>
    </div> <!-- eof login Frame -->
    {% else %}
    <div class="userFrame">
      {{ render(controller('JiliApiBundle:Top:userInfo' ) ) }}
    </div>    <!-- eof user Frame -->
    {% endif %}

    <div id="banner">
      {{ render(controller('JiliApiBundle:Top:advertiseBanner' ) ) }}
      <div class="bannerNumber"></div>
    </div>   <!-- eof banner -->
    <div id="news">
      <h3>最新公告</h3>
      <div class="mask">
        {{ render(controller('JiliApiBundle:Top:callboard' ) ) }}
      </div>
      <div class="pageNumber"><a class="prev curPt"></a><span>1/2</span><a class="next curPt"></a></div>
    </div>    <!-- eof news -->
    <div id="ranking">
      <h3>排行榜</h3>
      <div class="mask">
        {{ render(controller('JiliApiBundle:Top:ranking' ) ) }}
      </div>
      <div class="menu"><a class="month hover">月度</a><a class="year">年度</a></div>
    </div>    <!-- eof ranking   -->
    <div class="fr" style="margin-top:15px;">
    	<script type="text/javascript">
		/*300*250，纯文字*/
		var cpro_id = "u1522260";
		</script>
		<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
    </div>
  </div><!-- w300 side -->

{% endblock %}


{% block body_bottom %}
{% if is_newbie_passed is defined  and is_newbie_passed == false  %}
{% include "JiliApiBundle:Top:newbie_partial.html.twig" %}
{% endif %}
{% endblock %}


