<script src="{{ asset('js/jl.ui.tab.js')}}" type="text/javascript"></script>
<script src="{{ asset('js/task.js')}}" type="text/javascript"></script>

<div class="all clearfix">
  <ul id="undoTask" class="taskList clearfix">
    {% if myTask.task.game==1 %}
    <li><a href="{{ asset(path('_game_index'),'cdn1')  }}">
      <dt>小鸡找米</dt>
      <dd class="corLightGray">最高<em>5888</em>米粒</dd>
      </a></li>
      {% endif %}
    {% if myTask.task.ad==1 %}
    <li><a href="{{ asset(path('_advertiserment_list'),'cdn1')  }}">
      <dt>广告任务墙</dt>
      <dd class="corLightGray"><em>{{ myTask.adCheck }}</em>更新</dd>
      </a></li>
      {% endif %}
    <li><a href="{{ asset(path('jili_emar_top_cps'),'cdn1') }}">
      <dt>去购物</dt>
      </a></li>
    {% if myTask.task.wen==1 %}
    <li class="vote"><a target="_bank" href="http://www.91wenwen.net/vote/#active">
      <dt>91问问快速问答</dt>
      <dd class="corLightGray"><em>1</em>米粒</dd>
      </a></li>
      {% endif %}
    {% if myTask.task.checkin==1 %}
    <li class="signs"><a id="sign" onclick="signs();">
      <dt>每日签到</dt>
      <dd class="corLightGray"><em>{{myTask.task.checkinPoint}}</em>米粒</dd>
      </a></li>
      {% endif %}
      {% for item in myTask.task.cpa %}
    <li><a href="{{ path('_advertiserment_index',{'id':item.id}) }}">
      <dt>{{ item.title[:8] }}</dt>
      <dd class="corLightGray"><em>{{ item.incentive }}</em>米粒</dd>
      </a></li>
      {% endfor %}
  </ul>
  <ul id="confirmTask" class="taskList clearfix">
    {% if confirmTask %}
    {% for item in confirmTask %}
    <li><a href="#">
      <dt>{% if item.adid %}<a href="{{ path('_advertiserment_index',{'id':item.adid}) }}" target="_blank">{{ item.title }}</a>
              {% else%}
                  {% if item.incentiveType == 17 %}
                    <a href="{{ path('_advertiserment_list') }}" target="_blank">{{ item.title }}</a>
                  {% elseif item.incentiveType == 18 %}
                    <a href="{{ asset(path('_advertiserment_offer99')) }}" target="_blank">{{ item.title }}</a>
                  {% else %}
                    {{ item.title }}
                  {% endif %}
              {% endif %} </dt>
      <dd class="corLightGray"><em>{% if item.incentiveType==2 or item.incentiveType==19  %}
                     {% if item.orderStatus > 1 %}
                        {{ item.incentive }}
                     {% else %}
                     {% endif %}
              {% else %}
                     {{ item.incentive }}
              {% endif %}</em>米粒</dd>
      </a></li>
      {% endfor %}
  {% else %}
     <span class="noTask">您现在还没有确认中的任务！</span>
  {% endif %}
  </ul>
  <ul id="finishTask" class="taskList clearfix">
    {% if finishTask %}
    {% for item in finishTask %}
    <li><a href="#">
      <dt>{% if item.adid %}<a href="{{ path('_advertiserment_index',{'id':item.adid}) }}" target="_blank">{{ item.title }}</a>
              {% else%}
                  {% if item.incentiveType == 17 %}
                    <a href="{{ path('_advertiserment_list') }}" target="_blank">{{ item.title }}</a>
                  {% elseif item.incentiveType == 18 %}
                    <a href="{{ asset(path('_advertiserment_offer99')) }}" target="_blank">{{ item.title }}</a>
                  {% else %}
                    {{ item.title }}
                  {% endif %}
              {% endif %} </dt>
      <dd class="corLightGray"><em>{% if item.incentiveType==2 or item.incentiveType==19  %}
                     {% if item.orderStatus > 1 %}
                        {{ item.incentive }}
                     {% else %}
                     {% endif %}
              {% else %}
                     {{ item.incentive }}
              {% endif %}</em>米粒</dd>
      </a></li>
      {% endfor %}
  {% else %}
      <span class="noTask">您现在还没有已完成的任务！</span>
  {% endif %}
  </ul>
</div><!-- eof all clearfix -->