
    	
   
<h3>每日任务列表<span class="expandIcon"></span></h3>
<ul class="dailyList">
    <li><em class="signIcon"></em><span><a href="javascript:void(0)" id="sign" onclick="signs();" title="每日签到">每日签到</a><p>{{ task.checkinPoint }}米粒</p></span>{% if task.checkin is defined and task.checkin == 1 %}<span class="mark"></span>{% endif %}</li>
    <li><em class="taskHallIcon"></em><span><a href="{{ asset(path('_advertiserment_list'),'cdn1')  }}" title="任务大厅一">任务大厅一</a><br/><a href="{{ asset(path('_advertiserment_offer99'),'cdn1')  }}" title="任务大厅二">任务大厅二</a></span>{% if task.ad is defined and task.ad ==1 %}<span class="mark"></span>{% endif %}</li>
    <li class="shopping"><em class="shoppingIcon"></em><span><a href="{{ asset(path('jili_emar_top_cps'),'cdn1')  }}" title="去购物">去购物</a></span><span class="mark"></span></li>
    <li><em class="quickQIcon"></em><span><a href="http://www.91wenwen.net/vote/#active" title="91问问快速问答" target="_blank">91问问快速问答</a><p>每日1米粒</p></span>{% if task.wen is defined and task.wen == 1 %}<span class="mark"></span>{% endif %}</li>
    <li><em class="chickenIcon"></em><span><a href="{{ asset(path('_game_chick'),'cdn1')  }}" title="小鸡找米">小鸡找米</a><p>最高5888米粒</p></span>{% if task.game is defined and task.game == 1 %}<span class="mark"></span>{% endif %}</li>
    {% if task.cpa is defined %}
    {% for item in task.cpa %}
    <li><em class="shopping"></em><a href="{{ path('_advertiserment_index',{'id':item.id}) }}">{{ item.title[:8] }}</a><span><p>{{ item.incentive }}米粒</p></span></a></li>
    {% endfor %}
    {% endif %}
</ul>
