<div id="userInfo">
  <div class="basic clearfix">
      <div class="photo">
      <img src='{{ asset(app.session.get('icon_path','other140307/defaultFace.jpg' ) ) }}' height='90'/>
      </div>
    <p class="name">您好，{{ app.session.get('nick') }}</p>
    {% if userCheckin is defined and userCheckin == 1 %}
        <p><a class="goUserInfo" id="sign" onclick="signs();">签到领米粒</a></p>
    {% else %}
        <p><a class="hascheckin">已签到</a></p>
    {% endif %}
  </div>
  <div class="point clearfix">
    <dt class="corDarkGray"><strong class="corGlobRed font18 fon700">{{ app.session.get('points') }}</strong><br />当前米粒数</dt>
    <dt class="right corDarkGray"><strong class="corGlobRed font18 fon700">{{ confirmPoints }}</strong><br />确认中米粒数</dt>
    <dd><a class="corDarkGray" href="{{ asset(path('_user_adtaste',{'type':0}),'cdn1') }}">我的任务历史</a></dd>
    <dd class="right"><a class="corDarkGray" href="{{ asset(path('_user_exchange',{'type':0,'exchangeType':1}),'cdn1') }}">我的兑换历史</a></dd>
  </div>
</div>

 