<div id="userInfo">
  <div class="basic clearfix">
      <div class="photo">
      <img src='{{ asset(app.session.get('icon_path','other140307/defaultFace.jpg' ) ) }}' height='90'/>
      </div>
    <p class="name">您好，{{ app.session.get('nick') }}</p>
    <p><a class="goUserInfo" href="{{ path('_user_info') }}">进入个人中心</a></p>
  </div>
  <div class="point clearfix">
    <dt><strong class="corGlobRed font18 fon700">{{ app.session.get('points') }}</strong><br />当前米粒数</dt>
    <dt class="right"><strong class="corGlobRed font18 fon700">{{ confirmPoints }}</strong><br />确认中米粒数</dt>
    <dd><a href="{{ asset(path('_user_adtaste',{'type':0}),'cdn1') }}">我的任务历史</a></dd>
    <dd class="right"><a href="{{ asset(path('_user_exchange',{'type':0,'exchangeType':1}),'cdn1') }}">我的兑换历史</a></dd>
  </div>
</div>
