{% extends 'JiliBackendBundle::base.html.twig' %} 

{% block body %}
<form action="{{ path('_bankend_addExperienceAdvertisement') }}" method="post" id="form1" {{ form_enctype(form) }}>
    {{form_widget(form.id)}}
    <table align='center'>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{form_label(form.missionTitle)}}:</td>
            <td>{{ form_widget(form.missionTitle) }}</td>
        </tr>
        <tr>
            <td>{{form_label(form.missionHall)}}:</td>
            <td>{{ form_widget(form.missionHall) }}</td>
        </tr>
        <tr>
            <td>{{form_label(form.missionImgUrl)}}:
                <br />（尺寸大小：165x112 ）</td>
            <td>{{form_widget(form.missionImgUrl)}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.point)}}:</td>
            <td>{{form_widget(form.point)}}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="提 交" />
            </td>
        </tr>
        {{form_rest(form)}} {{form_errors(form)}}
    </table>
    {% if code %}
    <div class="tips">
        <font color='red'>{{ code }}</font>
    </div>
    {%endif%}
</form>

{% endblock %}