{% extends 'WenwenFrontendBundle:Callboard:base.html.twig' %}
{% block title %}{{ parent() }}公告详情{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %} 
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        	<div class="panel">
        		<div class="panel-body">
        			<div class="newsInfo">
        				<article>
        				    <h1>{{ callboard.title }}</h1>
        				    <div class="artInfo"><time>{{ callboard.startTime.date | date("Y-m-d")  }}</time>&nbsp;&nbsp;作者：<span class="media_name">{{ callboard.author  }}</span></div>
        				    <div class="content">
        						{{ callboard.content | raw }}
        				    </div>
        				</article>
        			</div>
        		</div>
        	</div>
            	
        </div>
    </div>
</div>	
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %} 
{% endblock %}
