<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="12月活动，砸金蛋，积粒,积粒网,91积粒网,返利网,返利,返现,超级返,购物返利,商城返利,淘宝,淘宝返利,京东返利,积分,积分商城,网购返利,91jili.com">
    <meta name="description" content="12月活动，砸金蛋，积粒网，轻松积米粒，快乐换奖励！拥有游戏体验，体验广告，购物返利，商家活动几大板块，网站的货币为米粒，在享受众多商城最优惠价格同时还可从积粒网获得不同比率的现金奖励！积粒网让你省得多，赚得也更多！">
    <title>积粒网-12月活动</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('css1408/jl.ui.reset.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css1408/jquery.datetimepicker.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/jl.ui.Dec.css')}}"/>
    <script src="{{ asset('js/jquery-1.10.2.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js1408/jquery.datetimepicker.js')}}" type="text/javascript"></script>
    <script src="{{ asset('js1408/jl.ui.dec.js')}}" type="text/javascript"></script>
</head>
<body>
<div class="decTop">
    <div class="decTopCon">
        <div class="decTopConBg"><img src="{{ asset('images/december/topConBg.jpg')}}" width="990" height="415" border="0"/></div>
        <div class="logo"><a href="{{ path('_homepage') }}"><img src="{{ asset('images/december/logo.png')}}" width="154" height="42" alt="logo"/></a></div>
        {% if not app.session.has('uid') %}
        	<div class="login">您好，请<a href="{{ path('_user_login')}}">登录</a></div>
        {% else %}
            <div class="login">您好，{{ app.session.get('nick') }}</div>
        {% endif %}
        <span class="timestamp"><img src="{{ asset('images/december/foldTxt.png')}}" width="409" height="85"/></span>
        <span class="goBtn"><img src="{{ asset('images/december/goBtn.png')}}" width="169" height="67" alt="抢金蛋"/></span>
    </div>
</div>
<div class="decMain">
    <div class="decMainCon">
        <div class="luckyDraw clearfix">
            <div class="luckyDrawL">
                <p>我当前拥有金蛋的个数：<strong class="eggNum"></strong>抢下一个金蛋所需消费淘宝金额：<strong class="eggMoney"></strong></p>
                <div class="noStart"><img src="{{ asset('images/december/noegg.gif')}}" width="400" height="200" alt="您还没有金蛋哦"></div>
                <div class="mask">
                    <ul class="goldenEggs clearfix">
                    </ul>
                </div>
            </div>
            <div class="luckyDrawR">
                <div class="countDown">
                    <label>距离砸金蛋时间仅剩下</label><span class="countDownTime"></span>
                </div>
                <div class="winnerList">
                    <h2>抢金蛋名单</h2>
                    <div class="mask">
						{% render(controller("JiliFrontendBundle:DecemberActivity:eggsSentStat") ) %}
                    </div>
                </div>
            </div>
        </div>
        <div class="decList">
            <div class="decListMain">
                <h2 class="sort01">9块9专区</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort02">时尚女装</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro02_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro02_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro02_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro02_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro02_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro02_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort03">精品男装</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro03_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort04">母婴儿童</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort05">男鞋女鞋</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort06">家居百货</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort07">美食特产</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort08">包包配饰</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort09">美容护肤</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort10">数码电器</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_05.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_06.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_07.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_08.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_09.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro01_10.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
            <div class="decListMain">
                <h2 class="sort11">文化体育</h2>
                <ul class="clearfix">
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_02.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_03.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_04.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                    <li><a href="#" target="_blank"><img src="{{ asset('images/december/product/pro11_01.jpg')}}" width="230" height="182" alt="产品图片"/></a><div class="proIntro"><span class="proDetail"><p><a href="#" target="_blank" class="txtLink">【天猫】乐卡克男款羽绒服</a></p><b>￥</b><strong>599</strong><span>原价：￥5999</span></span><a href="#" target="_blank"><span class="bugBtn">点击购买</span></a></div></li>
                </ul>
            </div>
        </div>
        <div class="decSort">
            <ul>
                <li class="active">9块9专区</li>
                <li>时尚女装</li>
                <li>精品男装</li>
                <li>母婴儿童</li>
                <li>男鞋女鞋</li>
                <li>家居百货</li>
                <li>美食特产</li>
                <li>包包配饰</li>
                <li>美容护肤</li>
                <li>数码电器</li>
                <li>文化体育</li>
                <li><a href="{{ path('jili_frontend_taobao_index') }}">更多商品</a></li>
            </ul>
            <div class="backTop">回顶部</div>
        </div>
    </div>
</div>
<div class="decRule">
	<div class="decRuleBtn">如何抢到金蛋<br/>>></div>
	<div class="decRuleFlow">
        <h2><em>●</em>抢金蛋流程</h2>
        <div class="decRuleCon">
            <p>第<span>1</span>步，当前<a href="javascript: void(0)" target="_blank">活动页面</a>购物或者到<a href="{{ path('jili_frontend_taobao_index') }}">淘宝专页</a>购物满<strong>10</strong>元</p>
            <p>
            	第<span>2</span>步，填写如下表单
                <div class="formWrapper">{% render(controller("JiliFrontendBundle:DecemberActivity:addTaobaoOrder") ) %}</div>
            </p>
        </div>
    </div>
    <div class="decRuleMain">
        <h2><em>●</em>活动规则</h2>
        <div class="decTime">
            <p>抢金蛋时间：2014.12.12-2015.1.12</p>
            <p>砸金蛋时间：2015.1.20-2015.1.26</p>
        </div>
        <ul>
        	<li>>> 购物活动期间，通过淘宝购物累计满10元就获得一次抽奖机会</li>
            <li>>> 用户完成购物后，需通过以上表单提交该次交易的淘宝订单号及相关购物信息方便客服确认交易的有效性</li>
            <li>>> 不提交订单号的场合将视为用户自动放弃该笔交易</li>
            <li>>> 购物活动结束7天后进行抽奖活动</li>
        </ul>
    </div>
</div>
</body>
</html>
