<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="12月活动，砸金蛋，积粒,积粒网,91积粒网,返利网,返利,返现,超级返,购物返利,商城返利,淘宝,淘宝返利,京东返利,积分,积分商城,网购返利,91jili.com">
    <meta name="description" content="12月活动，砸金蛋，积粒网，轻松积米粒，快乐换奖励！拥有游戏体验，体验广告，购物返利，商家活动几大板块，网站的货币为米粒，在享受众多商城最优惠价格同时还可从积粒网获得不同比率的现金奖励！积粒网让你省得多，赚得也更多！">
    <title>积粒网-12月活动</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('css1408/jl.ui.reset.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css1408/jquery.datetimepicker.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/jl.ui.Dec.css')}}"/>
    <script src="{{ asset('js/jquery-1.10.2.js')}}" type="text/javascript"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js1408/jquery.datetimepicker.js')}}" type="text/javascript"></script>
    <script src="{{ asset('js1408/jl.ui.dec.js')}}" type="text/javascript"></script>
</head>
<body>
<div class="decTop">
    <div class="decTopCon">
        <div class="decTopConBg"><img src="{{ asset('images/december/topConBg.jpg')}}" width="990" height="415" border="0"/></div>
        <div class="logo"><a href="{{ path('_homepage') }}"><img src="{{ asset('images/december/logo.png')}}" width="154" height="42" alt="logo"/></a></div>
        {% if app.session.has('uid') %}
        	<div class="login">您好，{{ app.session.get('nick') }}</div>
        {% else %}
            <div class="login">您好，请<a href="{{ path('_user_login')}}">登录</a></div>
        {% endif %}
        <span class="timestamp"><img src="{{ asset('images/december/foldTxt.png')}}" width="430" height="118"/></span>
        <span class="goBtn"><img src="{{ asset('images/december/goBtn.png')}}" width="169" height="67" alt="抢金蛋"/></span>
    </div>
</div>
<div class="decMain">
    <div class="decMainCon">
    {% if  date() < date("2015-1-20 00:00:00")  %}
        <div class="luckyDraw clearfix">
            {% if app.session.has('uid') %}
            <div class="luckyDrawL">
                <p>我当前拥有金蛋的个数：<strong class="eggNum"></strong>抢下一个金蛋所需消费淘宝金额：<strong class="eggMoney"></strong></p>
                <div class="noStart"><img src="{{ asset('images/december/noegg.gif')}}" width="400" height="200" alt="您还没有金蛋哦"></div>
                <div class="mask">
                	<div class="hammer"></div>
                    <ul class="goldenEggs clearfix">
                    </ul>
                </div>
            </div> 
            {% else %}
            <div class="luckyDrawL">
                <p>我当前拥有金蛋的个数：<strong class="eggNum">0</strong>抢下一个金蛋所需消费淘宝金额：<strong class="eggMoney">10元</strong></p>
                <div class="noLogin"><img src="{{ asset('images/december/noegg.gif')}}" width="400" height="200" alt="您还没有金蛋哦"></div>
            </div>
            {% endif %}
            <div class="luckyDrawR">
                <div class="countDown">
                    <label>距离砸金蛋时间仅剩下</label><span class="countDownTime"></span>
                </div>
                <div class="winnerList">                
                    <h2>抢金蛋名单</h2>
                    <div class="mask">
						{% render(controller("JiliFrontendBundle:DecemberActivity:eggsSentStat") ) %}
                   </div>
                 </div>
            </div>
        </div>
        {% else %}
        <div class="luckyDraw luckyDrawActive clearfix">
            {% if app.session.has('uid') %}
            <div class="luckyDrawL">
                <div class="noStart"><img src="{{ asset('images/december/noeggbreak.gif')}}" width="462" height="175" alt="您还没有金蛋哦"></div>
                <div class="mask">
                	<div class="hammer"></div>
                    <ul class="goldenEggs clearfix">
                    </ul>
                </div>
            </div> 
            {% else %}
            <div class="luckyDrawL">
                <div class="noLogin"><img src="{{ asset('images/december/noeggbreak.gif')}}" width="462" height="175" alt="您还没有金蛋哦"></div>
            </div>
            {% endif %}
            <div class="luckyDrawR">
            	{% if app.session.has('uid') %}
            	<p>您当前的金蛋：<strong class="eggNum"></strong>个，赶紧来砸蛋吧！</p>
                {% else %}
                <p>您当前的金蛋：<strong class="eggNum">0</strong>个，赶紧来砸蛋吧！</p>
                {% endif %}
                <div class="winnerList">
                    <div class="mask">
						{% render(controller("JiliFrontendBundle:DecemberActivity:brokerList") ) %}
                    </div>
                 </div>
                 <div class="countDown">
                    <label>砸蛋还剩</label><span class="countDownTime"></span>
                </div>
            </div>
        </div>
         {% endif %}
        <div class="decList">
            {% set index_product = 0 %}
            {% for i, row in categorys %}
            <div class="decListMain">
                <h2 class="sort{{ "%02d"|format(i+1) }}">{{ row.categoryName }}</h2>
                <ul class="clearfix">
                    {% for j,product in products[index_product:] if product.taobaoCategory.id  == row.id %}
                    <li><a href="{{ product.clickUrl }}"  target="_blank"><img src="{{ asset(tb_self_promot_pic_path ~ product.pictureName )  }}" alt="产品图片" width="230" height="182" /></a><div class="proIntro"><span class="proDetail"><p><a href="{{ product.clickUrl }}" class="txtLink" target="_blank">{{ product.title }} </a></p><b>￥</b><strong>{{ "%.02f"|format(product.pricePromotion) }}</strong><span>原价：￥{{"%.02f"|format(product.price) }}</span></span><a href="{{ product.clickUrl }}" target="_blank"><span class="bugBtn">点击购买</span></a></span></div></li>
                    {% set index_product = index_product + 1 %}
                    {% endfor %}
            </ul>
            </div>
            {% endfor %}
        </div>
        <div class="decSort">
            <ul>
                <li class="active">{{ categorys[0].categoryName }}</li>
                {% for i, row in categorys[1:] %}
                <li>{{ row.categoryName }}</li>
                {% endfor %}
                <li><a href="{{ path('jili_frontend_taobao_index') }}">更多商品</a></li>
            </ul>
            <div class="backTop">回顶部</div>
        </div>
    </div>
</div>
{% if  date() < date("2015-1-13 00:00:00")  %}
<div class="decRule">
	<div class="decRuleBtn">如何抢到金蛋<br/>>></div>
	<div class="decRuleFlow boderBot">
        <h2><em>●</em>抢金蛋流程</h2>
        <div class="decRuleCon">
            <p>第<span>1</span>步，当前<a href="javascript: void(0)" target="_blank">活动页面</a>购物或者到<a href="{{ path('jili_frontend_taobao_index') }}">淘宝专页</a>购物满<strong>10</strong>元</p>
            <p>
            	第<span>2</span>步，填写如下表单
                <div class="formWrapper">{% render(controller("JiliFrontendBundle:DecemberActivity:addTaobaoOrder") ) %}</div>
            </p>
        </div>
    </div>
    <div class="decRuleMain boderBot">
        <h2><em>●</em>抢金蛋<em class="decTime">2014.12.12-2015.1.12</em></h2>
        <ul>
        	<li>> 购物活动期间，通过积粒网去淘宝购物累计满10元能获得1次抽奖机会，满50元能获得3次抽奖机会，满150元能获得5次抽奖机会。之后每增加50元就有机会多获得1次抽奖机会。</li>
            <li>> 用户完成购物后，需通过以上表单提交该次交易的淘宝订单号及相关信息方便客服确认交易的有效性（注：因淘宝订单确认时间较长，<em class="corRed">客服审核周期为10天左右</em>，请耐心等待）</li>
            <li>> 不提交订单号的场合将视为用户自动放弃该笔交易</li>
        </ul>
    </div>
    <div class="decAwardMain">
        <h2><em>●</em>砸金蛋<em class="decTime">2015.1.20-2015.1.26</em></h2>
        	<table class="awardDetail" width="350" cellpadding="0" cellspacing="0">
            	<tbody>
                	<tr><td class="dist">级别</td><td class="dist">奖金数（米粒）</td><td class="dist">奖励名额</td></tr>
                    <tr><td>一等奖</td><td>8888</td><td>20</td></tr>
                    <tr><td class="dist">二等奖</td><td class="dist">888</td><td class="dist">200</td></tr>
                    <tr><td>三等奖</td><td>88</td><td>1000</td></tr>
                    <tr><td class="dist">四等奖</td><td class="dist">8</td><td class="dist">10000</td></tr>
                    <tr><td>安慰奖</td><td>1</td><td>10000</td></tr>
                </tbody>
            </table>
            <p>注：最终奖励名额可根据实际情况进行调整。<br/>积粒网保留在法律规定的范围内对上述规则进行解释的权利。</p>
    </div>
</div>
{% else %}
{% endif %}
{% include '::analytics_js.html.twig' %} 
</body>
</html>
