<form action="{{ path('jili_frontend_decemberactivity_addtaobaoorder') }}" method="POST">
    <ul class="shoppingForm">
        <li>
        {{ form_label(form.orderPaid ,'购物时间：', {'label_attr' : { 'for': 'datepicker'}  } ) }}
        {{ form_widget( form.orderPaid , {'attr' : { 'id': 'datepicker', 'value': '', 'class': 'clearTxt'}} ) }}
        <span class="defaultTxt">yyyy-mm-dd</span>
        </li>
        <li>
        {{ form_label( form.orderId, '淘宝订单号：', {'label_attr' : { 'for': 'orderNum'}  } ) }}
        {{ form_widget(form.orderId , {'attr'  : { 'id':'orderNum', 'value':'', 'class' : 'clearTxt'  }}) }}
        <span class="defaultTxt"></span>
        </li>
        {% set flashbag = app.session.flashbag.all %}
        {% if flashbag is not empty %}
            <li class="errorMsg">
                {% for type, messages in flashbag %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            *您输入的日期不对哦{{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </li>
        {% endif %}
    </ul>
     {{ form_rest(form) }}
    <button type="submit" value="submit"  class="submitBtn"  style="border:0;"></button>
</form>
