<form action="{{ path('jili_frontend_decemberactivity_addtaobaoorder') }}" method="POST">
    <ul class="shoppingForm">
        <li>
        {{ form_label(form.orderPaid ,'购物时间：', {'id': 'datepicker'} ) }}
        {{ form_widget( form.orderPaid , {'id':'datepicker','attr':{'value': '', 'class':'clearTxt'}} ) }}
        <span class="defaultTxt">yyyy-mm-dd</span>
        </li>
        <li>
        {{ form_label( form.orderId, '淘宝订单号：', {'id':'orderNum'} ) }}
        {{ form_widget(form.orderId , {'id':'orderNum','attr': {'value':'','class':'clearTxt'  }}) }}
        <span class="defaultTxt"></span>
        </li>
    </ul>
     {{ form_rest(form) }}
    <button type="submit" value="submit"  style="border:0;background:transparent">
        <div class="submitBtn"></div>
    </button>
</form>
<!--
{% set flashbag = app.session.flashbag.all %}
{% if flashbag is not empty %}
    <div class="messages-container">
        {% for type, messages in flashbag %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
-->
