{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}问卷列表：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/survey.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-con w1000 clearfix">
	<div class="main-con-left left">
		<div class="survey survey-sub">
			<em></em>
			<h1>问卷列表</h1>
            <ul id="surveyList">
            {% if  votes|length < 1  %}
                <li>现在还没有新的问卷调查。</li>
            {% endif %}
				<li>
					<div class="survey-item">
						<div class="title">关于饮用水品牌调查</div>
						<ul class="con clearfix">
							<li class="first">
								<span>问卷编号</span>
								<p>p168460</p>
							</li>
							<li>
								<span>问卷类型</span>
								<p>商业问卷</p>
							</li>
							<li>
								<span>回答期限</span>
								<p>2015-7-12</p>
							</li>
							<li class="last">
								<span>积分数</span>
								<p><strong>1</strong></p>
							</li>
						</ul>
					</div>
					<div class="survey-btn"><a href="">可回答</a></div>
				</li>
				<li>
					<div class="survey-item">
						<div class="title">关于饮用水品牌调查</div>
						<ul class="con clearfix">
							<li class="first">
								<span>问卷编号</span>
								<p>p168460</p>
							</li>
							<li>
								<span>问卷类型</span>
								<p>商业问卷</p>
							</li>
							<li>
								<span>回答期限</span>
								<p>2015-7-12</p>
							</li>
							<li class="last">
								<span>积分数</span>
								<p><strong>1</strong></p>
							</li>
						</ul>
					</div>
					<div class="survey-btn"><a href="">可回答</a></div>
				</li>
				<li>
					<div class="survey-item">
						<div class="title">关于饮用水品牌调查</div>
						<ul class="con clearfix">
							<li class="first">
								<span>问卷编号</span>
								<p>p168460</p>
							</li>
							<li>
								<span>问卷类型</span>
								<p>商业问卷</p>
							</li>
							<li>
								<span>回答期限</span>
								<p>2015-7-12</p>
							</li>
							<li class="last">
								<span>积分数</span>
								<p><strong>1</strong></p>
							</li>
						</ul>
					</div>
					<div class="survey-btn"><a href="">可回答</a></div>
				</li>
				<li>
					<div class="survey-item">
						<div class="title">关于饮用水品牌调查</div>
						<ul class="con clearfix">
							<li class="first">
								<span>问卷编号</span>
								<p>p168460</p>
							</li>
							<li>
								<span>问卷类型</span>
								<p>商业问卷</p>
							</li>
							<li>
								<span>回答期限</span>
								<p>2015-7-12</p>
							</li>
							<li class="last">
								<span>积分数</span>
								<p><strong>1</strong></p>
							</li>
						</ul>
					</div>
					<div class="survey-btn"><a href="">可回答</a></div>
				</li>
			</ul>

            {{ include( 'WenwenFrontendBundle:Survey:_sopSurveyList.html.twig', {'sop_params': sop_params, 'preview': preview} ) }}
            <ul id="surveyList">
                {% for vote in votes %}
                    {{ include( 'WenwenFrontendBundle:Survey:_surveyRow.html.twig',
                    {
                        'type_class': 'quick',
                        'type_desc': '每日参与快速问答，保持帐户活跃，以获得更多高积分问卷的机会',
                        'type_label': '快速问答',
                        'end_date': vote.endTime | date('Y-m-d'),
                        'num': "v%s"|format(vote.id),
                        'survey_type': 'quick_survey',
                        'title': vote.title[:10],
                        'answered': false,
                        'url': path('jili_frontend_vote_show',{'id':vote.id}),
                        'answer_status_label': '投票',
                        'point': vote.pointValue,
                    } ) }}
                {% endfor %}
            </ul>
		</div>
	</div>
	<div class="main-con-right right">
		<div class="weibo"><iframe width="230" height="580" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=230&height=580&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=0&isWeibo=1&isFans=0&uid=1752291082&verifier=37e3a3a3&dpc=1"></iframe></div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/survey/surveyList.js')}}"></script>
{% endblock %}