{% extends 'WenwenFrontendBundle:admin:base.html.twig' %} 

{% block title %} {{ parent() }} - vote 管理- vote list {% endblock %} 

{% block body%}
<h2 class="text-center">进行中的快速问答</h2>
<table class="list">
    <tr>
        <th>时间</th>
        <th>ID</th>
        <th>title</th>
        <th>image</th>
        <th>&nbsp;</th>
    </tr>
    {% if vote_list|length > 0 %}
    {% set router_current = app.request.attributes.get('_route') %}
    {% for item in vote_list %}
    <tr>
      <td>{{ item.startTime | date("Y/m/d")}} - {{item.endTime | date("m/d")  }}</td>
      <td>{{ item.id}}</td>
      <td align="left">{{ item.title }}({{ item.answerCount }})</td>
      <td> {% if (item.sqPath) %} <img src="{{ asset(item.sqPath)}}" alt="{{item.sqPath}}"/>{% else %}No image{% endif %}</td>
      <td><a href="{{ path('_admin_vote_edit',{'id':item.id}) }}">编辑</a>
      <a href="{{ path('_admin_vote_delete',{'id':item.id,'ret_action':router_current,'page':page,'csrf_token':csrf_token})}}" onclick="if (confirm('确定要删除吗？')) return true; else return false;">删除</a></td>
   </tr>
    {% endfor %}
    {% endif %}
</table>
<div class="autoCenter text-right">
  {% if paging %}
    {% include '::pagination.html.twig' %}
  {% else %}
    <a href="{{ path('_admin_vote_activelist', {'paging': true}) }}">更多</a>
  {% endif %}
</div>
{% endblock %}