{% extends '::adminBase.html.twig' %}

{% block title %}
{{ parent() }} - vote 管理- create/edit
{% endblock %}

{% block stylesheets %}
{{parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body%}

{% form_theme form 'form_table_layout.html.twig' %}
<form action="{{ path('_admin_vote_edit_commit') }}" method="post" id="form1">

<!-- hidden fields -->
<div style="display: none">
{{form_widget(form.id)}}
{{ form_widget(form.startTime) }}
{{ form_widget(form.endTime) }}
{{ form_widget(form.pointValue) }}
{{ form_widget(form.title) }}
{{ form_widget(form.description) }}
{{ form_widget(form.voteImage) }}
 {% for voteChoice in form.voteChoices %}
{{ form_widget(voteChoice.name)}}
{{ form_widget(voteChoice.answerNumber)}}
{% endfor %}
</div>

    <table align='center'>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{form_label(form.startTime)}}</td>
            <td>{{form.startTime.vars.value}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.endTime)}}</td>
            <td>{{form.endTime.vars.value}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.pointValue)}}</td>
            <td>{{form.pointValue.vars.value}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.title)}}</td>
            <td>{{form.title.vars.value}}</td>
        </tr>
        <tr>
            <td>{{form_label(form.description)}}</td>
            <td>{% autoescape false %}{{form.description.vars.value }}{% endautoescape %}</td>
        </tr>
        <tr>
            <td>{{form_label(form.voteImage)}}</td>
            <td>{% if tmp_image is defined %}
                    <img src="{{ asset(upload_tmp_image_dir ~ tmp_image) }}" />
                    <input type="hidden" name="tmp_image" id="tmp_image" value="{{ tmp_image }}">
                    {%endif%}
            </td>
        </tr>
        {% for voteChoice in values.voteChoices %}
        <tr>
            <td>{{ 'Choice_'~loop.index }}</td>
            <td>{{ voteChoice.name }}</td>
        </tr>
        {% endfor %}
        {{ form_widget(form._token) }}
        {{form_errors(form)}}
        <tr>
            <td><input type="button" value="back" onclick="history.back();"></td>
            <td><input type="submit" value="commit" /></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    {% if code is defined %} <font color='red'>{{ code }}</font>
    {%endif%}
</form>
{% endblock %}
