<LINK href="{{ asset('css/admin.css')}}" type="text/css" rel="stylesheet">
<script src="{{ asset('js/lib/jquery-1.11.1.min.js')}}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){

    $("#categoryId").change(function(){
        var categoryId = $("#categoryId").val();
        if(categoryId == "{{drop_down_box_default}}"){
            alert("请选择分类");
            return false;
        }
    });

    $("#addBtn").click(function(){
        var componentId = $("#componentId").val();
        var categoryId = $("#categoryId").val();
        var keyword = $("#keyword").val();
        var content = $("#content").val();

        if(componentId == "{{drop_down_box_default}}"){
            alert("请选择组件类别");
            return false;
        }

        if(componentId == {{category_product}}){
            if(categoryId == "{{drop_down_box_default}}"){
                alert("请选择分类");
                return false;
            }
            if( keyword == null || keyword==""){
                alert("请输入关键字");
                return false;
            }
        }
        if(content==null || content==""){
            alert("请输入组件内容");
            return false;
        }

       // $("#componentForm").submit();
        document.componentForm.submit();
    });

});
</script>
<form method="post" name="componentForm" id="componentForm" action="{{ path('_admin_taobao_saveComponentFinish') }}">
<table align="center" width="1024" class="list">
    <tr>
        <td>组件类别:</td>
        <td><select name="componentId" id="componentId">
            <option value="{{drop_down_box_default}}">&nbsp;</option>
            {% for key, value in component_category %}
            <option value="{{ key }}" {% if componentId==key %} selected="selected"{% endif %} >{{value }}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <td>分类:</td>
        <td><select name="categoryId" id="categoryId">
            <option value="{{drop_down_box_default}}">&nbsp;</option>
            {% for item in categorys %}
            <option value="{{ item.id }}" {% if categoryId==item.id %} selected="selected"{% endif %} >{{item.categoryName }}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <td>关键字：</td>
        <td><input type="text" value="{{keyword}}" name="keyword" id="keyword"></td>
    </tr>
    <tr>
        <td>组件内容：</td>
        <td>
            <textarea cols="60" rows="5" id="content" name="content">{{content}}</textarea>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="button" value="保存" name="addBtn" id="addBtn" /></td>
    </tr>
</table>
    <input type="hidden" id="id" name="id" value="{{id}}"/>
</form>
