{% block stylesheet %}
<link href="{{ asset('css140307/checkin.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

<div id="signInFrame" style="display:none;">
  <h5>再打开<span id="remain">3</span>个商城就可以得到<span>{{ checkinPoint }}</span>个米粒</h5>
    <a class="close_checkin">关闭</a>
    <ul>
    {% for item in arrList %}
      <li><a onclick="goto({{ item.cid }},{{ item.id }},{{ checkinPoint }});" class="image{{ item.cid }}"><img src="{{ asset(item.list_image) }}" width="200" height="130" alt="{{ item.title }}"><p>最高返利{{ item.reward_rate }}%</p>
      <div class="gray"></div>
      <div class="goTo {{ item.cid }}">点击前往</div>
      <div class="finish">已打开</div>
      </a></li>
    {% endfor %}
    </ul>
</div>