<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="Keywords" content="" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>积粒网-PAG骰子游戏概要画面</title>
{% include 'JiliApiBundle::seo.html.twig' %}
<!-- [if lt IE9] -->
<script src="{{ asset('js/html5.js')}}" type="text/javascript"></script>
<!-- [endif] -->
<link rel="stylesheet" href="{{ asset('css/import.css')}}" type="text/css" />
<link href="{{ asset('css/default.css')}}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/jquery-1.7.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('js/control.js')}}"></script>
<script type="text/javascript">
function func(){
    $.ajax({
        url: "{{ path('_default_gameVisit') }}",
        post: "GET",
        success:function(data){
            if(data==1)
                location.href="{{ path("_game_chick") }}";
            else
                location.href="{{ path('_user_login') }}";
        }
    });     
}
</script>
</head>
<body>
{% include 'JiliApiBundle::header.html.twig' %}
 <div id="container">
         <!--    *** ▼▼▼ Header ▼▼▼ ********************    -->
         <div id="header" class="game_start">
             <img src="{{ asset("images/banner-1.png") }}" />
			 <a class="game_start_btn" onclick="func()">开始</a>
         </div><!--    *** ▲▲▲ /End Header ▲▲▲ ********************    -->
         <!--    *** ▼▼▼ Contents ▼▼▼ ********************    -->
         <div style="margin-bottom:6px;"><img src="{{ asset("images/strategy.png") }}" /></div>
         <div id="rule"><img src="{{ asset("images/rank.png") }}" /></div>
         <div id="contents">

             <!-- ++++++++++++++++ ポイント ++++++++++++++++ -->
           <!--   <dl class="point_list frame">
                 <dt class="frame">关于积分的获取</dt>
                 <dd class="frame">
                     <p>
                         这将是每周都能够获得积分的绝好机会！<br />
						 排名靠前或者是排在有奖名次上的朋友，将会获得我们的积分作为奖励!!
                     </p>
                     
                     <table class="table_list">
                         <tr>
                             <th width="200">第1名</th>
                             <td>奖励10,000米粒</td>
                         </tr>
                         <tr>
                             <th>第2名</th>
                             <td>奖励5,000米粒</td>
                         </tr>
                         <tr>
                             <th>第3名</th>
                             <td>奖励3,000米粒</td>
                         </tr>
                         <tr>
                             <th>第4～10名</th>
                             <td>奖励1,000米粒</td>
                         </tr>
                         <tr>
                             <th>第11～1000名</th>
                             <td>奖励3米粒</td>
                         </tr>
                     </table>
                     
                     <ul>
                       <li>※1天只能摇一次骰子</li>
                         <li>※该游戏将以在一周能尽快通过作为目标</li>
                   </ul>
                     
                     <dl class="item_list">
                         <dt>■通关是奖励的道具</dt>
                         <dd>
                              <p>
								 通关者除了获得以上积分奖励以外，还将获得道具的奖励。
                              </p>
                         </dd>
                     </dl>
                     <dl class="item_list">
                         <dt>■全勤奖</dt>
                         <dd>
                             <p>
								 1周之内连续参加游戏的朋友，将获得全勤奖。
                             </p>
                         </dd>
                     </dl>
                     
                     <span class="red fClear">※取得了通关时授予的道具奖励的朋友，将不能再取得全勤奖的奖励。敬请见谅！</span>
                     
                 </dd> -->
             </dl>
             
             <!-- ++++++++++++++++ ゲーム開始ボタン ++++++++++++++++ --><!-- ++++++++++++++++ ゲームの遊び方 ++++++++++++++++ -->
             <dl class="play_game frame">
                 <dt class="frame">游戏的玩法</dt>
                 <dd class="frame">
                     <dl class="step">
                         <dt>STEP1</dt>
                         <dd><p>・点击「<font class="red fClear">开始游戏</font>」按钮来访问游戏。</p></dd>
                         <dd><p>・游戏开始以后，您将看到游戏画面。</p></dd>
                     </dl>
                                          
                     <dl class="step">
                         <dt>STEP2</dt>
                         <dd><p>・点击「摇骰子」或者「使用道具」按钮</p></dd>
                         <dd><p>・当您点击了「摇骰子」按钮以后，骰子将会自动摇动，通过得到的骰子点数来决定您往前行走的步数。</p></dd>
                         <dd><p>・当您点击了「使用道具」按钮以后，道具一览将会显示在您的眼前。</p></dd>
                     </dl>
                     
                     <dl class="step">
                         <dt>STEP3</dt>
                         <dd>
                             <p>・小鸡将会按照您摇出骰子的点数来自动前行。游戏也将根据小鸡停止的地点，来进行一系列的游戏活动。★</p>
                             <table>
                                 <tr>
                                     <td><img src="{{ asset("images/map_1.png") }}" width="60" height="60" alt="积分码" align="left"/><strong>积分码</strong><p>可以获得积分</p></td>
                                     <td><img src="{{ asset("images/map_2.png") }}" width="60" height="60" alt="道具码" align="left"/><strong>道具码</strong><p>可以获得道具</p></td>
									 <td><img src="{{ asset("images/map_3.png") }}" width="60" height="60" alt="前进码" align="left" /><strong>前进码</strong><p>前进指定的码数</p></td>
                                 </tr>
                                 <tr>
                                     <td><img src="{{ asset("images/map_4.png") }}" width="60" height="60" alt="后退码" align="left" /><strong>后退码</strong><p>后退指定的码数</p></td>
									 <td><img src="{{ asset("images/map_goal.png") }}" width="60" height="60" alt="通关码" align="left"/><strong>通关码</strong><p>当到达这里的时候，您就通关啦！</p></td>
                                     <td></td>
                                 </tr>
                             </table>
                         </dd>
                     </dl>

                     <dl class="step">
                         <dt>STEP4</dt>
                         <dd><p>・当广告画面显示出来的时候，游戏就结束了！欢迎您明天继续参加游戏。★</p></dd>
                         <dd><p>・游戏状态的「本周排名」上显示了您的排名信息。</p></dd>
                     </dl>
                 </dd>
             </dl>
             
             <!-- ++++++++++++++++ ゲームで遊ぶときの注意事項 ++++++++++++++++ -->
             <dl class="frame">
                 <dt class="frame">注意事项</dt>
                 <dd class="frame">
                     <dl class="atn_list">
                         <dt>■游戏重置的时间</dt>
                         <dd>
                             <p>
                                 每周1凌晨1:00开始到<font class="red fClear">下周1</font>凌晨0：59作为游戏的循环周期。每周1凌晨1：00的时候，游戏数据的前进码数将会重置，您将从第1个码位开始游戏。
                             </p>
                         </dd>
                         <dt>■游戏的记录</dt>
                         <dd>
                             <p>
                                 请务必将广告画面显示出来。当广告画面没有被显示出来的时候，已经前进的码数将会无效。 当广告画面还没有显示出来的时候，关闭了浏览器或者是跳转到了别的网页而导致中途切断游戏通讯的情况下，您游戏的数据将不会被记录。 万一您的通信被切断，请您再次访问游戏。您将能够从上次断开游戏时的画面开始继续游戏。
                             </p>
                         </dd>
                         <dt>■关于积分的奖励</dt>
                         <dd>
                             <p>
								 当运营者作出了非法积分的判断是，无论是什么样的理由，您将不能够获得我们的积分奖励。
                             </p>
                         </dd>
                     </dl>
                 </dd>
             </dl>
             
             
             <!-- ++++++++++++++++ その他 ++++++++++++++++ -->
             <dl class="frame">
                 <dt class="frame">其它※请务必阅读</dt>
                 <dd class="frame">
                     <table class="table_list">
                         <tr>
                             <th>实施时间</th>
                             <td>每周一凌晨1:00～下周一凌晨0:59</td>
                         </tr>
                         <tr>
                             <th>参加条件</th>
                             <td>仅限于本站点会员</p></td>
                         </tr>
                        
                     </table>
                 </dd>
             </dl>
             
             <!-- ++++++++++++++++ ゲーム開始ボタン ++++++++++++++++ --><!-- ++++++++++++++++ セキュリティ ++++++++++++++++ -->
             <dl class="frame">
                 <dt class="frame">安全警告的弹出框弹出的场合</dt>
                 <dd class="frame">
                     <p>如下所示的安全警告弹出框弹出的时候，请选择「确定」来继续游戏。</p>
                     <img src="{{ asset("images/img_sec.jpg") }}" width="321" height="136" alt="安全警告弹出框" />
                 </dd>
             </dl>
             
         </div><!--    *** ▲▲▲ /End side_contents ▲▲▲ ********************    -->
    </div>


{% include 'JiliApiBundle::footer.html.twig' %}
</body>
</html>