{% extends '::base.html.twig' %}

{% block body -%}
    
<h1 align="center" >EmarWebsites list</h1>

    <table  align="center" >


        <thead>
        {% if entities|length > 0 %}
            <tr>
                <th>Webid</th>
                <th>Commission</th>
                <th>Isdeleted</th>
                <th>Position</th>
                <th>Ishidden</th>
                <th>Updatedat</th>
                <th>Createdat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_emar_websites_show', { 'id': entity.id }) }}">{{ entity.webId }}</a></td>
                <td>{{ entity.commission }}</td>
                <td>{{ entity.isDeleted }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.isHidden }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_emar_websites_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_emar_websites_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_emar_websites_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
