{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}基本信息{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/account.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-personal w1000 clearfix">
    {% include 'WenwenFrontendBundle:Personal:_leftSideBar.html.twig' %}
    <div class="main-personal-right right rp-main-personal-right">
        <h2>账户设置</h2>
        <div class="main-personal-account">
            <ul>
                <li>
                    <label for="login_pwd">修改密码</label>
                    <div class="con form" style="display:block">
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="successMess" style="display: block">{{ flash_message }}</div>
                        {% endfor %}
                        <div class="pwdBackError">{{ form_errors(cpForm) }}</div>
                        <form action="{{ path('_profile_changepwd') }}" method="post" novalidate="novalidate">
                            <ul>
                                <li>
                                    {{ form_label(cpForm.password) }}
                                    {{ form_widget(cpForm.password) }}
                                    {{ form_errors(cpForm.password) }}
                                </li>
                                <li>
                                    {{ form_label(cpForm.new_password.first) }}
                                    {{ form_widget(cpForm.new_password.first) }}
                                    {{ form_errors(cpForm.new_password.first) }}
                                </li>
                                <li>
                                    {{ form_label(cpForm.new_password.second) }}
                                    {{ form_widget(cpForm.new_password.second) }}
                                    {{ form_errors(cpForm.new_password.second) }}
                                </li>
                            </ul>
                            {{ form_row(cpForm._token) }}
                            <div class="btn"><input type="submit" value="保存" /></div>
                        </form>
                    </div>
                </li>

                <li>
                    <label for="withdraw">注销账户</label>
                    <div class="con withdraw" style="display: block">
                        <div class="step2 hide form" style="display: block">
                            <p>请您完成以下简单的问卷调查后，点击注销按钮完成会员注销手续。</p>
                            <form action="{{ path('_profile_withdraw') }}" method="post" novalidate="novalidate">
                                <ul class="reason">
                                    <div class="pwdBackError">{{ form_errors(wdForm) }}</div>
                                    <li>
                                        {{ form_label(wdForm.email) }}
                                        {{ form_widget(wdForm.email) }}
                                        {{ form_errors(wdForm.email) }}
                                    </li>
                                    <li>
                                        {{ form_label(wdForm.password) }}
                                        {{ form_widget(wdForm.password) }}
                                        {{ form_errors(wdForm.password) }}
                                    </li>
                                    <li>
                                        {{ form_label(wdForm.reason) }}
                                        {{ form_widget(wdForm.reason) }}
                                        {{ form_errors(wdForm.reason) }}
                                    </li>
                                </ul>
                                {{ form_row(wdForm._token) }}
                                <div class="btn"><input type="submit" value="保存" /></div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
{% endblock %}