{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}基本信息{% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/account.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}

<div class="main-personal w1000 clearfix">
    {% include 'WenwenFrontendBundle:Personal:_leftSideBar.html.twig' %}
    <div class="main-personal-right right rp-main-personal-right">
    <input type="hidden" value="{{ csrf_token }}" name="csrf_token" id="csrf_token"/>
        <h2>账户设置</h2>
        <div class="main-personal-account">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="edit">编辑</a>
                    <label for="login_pwd">登录密码</label>
                    <span name="login_pwd" id="login_pwd" class="default_value">******</span>
                    <div class="con form">
                        <div class="successMess"></div>
                        <form action="">
                        <ul>
                            <li>
                                <label for="curPwd">当前密码：</label>
                                <input type="password" id="curPwd">
                                <span id="curPwd_succeed" class="succeed"></span>
                                <span id="curPwd_error"></span>
                            </li>
                            <li>
                                <label for="pwd">新密码：</label>
                                <input type="password" id="pwd">
                                <span class="hide" id="pwdStrength"><em class="fl">安全程度：</em><b class="c1">弱</b><b>中</b><b>强</b></span>
                                <span id="pwd_succeed" class="succeed"></span>
                                <span id="pwd_error"></span>
                            </li>
                            <li>
                                <label for="pwdRepeat">确认密码：</label>
                                <input type="password" id="pwdRepeat">
                                <span id="pwdRepeat_succeed" class="succeed"></span>
                                <span id="pwdRepeat_error"></span>
                            </li>
                        </ul>
                        <div class="pwdBackError"></div>
                        <div class="btn"><span id="pwd_save" tabindex="0">保存</span></div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/plugin/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/component/validate.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/component/loginForm.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/pages/personal/account.js')}}"></script>
{% endblock %}