{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}{{ parent() }}个人资料{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('js/plugin/Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    {% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="main-personal w1000 clearfix">
        {% include 'WenwenFrontendBundle:Personal:_leftSideBar.html.twig' %}
        <div class="main-personal-right right rp-main-personal-right">
            <h2>个人资料</h2>
            <div class="main-personal-profile">
                <div class="profile-base">
                    <h3>基本信息</h3>
                    <div class="con clearfix">
                        <div class="face left col-t-3 col-m-12">
                            <div class="face-wapper">
                                <img id="avatar" src="{{ asset(user.iconPath|default('img/common/default_tx.png')) }}" alt="头像" width="90" height="90" />

                                <form action="{{ path('_profile_upload') }}" method="post" {{ form_enctype(uploadForm) }} id="uploadForm">
                                    {{ form_label(uploadForm.icon, '设置头像', {'label_attr': {'class': 'set'}}) }}
                                    {{ form_widget(uploadForm.icon, {'id': 'profile_attachment'}) }}
                                    {{ form_widget(uploadForm.x, {'id': 'x'}) }}
                                    {{ form_widget(uploadForm.y, {'id': 'y'}) }}
                                    {{ form_widget(uploadForm.w, {'id': 'w'}) }}
                                    {{ form_widget(uploadForm.h, {'id': 'h'}) }}
                                    {{ form_row(uploadForm._token) }}
                                    <p class="errorInfo"></p>
                                </form>
                            </div>
                        </div>
                        <ul class="form text left col-t-9 col-m-12">
                            <li class="nk">{{ user.nick[:12] }}</li>
                            <li class="hide rp-phone">
                                <label for="">昵称：</label>
                                <span>{{ user.nick[:12] }}</span></li>
                            <li>
                                <label for="">登录账号：</label>
                                <span>{{ user.email }}</span>
                            </li>
                            <li>
                                <label for="">当前积分：</label>
                                <span><strong id="points" name="points">{{ user.points }}</strong></span>
                            </li>
                        </ul>
                    </div>

                    <div class="picCut">
                        <div class="imageInfo left"></div>
                        <div class="resDiv left">
                            <div class="resImg"><p class="resizeimage"></p></div>
                            <div class="resizeSubmit">
                                <input type='button' value='上传图片' name='resize' class='resBtn'/><br/>
                                <input type='button' value='取消上传' name='cancel' class='cancelBtn'/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-detail">
                    <h3>详细信息<b>您的个人信息将完全保密，请放心填写</b></h3>
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="successMess">{{ flash_message }}</div>
                    {% endfor %}

                    <form action="{{ path('_profile_edit') }}" method="post" id="profileForm" name="profileForm" >
                        <ul class="con">
                            <li>
                                {{ form_label(userForm.nick) }}
                                {{ form_widget(userForm.nick) }}
                                {{ form_errors(userForm.nick) }}
                            </li>

                            <li>
                                {{ form_label(userForm.tel) }}
                                {{ form_widget(userForm.tel) }}
                                {{ form_errors(userForm.tel) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.sex) }}
                                <span>{{ form_widget(userForm.userProfile.sex) }}</span>
                                {{ form_errors(userForm.userProfile.sex) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.birthday) }}
                                {{ form_widget(userForm.userProfile.birthday, {'attr': {'class':'laydate-icon' }}) }}
                                {{ form_errors(userForm.userProfile.birthday) }}
                            </li>

                            <li>
                                {#由于版本的ChoiceType Field还没有choice_attr属性暂时用原生的写法，等升级后再改#}
                                <label>居住地：</label>
                                {% include 'WenwenFrontendBundle:User:_province_city_cascade.html.twig' %}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.income) }}
                                {{ form_widget(userForm.userProfile.income) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.profession) }}
                                <div class="pronCon">
                                    {{ form_widget(userForm.userProfile.profession) }}
                                    {{ form_widget(userForm.userProfile.industry_code) }}
                                    {{ form_widget(userForm.userProfile.work_section_code) }}
                                </div>
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.education) }}
                                {{ form_widget(userForm.userProfile.education) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.hobby) }}
                                {{ form_widget(userForm.userProfile.hobby) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.personalDes) }}
                                {{ form_widget(userForm.userProfile.personalDes) }}
                                {{ form_errors(userForm.userProfile.personalDes) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.favMusic) }}
                                {{ form_widget(userForm.userProfile.favMusic) }}
                                {{ form_errors(userForm.userProfile.favMusic) }}
                            </li>

                            <li>
                                {{ form_label(userForm.userProfile.monthlyWish) }}
                                {{ form_widget(userForm.userProfile.monthlyWish) }}
                                {{ form_errors(userForm.userProfile.monthlyWish) }}
                            </li>
                        </ul>

                        {{ form_row(userForm._token) }}

                        <div class="btn"><span id="profile_save">保存</span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/plugin/layDate/layDate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/Jcrop/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/canvas-to-blob.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/jquery.fileupload-process.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugin/fileUpload/jquery.fileupload-image.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/personal/profile.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/user/province_city_cascade.js') }}"></script>
{% endblock %}