{% extends 'WenwenFrontendBundle::base.html.twig' %}
{% block title %}个人资料：{{ parent() }} {% endblock %}

{% block stylesheet %}
<link href="{{ asset('css/profile.css') }} " rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% include 'WenwenFrontendBundle:Components:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-personal w1000 clearfix">
    {% include 'WenwenFrontendBundle:Personal:_leftSideBar.html.twig' %}
    <div class="main-personal-right right">
        <h2>个人资料</h2>
        <div class="main-personal-profile">
            <div class="profile-base">
                <h3>基本信息</h3>
                <div class="con clearfix">
                    <div class="face left">
                    <div class="face-wapper">
                    {% if user.iconPath %}
                    <img src='{{ asset(user.iconPath) }}' height="58" />
                    {% else %}
                    <img src="{{ asset('img/common/default_tx.jpg') }}" alt="头像" height="58">
                    {% endif %}
                    </div>
                    <form action="{{ path('_profile_upload') }}" method="post" {{ form_enctype(form) }} id="uploadForm" name="uploadForm" >
                    <label class="set" for="profile_attachment">设置头像</label>{{ form_widget(form.attachment) }}
                    <p class="errorInfo"></p>
                    </form>
                    </div>
                    <ul class="form text left">
                        <li>
                            <label for="">登录账号：</label>
                            <span>{{ user.email }}</span>
                        </li>
                    </ul>
                </div>
                <div class="picCut">
                    <form action="{{ path('_user_resUp') }}" method="post" name="imageForm" id="imageForm">
                    <div class="imageInfo left"></div>
                    <div class="resDiv left">
                        <div class="resImg"><p class="resizeimage"></p></div>
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />
                        <input type="hidden" id="resizePath"  name="resizePath" />
                        <div class="resizeSubmit"></div>
                     </div>
                    </form>
                </div>
            </div>
            <div class="profile-detail">
                <h3>详细信息<b>您的个人信息将完全保密，请放心填写</b></h3>
                {% if completed is defined and completed == 1%}
                <div class="successMess">个人资料修改成功!</div>
                {% endif %}
                <form action="{{ path('_profile_edit_commit') }}" method="post" id="profileForm" name="profileForm" >
                <ul class="con">
                    <li><label for="nick">昵称：</label>{{ form_widget(form.nick) }}{{ form_errors(form.nick) }}</li>
                    <li><label for="tel">手机号码：</label>{{ form_widget(form.tel) }}{{ form_errors(form.tel) }}</li>
                    <li><label for="sex">性别：</label><span>{{ form_widget(form.sex) }}{{ form_errors(form.sex) }}</span></li>
                    <li><label for="birthday">生日：</label>{{ form_widget(form.birthday, {'attr': {'class':'laydate-icon' }}) }}{{ form_errors(form.birthday) }}{% if birthday_error is defined %}<ul>
                        <li>{{birthday_error}}</li>
                    </ul>{% endif %}</li>
                    <li><label for="address">居住地：</label>
                        <select id="province" name="profile[province]">
                        <option value="0" selected="selected">省、市</option>
                        {% for item in province %}
                        <option value="{{ item.id }}"  {% if user.province == item.id %} selected = "selected"  {% endif %}>{{ item.provinceName }}</option>
                        {% endfor %}
                        </select>
                        <select id="city" name="profile[city]">
                        <option value="0" selected="selected">地区</option>
                        </select>
                    </li>
                    <li><label for="income">个人月收入：</label>
                        <select id="income" name="profile[income]">
                        <option value="0" selected="selected">请选择收入</option>
                        {% for item in income %}
                        <option value="{{ item.id }}" {% if user.income == item.id %} selected = "selected" {% endif %}>{{ item.income }}</option>
                        {% endfor %}
                        </select>
                    </li>
                    <li><label for="job">职业：</label>
                        <select id="profession" name="profile[profession]">
                        <option value="0" selected="selected">请选择职业</option>
                        {% for key,value in profession %}
                        <option value="{{key}}" {% if user.profession == key %} selected = "selected" {% endif %}>{{ value }}</option>
                        {% endfor %}
                        </select>
                        <select id="industry_code" name="profile[industry_code]">
                        <option value="0" selected="selected">请选择行业</option>
                        {% for key,value in industry_code %}
                        <option value="{{key}}" {% if user.industryCode == key %} selected = "selected" {% endif %}>{{ value }}</option>
                        {% endfor %}
                        </select>
                        <select id="work_section_code" name="profile[work_section_code]">
                        <option value="0" selected="selected">请选择部门</option>
                        {% for key,value in work_section_code %}
                        <option value="{{key}}" {% if user.workSectionCode == key %} selected = "selected" {% endif %}>{{ value }}</option>
                        {% endfor %}
                        </select>
                    </li>
                    <li><label for="education">教育程度：</label>
                        <select id="education" name="profile[education]"><option value="0" selected="selected">请选择</option>
                        {% for key,value in education %}
                        <option value="{{key}}" {% if user.education == key %} selected = "selected" {% endif %}>{{ value }}</option>
                        {% endfor %}
                        </select>
                    </li>
                    <li><label for="hobby">兴趣爱好：</label>
                        {% for item in hobbyList %}<input type="checkbox"  name="profile[hobby][]" value="{{ item.id }}" {% if item.id  in userProHobby %} checked = "checked" {% endif %}>{{ item.hobbyName }}{% endfor %}
                    </li>
                    <li><label for="signature">签名：</label>{{ form_widget(form.personalDes) }}{{ form_errors(form.personalDes) }}</li>
                    <li><label for="music">喜欢的音乐：</label>{{ form_widget(form.favMusic) }}{{ form_errors(form.favMusic) }}</li>
                    <li><label for="wish">本月心愿：</label>{{ form_widget(form.monthlyWish) }}{{ form_errors(form.monthlyWish) }}</li>
                </ul>
                <div class="btn"><span id="profile_save">保存</span></div>
                {{ form_widget(form.token) }}
                <input type="hidden" id="user_city" name="profile[user_city]" value="{{user.city}}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'WenwenFrontendBundle:Components:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/lib/require.js')}}" defer async="true" data-main="{{ asset('js/app/personal/profile')}}"></script>
{% endblock %}